{
  "presets": ["react", "es2015", "stage-2"],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        "transform-class-properties",
        "transform-export-extensions",
        "babel-plugin-transform-es2015-destructuring",
        ["module-alias", [
          { "src": "./src/actions", "expose": "actions" },
          { "src": "./src/api", "expose": "api" },
          { "src": "./src/components", "expose": "components" },
          { "src": "./src/containers", "expose": "containers" },
          { "src": "./src/helpers", "expose": "helpers" },
          { "src": "./src/store", "expose": "store" },
          { "src": "./src/utils", "expose": "utils" },
          { "src": "./src/routes", "expose": "routes" }
        ]]
      ]
    },
    "test": {
      "plugins": [
        "transform-class-properties",
        "transform-export-extensions",
        "babel-plugin-transform-es2015-destructuring",
        ["module-alias", [
          { "src": "./src/actions", "expose": "actions" },
          { "src": "./src/api", "expose": "api" },
          { "src": "./src/components", "expose": "components" },
          { "src": "./src/containers", "expose": "containers" },
          { "src": "./src/helpers", "expose": "helpers" },
          { "src": "./src/store", "expose": "store" },
          { "src": "./src/utils", "expose": "utils" },
          { "src": "./src/routes", "expose": "routes" }
        ]]
      ]
    },
    "production": {
      "plugins": [
        "transform-class-properties",
        "transform-export-extensions",
        "babel-plugin-transform-es2015-destructuring",
        ["module-alias", [
          { "src": "./src/actions", "expose": "actions" },
          { "src": "./src/api", "expose": "api" },
          { "src": "./src/components", "expose": "components" },
          { "src": "./src/containers", "expose": "containers" },
          { "src": "./src/helpers", "expose": "helpers" },
          { "src": "./src/store", "expose": "store" },
          { "src": "./src/utils", "expose": "utils" },
          { "src": "./src/routes", "expose": "routes" }
        ]]
      ]
    }

  }
}
