{
  // We're disabling babel support for ES2015 modules because as of vesrion 2.0, Webpack
  // is able to understand imports. If we allow Babel to transpile our modules, hot module
  // reloading doesn't work properly.
  // See https://git.io/vQ8IP
  "presets": ["react", ["es2015", {"modules": false}], "stage-2"],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        // This plugin allows Babel to successfully parse the dynamic imports that are
        // possible as of Webpack version 2.0
        "syntax-dynamic-import",
        "transform-class-properties",
        "transform-export-extensions",
        "babel-plugin-transform-es2015-destructuring",
        ["module-resolver", {
          "root": ["./src"]
        }]
      ],
      "compact": true
    },
    "test": {
      // Note that we're allowing babel to transpile modules in a test environment. This
      // is because our code is transpiled by babel-jest when we run tests, and it never
      // passes through webpack. If we don't let babel transform the modules, then the
      // version of Node we're using will choke on the import statements.
      "presets": ["react", "es2015", "stage-2"],
      "plugins": [
        // As above, allows babel to parse dynamic imports
        "syntax-dynamic-import",
        // The following plugin tells babel to transpile dynamic imports for Node. This is
        // needed for our tests to run.
        "dynamic-import-node",
        "transform-export-extensions",
        "transform-class-properties",
        "babel-plugin-transform-es2015-destructuring",
        ["module-resolver", {
          "root": ["./src"]
        }]
      ],
      "compact": true
    },
    "production": {
      "presets": ["react", ["es2015", {"modules": false}], "stage-2"],
      "plugins": [
        "syntax-dynamic-import",
        "transform-class-properties",
        "transform-export-extensions",
        "babel-plugin-transform-es2015-destructuring",
        ["module-resolver", {
          "root": ["./src"]
        }]
      ],
      "compact": true
    }

  }
}
