{ "extends": "eslint-config-airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "react/jsx-quotes": 0,

    // Need to deal with this block. Added to make things pass after eslint update.
    "react/jsx-first-prop-new-line": 0,
    "react/jsx-space-before-closing": 0,
    "global-require": 0,
    "arrow-body-style": 0,
    "consistent-return": 0,
    "prefer-template": 0,
    "no-useless-concat": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-indent": 0,
    "no-useless-constructor": 0,
    "jsx-a11y/img-has-alt": 0,
    "react/jsx-curly-spacing": 0,
    "array-callback-return": 0,
    "quotes": 0,
    "no-duplicate-imports": 0,
    "no-unneeded-ternary": 0,
    "no-whitespace-before-property": 0,
    "react/require-render-return": 0,

    "react/prop-types": 1,
    "import/default": 0,
    "import/no-duplicates": 0,
    "import/named": 0,
    "import/namespace": 0,
    "import/no-unresolved": 0,
    "import/no-named-as-default": 2,
    "jsx-quotes": 2,
    // Temporarirly disabled due to a possible bug in babel-eslint (todomvc example)
    "block-scoped-var": 0,
    // Temporarily disabled for test/* until babel/babel-eslint#33 is resolved
    "padded-blocks": 0,
    "comma-dangle": 0,
    "comma-spacing": 1,
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-console": 0,
    "no-alert": 0,
    "prefer-const": 1,
    "semi": 1,
    "no-unused-vars": [0, {"args": "after-used", "varsIgnorePattern": "PropTypes", "argsIgnorePattern": "[iI]gnored"}],
    "no-trailing-spaces": 1,
    "no-multiple-empty-lines": 1,
    "spaced-comment": 1,
    "react/no-multi-comp": 0,
    "no-underscore-dangle": 0,
    "max-len": 1
  },
  "plugins": [
    "react", "import"
  ],
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolve": {
      moduleDirectory: ["node_modules", "src"]
    }
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": false,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "__API_URL__": true,
    "__WS_URL__": true,
    "socket": true
  }
}
