{ "extends": [
    "eslint-config-airbnb",
    "prettier",
    "plugin:jsx-a11y/recommended"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {

    "prettier/prettier": "error",

    // Developer should choose whether concatenation or string templates make more sense.
    "prefer-template": 0,

    // We routinely import named modules in lodash, for example
    "import/prefer-default-export": 0,

    // Our imports aren't always resolved correctly by the linter
    "import/default": 0,
    "import/no-duplicates": 0,
    "import/named": 0,
    "import/namespace": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "import/first": 0,
    "import/no-absolute-path": 0,

    // We're not including the .js extensions on imports.
    "import/extensions": [2, { "js": "never" }],

    // Sometimes braces are added so the arrow function can wrap
    "arrow-body-style": 0,

    // Underscores are a useful way to indicate that a property should be treated as private.
    "no-underscore-dangle": 0,

    // Style rules we can disable because prettier will fix them
    "react/jsx-indent": 0,

    // Unused vars are bad.
    "no-unused-vars": [1, {"args": "after-used", "ignoreRestSiblings": true, "varsIgnorePattern": "PropTypes", "argsIgnorePattern": "[iI]gnored"}],

    // Unused expressions are OK if ternary
    "no-unused-expressions": [1, {"allowTernary": true }],

    "no-return-assign": [2, "except-parens"],

    // We don't need a jsx extension.
    "react/jsx-filename-extension": 0,

    // Sometimes it's required.
    "react/no-danger": 0,

    // We should refactor and enable this rule.
    "react/style-prop-object": 0,

    // Prettier does it differently.
    "react/jsx-closing-bracket-location": 0,
    "react/jsx-indent-props": 0,
    "react/jsx-wrap-multilines": 0,

    // Consistency is more important.
    "react/prefer-stateless-function": 0,

    // Too many false positives from this rule.
    "react/no-unused-prop-types": 0,

    // This appears to be generally accepted as OK
    "react/no-did-mount-set-state": 0,
    "react/no-did-update-set-state": 0,

    // Rules we may not want to fix
    "no-plusplus": 0,
    "no-bitwise": 0,
    "no-prototype-builtins": 0,
    "react/forbid-prop-types": 0,
    "consistent-return": 0,
    "class-methods-use-this": 0,

    // Rules we should eventually enable.
    "react/require-default-props": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 2,
    "jsx-a11y/no-static-element-interactions": 2,
    "jsx-a11y/label-has-for": 2,
    "jsx-a11y/href-no-hash": 0,
    "jsx-a11y/no-autofocus": 2

  },
  "plugins": [
    "react", "import", "prettier", "jsx-a11y"
  ],
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolve": {
      "moduleDirectory": ["node_modules", "src"]
    }
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": false,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "__API_URL__": true,
    "__CABLE_URL__": true,
    "socket": true
  }
}
