*.iml
.idea/
node_modules/
webpack-assets.json
webpack-stats.json
npm-debug.log
yarn-error.log
tmp/*
!tmp/.gitkeep
!tmp/sockets/
!tmp/sockets/.gitkeep
storybook-static

dist/manifold/www/browser.config.js
dist/manifold/ssr/ssr.config.js
