.project-collection-form {
  .button-switch-primary .button {
    font-size: 17px;
    font-weight: $regular;
    text-transform: none;
    letter-spacing: 0;

    .manicon {
      margin-right: 0.58em;
    }
  }

  .icon-picker {
    .icon-row {
      flex-wrap: wrap;

      li {
        width: 60px;
        height: 60px;
        margin-top: -1px;
        margin-left: -1px;

        + li {
          border-left: 1px solid;
        }
      }
    }
  }

  .has-many-list {
    > ul.bucket {
      @include respond($break60) {
        max-width: 446.44px; // set explicity to prevent drawer from expanding
      }
    }
  }
}
