// Secondary form inputs. These include all of the form inputs (and more)
// Outlined in 'form-inputs-primary', but change visually with this wrapper.
.form-secondary {
  .form-input {
    label:not(.checkbox):not(.radio) {
      @include formLabelPrimary;
      display: block;
      margin-bottom: 1.5em;
      color: $neutral75;
    }

    + .form-input {
      margin-top: 40px;
    }

    input[type="text"], input[type="password"] {
      @include formInputPrimary;
      width: 100%;
      // Explicit height so that elements can line up
      height: 33px;
      // Declared in em as it should change with font size
      padding: 0 0 0.65em;
      color: $neutral40;
      background-color: transparent;
      // Override border
      border: 0;
      border-bottom: 1px solid $neutral80;
      outline: 0;
      transition: border-color $duration $timing;

      &:focus {
        border-color: $accentPrimaryLight;
      }
    }

    textarea {
      @include templateCopy;
      width: 100%;
      min-height: 200px;
      padding: 1.579em;
      font-size: 19px;
      color: $neutral30;
      background-color: transparent;
      border: 1px solid $neutral80;
      outline: none;
      transition: border-color $duration $timing;
      resize: vertical;
    }

    .form-toggle {
      .toggle-label {
        transition: color $duration $timing;
      }

      input:checked ~ .toggle-label {
        color: $accentPrimary;
      }
    }

    .button-secondary {
      display: inline-block;
      width: auto;
    }
  }

  .form-dropzone {
    padding: 36px 30px 38px;
    border: 1px solid $neutral80;

    .manicon-cloud-up {
      display: block;
      padding-bottom: 26px;
      font-size: 36px;
      color: $neutralWhite;
      text-align: center;
    }

    p {
      @include utilityPrimary;
      font-size: 14px;
      color: $neutral50;
      text-align: center;
    }
  }
}
