// Secondary form inputs. These include all of the form inputs (and more)
// Outlined in 'form-inputs-primary', but change visually with this wrapper.
@mixin formInputSecondary {
  @include formInputPrimary;
  width: 100%;
  // Explicit height so that elements can line up
  height: 33px;
  // Declared in em as it should change with font size
  padding: 0 0 0.65em;
  color: $neutral40;
  background-color: transparent;
  // Override border
  border: 0;
  border-bottom: 1px solid $neutral80;
  outline: 0;
  transition: border-color $duration $timing;

  .bg-neutral90 & {
    &:-webkit-autofill {
      box-shadow: 0 0 0 1000px $neutral90 inset;
      // Important required to override chrome default
      // scss-lint:disable ImportantRule
      -webkit-text-fill-color: $accentPrimaryPale !important;
    }
  }
}

.form-secondary {
  .drawer-primary & {
    margin-bottom: 80px;
  }

  .form-input + .form-input,
  .form-input + .form-section,
  .form-section + .form-section,
  .form-section + .form-input {
    margin-top: 40px;
  }

  .form-input {
    label:not(.checkbox):not(.radio) {
      @include formLabelPrimary;
      display: block;
      margin-bottom: 1.5em;
      color: $neutral75;

      &.has-instructions {
        margin-bottom: 1em;
      }
    }

    input[type="text"], input[type="password"] {
      @include formInputSecondary;
      transition: border-color $duration $timing;

      &:focus {
        border-color: $accentPrimaryLight;
      }
    }

    textarea {
      @include templateCopy;
      width: 100%;
      padding: 1.579em;
      font-size: 19px;
      color: $neutral30;
      background-color: transparent;
      border: 1px solid $neutral80;
      outline: none;
      transition: border-color $duration $timing;
      resize: vertical;
    }

    .form-toggle {
      .toggle-label {
        transition: color $duration $timing;
      }

      input:checked ~ .toggle-label {
        color: $accentPrimary;
      }
    }

    .button-secondary {
      display: inline-block;
      width: auto;
    }

    &.submit {
      .button-secondary, .button-secondary-dull {
        line-height: normal;

        + .button-secondary, + .button-secondary-dull {
          margin-top: 0;
          margin-left: 15px;
        }
      }
    }
  }

  // Dropdown
  .form-select {
    // Default width
    width: auto;

    .manicon-caret-down {
      position: absolute;
      top: 40%;
      right: 6px;
      font-size: 12px;
      color: $accentPrimary;
      pointer-events: none;

      // Use native dropdown arrow in IE9
      .ie9 & {
        display: none;
      }
    }

    select {
      @include formInputSecondary;
      height: auto;
      padding: 0 42px 0.55em 0; // OD
      text-transform: none; // OD

      &:focus {
        border-color: $accentPrimaryLight;
      }

    }
  }

  .form-dropzone {
    position: relative;
    //padding: 36px 30px 38px;
    border: 1px solid $neutral80;

    .primary {
      @include utilityPrimary;
      padding-bottom: 0;
      font-size: 13px;
      font-weight: $semibold;
      line-height: 1.5em;
      color: $neutral50;
      text-align: center;
    }

    .secondary {
      @include formLabelPrimary;
      padding-bottom: 0;
      margin-top: 10px;
      line-height: 1.5em;
      color: $neutral75;
      text-align: center;

      a, a:visited {
        color: $neutral75;
      }

    }

    .fake-link {
      text-decoration: underline;
      cursor: pointer;
    }

    .contents-icon-preview {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      .manicon-document {
        display: block;
        padding-bottom: 22px;
        font-size: 56px;
        color: $neutralWhite;
        text-align: center;
      }

    }

    .contents-image-preview {

      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      .preview {
        position: absolute;
        z-index: 1;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .secondary {
        color: $neutral70;

        a, a:visited {
          color: $neutral70;
        }
      }

      .message {
        position: absolute;
        bottom: 0;
        z-index: 1;
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
      }

    }

    .contents-empty {
      position: relative;
      top: 50%;
      z-index: 2;
      height: 100px;
      margin-top: -50px;
    }

    .remove {
      @include utilityPrimary;
      position: absolute;
      right: 4px;
      bottom: 4px;
      z-index: 2;
      font-size: 12px;
      color: $neutral50;
    }

    .manicon-cloud-up {
      display: block;
      padding-bottom: 22px;
      font-size: 36px;
      color: $neutralWhite;
      text-align: center;
    }

    &.style-portrait {
      width: 220px;
      height: 288px;

      .preview {
        top: 30px;
        left: 50px;
        width: 120px;
        height: 157px;
      }

      .message {
        margin-bottom: 35px;
      }
    }

    &.style-square {
      width: 220px;
      height: 220px;

      .preview {
        top: 30px;
        left: 50px;
        width: 120px;
        height: 120px;
      }
    }

    &.style-landscape {
      width: 477px;
      height: 218px;

      .preview {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .contents-image-preview .message {
        bottom: auto;
        display: block;
        width: 250px;
        padding: 5px 20px 15px;
        margin: auto;
        background: $neutral95;
        opacity: 0.9;
      }
    }
  }

  .boolean-labeled {
    display: table;

    span {
      @include formInputSecondary;
      display: table-cell;
      padding-bottom: 0.5em;
      vertical-align: middle;
    }

    .toggle-indicator {
      display: table-cell;
      padding-left: 10px;
      vertical-align: middle;
    }
  }
}
