// Shared Form Components
// ----------------------
// Wrapper around input with absolutely positioned button
.search-button-inline {
  position: relative;

  // <button>
  .manicon-magnify {
    @include buttonUnstyled;
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -9px;
    font-size: 17px;
    color: $accentPrimary;
  }

  input {
    @include inputSecondary;
    // Width can be controlled in wrapper
    width: 100%;
    padding-left: 40px;
  }
}

.form-dropzone {
  cursor: pointer;

  .dropzone-button {
    @include buttonUnstyled;
    @include buttonRounded;
    @include formLabelPrimary;
    padding: 25px 15px;
    font-weight: $regular;
    line-height: 1.761;
    color: $neutral50;
    text-align: center;
    border: 2px solid $neutral50;

    .dropzone-button-text {
      display: block;
      padding-left: 95px;
      text-align: left;
    }

    + .dropzone-button {
      margin-top: 25px;
    }
  }

  .dropzone-button-dotted {
    border: 2px dotted $neutral50;
  }
}

// Browse specific form select
.select-browse {
  @include selectPrimary;
  width: 100%;

  @include respond($break30) {
    width: auto;
    min-width: 310px;
  }
}
