.comment-editor {
  @include drawerIndent(padding-left);
  padding-top: 18px;

  textarea {
    @include templateHead;
    display: block;
    width: 100%;
    height: 62px;
    padding: 18px 27px;
    font-size: 16px;
    line-height: 1.375;
    background-color: $neutralWhite;
    border: 0;
    outline: 0;
    transition: height $durationFast $timing;
    resize: none;

    &.expanded {
      height: 145px;
    }
  }

  .utility {
    text-align: right;
    background-color: $neutral10;

    .annotation-annotation &, .annotation-comment & {
      margin: 0;
    }

    .buttons {
      display: inline-block;
    }

    .button-secondary, .button-secondary-dull {
      min-width: 98px;
      transition: background-color $duration $timing;
    }

    .button-secondary-dull {
      color: $neutral70;
      background-color: $neutral30;

      &:hover {
        color: $neutralWhite;
        background-color: $neutral70;
      }
    }

    .button-secondary[disabled=disabled], .button-secondary:disabled {
      background-color: $accentPrimaryDull;
    }
  }

  .placeholder button {
    @include buttonUnstyled;
    @include utilityPrimary;
    font-size: 14px;
    color: $neutral40;
    border: 0;
    transition: color $duration $timing;

    &:hover, &.active {
      color: $accentPrimaryDark;
    }
  }
}
