.login-page {
  .login-form {
    @include loginFormPrimary;

    input[type='text'], input[type='password'] {
      width: 300px;
      border-color: $neutral40;
    }
  }

  .login-links {
    margin-top: 25px;
  }

  .login-external {
    margin-top: 45px;

    .button-secondary-dark {
      display: block;
      width: 300px;
    }
  }

  .login-notice {
    @include templateHead;
    margin-bottom: 35px;
    font-size: $type60;
  }

  .button-secondary {
    width: 120px;
  }
}
