.collection-detail {
  header {
    display: table;
    width: 100%;
    padding-bottom: 18px;

    .manicon {
      display: table-cell;
      padding-top: 6px;
      padding-right: 16px;
      font-size: 36px;
      color: $neutral75;
      vertical-align: top;
    }

    .collection-title {
      display: table-cell;
      width: 100%;
      vertical-align: top;

      h1 {
        @include templateHead;
        margin: 0;
        font-size: 22px;
        font-weight: $regular;
        color: $neutral75;
      }

      .collection-date {
        @include subtitlePrimary;
        margin-top: 4px;
        font-size: 14px;
        color: $neutral70;
      }
    }
  }

  .collection-description {
    @include templateCopy;
    max-width: 890px;
    font-size: 15px;
    color: $neutral70;
  }

  .share-nav-primary {
    padding-top: 26px;
  }
}
