// <ul>
.event-list {
  @include listUnstyled();
  @include clearfix();
  display: block;
  margin-right: -30px;
  margin-left: -30px;

  li {
    float: left;
    width: 33.333%;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 42px;
  }
}

.event-tile {
  position: relative;
  // No vertical padding set by default as it is
  // auto-calculated in the view
  padding: 0 25px 0 52px;
  background-color: $neutral20;

  &.file {
    background-color: $neutral50;
  }

  .manicon {
    position: absolute;
    top: 50%;
    left: -30px;
    width: 61px;
    height: 61px;
    margin-top: -30px;
    text-align: center;
    background-color: $accentPrimary;
    border-radius: 100%;

    &::before {
      color: $neutralWhite;
    }
  }

  .manicon-book-opening {
    padding-top: 11px;
    font-size: 34px;
  }

  .manicon-cube-shine {
    padding-top: 9px;
    font-size: 40px;
  }

  .manicon-egg {
    padding-top: 15px;
    font-size: 29px;
  }

  .manicon-person-word-bubble {
    padding-top: 17px;
    font-size: 31px;
  }

  .manicon-twitter {
    padding-top: 20px;
    font-size: 22px;
  }

  .event-content {
    @include templateCopy;
    margin-bottom: 17px;
    letter-spacing: 0.03em;
    color: $neutralOffBlack;
  }

  &.twitter .event-content {
    font-style: italic;
  }

  // <h5>
  .event-title {
    @include templateHead;
    // This is the base size, there may be variation from
    // component to component
    margin: 0;
    font-size: 18px;
    font-weight: $semibold;

    .subtitle {
      @include subtitlePrimary;
      margin-top: 8px;
      font-size: $type40;
    }
  }

  &.text .event-title, &.init .event-title {
    margin-bottom: 24px;
  }

  // Multiple selectors for easier context parsing
  // scss-lint:disable MergeableSelector
  &.file .event-title {
    margin-bottom: 7px;
    color: $neutralWhite;
  }

  // <a> or not
  .event-user {
    @include templateHead;
    display: block;
    color: $accentPrimaryDark;
    text-decoration: none;
  }

  &.comment .event-user {
    margin-bottom: 5px;
  }

  &.twitter .event-user {
    margin-bottom: 10px;
  }

  .event-date {
    @include utilityPrimary;
    font-size: $type20;
    color: $neutral50;
  }

  // Multiple selectors for easier context parsing
  // scss-lint:disable MergeableSelector
  &.file .event-date {
    color: $neutralWhite;
  }
}
