.project-detail-hero {
  @include clearfix;

  // Project Info
  // --------------------------------------------------------
  .project-info {
    float: left;
    width: 65%;
    padding-right: 12%;

    // Note that there is only one here, but structural styles will need to be
    // added if there are more, and potentially list markup
    // <figure>
    .maker-avatar {

      // NB: This needs to be browser tested heavily before settling on this rounding method
      img {
        width: 70px;
        height: auto;
        border-radius: 100%;
      }

      figcaption {
        @include templateCopy;
        margin-top: 2px;
        font-size: $type90;
        color: $neutral80;
      }
    }

    .project-title {
      @include titlePrimary;

      .subtitle {
        margin-top: 18px;
      }
    }

    // Summary content defaults
    .project-summary {
      @include templateCopy;
      font-size: $type60;
      line-height: 1.611;
      color: $neutralOffBlack;
    }

    .project-entry {
      width: 300px;
      margin-top: 72px;

      .button-reader {
        margin-bottom: 40px;
      }

      .button-toc {
        margin-bottom: 20px;
      }
    }

    .button-secondary {
      width: 100%;
    }
  }

  // Project Image
  // --------------------------------------------------------
  .project-image {
    float: left;
    width: 35%;

    img {
      height: auto;
      max-width: 100%;
    }
  }
}
