.resource-totals {
  text-align: center;

  .total-count {
    @include templateHead;
    font-size: 20px;
    color: $neutral50;

    @include respond($break65) {
      font-size: 22px;
    }

    span {
      color: $neutral75;
    }

  }

  a {
    @include utilityPrimary;
    display: block;
    margin-top: 15px;
    font-size: 14px;
    line-height: 12px;
    color: $neutral75;
    text-decoration: none;

    .manicon {
      margin-left: 5px;
      font-size: 12px;
      vertical-align: middle;
    }
  }
}
