.texts-group {

  @include listHorizontal;
  margin-left: -65px;
  font-size: 0;

  > li {
    // Font base size reset
    width: 50%;
    padding-left: 65px;
    margin-bottom: 73px;
    font-size: 16px;
    vertical-align: top;
  }
}
