$_lateral-padding: min(3.158vw, 24px);

.collecting-dialog {
  font-weight: $regular;

  &__inner {
    padding-top: min(6.579vw, 50px);
    padding-right: min(1.974vw, 15px);
    padding-left: min(1.974vw, 15px);
  }

  &__header {
    display: flex;
    align-items: baseline;
    padding-right: $_lateral-padding;
    padding-left: $_lateral-padding;
  }

  &__header-icon {
    order: -1;
    margin-right: 16px;
    margin-left: -5px;
  }

  &__title {
    margin: 0;
    font-size: 20px;
    font-weight: $regular;
    transform: translateY(-75%);
  }

  &__fieldset {
    padding: 0;
    margin: 0;
    margin-top: 28px;
    border: none;
  }

  &__checkbox-group {
    margin-top: 10px;
  }

  &__footer {
    padding-right: $_lateral-padding;
    padding-left: $_lateral-padding;
    margin-top: 50px;
  }

  &__close-button {
    width: 100%;
  }
}
