.overlay-close {
  $_icon-size: 24px;

  ${buttonUnstyled}
  ${utilityPrimary}
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: $_icon-size;

  &__icon {
    margin-left: 9px;
  }
}
