.overlay-full {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 48px;
  overflow: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  ${respond(``, 60)}
    padding-bottom: 80px;
  }

  ${respond(``, 75)}
    padding-bottom: 110px;
  }

  // Background default
  &:not([class*='bg-']) {
    background-color: var(--color-base-neutral-white);
  }

  .overlay-full-header + * {
    padding-top: 50px;
  }

  .overlay-full-appear & {
    opacity: 0.01;
  }

  .overlay-full-appear.overlay-full-appear-active & {
    opacity: 1;
    transition: opacity ${defaultTransitionProps};
  }

  .overlay-full-enter & {
    opacity: 0.01;
  }

  .overlay-full-enter.overlay-full-enter-active & {
    opacity: 1;
    transition: opacity ${defaultTransitionProps};
  }

  .overlay-full-exit & {
    opacity: 1;
  }

  .overlay-full-exit.overlay-full-exit-active & {
    opacity: 0.01;
    transition: opacity ${defaultTransitionProps};
  }
}
