.overlay-login {
  --focus-color: #{$accentInteractionLight};
  --hover-color: #{$accentInteractionLight};

  font-family: var(--font-family-copy);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  color: var(--color-neutral-text-light);
  background-color: transparentize(var(--color-base-neutral90), 0.025);
  opacity: 1;
  transition: opacity, 0s, linear;

  a {
    text-decoration: underline;
  }

  &.overlay-full-enter {
    opacity: 0;
  }

  &.overlay-full-enter-active {
    opacity: 1;
    transition: opacity, $duration, var(--transition-timing-function);
  }

  &.overlay-full-exit {
    opacity: 0;
    transition: opacity, $duration, var(--transition-timing-function);
  }

  // Firefox won't obey padding on the parent overlay
  // so put it on the container instead.
  .container {
    padding-bottom: 100px;
  }

  .overlay-content {
    position: absolute;
    top: 80px;
    bottom: 0;
    z-index: 0; // Local z-index inside overlay
    width: 100%;
    overflow: auto;

    &.focus {
      ${respond(``, 90)}
        top: 0;
      }

      .inner {
        max-width: 340px;
        margin: 0 auto;

        ${respond(``, 40)}
          padding-top: 35px;
        }

        ${respond(``, 90)}
          padding-top: 126px;
        }
      }
    }
  }

  .login-form {
    @include loginFormPrimary;

    input[type='text'],
    input[type='password'],
    input[type='submit'] {
      width: 100%;
    }
  }

  .login-external {
    margin-top: 45px;
  }
}
