.action-callout-list {
  $calloutGutter: 19px;

  display: flex;
  flex-direction: column;
  width: 100%;

  > * {
    width: 100%;
    margin-top: $calloutGutter;
  }

  &--inline {
    @include respond($break60) {
      flex-flow: row wrap;
      margin-top: $calloutGutter;
      margin-bottom: -$calloutGutter;
      margin-left: -$calloutGutter;

      & + & {
        margin-top: 0;
      }

      > * {
        width: auto;
        margin-top: 0;
        margin-bottom: $calloutGutter;
        margin-left: $calloutGutter;
      }
    }
  }

  &__button,
  &__link {
    @include templateHead;
    font-size: 13px;
    font-weight: $semibold;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.104em;
  }

  /* stylelint-disable property-no-vendor-prefix */
  &__button {
    display: -ms-grid;
    display: grid;
    -ms-flex-align: center;
    align-items: center;
    grid-gap: 9px;
    -ms-grid-rows: auto;
    -ms-grid-columns: 1fr 9px auto 9px auto 9px 1fr;
    grid-template:
      '. icon text .' auto / 1fr auto auto 1fr;
    padding-right: 15px;
    padding-left: 15px;
    color: $neutral90;
    transition: background-color $duration $timing;

    &--primary {
      background-color: $accentPrimary;

      &:hover,
      &:focus {
        background-color: $accentPrimaryDull;
      }
    }

    &--secondary {
      background-color: $neutral20;

      &:hover,
      &:focus {
        background-color: rgba($neutral20, 0.6);
      }

      .project-hero--dark & {
        color: $neutral45;
        background-color: #424242;

        &:hover,
        &:focus {
          background-color: $neutral75;
        }
      }
    }

    &--centered {
      -ms-grid-rows: auto;
      -ms-grid-columns: 1fr auto 1fr;
      grid-template:
        '. text .' auto / 1fr auto 1fr;
    }
  }

  &__button-icon {
    grid-area: icon;
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    margin-left: -6px;
    -ms-grid-row-align: center;

    .action-callout-list__button--secondary & {
      color: $neutral50;
    }
  }

  &__button-text {
    display: block;
    grid-area: text;
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    padding-top: 14px;
    padding-bottom: 14px;

    .action-callout-list__button--centered & {
      -ms-grid-row: 1;
      -ms-grid-column: 2;
    }

    @include respond($break60) {
      padding-top: 19px;
      padding-bottom: 19px;
    }
  }
  /* stylelint-enable property-no-vendor-prefix */

  &__link {
    display: block;
    min-height: 17.33px;
    transition: color $duration $timing;

    &:hover,
    &:focus {
      color: $accentPrimary;

      .action-callout-list__link-icon {
        color: inherit;
      }
    }
  }

  &__link-text {}

  &__link-icon {
    margin-right: 8px;
    color: $neutral50;

    .project-hero--dark & {
      color: $neutral45;
    }
  }
}
