.project-detail-hero {
  position: relative;
  color: $neutralWhite;
  background-color: $neutral90;

  .container {
    @include clearfix;
    padding-top: 35px;
    padding-bottom: 35px;

    @include respond($break50) {
      padding-top: 61px;
      padding-bottom: 42px;
    }
  }

  .button-tagged {
    .tag .manicon {
      padding: 0 5px;
      margin: 0;

      @include respond($break50) {
        padding: 0 15px;
      }
    }
  }

  // When a hero image is present, set background properties and an overlay
  &.hero-image {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background-color: transparentize($neutralBlack, 0.3);
    }
  }

  // Shared project hero styles
  // --------------------------------------------------------
  .project-title {
    .block-label {
      @include blockLabelRound;
      position: relative;
      top: -0.272em;
      display: inline;
      padding: 0.2em 7px 0.25em;
      font-size: 11px;
      line-height: inherit;
      color: $neutral85;
      vertical-align: middle;
      background-color: $neutralWhite;
    }
  }

  // Project Makers
  // --------------------------------------------------------
  // Note that there is only one here, but structural styles will need to be
  // added if there are more, and potentially list markup
  // <figure>
  .maker-avatar {
    .no-image, img {
      display: inline-block;
      margin-right: 12px;
      vertical-align: middle;
    }

    .no-image {
      @include buttonAvatar(42, $neutral40, $neutral20);
      border: 2px solid $neutralWhite;
    }

    // NB: This needs to be browser tested heavily before settling on this rounding method
    img {
      display: inline-block;
      width: 42px;
      height: auto;
      border: 2px solid $neutralWhite;
      border-radius: 100%;
    }

    figcaption {
      @include templateCopy;
      display: inline-block;
      margin-top: 2px;
      font-size: 18px;
      vertical-align: middle;

      @include respond($break60) {
        font-size: 21px;
      }
    }
  }

  .project-creator-avatars {
    // Account for bottom spacing of last avatar
    margin-bottom: -8px;

    + .project-contributor-list {
      margin-top: 10px;
    }
  }

  .project-creator-list {
    @include respond($break60) {
      margin-top: -5px;
    }

    ul {
      @include listUnstyled;
      @include templateCopy;
      font-size: 19px;
      line-height: 1.419;
      letter-spacing: 0.01em;

      @include respond($break60) {
        font-size: 21px;
      }
    }

    li {
      display: inline;

      &::after {
        content: ', ';
      }

      &:last-child::after {
        display: none;
      }
    }

    + .project-contributor-list {
      margin-top: 7px;
    }
  }

  .project-contributor-list {
    @include templateCopy;
    font-size: 16px;
    line-height: 1.395;

    @include respond($break60) {
      font-size: 19px;
    }

    .label {
      font-style: italic;
    }

    ul {
      @include listUnstyled;
      display: inline;
    }

    li {
      display: inline;

      &::after {
        content: ', ';
      }

      &:last-child::after {
        display: none;
      }
    }
  }

  // Project Figure (Image and Title) showed only on mobile
  // --------------------------------------------------------
  .project-figure {
    @include clearfix;
    position: relative;

    @include respond($break75) {
      display: none;
    }

    .project-creator-avatars {
      margin-bottom: 22px;
    }

    .maker-avatar {
      display: block;

      + .maker-avatar {
        margin-top: 14px;
      }
    }

    .image {
      float: left;
      width: 80px;

      @include respond($break40) {
        width: 25%;
      }

      + .project-figure-caption {
        padding-left: 18px;

        @include respond($break40) {
          padding-left: 25px;
        }
      }

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .project-figure-caption {
      float: left;
      width: calc(100% - 80px);

      @include respond($break40) {
        width: 75%;
      }
    }

    .project-title {
      @include templateHead;
      margin-top: 0;
      font-size: 20px;
      font-weight: $semibold;

      @include respond($break60) {
        font-size: 26px;
      }

      .title-text {
        margin-right: 12px;
      }

      .block-label {
        padding: 0.25em 6px;
        font-size: 10px;
      }

      .subtitle {
        @include subtitlePrimary;
        display: block;
        // Size relative to font
        margin-top: 0.682em;
        font-size: 17px;

        @include respond($break60) {
          font-size: 19px;
        }
      }
    }
  }

  // Project Info
  // --------------------------------------------------------
  .project-info {
    position: relative;
    padding-top: 20px;

    @include respond($break60) {
      padding-top: 26px;
    }

    @include respond($break75) {
      float: left;
      width: 70%;
      padding-top: 0;
      padding-right: 12%;
    }

    .project-creator-avatars {
      display: none;

      @include respond($break75) {
        display: block;
      }

      + .project-title {
        // Size relative to project title
        margin-top: 1.143em;
      }
    }

    .project-creator-list {
      display: none;

      @include respond($break75) {
        display: block;
      }
    }

    .project-contributor-list {
      display: none;

      @include respond($break75) {
        display: block;
      }
    }

    .maker-avatar {
      display: inline-block;
      margin-right: 20px;
      margin-bottom: 14px;
    }

    .project-title {
      @include templateHead;
      display: none;
      margin-top: -0.29em;
      margin-bottom: 1.06em;
      font-size: 20px;
      font-weight: $semibold;
      line-height: 1.273;

      @include respond($break40) {
        font-size: 26px;
      }

      @include respond($break60) {
        font-size: 33px;
      }

      @include respond($break75) {
        display: block;
      }

      .title-text {
        margin-right: 14px;
      }

      .subtitle {
        @include subtitlePrimary;
        display: block;
        // Size relative to font
        margin-top: 0.5em;
        font-size: 22px;
      }
    }

    // Summary content defaults
    .project-summary {
      @include templateCopy;
      padding-top: 0.739em;
      margin-top: 20px;
      // Relative to font-size
      font-size: 16px;
      line-height: 1.395;
      border-top: 1px solid $neutralWhite;

      @include respond($break65) {
        font-size: 19px;
      }

      @include respond($break75) {
        margin-top: 72px;
      }

      p {
        margin-bottom: 0.682em;
      }

      a {
        color: $neutralWhite;

        &:visited {
          color: $neutralWhite;
        }
      }
    }

    .project-entry {
      display: inline-block;
      margin-top: 34px;

      &.top {
        margin-top: 0;
        margin-bottom: 23px;

        @include respond($break75) {
          display: none;
        }
      }

      &.bottom {
        display: none;

        @include respond($break75) {
          display: flex;
        }
      }

      .button-toc {
        margin-bottom: 20px;
      }
    }

    .button-secondary {
      display: block;

      @include respond($break75) {
        display: inline-block;
      }

      + .button-secondary {
        margin-top: 14px;

        @include respond($break75) {
          margin-top: 0;
          margin-left: 14px;
        }
      }
    }

    .button-tagged {
      margin-top: 21px;

      @include respond($break75) {
        display: none;
      }
    }

    .utility-primary {
      margin-top: 21px;

      @include respond($break75) {
        display: none;
      }
    }
  }

  // Project Social
  // --------------------------
  .project-social {
    margin-top: 33px;

    @include respond($break75) {
      margin-top: 86px;
    }

    .networks ul {
      @include listHorizontal;

      li + li {
        margin-left: 20px;

        + li {
          margin-left: 22px;
        }
      }

      a {
        color: inherit;
        text-decoration: none;

        .manicon-twitter {
          font-size: 17px;
        }

        .manicon-facebook {
          font-size: 18px;
        }

        .manicon-instagram {
          font-size: 18px;
        }
      }
    }

    .networks + .hashtag {
      margin-top: 23px;
    }

    .hashtag {
      @include templateHead;
      display: block;
      font-size: 20px;
      font-weight: $semibold;
    }
  }

  // Project Image
  // --------------------------------------------------------
  .project-aside {
    position: relative;
    display: none;
    float: left;
    width: 30%;

    @include respond($break75) {
      display: block;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    .button-tagged {
      margin-top: 14px;
    }
  }

  a.utility-primary {
    display: inline-block;
    margin-top: 18px;
    font-size: 13px;
    color: $neutralWhite;
    text-decoration: none;

    .manicon {
      margin-right: 8px;
      font-size: 15px;
    }

    &:hover, &:visited {
      color: $neutralWhite;
    }
  }
}
