.project-thumb-placeholder {
  &--primary {
    .project-thumb-placeholder__tile {
      fill: $sp50Primary;
    }
  }

  &--secondary {
    .project-thumb-placeholder__tile {
      fill: $sp50Secondary;
    }
  }

  &--tertiary {
    .project-thumb-placeholder__tile {
      fill: $sp50Tertiary;
    }
  }

  &--quaternary {
    .project-thumb-placeholder__tile {
      fill: $sp50Quaternary;
    }
  }

  &--quinary {
    .project-thumb-placeholder__tile {
      fill: $sp50Quinary;
    }
  }

  &__tile {
    fill: $neutralWhite;
  }

  &__frame {
    stroke: $neutral75;

    .backend & {
      stroke: $neutral50;
    }
  }
}
