.asset-thumb {
  .asset-link {
    @include clearfix;
  }

  .asset-image {
    position: relative;
    float: left;
    width: 22%;
    text-align: left;

    @include respond($break40) {
      width: 90px;
    }

    @include respond($break75) {
      width: 20%;
    }

    img {
      max-width: 100%;
      height: auto;
      max-height: 130%;
    }
  }

  .asset-image-placeholder {
    svg {
      max-width: 100%;
      height: auto;
      max-height: 130px;

      path {
        fill: $neutral40;
      }
    }
  }

  .asset-description {
    float: left;
    width: 78%;
    padding-left: 6%;

    @include respond($break40) {
      width: calc(100% - 90px);
    }

    @include respond($break75) {
      width: 80%;
    }

    a {
      display: block;
      text-decoration: none;
    }

    .asset-title {
      @include templateHead;
      margin-top: 0;
      margin-bottom: 0.697em;
      font-size: 20px;
      font-weight: $semibold;
      color: $neutral90;

      @include respond($break85) {
        font-size: 23px;
      }

      .subtitle {
        @include subtitlePrimary;
        display: block;
        margin-top: 0.625em;
        font-size: 18px;
      }
    }

    .asset-date {
      @include utilityPrimary;
      font-size: 14px;
      color: $neutral50;
    }
  }

  .asset-status {
    margin-top: 20px;
  }

  // <ul> of icons or links
  .asset-interactions {
    @include listUnstyled;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-top: -3px;

    li {
      @include utilityPrimary;
      font-size: 15px;
      color: $neutral40;

      + li {
        margin-left: 22px;
      }
    }

    a {
      color: $neutral80;
      text-decoration: none;
    }
  }
}
