@mixin reactSlideTransition($from: 'right', $selector: '&', $prefix: 'panel') {
  .#{$prefix}-enter #{$selector} {
    @if ($from == 'right') {
      transform: translateX(100%);
    } @else {
      transform: translateX(-100%);
    }
  }

  .#{$prefix}-enter-active #{$selector} {
    transition: transform $duration $timing;
    transform: translateX(0);
  }

  .#{$prefix}-exit #{$selector} {
    transform: translateX(0);
  }

  .#{$prefix}-exit.#{$prefix}-exit-active #{$selector} {
    transition: transform $duration $timing;
    @if ($from == 'right') {
      transform: translateX(100%);
    } @else {
      transform: translateX(-100%);
    }
  }
}
