<div class="project-header">
  <a href='<%= project.url %>'>
    <img src="<%= project.avatar_url %>">
  </a>
  <div class="meta">
    <h2><%= project.title %></h2>
    <h3><%= project.creator_list %></h3>
  </div>
</div>
