.notation-detail {
  .notation-type {
    @include utilityPrimary;
    font-size: 13px;
    color: $neutral50;
  }

  .resource-slideshow {
    margin-top: 14px;

    @include respond($break60) {
      margin-top: 25px;
    }

    .slide-footer {
      padding-right: 0;
      padding-left: 0;

      @include respond($break60) {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }

  .resource-title__title {
    color: var(--default-strong-color);
  }

  .button-secondary {
    width: 250px;
    max-width: 100%;

    @include respond($break60) {
      width: 320px;
    }
  }
}
