// Annotation Popup Components
// ---------------------------

// Just for components that deal with selecting an action to create an annotation
.annotation-popup {
  $panelBgColor: $neutral85;
  $panelBgColorLight: $neutralWhite;
  $tailSize: 16px;

  --default-hover-color: #{$accentInteractionLight};

  position: absolute;
  margin-top: -30px;
  white-space: nowrap;
  visibility: hidden;
  user-select: none;
  opacity: 0;
  transition:
    top $duration $timing,
    left $duration $timing,
    opacity $duration $timing;

  &--visible {
    visibility: visible;
    opacity: 1;
  }

  &__panel {
    position: relative;
    left: 50%;
    background-color: $panelBgColor;
    border-radius: $panelRoundedRadius;
    box-shadow: 0 12px 22px -3px rgba($neutralBlack, 0.39);
    transition:
      opacity $duration $timing,
      transform $duration $timing;
    transform: translateX(-50%);

    &--secondary {}

    &--secondary-group {
      position: relative;
    }

    &--top {
      top: 0;
    }

    &--bottom {
      bottom: 0;
    }

    &.panel-appear {
      opacity: 0.01;
      transform: translateX(25%);

      &.panel-appear-active {
        opacity: 1;
        transition:
          opacity $duration $timing,
          transform $duration $timing;
        transform: translateX(-50%);
      }
    }

    &.panel-exit {
      opacity: 1;
      transform: translateX(-50%);

      &.panel-exit-active {
        opacity: 0;
        transition:
          opacity $durationSlow $timing,
          transform $durationSlow $timing;
        transform: translateX(25%);
      }
    }

    .scheme-dark & {
      background-color: $panelBgColorLight;
    }
  }

  &__note {
    @include templateHead;
    padding: 1em 17px 1.063em;
    font-size: 16px;
    color: $neutralWhite;
    text-align: center;
    letter-spacing: 0.005em;
    background-color: $neutral95;

    &--top {
      border-top-left-radius: $panelRoundedRadius;
      border-top-right-radius: $panelRoundedRadius;
    }

    &--bottom {
      border-bottom-right-radius: $panelRoundedRadius;
      border-bottom-left-radius: $panelRoundedRadius;
    }

    .scheme-dark & {
      color: $neutral85;
      background-color: $neutralWhite;
    }
  }

  &__header {
    @include utilityPrimary;
    display: flex;
    align-items: center;
    padding: 14px 20px;
    font-size: 14px;
    color: $neutral45;
    background-color: $neutral95;
    border-top-left-radius: $panelRoundedRadius;
    border-top-right-radius: $panelRoundedRadius;

    .scheme-dark & {
      color: $neutral85;
      background-color: $neutral10;
    }
  }

  &__heading {
    margin-left: 1em;
  }

  &__button {
    @include buttonUnstyled;
    @include utilityPrimary;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 11px 24px 11px 15px;
    font-size: 14px;
    line-height: 23px;
    color: $neutralWhite;
    text-align: left;
    transition: color $duration $timing, background-color $duration $timing;

    .scheme-dark & {
      color: $neutral85;
    }

    &--dark {
      color: $neutral70;
      background-color: $panelBgColor;

      + .annotation-popup__tail--down {
        border-color: $neutral90 transparent transparent;
      }

      .scheme-dark & {
        color: $panelBgColor;
        background-color: $neutral70;
      }
    }

    &--secondary-dark {
      padding-right: 20px;
      padding-left: 20px;
      color: $neutral45;
      background-color: $neutral95;

      .scheme-dark & {
        color: $neutral85;
        background-color: $neutral10;
      }
    }

    &--stacked {
      display: block;
    }

    &:first-of-type:not(:last-of-type):not(.annotation-popup__button--selected) {
      border-top-left-radius: $panelRoundedRadius;
      border-top-right-radius: $panelRoundedRadius;
    }

    &:last-of-type:not(.annotation-popup__button--selected) {
      border-bottom-right-radius: $panelRoundedRadius;
      border-bottom-left-radius: $panelRoundedRadius;
    }

    &:hover,
    &--selected {
      color: $panelBgColor;
      background-color: $defaultHoverColor;
    }
  }

  &__button-icon {
    margin-right: 13px;

    &--disclosure {
      margin-right: -5px;
      margin-left: 13px;
      transform: rotate(90deg);
    }
  }

  &__button-text {
    position: relative;
    top: -1px;

    &--small {
      overflow: hidden;
      font-size: 17px;
      font-weight: $regular;
      text-overflow: ellipsis;
      text-transform: none;
      letter-spacing: 0;
      white-space: nowrap;
    }
  }

  &__button-inner-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 175px;
  }

  .button-group {
    + .annotation-popup__button, + .button-group {
      border-top: 1.5px $neutral90 solid;
    }
  }

  &__tail {
    --tail-color: #{$panelBgColor};

    position: absolute;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    margin-left: -$tailSize;
    border-style: solid;
    transition: border-color $duration $timing;

    &--down {
      top: 100%;
      border-color: var(--tail-color, $panelBgColor) transparent transparent;
      border-width: $tailSize $tailSize 0;

      &.annotation-popup__tail--highlight {
        border-color: $accentPrimary transparent transparent;
      }

      .annotation-popup__button--secondary-dark + & {
        --tail-color: #{$neutral95};
      }
    }

    &--up {
      top: -$tailSize;
      border-color: transparent transparent var(--tail-color, $panelBgColor);
      border-width: 0 $tailSize $tailSize;

      &.annotation-popup__tail--highlight {
        border-color: transparent transparent $accentPrimary;
      }
    }

    .scheme-dark & {
      --tail-color: #{$neutralWhite};
    }

    &--dark {
      --tail-color: #{$neutral95};

      .scheme-dark & {
        --tail-color: #{$neutral10};
      }
    }
  }
}
