.subscriptions {
  margin: auto;

  @include respond($break75) {
    width: 600px;
  }

  .form-group {
    padding: 20px 24px 60px;

    + .form-group {
      margin-top: 60px;
    }
  }

  .section-heading-secondary {
    @include utilityPrimary;
    padding: 12px 24px;
    font-size: 14px;
    color: $neutral75;
    letter-spacing: 0.1em;
    background-color: $neutral10;
    border-radius: 8px;
  }

  .form-heading {
    margin-bottom: 55px;
  }

  .ReactCollapse--content {
    padding-top: 50px;
  }

  .form-input {
    + .form-input {
      margin-top: 50px;
    }

    label:not(.checkbox):not(.radio) {
      font-size: 14px;
    }

    .instructions {
      font-size: 18px;
    }
  }

  .button-bare-primary {
    text-decoration: underline;
    transition: color $duration $timing;

    &:hover {
      color: $neutral80;
    }
  }

  .sign-in-up-update & {
    width: auto;
    margin-top: 50px;

    span {
      @include templateCopy;
      display: block;
      margin-bottom: 20px;
      font-style: italic;
    }

    button {
      width: 100%;
    }
  }
}
