# This file is for unifying the coding style for different editors and IDEs
# editorconfig.org

root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[**.{rb,pp}]
indent_style = space
indent_size = 2
continuation_indent_size = 2
quote_type = double

[**.{yml,yaml}]
indent_style = space
indent_size = 2

[**.{txt}]
indent_style = space
indent_size = 2
