### Bundler Config ###
/.bundle

### Logs and Temp Files ###
/log/*
/tmp/*
!/tmp/pids/.keep
!/log/.keep
!/tmp/.keep
/npm-debug.log

### IntelliJ ###

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/codeStyleSettings.xml
.idea/dictionaries
.idea/dataSources

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/inspectionProfiles
.idea/libraries
.idea/jsLibraryMappings.xml
.idea/misc.xml

# File-based project format:
*.ipr
*.iws

### Ignore user content ###
/public/system
/user_texts
/import

### Ignore secrets ###
config/secrets.yml

### Ignore yardoc ###
.yardoc
doc

### Extracted epubs ###
/texts/tmp

### Environments ###
/.env
