### Bundler Config ###
/.bundle

### Logs and Temp Files ###
/log/*
/tmp/*
!/tmp/pids/.keep
!/log/.keep
!/tmp/.keep
/npm-debug.log

### IntelliJ ###

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/inspectionProfiles
.idea/libraries
.idea/jsLibraryMappings.xml

# File-based project format:
*.ipr
*.iws

### Ignore user content ###
/public/system
/epubs

### Ignore secrets ###
config/secrets.yml

### Ignore yardoc ###
.yardoc
doc
