### Bundler Config ###
/.bundle

### Logs and Temp Files ###
/log/*
/tmp/*
!/tmp/pids/.keep
!/log/.keep
!/tmp/.keep
/npm-debug.log

### IntelliJ ###
*.iml
.idea
.idea/*

### VSCode ###
.vscode

# File-based project format:
*.ipr
*.iws

### Ignore user content ###
/public/system
/user_texts
/import

### Ignore keys ###
/config/keys/*
!/config/keys/.keep

### Ignore secrets ###
config/secrets.yml

### Ignore yardoc ###
.yardoc
doc

### Extracted epubs ###
/texts/tmp

### Environments ###
/.env
/.env*
!.env.sample

## Development services ###
/services/*

.DS_Store

## Plugins ##
client/plugins*



