language: ruby
dist: trusty

rvm:
  - 2.3.3

nvm:
  - "8.10.0"

services:
  - postgresql
  - redis-server
addons:
  postgresql: "9.5"

before_script:
  - psql -c 'create database manifold_test;' -U postgres

before_install:
  - gem update --system
  - echo $TRAVIS_NODE_VERSION
  - rm -rf ~/.nvm && git clone https://github.com/creationix/nvm.git ~/.nvm && (cd ~/.nvm && git checkout `git describe --abbrev=0 --tags`) && source ~/.nvm/nvm.sh && nvm install $TRAVIS_NODE_VERSION
  - sudo apt-key adv --fetch-keys http://dl.yarnpkg.com/debian/pubkey.gpg
  - echo "deb http://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list
  - sudo apt-get update
  - sudo apt-get install -y yarn

env:
  global:
    - API="/home/travis/build/ManifoldScholar/manifold/api"
    - RAILS_SECRET_KEY=6d48e59424e38e0a1aec8515cc31385ccd39a868e7681a1382ccfed7178f2c2ae60bb91371815a9937890097f3eb43808035777510a810599756bf83fa7e0b20
    - RAILS_DB_USER=postgres
    - PATH=./node_modules/.bin:$PATH
    - TRAVIS_NODE_VERSION="8.10.0"

gemfile: api/Gemfile

cache:
  bundler: true
  directories:
  - $HOME/.yarn-cache

script:
  - cp .env.sample .env
  - cd client
  - node -v
  - /usr/bin/yarn --version
  - /usr/bin/yarn install --production=false
  - /usr/bin/yarn test -- --maxWorkers=4
  - cd ../api
  - bundle install
  - RAILS_ENV=test bundle exec rails db:migrate --trace
  - bundle exec rake db:test:prepare
  - bundle exec rspec spec -fd --tag ~@integration

notifications:
  slack: manifold-scholarship:zDJbq4uqW2B9puU6l8fhwuMa
