.project-collection-header {

  &_summary {
    text-decoration: none;
    margin-bottom: 0;
  }

  &_filter {
    margin-bottom: 30px;
  }

  &__wrapper {
    width: 100%;

    &_square {
      display: block;

      @include respond($break75) {
        display: flex;
      }
    }
    &_full {
      margin-top: 0;
    }
  }

  &__icon-title {
    display: flex;
    align-items: center;
    margin-bottom: 28px;

    & > .manicon-svg {
      position: relative;
      top: 2px;
      flex-shrink: 0;
      width: 56px;
      height: 56px;
      margin-right: 6px;
      margin-left: -4px;
      color: #b3b3b3;
    }
  }

  &__icon {
    width: 56px;
    height: 56px;
    margin-right: 14px;
  }

  &__title {
    font-family: 'sofia-pro', 'trueno', sans-serif;
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 1.2em;
    font-weight: 500;
    hyphens: none;
    line-height: 1.32;
    margin-bottom: 2px;
    color: #363636;
  }

  &_description {
    font-family: 'sofia-pro', 'trueno', sans-serif;
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 1.5;
    color: #555555;

    &__right {
      width: 100%;

      @include respond($break95) {
        width: 50%;
      }
    }
  }

  &__description {
    margin-top: 30px;
  }

  &__hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;

    &_square {
      max-width: 340px;
      max-height: 340px;
      width: 100%;
      height: 100%;
      margin-right: 30px;
      margin-bottom: 30px;
    }

    &-wrapper {
      height: 340px;
      overflow: hidden;

      &_wide {
        margin-bottom: 30px;
      }

      &_full {
        position: relative;
        margin: -60px -50px 30px -50px;
        width: 100vw;
      }
    }
  }
}
