.collection-detail {
  .collection-description {
    @include templateCopy;
    max-width: 840px;
    font-size: 15px;
    color: $neutral70;
  }

  .utility {
    padding: 26px 0 12px;

    @include respond($break60) {
      display: flex;
      justify-content: space-between;
    }

    .meta-value {
      @include utilityPrimary;
      font-size: 13px;

      a {
        color: $neutral30;
        transition: color $durationFast $timing;

        &:visited {
          color: $neutral30;
        }

        &:hover {
          color: $accentPrimary;
        }
      }
    }
  }

  .collection-description {
    @include templateCopy;
    max-width: 840px;
    font-size: 15px;
    color: $neutral70;

    a {
      color: $neutral70;

      &:visited {
        color: $neutral70;
      }
    }
  }

  .share-nav-primary {
    padding-top: 26px;
  }
}
