// Nav wrapping a ul
.resource-collections-list {
  ul {
    @include listUnstyled;

    @include respond($break60) {
      display: flex;
      flex-wrap: wrap;
      margin-left: -25px;
    }
  }

  li {
    display: flex;
    width: 100%;
    margin-bottom: 20px;

    @include respond($break60) {
      width: 50%;
      padding-left: 25px;
      margin-bottom: 30px;
    }
  }

  a {
    @include panelRounded;
    display: flex;
    width: 100%;
    padding-top: 107px;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    transition: box-shadow $duration ease-out;

    @include respond($break80) {
      padding-top: 160px;
    };

    &:hover, &:focus {
      outline: 0;
      box-shadow: 0 20px 30px 2px rgba($neutralBlack, 0.13);

      .collection-title,
      .icon {
        color: $accentPrimary;
      }
    }
  }

  .title-overlay {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: transparentize($neutralBlack, 0.5);
    border-radius: 0 0 8px 8px;
    transition: background-color $duration ease-out;

    @include respond($break80) {
      flex-direction: row;
    }
  }

  .collection-title, .icon {
    margin: 0;
    color: $neutralWhite;
    transition: color $duration ease-out;
  }

  .collection-title {
    @include templateHead;
    width: auto;
    height: auto;
    padding: 18px 16px;
    font-size: 18px;
    font-weight: $medium;

    @include respond($break70) {
      padding: 18px 21px;
    }

    @include respond($break80) {
      flex-grow: 1;
    }

    @include respond($break85) {
      font-size: 20px;
    }

    @include respond($break95) {
      padding: 20px 24px;
    }
  }

  .icon {
    @include templateHead;
    padding-right: 16px;
    font-size: 12px;
    text-align: center;

    @include respond($break75) {
      padding: 18px 24px 18px 0;
      font-size: 14px;
    }

    .manicon {
      display: block;
      margin-bottom: 3px;
    }

    span {
      display: none;

      @include respond($break75) {
        display: block;
      }
    }
  }
}
