.resource-slideshow {
  $slideCopyFocus: 570px;
  padding-bottom: 38px;

  @include respond($break60) {
    @include containerPrototype;
  }

  .resource-slide-figure figure {
    height: calc(100% - 39px); // Slide pagination footer height

    @include respond($break60) {
      height: 100%;
    }
  }

  .slide-footer {
    position: relative;
    padding: 10px $containerPaddingResp;

    @include respond($break60) {
      display: table;
      width: 100%;
      padding: 17px 23px;
      background-color: $neutral90;
    }
  }

  .slide-caption {
    position: relative;
    display: table-cell;
    width: 100%;
    vertical-align: top;
  }

  .resource-title {
    @include templateHead;
    margin-top: 0;
    margin-bottom: 0.2em;
    font-size: 20px;
    font-weight: $regular;
    color: $neutralOffBlack;

    @include respond($break60) {
      margin-bottom: 0.364em;
      font-size: 22px;
      color: $neutral05;
    }

    .overlay-full & {
      color: $neutral05;
    }
  }

  .resource-description {
    @include templateCopy;
    max-width: $slideCopyFocus;
    height: 48px;
    padding-bottom: 5em;
    overflow: visible;
    font-size: 15px;
    color: $neutral40;

    @include respond($break40) {
      padding-bottom: 3.5em;
    }

    p + p {
      margin-top: 1em;
    }

    a {
      color: $neutral40;

      &:visited {
        color: $neutral40;
      }
    }

    &.collapsed {
      overflow: hidden;
    }

    &.expanded {
      height: auto;
    }
  }

  .slide-pagination {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: transparentize($neutral90, 0.1);

    @include respond($break60) {
      position: static;
      width: 160px;
      padding-top: 2px;
      text-align: right;
      background: transparent;
    }

    .slide-ordinal {
      @include utilityPrimary;
      display: inline-block;
      padding: 11px 0 13px;
      font-size: 13px;
      color: $neutral50;
      letter-spacing: 0.05em;

      @include respond($break60) {
        padding: 0;
        font-size: 16px;
      }
    }

    .slide-previous, .slide-next {
      @include buttonUnstyled;
      @include utilityPrimary;
      position: absolute;
      top: 50%;
      margin-top: -9px;
      font-size: 13px;
      color: $neutral40;
      letter-spacing: 0.05em;

      @include respond($break60) {
        position: static;
        margin-top: 16px;
      }

      .text {
        @include respond($break60) {
          display: none;
        }
      }

      .manicon-arrow-left, .manicon-arrow-right {
        display: inline-block;
        margin-top: -1px;
        font-size: 0.923em;
        vertical-align: middle;

        @include respond($break60) {
          display: none;
        }
      }

      .manicon-arrow-left {
        margin-right: 9px;
      }

      .manicon-arrow-right {
        margin-left: 9px;
      }

      .manicon-arrow-round-right, .manicon-arrow-round-left {
        display: none;
        font-size: 42px;

        @include respond($break60) {
          display: inline-block;
        }
      }

      &:disabled {
        opacity: 0.4;
      }

      &:not(:disabled):hover, &:not(:disabled):focus {
        color: $accentPrimary;
      }
    }

    .slide-previous {
      left: 20px;
    }

    .slide-next {
      right: 20px;

      @include respond($break60) {
        margin-left: 14px;
      }
    }
  }

  .resource-utility {
    position: relative;

    .wrapper {
      padding: 9px 0 15px;
      background-color: $neutralWhite;

      @include respond($break60) {
        background-color: $neutral90;
      }

      .overlay-full & {
        background-color: $neutral90;
      }
    }

    &.expandable {
      &.expanded {
        .wrapper {
          margin-top: 0;
        }
      }

      .more-link {
        display: block;

        @include respond($break40) {
          display: inline;
        }
      }

      &::before {
        // Resource utility fade that hides part of the
        // above description
        // Only displayed if description is present
        position: absolute;
        bottom: 100%;
        left: 0;
        display: block;
        width: 100%;
        height: 33px;
        content: '';
        box-shadow: inset -10px -10px 18px 0 $neutralWhite;

        @include respond($break60) {
          box-shadow: inset -10px -10px 18px 0 $neutral90;
        }

        .overlay-full & {
          box-shadow: inset -10px -10px 18px 0 $neutral90;
        }
      }
    }

    .more-link, .download-link, .detail-link {
      @include utilityPrimary;
      @include buttonUnstyled;
      display: block;
      margin-top: 7px;
      font-size: 13px;
      color: $neutral40;
      text-decoration: none;
      transition: color $duration $timing;

      @include respond($break40) {
        display: inline;
        margin-top: 0;
        margin-right: 22px;
        color: $neutral50;
      }

      .overlay-full & {
        color: $neutral50;
      }

      &:hover, &:focus {
        color: $accentPrimary;
      }
    }

    .more-link {
      // Only show more link when expandable (see above)
      display: none;
      color: $neutral50;

      @include respond($break60) {
        color: $neutral40;
      }

      .overlay-full & {
        color: $neutral40;
      }

      .close-text {
        display: none;
      }

      &.open {
        .open-text {
          display: none;
        }

        .close-text {
          display: inline;
        }
      }
    }

    .download-link {
      .manicon-arrow-down {
        display: inline-block;
        margin-top: -2px;
        margin-left: 6px;
        font-size: 11px;
        vertical-align: middle;
      }
    }
  }
}
