.asset-thumb {
  .asset-link {
    @include clearfix;
  }

  .asset-image {
    position: relative;
    float: left;
    width: 22%;
    text-align: left;

    @include respond($break40) {
      width: 90px;
    }

    @include respond($break75) {
      width: 20%;
    }

    img {
      height: auto;
      max-width: 100%;
      max-height: 130%;
    }

    .manicon-new {
      position: absolute;
      top: 10.5%;
      left: -12px;
      display: block;
      width: 36px;
      height: 36px;
      padding-top: 13px;
      font-size: 9px;
      color: $neutralWhite;
      text-align: center;
      background-color: $sp40Tertiary;
      border-radius: 100%;
    }
  }

  .asset-image-placeholder {
    svg {
      height: auto;
      max-width: 100%;
      max-height: 130px;

      path {
        fill: $neutral40;
      }
    }
  }

  .asset-description {
    float: left;
    width: 78%;
    padding-left: 6%;

    @include respond($break40) {
      width: calc(100% - 90px);
    }

    @include respond($break75) {
      width: 80%;
    }

    a {
      text-decoration: none;
    }

    .asset-title {
      @include templateHead;
      margin-top: 0;
      margin-bottom: 0.697em;
      font-size: 20px;
      font-weight: $semibold;
      color: $neutralOffBlack;

      @include respond($break85) {
        font-size: 23px;
      }

      .subtitle {
        @include subtitlePrimary;
        display: block;
        margin-top: 0.625em;
        font-size: 18px;
      }
    }

    .asset-date {
      @include utilityPrimary;
      font-size: 14px;
      color: $neutral50;
    }
  }

  .asset-status {
    @include clearfix;
    margin-top: 20px;
  }

  // <ul> of icons or links
  .asset-interactions {
    @include listHorizontal;
    display: block;
    float: left;
    margin-top: -3px;

    li {
      @include utilityPrimary;
      font-size: 15px;
      color: $neutral40;
      vertical-align: middle;

      + li {
        margin-left: 22px;
      }
    }

    .manicon {
      display: inline-block;
      margin-right: 8px;
      font-size: 20px;
      vertical-align: middle;

      @include respond($break60) {
        font-size: 22px;
      }
    }

    a {
      color: $neutral80;
      text-decoration: none;

      .manicon {
        color: $accentPrimary;
      }
    }
  }
}
