.text-category-list-primary {

  .text-category {
    + .text-category, + div {
      padding-top: 73px;
    }
  }

  .texts-group {
    @include listHorizontal;
    margin-bottom: -45px;
    font-size: 0;

    @include respond($break75) {
      margin-bottom: -73px;
      margin-left: -45px;
    }

    @include respond($break80) {
      margin-left: -65px;
    }

    > li {
      width: 100%;
      padding-bottom: 45px;
      // Font base size reset
      font-size: 16px;
      vertical-align: top;

      @include respond($break75) {
        width: 50%;
        padding-bottom: 73px;
        padding-left: 45px;
      }

      @include respond($break80) {
        padding-left: 65px;
      }
    }
  }
}
