.selection-list {
  @include listUnstyled;
  padding-bottom: 50px;

  @include respond($break75) {
    padding-bottom: 110px;
  }

  // Separated list, used on list pages/overlays
  &.separated {
    li + li {
      margin-top: 43px;
    }

    .selection-group-heading + li {
      margin-top: 35px;
    }

    li + .selection-group-heading {
      margin-top: 96px;
    }

    .annotation-detail .selection-text,
    .annotation-detail > .container,
    .annotation-highlight-detail {
      padding-right: 20px;
      padding-left: 20px;

      @include respond($break75) {
        padding-right: 50px;
        padding-left: 50px;
      }

      @include respond($break95) {
        padding-right: 7.2vw;
        padding-left: 7.2vw;
      }

      @include respond($break100) {
        padding-right: 89px;
        padding-left: 89px;
      }
    }

    .annotation-detail {
      background-color: $neutralOffWhite;
    }
  }
}

.selection-group-heading {
  margin-bottom: 26px;

  h2 {
    @include templateHead;
    margin: 0;
    font-size: 24px;
    color: $neutral70;

    @include respond($break65) {
      font-size: 32px;
    }
  }
}

.annotation-list {
  @include listUnstyled;
  padding-bottom: 37px;

  .annotation-annotation {
    padding-top: 32px;

    @include respond($break65) {
      padding-top: 40px;
    }

    + .annotation-annotation, +.annotation-more {
      margin-top: 23px;
      border-top: 1px solid $neutral40;
    }
  }

  // More comments button has a special appearance if it's
  // not in the last annotation
  &:not(last-child) {
    .annotation-comment-thread .button-trim-primary {
      padding: 0;
      border: 0;
    }
  }
}

.annotation-comment-thread {
  padding-top: 22px;

  .annotation-comment-thread {
    // Responsivize first level nesting
    .comment-list {
      padding-left: 0;

      @include respond($break70) {
        @include drawerIndent(padding-left);
      };
    }

    .annotation-comment-thread {
      // Responsivize second level nesting
      .comment-list {
        padding-left: 0;

        @include respond($break95) {
          @include drawerIndent(padding-left);
        }
      }

      .annotation-comment-thread {
        // Disable nesting on comment lists that are more than
        // 3 levels deep
        .comment-list {
          padding-left: 0;
        }
      }

    }
  }

  .comment-list {
    @include listUnstyled;
    @include drawerIndent(padding-left);

    .annotation-comment {
      + .annotation-comment {
        padding-top: 20px;
      }
    }
  }
}
