.annotation-selection {
  @include drawerPadding(padding-right, 'heavy');
  @include drawerPadding(padding-left);
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: $neutral10;

  @include respond($break80) {
    padding-top: 41px;
    padding-bottom: 30px;
  }

  .selection-text {
    @include templateHead;
    @include drawerIndent(padding-left);
    position: relative;
    padding-left: 43px;
    font-size: 18px;
    line-height: 1.6;
    word-wrap: break-word;

    @include respond($break90) {
      font-size: 20px;
    }

    .manicon {
      position: absolute;
      top: 0.4em;
      left: 0;
      color: $accentPrimary;
    }
  }

  // Truncated variety
  .selection-truncated {
    .wrapper {
      position: relative;
      overflow: hidden;
      transition: height $duration $timing;

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4em;
        background: linear-gradient(to top, $neutral10 10%, transparentize($neutral10, 1) 100%);
        content: '';
        opacity: 0;
        transition: opacity $durationSlow $timing $duration;
      }

      &.blur::after {
        opacity: 1;
      }
    }

    .button-trim-primary {
      position: relative;
      margin-top: -8px;
      background-color: $neutral10;
      opacity: 1;
      visibility: visible;
      transition: margin $duration linear,
        opacity $duration $timing $durationFast,
        visibility $duration $timing $durationFast;

      &.hidden {
        margin-top: -43px;
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  .annotate-button {
    @include buttonUnstyled;
    @include utilityPrimary;
    @include drawerIndent(margin-left);
    margin-top: 28px;
    font-size: 14px;
    color: $neutral40;
    transition: color $duration $timing;

    &:hover {
      color: $accentPrimaryDark;
    }
  }
}
