.has-many-list {
  @include respond($break90) {
    margin-top: 20px;
  }

  .button-row {
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;

    button {
      display: flex;
      align-items: center;

      &.add-button:hover {
        color: $accentPrimary;
      }

      &.remove-button:hover {
        color: $sp40Tertiary;
      }

      .manicon {
        margin-right: 10px;
        padding: 5px;
        font-size: 12px;
        border: 1px solid $neutral70;
        border-radius: 50%;

        &.manicon-plus-bold {
          color: $accentPrimary;
          border-color: $accentPrimary;
        }

        &.manicon-minus-bold {
          color: $sp40Tertiary;
          border-color: $sp40Tertiary;
        }
      }

      + button {
        margin-left: 35px;
      }
    }
  }

  .input-predictive + ul,
  .fetch-select + ul {
    margin-top: 25px;
  }

  > ul {
    @include listUnstyled;

    &.bucket {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding: 10px 20px 20px;
      background-color: $neutral95;
      border-radius: 10px;

      &.empty {
        align-items: center;
        justify-content: center;
        padding: 20px;
      }

      .placeholder {
        @include utilityPrimary;
        font-size: 14px;
        color: $neutral70;
      }

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        padding: 5px 15px;
        margin: 10px 10px 0 0;
        line-height: 1;
        border: 1px solid $neutral70;
        border-radius: 5px;

        &:last-child {
          padding-bottom: 5px;
        }

        figure {
          display: none;
        }

        .utility {
          margin-left: 10px;

          button {
            font-size: 13px;
          }
        }

        .association-name {
          font-size: 16px;
        }
      }
    }

    li {
      display: table;
      width: 100%;
      padding: 10px 0;

      @include respond($break60) {
        padding: 17px 0 9px;
      }

      + li {
        border-top: 1px solid $neutral80;
      }

      &:last-child {
        padding-bottom: 24px;
      }
    }

    figure {
      display: table-cell;
      min-width: 29px;
      white-space: nowrap;
      vertical-align: middle;

      .no-image, img {
        display: inline-block;
        vertical-align: middle;
      }

      .no-image {
        @include buttonAvatar(29, $neutral40, $neutral20);
        border: 2px solid $neutralWhite;

        @include respond($break60) {
          @include buttonAvatar(29, $neutral40, $neutral20);
          border: 2px solid $neutralWhite;
        }
      }

      img {
        width: 100%;
        height: auto;
        border-radius: 100%;
      }

      + .association-name {
        padding-left: 15px;
      }
    }

    .association-name {
      @include formInputPrimary;
      display: table-cell;
      width: 100%;
      margin: 0;
      font-size: 18px;
      line-height: 29px;
      color: $neutral40;
      vertical-align: middle;

      @include respond($break60) {
        font-size: 20px;
      }

      @include respond($break70) {
        font-size: 22px;
      }
    }

    .utility {
      display: table-cell;
      text-align: right;
      white-space: nowrap;
      vertical-align: middle;

      button {
        @include buttonUnstyled;
        margin-left: 7px;
        font-size: 15px;
        color: $neutral70;
        transition: color $duration $timing;
      }

      .manicon-arrow-up, .manicon-arrow-down, .manicon-pencil-simple {
        &:hover, &:focus {
          color: $accentPrimary;
          outline: 0;
        }
      }

      .manicon-x {
        &:hover, &:focus {
          color: $sp40Tertiary;
          outline: 0;
        }
      }
    }
  }
}
