.results-list {
  margin-top: 1em;

  &.flush {
    margin-top: 0;
  }

  .no-results {
    @include utilityPrimary;
    font-size: 15px;
    color: $neutral70;
  }

  ul {
    @include listUnstyled;

    li {
      display: flex;
      flex-direction: column;
      align-items: flext-start;
      justify-content: space-between;
      width: 100%;
      padding: 10px 0 14px;
      color: $neutral30;

      @include respond($break60) {
        flex-direction: row;
        align-items: center;
      }

      + li {
        border-top: 1px solid $neutral80;
      }

      &:last-child {
        padding-bottom: 24px;
      }

      &.no-icon {
        padding: 6px 0 14px;
      }

      &.state-pending{
        color: $sp30Primary;

        a {
          color: $sp30Primary;
        }
      }

      &.state-failed {
        color: $sp40Tertiary;
      }

      &.state-queued, &.state-importing {
        color: $sp30Secondary;

        a {
          color: $sp30Secondary;
        }
      }

      &.state-skipped {
        color: $neutral70;
      }

      &.state-imported {
        color: $accentPrimaryDull;

        a {
          color: $accentPrimaryDull;
        }
      }
    }

    .results-body {
      order: 1;

      @include respond($break60) {
        order: 0;
      }

      a {
        color: $accentPrimary;
      }
    }

    .results-header {
      @include formInputPrimary;
      width: 100%;
      margin: 0;
      font-size: 18px;
      line-height: 29px;

      @include respond($break60) {
        font-size: 20px;
      }

      @include respond($break70) {
        font-size: 22px;
      }

      .subtitle {
        @include headingSecondary;
        margin: 5px 0;
        font-size: 16px;
        line-height: 1.4;

        @include respond($break60) {
          font-size: 18px;
        }
      }

      .manicon {
        position: relative;
        top: 8px;
        margin-right: 10px;
        font-size: 14px;
      }
    }

    .results-desc {
      @include subtitlePrimary;
      padding-left: 25px;
      margin-top: 5px;
      color: $neutral50;

      &.flush {
        padding-left: 0;
      }

      .specifier {
        padding-left: 5px;
        color: $neutral30;
      }
    }

    .results-secondary {
      @include utilityPrimary;
      order: 0;
      margin-bottom: 2px; // NP
      font-size: 14px;
      color: $neutral70;
      white-space: nowrap;
      vertical-align: middle;

      @include respond($break60) {
        order: 1;
        margin-bottom: 0;
        margin-left: 12px;
        text-align: right;
      }

      @include respond($break65) {
        font-size: 16px;
      }

      a {
        color: $neutral50;
        text-decoration: none;
        transition: color $duration $timing;

        &:hover {
          color: $neutral20;
        }
      }

    }
  }
}
