.resource-kind-picker {
  padding-bottom: 40px;

  @include respond($break65) {
    padding-bottom: 12px;
  }

  ul {
    @include listUnstyled;
    display: none;
    flex-wrap: wrap;
    margin-left: -15px;

    @include respond($break65) {
      display: flex;
    }

    li {
      display: flex;
      width: 50%;
      padding-bottom: 15px;
      padding-left: 15px;

      @include respond($break60) {
        width: 25%;
      }

      @include respond($break80) {
        width: 20%;
      }
    }

    .button {
      @include buttonUnstyled;
      display: flex;
      width: 100%;
      padding: 18px 10px;
      color: $neutral50;
      border: 1px solid $neutral80;
      transition: background-color $durationFast $timing,
        border-color $duration $timing;

      &.active {
        background-color: $neutral80;
        border-color: $neutral80;
      }

      &:hover, &:focus {
        border-color: $accentPrimary;
        outline: 0;
      }
    }

    figure {
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: center;

      figcaption {
        @include templateHead;
        padding-bottom: 18px;
        font-size: 14px;
        font-weight: $medium;
        line-height: 1.2;
        text-transform: uppercase;
      }

      .resource-icon {
        margin: 0 auto;
      }
    }
  }

  .resource-label {
    @include utilityPrimary;
    padding-bottom: 3px;
    color: $neutral50;
    text-decoration: none;
    transition: color $duration $timing;
  }

  .picker-select {

    @include respond($break65) {
      display: none;
    }

    figure {
      height: 80px;

      svg {
        width: auto;
        height: 100%;
        fill: $neutral50;
      }
    }

    &.select-only {
      display: block;

      @include respond($break65) {
        padding-bottom: 28px;
      }
    }
  }
}
