.resource-kind-picker {
  $grid-gap: 15px;

  padding-bottom: 40px;

  ${respond(``, 65)}
    padding-bottom: 12px;
  }

  &__list {
    ${listUnstyled}
    display: none;
    flex-wrap: wrap;
    margin-left: -$grid-gap;

    ${respond(``, 65)}
      display: flex;
    }
  }

  &__item {
    ${buttonUnstyled}
    display: flex;
    flex-basis: calc(50% - #{$grid-gap});
    flex-direction: column;
    align-items: center;
    padding: 18px 10px;
    margin-bottom: $grid-gap;
    margin-left: $grid-gap;
    border: 1px solid var(--color-neutral-ui-dull-light);
    transition: background-color var(--transition-duration-fast) var(--transition-timing-function),
      border-color ${defaultTransitionProps};

    ${respond(``, 60)}
      flex-basis: calc(25% - #{$grid-gap});
    }

    ${respond(``, 80)}
      flex-basis: calc(20% - #{$grid-gap});
    }

    &--active {
      color: var(--color-neutral-text-extra-light);
      background-color: var(--color-base-neutral80);
      border-color: var(--color-base-neutral80);
    }

    &:hover,
    &:focus-within {
      border-color: var(--hover-color);
      outline: 0;
    }
  }

  &__label {
    font-family: var(--font-family-sans);
    padding-bottom: 18px;
    font-size: 14px;
    font-weight: var(--font-weight-medium);
    line-height: 1.2;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__select {
    ${respond(``, 65)}
      display: none;
    }

    &--only {
      display: block;

      ${respond(``, 65)}
        padding-bottom: 28px;
      }
    }
  }
}
