.texts-list {
  @include listUnstyled;
  @include templateHead;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: $semibold;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  transition: background-color 0.4s ease;

  &--active {
    background-color: lighten($neutral90, 3%);
  }

  &--empty {
    position: relative;
    min-height: 87px;

    p {
      @include utilityPrimary;
      width: 100%;
      padding: 16px;
      font-size: 14px;
      text-align: center;
      border: 1px solid $neutral80;
    }
  }

  &__text {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8px 16px;
    margin: 8px;
    background: $neutral95;
    border-radius: 8px;

    &--is-dragging {
      @include dragging;
    }

    &--placeholder {
      position: absolute;
      width: 100%;
      padding-right: 38px;
      background: none;
    }

  }

  &__details {
    display: flex;
    flex-direction: row;
    text-decoration: none;

    &:hover {
      color: inherit;
    }
  }

  &__title-wrapper {
    padding-left: 16px;
  }

  &__title {
    margin: 0 0 0.4em;
    font-size: 17px;
    hyphens: none;
    color: $neutralTextExtraLight;
    transition: color $duration $timing;
  }

  &__subtitle {
    margin: 7px 0 0 15px;
    transition: color $duration $timing;
  }

  &__labels {
    display: inline-block;
    margin: 0;
  }

  &__label {
    @include blockLabelRound;
    position: relative;
    display: inline-block;
    padding: 0.333em 5px;
    margin: -3px 0 0;
    font-size: 9px;
    line-height: 1.2em;
    color: $neutralUIExtraDark;
    vertical-align: middle;
    background-color: $neutralTextExtraLight;

    + .texts-list__label {
      margin-left: 14px;
    }
  }

  &__date {
    @include utilityPrimary;
    display: inline-block;
    font-size: 12px;
    font-weight: $medium;
  }

  &__icon {
    img {
      position: relative;
      left: 6px;
      max-width: 38px;
      margin-top: 4px;
      margin-right: 12px;
    }

    svg {
      width: 50px;
      height: 50px;

      path {
        fill: $neutral20;
      }
    }
  }

  &__utility {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 14px;
    transition: transform $duration $duration $timing;
    transform: translateX(80px);

    &--keyboard-buttons-visible {
      transition: transform $duration $timing;
      transform: translateX(0);
    }

    @include respond($break35, max) {
      transition: none;
      transform: translateX(0);
    }

    > * + * {
      margin-left: 14px;
    }
  }

  &__button {
    @include buttonUnstyled;
    @include outlineOnFocusVisible($defaultFocusColor);
    display: block;
    padding: 0;

    &--notice {
      &:hover {
        color: $defaultErrorColor;
      }
    }
  }

  &__keyboard-buttons {
    display: inherit;
    visibility: hidden;
    opacity: 0;
    transition: opacity $duration $timing, visibility $duration $duration $timing;

    .texts-list__utility--keyboard-buttons-visible & {
      visibility: visible;
      opacity: 1;
      transition: opacity $duration $duration / 2 $timing, visibility $duration $duration / 2 $timing;
    }

    @include respond($break35, max) {
      width: 0;
      margin-left: 0;
      transition: none;
    }

    > * + * {
      margin-left: 14px;
    }
  }
}
