// Search Menu button and panel global styles (see header styles for context specific styles)
.button-search {
  @include buttonUnstyled;
  height: 100%;
  font-size: 20px;
  color: $neutral50;
  transition: background-color $duration $timing;
}

.search-menu {
  width: 100vw;
  background-color: $neutral10;

  .header-app & {
    padding: 28px 22px 22px;

    @include respond($break40) {
      padding: 20px 24px 22px;
    }
  }

  .header-reader & {
    padding: 23px 18px 12px;

    @include respond($break40) {
      padding: 28px 22px 16px;
    }

    @include respond($break60) {
      padding: 32px 30px 19px;
    }
  }


  @include respond($break70) {
    width: auto;
  }

}
