// Search Menu button and panel global styles (see header styles for context specific styles)
.button-search {
  $tailHeight: 17px;

  @include buttonUnstyled;
  height: 100%;
  padding: 10px;
  color: $neutral70;
  color: var(--button-color, $neutral70);
  vertical-align: middle;
  transition: background-color $duration $timing;

  &:focus {
    color: $accentPrimary;
    outline: 0;
  }

  &::after {
    @include tailUp($neutral10, $tailHeight);
    position: absolute;
    bottom: 14px;
    top: calc(100% - #{$tailHeight});
    left: 50%;
    display: block;
    margin-left: -15px;
    content: '';
    opacity: 0;
    transition: transform $duration $timing, opacity $duration $timing;
    transform: translateY(-1 * header-layout(menu-slide-distance));
  }

  &--active::after {
    opacity: 1;
    transform: translateY(0px);
  }
}

.search-menu {
  @include boxShadow;
  width: 100vw;
  background-color: $neutral10;
  border-radius: $panelRoundedRadius;

  .header-app & {
    padding: 28px 22px 22px;

    @include respond($break40) {
      padding: 20px 24px 22px;
    }
  }

  .header-reader & {
    padding: 23px 18px 12px;

    @include respond($break40) {
      padding: 28px 22px 16px;
    }

    @include respond($break60) {
      padding: 32px 30px 19px;
    }
  }


  @include respond($break70) {
    width: auto;
  }

  // browse styles
  position: absolute;
  right: -$containerPaddingRespGlobal;
  max-width: 100vw;
  white-space: nowrap;

  @include respond($break120) {
    right: -$containerPaddingFull;
  }
}
