.search-query {
  --default-hover-color: #{$accentInteractionDark};

  color: $neutralTextDark;

  // Input defaults
  &__input {
    @include templateHead;
    width: 100%;
    padding: 0.444em 0.889em;
    font-size: 16px;
    background-color: $neutral05;
    border: 3px solid transparent;
    outline: none;
    appearance: none;

    &:focus-visible {
      outline: 0;

      &::placeholder {
        color: $neutralTextExtraDark;
      }
    }

    .search-menu & {
      background-color: $neutralWhite;
    }

    @include respond($break70) {
      font-size: 18px;
    }
  }

  // Can be abstracted to shared if used elsewhere
  &__input-magnify {
    position: relative;
    width: 100%;

    @include respond($break40) {
      min-width: 380px;
    }

    .search-query__input {
      padding-left: 56px;
      border-radius: 8px;
    }
  }

  // Can be button or a simple icon
  &__submit {
    @include buttonUnstyled;
    position: absolute;
    top: 50%;
    left: 20px;
    margin-top: -9px;
    line-height: 0;
  }

  &__filters {
    padding-top: 36px;
  }

  &__checkbox {
    @include utilityPrimary;
    font-size: 13px;
  }

  &__checkbox-group {
    display: flex;
    flex-wrap: wrap;
  }

  &__group-label {
    @include utilityPrimary;
    position: relative;
    display: block;
    padding-top: 2px;
    margin-top:  0;
    margin-right: 30px;
    margin-bottom: 13px;
    font-size: 13px;
  }

  &__checkbox {
    position: relative;
    display: block;
    width: 100%;
    margin-right: 36px;
    margin-bottom: 10px;

    & + & {
      margin-left: 0;
    }

    @include respond($break50) {
      width: auto;
      margin-bottom: 14px;
    }

    @include respond($break70) {
      margin-right: 30px;
      margin-bottom: 14px;
    }
  }

  + .search-query__filters {
    padding-top: 40px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    padding-top: 11px;
  }

  &__description {
    @include templateCopy;
    font-size: 14px;
    font-style: italic;
  }

  &__button-primary {
    font-size: 15px;
  }
}
