.action-callout-slot {
  $gutter: 24px;
  $padding: 14px;

  display: flex;
  width: 100%;
  padding: $gutter / 2 0;

  &--active {
    .action-callout-slot__content {
      background-color: lighten($neutral90, 5%);
    }
  }

  &__content {
    @include panelRounded;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    padding: $padding;

    background: $neutral90;
    transition: background-color $duration $timing;
  }

  &__button {
    @include buttonUnstyled;
    @include utilityPrimary;
    padding: 8px 4px;
    font-size: 12px;
    font-weight: $semibold;
    color: $neutral45;
    transition: color $duration $timing;
    --hover-color: #{$accentPrimary};

    &--header {
      margin-bottom: 4px;

      svg {
        margin-right: 8px;
      }

    }

    &--draggable {
      display: inline-block;
      cursor: move; // fallback for older browsers
      cursor: grab;
      user-select: none;
      -webkit-touch-callout: none;
    }

    &:focus-visible {
      color: $accentPrimary;
      outline: 0;
    }

    &:not(:disabled):hover {
      color: $accentPrimary; // fallback
      color: var(--hover-color, $accentPrimary);
    }
  }

  &__chips {
    flex-grow: 1;
    width: 100%;
    min-height: 70px;
    padding: 0;
  }

  &__chip {
    padding: 5px 0;
  }

  &__chip-inner {
    @include utilityPrimary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 15px 11px;
    font-size: 12px;
    line-height: 1.2;
    color: $neutral50;
    letter-spacing: 0.125em;
    background: $neutral95;
    border-radius: 5px;
  }

  &__chip-title {
    flex-grow: 1;
  }

  &__chip-utility {
    display: flex;
    margin-left: 10px;
  }
}
