.content-block {
  padding-top: 9px;
  padding-bottom: 9px;

  &--inactive {
    color: $neutralUIDullLight;
  }

  &--active {
    color: $neutralTextLight;
  }

  &__inner {
    @include panelRoundedDark;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 9px 14px 11px;
    cursor: move; // fallback for older browsers
    cursor: grab;
    color: inherit;
    border: 1px solid transparent;
    transition: border-color 0.2s;

    .content-block--current & {
      padding-right: 12px;
      cursor: default;

      @include respond($break90) {
        padding: 10px 19px 10px 23px;
      }
    }

    .content-block--is-dragging & {
      @include boxShadow(0, 31px, 26px, -13px, $neutralBlack, 0.33);
    }

    .content-block--inactive & {
      cursor: not-allowed;
    }

    &:focus-visible {
      border-color: $accentPrimary;
      outline: 0;

      .content-block--available.content-block--active & {
        .content-block__heading {
          color: $accentPrimary;
        }
      }
    }
  }

  &__heading {
    display: flex; // use flexbox as fallback
    flex-grow: 1;
    align-items: center;
    color: $neutralUILight;
    transition: color $duration $timing;

    // enhance with grid if browser supports
    @supports (grid-auto-columns: min-content) {
      display: grid;
      grid-template-columns: max-content auto;
    }

    .content-block--active & {
      color: $neutralTextExtraLight;
    }

    .content-block--active.content-block--available &:hover {
      @include defaultHoverStyle;
    }
  }

  &__icon {
    &--large {
      width: 36px;
      height: 36px;

      @include respond($break90) {
        width: 46px;
        height: 46px;
      }
    }

    &--incomplete {
      color: $defaultNoticeColor;
    }
  }

  &__title {
    @include templateHead;
    margin-left: 15px;
    font-size: 17px;
    font-weight: $regular;

    &--small {
      margin-bottom: 3px;
    }

    &--large {
      margin-right: 8%;
      margin-bottom: 5px;
      font-weight: $medium;

      @include respond($break90) {
        margin-left: 23px;
        font-size: 20px;
      }
    }
  }

  &__label {
    @include blockLabelRound;
    position: relative;
    display: inline-block;
    padding: 0.333em 5px;
    margin: -2px 0 0 14px;
    font-size: 9px;
    line-height: 1.2em;
    color: $neutral85;
    vertical-align: middle;
    background-color: $neutral30;
  }

  &__button-list {
    display: flex;

    > * + * {
      margin-left: 2vw;

      @include respond($break60) {
        margin-left: 14px;
      }
    }
  }

  &__button {
    @include buttonUnstyled;

    &--delete {
      --default-hover-color: #{$sp40Tertiary};
    }

    &--draggable {
      cursor: move; // fallback for older browsers
      cursor: grab;
      user-select: none;
      -webkit-touch-callout: none;
    }

    &:disabled {
      cursor: not-allowed;

      &:hover {
        color: inherit;
      }
    }
  }
}
