// a layout class for vertically stacking blocks. that's it!
.content-block-list {
  $list-margin: 9px;

  @include panelRounded;
  display: block;
  padding: 0 $list-margin;
  margin-top: 16px;
  margin-right: -$list-margin;
  margin-left: -$list-margin;
  background-color: transparent;
  transition: background-color 0.4s ease;

  + .content-block-list {
    margin-top: 0;
  }

  &--show-dropzone + .content-block-list {
    margin-top: 16px;
  }

  &--show-dropzone {
    min-height: 85px;
    background-color: lighten($neutral90, 5%);
  }
}
