// a layout class for vertically stacking blocks. that's it!
.content-block-list {
  @include dropzone;

  + .content-block-list {
    margin-top: 0;
  }

  &--show-dropzone + .content-block-list {
    margin-top: 16px;
  }

  &--show-dropzone {
    min-height: 85px;
  }
}
