// Blocks used as part of the backend hero builder interface.
.hero-builder-block {
  $heroBlockPadding: 24px;

  @include panelRoundedDark;
  padding: $heroBlockPadding $heroBlockPadding $heroBlockPadding / 2;
  margin-top: 18px;
  margin-bottom: 21px;


  &__header {
    @include buttonUnstyled;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $heroBlockPadding / 2;
    text-align: start;

    &:hover {
      color: $neutralTextLight;
    }
  }

  &__header-details {
    flex-grow: 1;
  }

  &__title {
    @include templateHead;
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: $medium;
    color: $neutralTextExtraLight;
    transition: color $duration $timing;

    .hero-builder-block__header:hover & {
      @include defaultHoverStyle;
    }
  }

  &__description {
    @include templateCopy;
    font-style: italic;
  }

  &__button {
    display: flex;
    align-items: center;

    .hero-builder-block__header:focus-visible & {
      svg {
        color: $defaultHoverColor;
      }

      .hero-builder-block__button-label {
        @include respond($break40) {
          color: $defaultHoverColor;
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  &__header:hover &__button {
    @include defaultHoverStyle;

    .hero-builder-block__button-label {
      @include respond($break40) {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__button-label {
    margin-right: 10px;
    font-size: 12px;
    font-weight: $semibold;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity $duration $timing;
  }

  &__body {
  }

}
