files:
  "/home/ec2-user/oauth.yml":
    mode: "000644"
    owner: webapp
    group: webapp
    source: https://elasticbeanstalk-us-east-1-403395214517.s3.amazonaws.com/fulltext-config/oauth.yml

container_commands:
  01_mv_to_app_dir:
    command: "mv /home/ec2-user/oauth.yml ./api/config/oauth.yml"