.resource-detail {
  @include clearfix;
  padding-top: 22px;

  .container {
    @include clearfix;
  }

  .resource-slide-audio {
    height: auto;
  }

  .resource-kind {
    display: flex;
    align-items: center;

    @include respond($break60) {
      width: 100%;
    }

    + .resource-title {
      padding-top: 7px;
    }

    h3 {
      @include utilityPrimary;
      margin: -8px 0 0;
      font-size: 13px;
      color: $neutral50;

      @include respond($break60) {
        margin: 0;
      }
    }

    .resource-icon {
      padding-right: 14px;

      @include respond($break60) {
        display: none;
      }

      svg {
        fill: $neutral50;
      }
    }
  }

  .resource-date {
    @include subtitlePrimary;
    width: 100%;
    font-size: 16px;

    .bg-neutral90 & {
      color: $neutral40;
    }
  }

  .resource-content {
    // Default font-treatment
    @include templateCopy;
    font-size: 14px;
    line-height: 1.4;

    @include respond($break60) {
      font-size: 16px;
    }

    &.left {
      @include respond($break65) {
        float: right;
        width: 68%;
        padding-right: 8.45%;
      }
    }

    .attribute-header {
      @include utilityPrimary;
      margin-top: 2em;
      font-size: 12px;
    }

    p + p {
      margin-top: 1em;
    }

    a {
      color: $neutral75;

      &:visited {
        color: $neutral75;
      }
    }
  }

  aside {
    @include respond($break65) {
      float: right;
      width: 32%;
    }

    .button-primary {
      width: calc(50% - 7px);
      padding: 0.813em 0.8em;
      margin-bottom: 0.929em;
      font-size: 12px;
      line-height: 13px; // OD
      text-align: center;

      @include respond($break50) {
        width: 180px;
        padding: 0.813em 1.438em;
        font-size: 14px;
      }

      @include respond($break65) {
        display: flex;
        max-width: 100%;
      }

      + .button-primary {
        margin-left: 14px;

        @include respond($break65) {
          margin-left: 0;
        }
      }
    }

    .share-nav-primary {
      margin: 21px 0 35px; // To place it below the fold on tablet landscape.
      @include respond($break110) {
        margin: 21px 0 29px;
      }
    }

    .resource-meta {
      display: none;

      @include respond($break65) {
        display: block;
      }
    }
  }

  .resource-meta-mobile {

    @include respond($break65) {
      display: none;
    }
  }

  .resource-comments {
    padding-top: 16px;
    margin-top: 54px;
    border-top: 1px solid $neutral45;

    .comment-list {
      padding-left: 0;
    }

    > .annotation-editor {
      padding-top: 16px;
      padding-left: 0;
    }
  }
}
