.resource-hero-container {
  @include respond($break60) {
    @include containerPrototype;
  }

  .overlay-full & {
    margin-top: 17px;

    @include respond($break60) {
      margin-top: 40px;
    }
  }
}

.resource-hero {
  position: relative;

  .resource-slide-figure {
    margin-bottom: 32px;

    @include respond($break50) {
      margin-bottom: 40px;
    }

    .overlay-full & {
      margin-bottom: 19px;
    }
  }
}

