.resource-variant-list {
  @include listUnstyled;
  @include utilityPrimary;
  display: none;
  font-size: 13px;

  @include respond($break65) {
    display: block;
  }

  .section-title {
    margin-bottom: 10px;
    color: $neutral40;
  }

  li {
    white-space: nowrap;

    a {
      display: inline-flex;
      color: $neutralBlack;
      text-decoration: none;
      transition: color $duration $timing;

      span {
        white-space: pre-wrap;
      }

      &:hover {
        color: $accentPrimary;
      }
    }

    .manicon {
      display: inline-block;
      margin-right: 7px;
      font-size: 15px;
      color: $accentPrimary;
      text-decoration: none;
    }

    + li {
      margin-top: 10px;
    }
  }
}

.resource-variants-mobile .resource-variant-list {
  display: block;
  margin-bottom: 25px;

  @include respond($break65) {
    display: none;
  }
}
