.resource-variant-list {
  @include listUnstyled;
  @include utilityPrimary;
  display: none;
  font-size: 13px;

  @include respond($break65) {
    display: block;
  }

  .resource-variants-mobile & {
    display: block;
    margin-bottom: 25px;

    @include respond($break65) {
      display: none;
    }
  }

  &__section-title {
    margin-bottom: 10px;
    color: $neutral40;
  }

  &__list {
    @include listUnstyled;
  }

  &__item {
    white-space: nowrap;

    & + & {
      margin-top: 10px;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    color: $neutralBlack;
    text-decoration: none;
    transition: color $duration $timing;

    &:hover {
      color: $accentPrimary;
    }
  }

  &__link-text {
    white-space: pre-wrap;
  }

  &__link-icon {
    position: relative;
    top: 1px;
    margin-right: 6px;
    margin-left: -1px;
    color: $accentPrimary;
  }
}
