// This is a comprehensive component that contains styles
// for the annotation itself as well as the comment list
.annotation-detail {
  .container {
    @include drawerPadding(padding-right, 'heavy');
    @include drawerPadding(padding-left);
  }
}

.annotation-annotation, .annotation-comment {
  // These are almost identical, but two classes are used
  // for sanity, as they are quite different in use and
  // may also have scope based variants
  .body {
    @include templateHead;
    @include drawerIndent(padding-left);
    font-weight: $regular;
    line-height: 1.375;

    a {
      color: $accentPrimaryMedium;

      &:hover {
        color: $accentPrimaryDark;
      }
    }


  }

  // Direct scoping because nested comments also have utility
  .utility {
    margin-top: 5px;

    > ul {
      @include listHorizontal;
      @include drawerIndent(padding-left);
      display: flex;

      > li {
        + li {
          margin-left: 1.571em;
        }
      }

      .confirmation {
        label {
          font-size: 14px;
        }
      }

      a, button {
        @include listButtonSimple

        &.secondary {
          color: $sp40Tertiary;
        }
      }
    }
  }
}

.annotation-more {
  padding-top: 30px;

  a {
    text-decoration: none;
  }

  .label {
    @include utilityPrimary;
    display: block;
    padding-top: 6px;
    padding-bottom: 24px;
    font-size: 14px;
    color: $neutral70;
  }
}

.comment-more {
  @include utilityPrimary;
  @include buttonUnstyled;
  display: block;
  width: 100%;
  padding-top: 13px;
  margin-top: 45px;
  font-size: 15px;
  color: $accentPrimaryDark;
  text-align: left;
  border-top: 1px solid $neutral20;

  .manicon {
    margin-right: 12px;
    font-size: 2.267em;
    color: $neutral40;
    vertical-align: middle;
  }
}
