.annotation-selection {
  &__text-container {
    @include templateHead;
    @include drawerPadding(padding-right, 'heavy');
    @include drawerPadding(padding-left);
    line-height: 1.6;
    word-wrap: break-word;

    &--dark {
      position: relative;
      background-color: $neutral10;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      padding-top: 23px;
      padding-bottom: 23px;
      transition: background-color $duration $timing;
      font-size: 16px;

      @include respond($break80) {
        font-size: 18px;
        padding-top: 31px;
        padding-bottom: 25px;
      }
    }

    &--light {
      background-color: $neutral05;
      padding-top: 30px;
      padding-bottom: 26px;
      font-size: 18px;

      @include respond($break80) {
        padding-top: 41px;
        padding-bottom: 34px;
        font-size: 20px;
      }
    }
  }

  &__hover-link {
    &:hover {
      background-color: $neutral20;

      .annotation-selection__hover-arrow {
        opacity: 1;
      }

      .annotation-selection__truncated-wrapper::after {
        background: linear-gradient(to top, $neutral20 10%, transparentize($accentPrimary, 1) 100%);
      }
    }
  }

  &__container {
    @include drawerIndent(padding-left);
    position: relative;
    padding-right: 0; // OD
  }

  &__icon {
    position: absolute;
    top: 2px;
    left: 0;
    color:$accentPrimary;
    transform: rotateX(180deg);
  }

  &__truncated-wrapper {
    position: relative;
    overflow: hidden;
    transition: height $duration $timing;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4em;
      content: '';
      opacity: 0;
      transition: opacity $durationSlow $timing $duration;
    }

    &--light::after {
      background: linear-gradient(to top, $neutral05 10%, transparentize($accentPrimary, 1) 100%);
    }

    &--dark::after {
      background: linear-gradient(to top, $neutral10 10%, transparentize($accentPrimary, 1) 100%);
    }

    &--blur::after {
      opacity: 1;
    }
  }

  &__expand-button {
    @include buttonTrimPrimary;
    position: relative;
    margin-top: -8px;
    color: $neutralOffBlack;
    visibility: visible;
    opacity: 1;
    padding-top: 11px;
    padding-bottom: 0;
    border: 0; // OD
    border-top: 2px solid $neutral90;
    transition: margin $duration linear,
      color $duration $timing,
      opacity $duration $timing $durationFast,
      visibility $duration $timing $durationFast;

    &:hover {
      color: $neutral75;
    }

    &--hidden {
      margin-top: -38px;
      visibility: hidden;
      opacity: 0;
    }
  }

  &__button {
    @include buttonUnstyled;
    @include utilityPrimary;
    @include drawerIndent(margin-left);
    display: block;
    margin-top: 20px;
    font-size: 14px;
    color: $accentPrimary;
    transition: color $duration $timing;

    &:hover, &:focus-visible {
      color: $accentPrimaryDark;
      outline: 0;
    }
  }

  &__button-absolute {
    @include buttonUnstyled;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__source-summary {
    padding-top: 3px;
    color: $neutral90;
  }

  &__source-summary-text {
    @include templateCopy
    font-size: 14px;

    @include respond($break80) {
      font-size: 16px;
    }
  }

  &__hover-arrow {
    margin-left: 12px;
    opacity: 0;
    transition: opacity $duration $timing;
  }
}
