.breadcrumb-primary {
  @include utilityPrimary;
  display: block;
  padding: 10px 0 12px;
  font-size: 16px;
  line-height: 1.4;
  color: $neutral70;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0;
  background-color: $neutral100;

  @include respond($break50) {
    font-size: 20px;
  }

  .container {
    position: relative;
    padding-left: calc(#{$containerPaddingResp} + 25px);

    @include respond($break50) {
      padding-left: 60px;
    }
  }

  a {
    color: $neutral70;
    text-decoration: none;
    transition: color $duration $timing;

    &:hover, &:focus {
      color: $accentPrimary;
      outline: 0;
    }
  }

  .manicon {
    position: absolute;
    top: 0.28em;
    left: $containerPaddingResp;
    font-size: 13px;

    @include respond($break50) {
      top: 10px;
      left: 25px;
    }
  }
}
