.breadcrumb-primary {
  @include utilityPrimary;
  display: block;
  padding: 14px 0 16px;
  text-transform: none;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0;
  color: $neutral70;
  background-color: $neutral110;
  text-decoration: none;

  @include respond($break50) {
    font-size: 20px;
  }

  .container {
    position: relative;
    padding-left: calc(#{$containerPaddingResp} + 25px);

    @include respond($break50) {
      padding-left: 60px;
    }
  }

  .initial {
    color: $neutral70;
    text-decoration: none;
  }


  // Breadcrumb list
  ul {
    @include listHorizontal;
    display: inline;

    li {
      &::after {
        display: inline-block;
        padding: 0 11px;
        color: $neutral50;
        content: '/';
      }

      &:last-child::after {
        display: none;
      }
    }

    a {
      color: $neutral50;
      text-decoration: none;
      transition: color $duration $timing;

      &:hover, &:focus {
        color: $accentPrimary;
        outline: 0;
      }
    }
  }

  .manicon {
    position: absolute;
    top: 0.28em;
    left: $containerPaddingResp;
    font-size: 13px;

    @include respond($break50) {
      top: 10px;
      left: 25px;
    }
  }
}
