// Reset bare button class for using icons only
.button-bare-icon {
  @include buttonUnstyled;
}

.button-bare-primary {
  @include buttonUnstyled;
  @include utilityPrimary;
  display: inline-block;
  font-size: 13px;
  color: $neutral50;
  text-decoration: none;
  transition: color $duration $timing;

  &:hover, &:active {
    color: $accentPrimary;
  }

  &:focus {
    color: $neutral95;
    outline: 0;

    .drawer-backend &, .bg-neutral90 & {
      color: $neutral80;
    }
  }
}

// Vertical arrangement for bare buttons.
.buttons-bare-vertical {
  .button-bare-primary {
    margin-bottom: 11px;
    font-size: 14px;

    @include respond($break65) {
      font-size: 16px;
    }
  }

  .manicon {
    margin-left: 13px;
    line-height: 16px;
    color: $accentPrimary;
    vertical-align: middle;
  }

  .manicon-key {
    font-size: 11px;
  }

  .manicon-trashcan {
    font-size: 16px;
    color: $sp40Tertiary;
  }
}

// Can be a <button> or an <a>
.button-primary {
  @include buttonUnstyled;
  @include utilityPrimary;
  display: inline-block;
  padding: 9px 23px 10px;
  color: $neutral95;
  text-align: center;
  text-decoration: none;
  border: 2px solid $accentPrimary;
  transition: background-color $duration $timing,
    color $duration $timing;

  &.dull {
    color: $neutral50;
    border-color: $neutral50;

    &:hover {
      background-color: $neutral05;
    }

    &:focus {
      background-color: $focusSecondary;
    }

    &:active {
      color: $neutralWhite;
      background-color: $neutral50;
    }

    .bg-neutral05 & {
      &:hover {
        color: $neutralWhite;
        background-color: $neutral50;
      }
    }
  }

  &:hover {
    background-color: $accentPrimaryOffWhite;
  }

  &:focus {
    background-color: $focusPrimary;
    outline: 0;
  }

  &:active {
    color: $neutralWhite;
    background-color: $accentPrimary;
  }
}

// Large transparent button with icon on the left
.button-icon-primary {
  @include buttonUnstyled;
  @include utilityPrimary;
  display: block;
  height: 48px;
  padding: 14px 20px 0;
  font-size: 12px;
  font-weight: $bold;
  color: $neutral75;
  text-align: center;
  text-decoration: none;
  border: 2px solid $accentPrimary;
  transition: color $duration $timing, background-color $duration $timing;

  @include respond($break60) {
    display: inline-block;
    height: 71px;
    padding: 22px 30px 0;
    font-size: 15px;
  }

  &:hover {
    background-color: $accentPrimaryOffWhite;
  }

  &:focus {
    background-color: $focusPrimary;
    outline: 0;
  }

  &:active {
    color: $neutralWhite;
    background-color: $accentPrimary;

    .manicon {
      color: $neutralWhite;
    }
  }

  .bg-neutral05 & {
    &:hover {
      color: $neutralWhite;
      background-color: $accentPrimary;

      .manicon {
        color: $neutralWhite;
      }
    }
  }

  span {
    display: inline-block;
  }

  .manicon {
    display: inline-block;
    padding-bottom: 10px;
    margin-right: 14px;
    color: $neutral70;
    vertical-align: top;
    transition: color $duration $timing;
  }

  // Font sizes in EM to be relative to text
  .manicon-books-on-shelf {
    margin-top: -7px;
    font-size: 2.4em;
  }

  .manicon-lamp {
    margin-top: -6px;
    font-size: 2.3em;
  }

  .manicon-books-with-glasses {
    margin-top: -3px;
    font-size: 1.933em;
  }
}

// Used in backend for "add" buttons
// Can be an <a> or a <button>
.button-icon-secondary {
  @include templateHead;
  @include buttonUnstyled;
  display: inline-flex;
  align-items: baseline;
  padding: 0.667em 17px 0.778em;
  font-size: 16px;
  color: $accentPrimary;
  text-align: left;
  text-decoration: none;
  letter-spacing: 0.015em;
  border: 1px solid $accentPrimary;
  transition: color $duration $timing,
    background-color $duration $timing;

  @include respond($break60) {
    font-size: 18px;
  }

  &:disabled {
    color: $neutral80;
    border: 1px solid $neutral80;
  }

  &:hover:not([disabled]) {
    background-color: $accentPrimaryOffWhite;
  }

  &:focus:not([disabled]) {
    background-color: $focusPrimary;
    outline: 0;
  }

  &:focus:disabled {
    outline-offset: 2px;
  }

  &:active:not([disabled]) {
    color: $neutralWhite;
    background-color: $accentPrimary;

    .manicon {
      color: $neutralWhite;
    }
  }

  .bg-neutral05 &:not([disabled]) {
    &:hover {
      color: $neutralWhite;
      background-color: $accentPrimary;

      .manicon {
        color: $neutralWhite;
      }
    }

    &:focus {
      color: $accentPrimary;
      background-color: $neutral30;
      outline: 0;

      .manicon {
        color: $accentPrimary;
      }
    }
  }

  .bg-neutral90 &:not([disabled]) {
    &:hover {
      color: $neutral90;
      background-color: $accentPrimary;

      .manicon {
        color: $neutral90;
      }
    }

    &:focus {
      color: $accentPrimary;
      background-color: $neutral95;
      outline: 0;

      .manicon {
        color: $accentPrimary;
      }
    }
  }

  .dialog-primary .dialog-box &:not([disabled]) {
    &:hover {
      color: $neutral100;
      background-color: $accentPrimary;

      .manicon {
        color: $neutral100;
      }
    }

    &:focus {
      color: $accentPrimary;
      background-color: $neutral100;
      outline: 0;

      .manicon {
        color: $accentPrimary;
      }
    }
  }

  .dialog-primary .dialog-box &.dull, &.dull {
    color: $neutral50;
    border-color: $neutral50;

    &:hover {
      color: $neutral50;
      background-color: $neutral05;

      .manicon {
        color: $neutral50;
      }
    }

    &:focus {
      color: $neutral50;
      background-color: $focusSecondary;

      .manicon {
        color: $neutral50;
      }
    }

    &:active {
      color: $neutralWhite;
      background-color: $neutral50;

      .manicon {
        color: $neutralWhite;
      }
    }
  }
  //
  // .manicon {
  //   transition: color $duration $timing;
  // }

  .manicon-copy {
    display: inline-block;
    margin-top: -4px;
    margin-right: 8px;
    font-size: 1.4em;
  }

  .manicon-plus {
    display: inline-block;
    margin-right: 1.286em;
    font-size: 0.778em;
  }

  .manicon-cube-multiple {
    display: inline-block;
    margin-right: 0.85em;
    font-size: 1.2em;
    vertical-align: middle;
  }

  .manicon-check.small,
  .manicon-x.small,
  .manicon-arrow-right.small,
  .manicon-arrow-left.small {
    margin-right: 16px;
    font-size: 12px;

    &::before {
      position: relative;
      top: 6px;
    }
  }
}

// Button group, starts horizontal and drops
// to vertical by default, can maintain horizontal
// progress with class "maintain"
.buttons-icon-horizontal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 35px;

  &.right {
    justify-content: flex-end;
  }

  &.maintain {
    flex-wrap: nowrap;

    .button-icon-secondary {
      width: calc(50% - 8px);
    }
  }

  @include respond($break85) {
    font-size: 0;
  }

  .button-icon-secondary {
    display: block;
    width: 100%;
    margin-bottom: 15px;

    @include respond($break85) {
      display: inline-block;
      width: calc(50% - 17px);
    }
  }

  // Swap full/abbreviated text if there is any
  .full {
    display: none;

    @include respond($break85) {
      display: inline;
    }
  }

  .abbreviated {
    @include respond($break85) {
      display: none;
    }
  }
}

// Can be an <input>, <button>, or an <a>
%button-secondary-prototype {
  @include buttonUnstyled;
  @include templateHead;
  display: inline-block;
  // TODO: Determine default side padding
  padding: 1.214em 16px 1.286em;
  font-size: 12px;
  font-weight: $semibold;
  color: $neutral80;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  background-color: $accentPrimary;
  transition: color $duration $timing,
    background-color $duration $timing;

  @include respond($break60) {
    font-size: 14px;
  }

  &:hover {
    background-color: $accentPrimaryDull;
  }

  &:focus {
    background-color: $focusPrimary;
    outline: 0;
  }

  &:active{
    color: $neutralWhite;
    background-color: $accentPrimaryDark;
  }

  &.dull {
    background-color: $neutral10;

    &:hover {
      background-color: $neutral10;
    }

    &:focus {
      background-color: $neutral30;
      outline: 0;
    }

    &:active {
      color: $neutralWhite;
      background-color: $neutral50;
    }
  }

  .bg-neutral90 & {
    &:hover {
      color: $neutral90;
      background-color: $accentPrimaryDull;
    }

    &:focus {
      color: $neutralWhite;
      background-color: $neutral95;
      outline: 0;
    }

    &:active{
      color: $neutral90;
      background-color: $accentPrimaryDark;
    }
  }

  &.outlined {
    padding: 1em 30px 1.2em;
    color: $accentPrimary;
    background: none;
    border: 1px solid $accentPrimary;

    &:hover, &:focus {
      color: $neutral90;
      background-color: $accentPrimary;
      outline: 0;

      .manicon {
        color: $neutral90;
      }
    }

    .bg-neutral90 & {
      color: $neutralWhite;

      &:hover {
        color: $neutral90;
        background-color: $accentPrimary;

        .manicon {
          color: $neutral90;
        }
      }

      &:focus {
        color: $neutralWhite;
        background-color: $neutral95;
        outline: 0;

        .manicon {
          color: $neutralWhite;
        }
      }
    }

    .bg-neutral100 &, .drawer-backend &, .dialog-primary .dialog-box & {
      color: $neutralWhite;

      &:focus {
        color: $neutralWhite;
        background-color: $neutralBlack;
        outline: 0;

        .manicon {
          color: $neutralWhite;
        }
      }
    }

    &.dull {
      color: $neutral70;
      border-color: $neutral70;

      &:hover, &:focus {
        color: $neutral90;
        background-color: $neutral70;
        outline: 0;

        .manicon {
          color: $neutral90;
        }
      }

      .manicon {
        color: $neutral70;
      }
    }
  }

  .manicon {
    display: inline-block;
    vertical-align: middle;
    transition: color $duration $timing;

    // Span generated by React
    + span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  // Size relative to button font-size
  .manicon-arrow-left {
    margin-top: -3px;
    margin-right: 17px;
    font-size: 1em;
  }

  .manicon-arrow-right {
    margin-top: -3px;
    margin-left: 17px;
    font-size: 1em;
  }

  .manicon-arrow-long-right {
    margin-top: -3px;
    margin-left: 17px;
    font-size: 1em;
  }

  .manicon-arrow-down {
    margin-top: -3px;
    margin-left: 17px;
    font-size: 1em;
  }

  .manicon-glasses {
    margin-right: 10px;
    font-size: 1.5em;
  }

  .manicon-bullet-list {
    margin-right: 12px;
    font-size: 1.214em;
  }

  .manicon-facebook {
    width: 38px;
    font-size: 1.786em;
  }

  .manicon-twitter {
    width: 38px;
    font-size: 1.571em;
  }

  .manicon-envelope {
    width: 38px;
  }
}

.button-secondary {
  @extend %button-secondary-prototype;
}

// Left aligned and dark
.button-secondary-dark {
  @extend %button-secondary-prototype;
  color: $neutral40;
  text-align: left;
  background-color: $neutral80;

  .bg-neutral90 & {
    &:hover {
      color: $neutral95;
    }

    &:focus {
      background-color: $neutral95;
    }

    &:active {
      color: $neutral95;
    }
  }
}

// Button with price-tag
.button-tagged {
  @extend %button-secondary-prototype;
  display: table;
  height: 46px;
  padding: 0;
  font-size: 12px;
  color: $neutralWhite;
  background-color: $neutralWhite;

  @include respond($break50) {
    height: 54px;
    padding: 0;
    font-size: 13px;
  }

  &.outline {
    background: none;
    border: 1px solid $neutralWhite;

    .tag {
      font-size: 16px;
      font-weight: $regular;
      background: none;
      border-left: 1px solid $neutralWhite;

      @include respond($break50) {
        font-size: 18px;
      }
    }
  }

  // Note that this can be abstracted with class names for multiple label types
  .text, .tag {
    display: table-cell;
    vertical-align: middle;
  }

  .text {
    padding: 0 18px;
  }

  .tag {
    padding: 0 12px;
    font-size: 15px;
    color: $neutralWhite;
    letter-spacing: 0; // OD
    vertical-align: middle;
    background-color: $neutral40;
    transition: background-color $duration $timing;
  }

  &:hover .price {
    background-color: $accentPrimary;
  }
}

// Text only button with full width bottom border
.button-trim-primary {
  @include buttonUnstyled;
  @include utilityPrimary;
  display: block;
  width: 100%;
  padding-bottom: 13px;
  font-size: 14px;
  color: $accentPrimaryDark;
  text-align: left;
  border-bottom: 1px solid $neutral40;
  transition: color $duration $timing;

  &.trim-top {
    padding-top: 11px;
    padding-bottom: 0;
    border: 0; // OD
    border-top: 2px solid $neutral90;
  }

  &:hover {
    color: $accentPrimaryMedium;
  }

  &:focus {
    color: $neutral95;
    outline: 0;
  }

  &:active {
    color: $accentPrimary;
  }
}

// TODO: Refactor login into form (default) with overlay (modified) and remove this
.login-external {
  .button-secondary-dark + .button-secondary-dark {
    margin-top: 21px;
  }
}

.project-cover-button-wrapper {
  position: absolute;
  top: 10.526%;
  left: -15px;
  width: 28px;
  height: 28px;

  @include respond($break75) {
    width: 30px;
    height: 30px;
  }

  &.active {
    width: 100%;
  }
}

.project-cover-button {
  @include templateHead;
  position: absolute;
  left: 0;
  display: block;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 16px;
  color: $neutralWhite;
  text-align: left;
  white-space: nowrap;
  cursor: pointer;
  background-color: $accentPrimary;
  border-radius: 22.5px;
  box-shadow: 2px 4px 10px 0 rgba($neutral90, 0.36);
  transition: max-width $duration $timing,
    background-color $duration $timing;

  @include respond($break75) {
    font-size: 18px;
  }

  .remove & {
    background-color: $sp20Primary;
  }

  .action-text {
    display: block;
    padding-right: 14px;
    padding-left: 30px;
    line-height: 1.65;

    @include respond($break75) {
      padding-left: 32px;
      line-height: 1.5;
    }
  }

  .button-enter, .button-leave.action-text-hide-immediately {
    display: none;
  }

  .button-enter.action-text-show-immediately {
    display: inline;
  }

  .add-active &, .remove-active &, .remove-confirm-active & {
    max-width: 200px;
    transition: max-width $durationSlow ease-out;
  }

  .add-active & {
    background-color: $sp20Primary;
  }

  .remove-active &, .remove-confirm-active & {
    background-color: $neutral75;
  }

  .icons {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform $duration $timing;

    .add & {
      transform: translateY(-100%);
    }

    .add-active & {
      transform: translateY(-100%);
    }

    .remove-active & {
      transform: translateY(100%);
    }

    .manicon-svg {
      position: absolute;
      top: 0;
      left: 0;
      transition: transform $duration $timing;

      @include respond($break75) {
        width: 30px;
        height: 30px;
      }

      &.minus {
        top: -100%;
      }

      &.plus {
        top: 100%;

        .follow-active & {
          transform: rotate(-90deg);
        }
      }
    }
  }
}

/* stylelint-disable declaration-no-important */
.back-link-primary {
  @include utilityPrimary;
  display: inline-block;
  padding: 16px 0 15px;
  font-size: 13px;
  line-height: 1.4;
  color: $neutral70 !important;
  text-decoration: none !important;
  background-color: $neutral10;
  transition: color $duration $timing,
    background-color $duration $timing;

  @include respond($break40) {
    padding: 26px 0 25px;
    font-size: 14px;
  }

  &.full {
    display: block;
  }

  .bg-neutral95 & {
    background-color: $neutral95;

    &:hover, &:focus {
      color: $accentPrimary !important;
      background-color: $neutral95;
      outline: 0;
    }
  }

  &:hover, &:active {
    background-color: $neutral20;
  }

  &:focus {
    color: $neutral80 !important;
    background-color: $focusTertiary;
    outline: 0;
  }

  .container {
    position: relative;
    padding-left: calc(#{$containerPaddingResp} + 26px);

    @include respond($break120) {
      padding-left: calc(#{$containerPaddingFull} + 26px);
    }
  }

  .manicon {
    position: absolute;
    top: 0.28em;
    left: $containerPaddingResp;
    font-size: 13px;

    @include respond($break120) {
      left: $containerPaddingFull;
    }
  }

  span {
    margin-left: 0.733em;
    font-size: 14px;
    font-weight: $regular;
    text-transform: uppercase;
    letter-spacing: 0.01em;
  }
}

.back-link-secondary {
  @include clearfix;
  display: table;
  padding: 34px 0 25px;
  text-decoration: none !important;

  &:hover {
    .manicon, .back-text, .project-title {
      color: $neutral45;
    }
  }

  &:focus {
    outline: 0;

    .manicon, .back-text, .project-title{
      color: $neutral80;
    }
  }

  &:active {
    .manicon, .back-text, .project-title{
      color: $accentPrimary;
    }
  }

  .manicon {
    display: table-cell;
    padding-right: 22px;
    font-size: 42px;
    color: $neutral50;
    vertical-align: top;
    transition: color $duration $timing;

    + div {
      display: table-cell;
      width: 100%;
      vertical-align: middle;
    }
  }

  .back-text {
    @include utilityPrimary;
    font-size: 14px;
    color: $neutral70;
    transition: color $duration $timing;
  }

  .project-title {
    @include templateHead;
    display: block;
    font-size: 17px;
    line-height: 1.556;
    color: $neutral50;
    transition: color $duration $timing;
  }
}
/* stylelint-enable  declaration-no-important */

.close-button-primary {
  font-size: 15px;
  color: $neutral50;
  text-decoration: none;
  cursor: pointer;
}
