.confirmation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  label {
    @include utilityPrimary;
    color: $neutral80;
  }

  button {
    @include buttonUnstyled;
    margin-top: 5px;
    transition: color $duration $timing;

    &.confirm {
      &:hover {
        color: $accentPrimaryDark;
      }
    }

    &.deny {
      &:hover {
        color: $sp40Tertiary;
      }
    }
  }
}
