/*
Horizontal nav for lists that can take both buttons and search forms
Currently found on Projects route on backend
*/
.form-flex {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  @include respond($break60) {
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 44px;
  }

  > * {
    flex: 1;

    &:not(:first-child) {
      margin-top: 20px;
    }

    @include respond($break60) {
      &:first-child {
        margin-right: 11px;
        margin-left: 0;
      }
    }
  }

  .buttons-icon-horizontal {
    margin-bottom: 0;

    @include respond($break60) {
      margin-top: 0;
      margin-left: 11px;
    }

    .button-icon-secondary {
      display: block;
      width: 100%;
      margin-bottom: 0;
      padding: 0.438em 1.125em 0.563em;
      font-size: 16px;
      line-height: normal;

      + .button-icon-secondary {
        @include respond($break60) {
          margin-top: 15px;
        }
      }
    }
  }

  .button-row {
    flex-basis: 100%;
      margin-top: 15px;
  }

  .form-list-filter {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 0;

    @include respond($break60) {
      flex-direction: row;
    }

    .select-group {
      margin-bottom: 20px;

      + .select-group {
        margin-top: 0;
      }

      @include respond($break60) {
        margin-right: 11px;
        margin-bottom: 0;
        margin-left: 11px;

        &:first-child {
          margin-left: 0px;
        }

        &:last-child {
          margin-right: 0px;
        }

        + .select-group {
            margin-top: 0;
        }
      }
    }
  }
}
