.header-app {
  /* stylelint-disable property-no-vendor-prefix */
  position: fixed;
  width: 100%;
  background-color: $neutralWhite;
  border-bottom: 1px solid transparent;
  transition: border-color $duration $timing;

  .header-tall & {
    @include respond($break75) {
      height: 105px;
    }
  }

  // Dark Variety overrides
  &.dark {
    background-color: $neutral85;

    .header-container {
      background-color: $neutral85;
    }

    .header-logo {
      color: $neutral50;
      transition: color $duration $timing;

      &:hover, &:focus {
        color: $accentPrimary;
        outline: 0;
      }
    }

    .page-nav .links a.active {
      color: $neutralWhite;

      &:focus {
        @include focusOutline;
        color: $neutralWhite;
        outline-offset: 2px;
      }

      &::before {
        display: none;
      }
    }
  }

  .header-container {
    @include headerContainerPrimary;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
    -ms-grid-columns: 1fr auto 1fr;
    grid-template: // logo is in _header-logo.scss
      'logo page-nav user-nav' / 1fr auto 1fr;
    height: 100%;
    background-color: $neutralWhite;

    @include respond($break75) {
      -ms-grid-columns: 1fr max-content max-content;
      grid-template:
        'logo page-nav . user-nav' / fit-content(300px) max-content 1fr max-content;
    }

    @include respond($break90) {
      -ms-grid-columns: auto max-content 1fr max-content;
    }

    > .user-links {
      align-self: center;
      grid-area: user-nav;
      -ms-grid-row: 1;
      -ms-grid-column: 3;
      height: 36px;
      -ms-grid-row-align: center;

      @include respond($break90) {
        -ms-grid-column: 4;
      }
    }
  }

  .header-border {
    position: absolute;
    width: 100%;
    visibility: hidden;
    border-bottom: 1px solid $neutral40;
    opacity: 0;
    transition: opacity $duration $timing, visibility $duration $timing;

    .not-top & {
      visibility: visible;
      opacity: 1;
    }
  }

  .show-75 {
    @include show($break75, block);
  }

  // <nav> wrapper around <ul>
  .page-nav {
    align-self: center;
    grid-area: page-nav;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-row-align: center;

    @include respond($break75) {
      margin-left: 25px;
    }

    .links {
      @include listHorizontal;

      li {
        margin-right: 18px;

        @include respond($break40) {
          margin-right: 25px;
        }

        a {
          @include templateHead;
          position: relative;
          font-size: 14px;
          color: $neutral50;
          text-decoration: none;

          @include respond($break40) {
            font-size: 16px;
          }

          &:hover, &:focus {
            color: $accentPrimary;
            outline: 0;
          }

          &.active {
            color: $neutral90;

            /* stylelint-disable max-nesting-depth */
            &::before {
              position: absolute;
              bottom: -4px;
              left: 0;
              display: block;
              width: 100%;
              height: 2px;
              content: '';
              background-color: $neutral90;
            }

            &:focus {
              @include focusOutline;
              outline-offset: 2px;
            }
            /* stylelint-enable max-nesting-depth */
          }
        }
      }
    }
  }

  .nested-nav {
    -ms-grid-column: 2;
  }

  .user-links {
    > ul {
      @include listUnstyled;
      position: relative;
      display: flex;
      align-items: baseline;
      height: 100%;

      > li {
        height: 100%;

        @include respond($break80) {
          position: relative;
        }

        + li {
          margin-left: 3.34vw;

          @include respond($containerWidthFull) {
            margin-left: 55px;
          }
        }
      }
    }

    .button-mode {
      @include utilityPrimary;
      padding: 3px 11px;
      font-size: 12px;
      color: $accentPrimary;
      text-decoration: none;
      white-space: nowrap;
      border: 1px solid $accentPrimary;
      transition: color $duration $timing,
        background-color $duration $timing;

      &:hover, &:focus {
        color: $neutralWhite;
        background-color: $accentPrimary;
        outline: 0;
      }

      .bg-neutral90 & {
        &:hover {
          color: $neutral90;
          background-color: $accentPrimary;
        }

        &:focus {
          color: $accentPrimary;
          background-color: $neutral95;
          outline: 0;
        }
      }
    }

    // Browse specific menu layout/transition
    .button-search {
      font-size: 19px;
      color: $neutral80;
      vertical-align: middle;

      &:focus {
        color: $accentPrimary;
        outline: 0;
      }

      &::after {
        @include tailUp;
        position: absolute;
        bottom: 14px;
        left: 50%;
        display: block;
        margin-left: -15px;
        content: '';
        opacity: 0;
        transition: transform $duration $timing, opacity $duration $timing;
        transform: translateY(0);

        body.header-tall & {
          bottom: 3px;
        }
      }

      &.button-active::after {
        opacity: 1;
        transform: translateY(37px);
      }
    }

    .button-avatar {
      height: 100%;
      vertical-align: middle;

      &:focus {
        outline: 0;

        .avatar {
          @include focusOutline;
          outline-offset: 2px;
        }

        &:active {
          .avatar {
            outline: 0;
          }
        }
      }
    }

    .search-menu {
      position: absolute;
      right: -$containerPaddingRespGlobal;
      max-width: 100vw;
      white-space: nowrap;

      @include respond($break120) {
        right: -$containerPaddingFull;
      }
    }

    .user-menu {
      position: absolute;
      right: -20px;
      white-space: nowrap;

      @include respond($break40) {
        right: -24px;
      }

      .tail {
        right: 21px;
        display: block;

        @include respond($break40) {
          right: 28px;
        }
      }
    }

    @keyframes menuSlideFade {
      from {
        opacity: 0;
        transform: translateY(-34px);
      }

      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .search-menu, .user-menu {
      top: calc(100% + 23px);
      opacity: 0;
      transition: opacity $duration $timing, transform $duration $timing;
      transform: translateY(-34px);

      .header-tall & {
        top: calc(100% + 34px);
      }
    }

    .search-menu, .user-menu {
      opacity: 0;
      transition: opacity $duration $timing, transform $duration $timing;
      transform: translateY(-34px);
    }

    .panel-visible .search-menu, .panel-visible .user-menu {
      animation: menuSlideFade $duration $timing forwards;
    }

    .panel-leave .search-menu, .panel-leave .user-menu {
      opacity: 1;
      transform: translateY(0);
      animation: menuSlideFade $duration $timing backwards;
    }

    .panel-leave.panel-leave-active .search-menu, .panel-leave.panel-leave-active .user-menu {
      opacity: 0;
      transform: translateY(-34px);
    }
  }
  /* stylelint:enable property-no-vendor-prefix */
}

// Header bump
.browse, .backend {
  main {
    padding-top: 50px;

    @include respond($break40) {
      padding-top: 73px;
    }

    @include respond($break75) {
      padding-top: 80px;
    }
  }

  &.header-tall {
    main {
      padding-top: 60px;

      @include respond($break40) {
        padding-top: 73px;
      }

      @include respond($break75) {
        padding-top: 105px;
      }
    }
  }
}
