.meta-list-secondary {
  @include listUnstyled;

  &.columnar {
    @include respond($break60) {
      max-width: 810px;
      column-count: 2;
    }
  }

  li {
    @include utilityPrimary;
    display: block;
    width: 100%;
    font-size: 13px;

    + li {
      margin-top: 5px;
    }

    .meta-label {
      color: $neutral40;

      &::after {
        display: inline;
        content: ': ';
      }
    }

    .meta-value {
      .bg-neutral90 & {
        color: $neutral50;
      }
    }
  }
}

.meta-list-primary {
  @include listUnstyled;

  @include respond($break60) {
    column-gap: 10.2vw;
    columns: 2;
  }

  @include respond($break75) {
    column-gap: 30px;
  }

  @include respond($break85) {
    columns: 3;
  }

  li {
    width: 100%;
    break-inside: avoid;
  }

  .meta-label {
    @include utilityPrimary;
    display: block;
    font-size: 12px;
    color: $neutral40;

    .bg-neutral90 & {
      color: $neutral70;
    }

    @include respond($break40) {
      font-size: 14px;
    }
  }

  .meta-value {
    @include templateHead;
    margin-top: 4px;
    margin-bottom: 0.95em;
    font-size: 18px;
    color: $neutral80;

    .bg-neutral90 & {
      color: $neutral40;
    }

    @include respond($break40) {
      font-size: 20px;
    }
  }
}
