// NB: This can be abstracted (I.E. As 'list-pagination-primary')
// if there are more pagination styles
// Element wrapping a <ul>
%list-pagination {
  ul {
    @include listUnstyled;
    text-align: center;

    &.compact {
      li {
        span {
          @include utilityPrimary;
          font-size: 14px;
          text-decoration: none;
        }
      }

      .pagination-previous {
        margin-right: 70px;

        @include respond($break90) {
          margin-right: 100px;
        }
      }

      .pagination-next {
        margin-left: 70px;

        @include respond($break90) {
          margin-left: 100px;
        }
      }

      .drawer-backend & {
        display: flex;
        justify-content: space-between;
      }
    }

    li {
      display: none;

      @include respond($break60) {
        display: inline-block;
      }

      &.ordinal + .ordinal {
        margin-left: 25px;
      }
    }

    a {
      @include utilityPrimary;
      font-size: 14px;
      text-decoration: none;
      transition: color $duration $timing;
    }
  }

  .pagination-previous, .pagination-next {
    display: inline-block;
    line-height: 14px;

    .manicon {
      font-size: 14px;
      vertical-align: middle;
    }
  }

  .pagination-previous {
    margin-right: 30px;

    @include respond($break90) {
      margin-right: 50px;
    }

    .manicon {
      margin-right: 12px;
    }
  }

  .pagination-next {
    margin-left: 30px;

    @include respond($break90) {
      margin-left: 50px;
    }

    .manicon {
      margin-left: 12px;
    }
  }
}

.list-pagination-primary {
  @extend %list-pagination;

  li {
    color: $neutral70;

    &.active a {
      color: $accentPrimary;
    }
  }

  a {
    color: $neutral70;
  }

  a:hover {
    color: $accentPrimaryDull;
  }

  .pagination-previous, .pagination-next {
    &.disabled a {
      color: $neutral30;
      pointer-events: none;
    }
  }
}

.list-pagination-secondary {
  @extend %list-pagination;

  li {
    color: $neutral50;

    &.active a {
      color: $accentPrimaryDull;
    }
  }

  a {
    color: $neutral50;
  }

  a:hover {
    color: $accentPrimary;
  }

  .pagination-previous, .pagination-next {
    &.disabled a {
      color: $neutral80;
      pointer-events: none;
    }
  }
}
