/*
Horizontal nav for lists that can take both buttons and search forms
Currently found on Projects route on backend
*/
.list-nav-horizontal {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin-bottom: 56px;

  > * {
    flex: 1;
    margin-right: 11px;
    margin-left: 11px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .form-search-filter {

  }

  .button-icon-secondary {
    padding: 0.438em 1.125em 0.563em;
    font-size: 16px;
    line-height: normal;
  }
}
