.list-total {
  @include utilityPrimary;
  font-size: 14px;
  color: $neutral50;
  transition: color $duration $timing;

  &.extra-bottom {
    margin-bottom: 20px;
  }

  .drawer-backend & {
    span {
      color: $neutral30;
    }
  }

  .vertical-list-primary & {
    padding-bottom: 15px;
    font-size: 15px;
    color: $neutral70;
    border-bottom: 1px solid $neutral80;

    span {
      color: $neutral30;
    }

    &.empty {
      padding-top: 20px;
      border-bottom: 0;
    }

    .drawer-primary & {
      padding-bottom: 8px;
    }
  }

  .section-heading-secondary & {
    float: right;
    color: $neutral75;
  }

  .section-heading-secondary a:hover & {
    color: $accentPrimary;
  }

  .backend-header.section-heading-secondary & {
    float: none;
    font-size: inherit;
    color: $accentPrimary;
    letter-spacing: 0;
  }

  .resource-list .resource-count & {
    + .meta-value {
      padding-top: 5px;

      @include respond($break60) {
        padding-top: 0;
      }
    }
  }
}
