.meta-list-secondary {
  @include listUnstyled;

  &.columnar {
    @include respond($break60) {
      max-width: 810px;
      column-count: 2;
    }
  }

  li {
    @include utilityPrimary;
    display: block;
    width: 100%;
    font-size: 13px;

    + li {
      margin-top: 5px;
    }

    .meta-label {
      color: $neutral40;

      &::after {
        display: inline;
        content: ': ';
      }
    }

    .meta-value {
      .bg-neutral90 & {
        color: $neutral50;
      }

      a {
        color: $neutral80;
        transition: color $durationFast $timing;

        &:visited {
          color: $neutral80;
        }

        &:hover {
          color: $neutral90;
        }
      }
    }
  }
}

.meta-list-primary {
  @include listUnstyled;

  &.columnar {
    @include respond($break60) {
      column-gap: 10.2vw;
      columns: 2;
    }

    @include respond($break75) {
      column-gap: 30px;
    }

    @include respond($break85) {
      columns: 3;
    }
  }

  + .meta-list-primary {
    @include respond($break60) {
      margin-top: 30px;
    }
  }

  li {
    width: 100%;
    break-inside: avoid;
  }

  .meta-label {
    @include utilityPrimary;
    display: block;
    font-size: 12px;
    color: $neutral70;

    @include respond($break60) {
      font-size: 14px;
    }
  }

  .meta-value {
    @include templateHead;
    margin-top: 7px;
    margin-bottom: 1.667em;
    font-size: 15px;
    color: $neutral80;

    @include respond($break60) {
      margin-top: 10px;
      font-size: 18px;
    }

    .bg-neutral90 & {
      color: $neutral40;
    }

    a {
      color: $neutral80;
      transition: color $durationFast $timing;

      &:visited {
        color: $neutral80;
      }

      &:hover {
        color: $accentPrimaryDark;
      }

      .bg-neutral90 & {
        color: $neutral40;

        &:visited {
          color: $neutral40;
        }

        &:hover {
          color: $neutral50;
        }
      }
    }

    @include respond($break40) {
      font-size: 20px;
    }
  }
}
