.overlay-full-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // Height is declared statically to make room for
  // absolutely positioned close button even if there is no title
  min-height: 60px;
  background-color: $neutral05;

  .container {
    text-align: center;
  }

  .manicon {
    &.manicon-notepad {
      margin-right: 14px;
      font-size: 26px;

      &:before {
        vertical-align: bottom;
      }
    }

    &.manicon-magnify {
      position: relative;
      margin-right: 30px;
      font-size: 18px;

      &:before {
        position: absolute;
        top: 3px;
      }
    }
  }

  .overlay-title {
    @include templateHead;
    padding: 0.85em 0;
    margin: 0;
    font-size: 22px;
    font-weight: $medium;
    color: $neutral75;
    text-align: left;

    @include respond($break65) {
      text-align: center;
    }
  }

  .overlay-close {
    @include buttonClose;
    position: absolute;
    top: 50%;
    right: 17px;
    margin-top: -8px;
    color: $neutral75;

    @include respond($break65) {
      margin-top: -16px;
      font-size: 17px;
    }
  }
}
