// Global list styles for projects
// Can switch to a grid-style layout at larger viewport sizes with `.grid`
.project-list {
  ul {
    @include listUnstyled;
    display: flex;
    flex-direction: column;
  }

  li {
    border-bottom: 1px solid;
    transition:
      background-color $duration ease-out,
      box-shadow $duration ease-out;

    a, .item-wrapper {
      @include projectListItem;
    }

    a, .orderable-list-item .item-wrapper {
      &:hover, &:focus {
        outline: 0;

        figure > img {
          border-color: $accentPrimary;
        }

        .title-text, .label {
          color: $accentPrimary;
        }
      }
    }
  }

  // Optional grid-style layout for larger viewports
  &.grid {
    .form-search-filter + & {
      margin-top: 16px;

      @include respond($break75) {
        margin-top: 36px;
      }
    }

    a, .item-wrapper {
      @include projectGridItem;
    }

    @include respond($break75) {
      width: calc(100% + 4.21vw);
      margin-right: -2.105vw;
      margin-left: -2.105vw;

      ul {
        flex-flow: row wrap;
      }

      li {
        flex: 1 1 25%;
        max-width: 25%;
        padding-left: 0;
        margin-bottom: 18px;
        border-bottom: none;
      }

      a, .orderable-list-item .item-wrapper {
        &:hover, &:focus {
          @include panelRounded;

          figure > img {
            border-color: transparent;
          }

          .title-text, .label {
            color: initial;
          }
        }
      }
    }

    @include respond($break120) {
      width: calc(100% + 52px);
      margin-right: -26px;
      margin-left: -26px;
    }
  }
}
