.section-heading-secondary {
  padding-bottom: 1.375em;
  font-size: 16px;

  .backend-dashboard & {
    padding-bottom: 2.625em;
  }

  .drawer-backend & {
    padding-bottom: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    @include templateHead;
    margin: 0;
    // Sized relative to parent so padding can follow suit
    font-size: 1em;
    color: $neutral30;
    text-transform: uppercase;
    letter-spacing: 0.125em;
  }

  a {
    color: $neutral50;
    text-decoration: none;
    transition: color $duration $timing;

    &:hover {
      color: $accentPrimary;
    }
  }

  .manicon {
    display: inline-block;
    margin-left: 9px;
    color: $accentPrimary;
    vertical-align: middle;

    .backend-dashboard &,
    .results-list & {
      margin-right: 15px;
      margin-left: 0;
    }

    &.manicon-stack {
      margin-top: -2px;
      font-size: 22px;
    }

    &.manicon-bugle-small {
      margin-top: -5px;
      font-size: 14px;
    }

    &.manicon-bugle {
      margin-top: 1px;
      font-size: 15px;
      vertical-align: top;
    }

    &.manicon-pulse-small {
      margin-top: -6px;
      font-size: 19px;
    }

    &.manicon-document {
      margin-top: -8px;
      font-size: 23px;
    }

    &.manicon-cube-shine {
      margin-top: -8px;
      font-size: 23px;
    }

    &.manicon-pencil-simple {
      margin-top: -5px;
      font-size: 21px;
    }

    &.manicon-file-box {
      margin-top: -5px;
      font-size: 19px;
    }

    &.manicon-arrows-opposite {
      margin-top: -4px;
      font-size: 21px;
    }
  }
}
