.section-heading {
  @include headingPrimaryFontSizing;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 30px;

  @include respond($break95) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .main {
    display: flex;
    align-items: flex-start;
    padding-right: 25px;

    .manicon {
      margin-right: 14px;
    }

    .body {
      font-size: 16px;

      .title {
        @include headingPrimary;
        margin-bottom: 2px;
        color: $neutral80;

        .bg-neutral90 & {
          color: $neutral30;
        }
      }

      .date {
        @include subtitlePrimary;
        font-size: 14px;
        color: $neutral70;
      }

      .meta-value {
      }
    }
  }

  .overlay-copy {
    @include overlayCopy;
  }

  .login-links {
    @include overlayCopy;
    font-style: italic;

    a {
      color: $neutral50;

      + a {
        margin-left: 14px;
      }
    }
  }

  .utility {
    margin-top: 20px;

    @include respond($break95) {
      margin-top: 0;
    }

    .right {
      @include respond($break95) {
        position: absolute;
        top: 0;
        right: 0;
      }

      .button-primary {
        margin-bottom: 20px;

        @include respond($break95) {
          margin-bottom: 0;
        }

        .manicon {
          display: inline-block;
          margin-right: 8px;
          vertical-align: top;

          &.manicon-lamp {
            font-size: 1.3em;
          }
        }
      }
    }
  }

  .manicon {
    display: inline-block;
    color: $neutral40;
    vertical-align: middle;
    // React generated wrapper
    + span {
      display: inline-block;
      vertical-align: middle;
    }

    // Manicons are em sized to resize
    // in tandem with headline

    &.manicon-books-on-shelf {
      font-size: 1.385em;
    }

    &.manicon-books-stack {
      font-size: 1.923em;
    }

    &.manicon-books-with-glasses {
      font-size: 1.231em;
    }

    &.manicon-cube-shine {
      margin-top: -0.24em;
      margin-right: 14px;
      font-size: 1.962em;
    }

    &.manicon-lamp {
      margin-top: -0.156em;
      font-size: 1.731em;
    }

    &.manicon-new-round {
      margin-top: -0.061em;
      margin-right: 13px;
      font-size: 1.885em;
      color: $accentPrimary;
    }

    &.manicon-pulse {
      margin-top: 0.261em;
      font-size: 0.885em;
    }

    &.manicon-tag {
      margin-top: -0.028em;
      font-size: 1.385em;
    }

    &.manicon-file-box {
      margin-top: 0.2em;
      font-size: 1.4em;
    }
  }
}

.sub-section-heading {
  @include utilityPrimary;
  padding: 1.143em 2.143em 1.357em;
  margin-top: 0;
  margin-bottom: 2.929em;
  font-size: 14px;
  color: $accentPrimaryDark;
  background-color: $neutral05;
}

.form-heading {
  @include headingPrimary;
  margin-bottom: 25px;
  color: $neutral50;
}
