// User Menu button and panel global styles
.button-avatar {
  @include buttonUnstyled;
  transition: background-color $duration $timing;

  .avatar {
    @include buttonAvatar(32);

    @include respond($break40) {
      @include buttonAvatar;
    }
  }
}

// Global styles
.user-menu {
  background-color: $neutral10;

  .tail {
    @include panelTail;
    display: none;
  }

  ul {
    @include listUnstyled;

    li {
      @include templateHead;
      font-size: 20px;

      @include respond($break40) {
        font-size: 22px;
      }
    }

    // Menu items can be buttons or links
    li {
      button, a {
        @include buttonUnstyled;
        min-height: 66px;
        padding: 15px 30px;
        color: $neutral80;
        text-decoration: none;

        i {
          color: $neutral50;
        }

        &:hover, &:focus {
          color: $accentPrimary;

          i {
            color: $accentPrimary;
          }
        }
      }

      + li {
        border-top: 2px solid $neutral30;
      }
    }
  }

  // Icons used in menu
  .manicon {
    display: inline-block;
    width: 32px;
    margin-right: 18px;
    text-align: right;
    vertical-align: middle;

    @include respond($break40) {
      width: 35px;
    }

    // React generated element
    + span {
      display: inline-block;
      vertical-align: middle;
    }
  }


  .manicon-person-pencil-simple {
    font-size: 38px;

    @include respond($break40) {
      font-size: 42px;
    }
  }

  .manicon-circle-arrow-out-right {
    padding-right: 6px; // NP
    font-size: 28px;

    @include respond($break40) {
      font-size: 31px;
    }
  }
}
