.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

.instructional-copy {
  @include formInstructions;
  padding-bottom: 12px;
  margin-bottom: 15px;
  font-size: 18px;
  font-style: normal;
  line-height: 1.4em;
  color: $neutral30;

  &.margin-top {
    margin-top: 30px;
  }

  &.margin-bottom {
    margin-bottom: 30px;
  }
}

.no-focus-outline:focus {
  outline: none;
}
