.screen-reader-text {
  @include screenReaderText;
}

.instructional-copy {
  @include formInstructions;
  padding-bottom: 12px;
  margin-bottom: 15px;
  font-size: 18px;
  font-style: normal;
  line-height: 1.4em;
  color: $neutral30;

  a {
    color: $neutral30;

    &:hover {
      color: $neutral20;
    }
  }

  &.margin-top {
    margin-top: 30px;
  }

  &.margin-bottom {
    margin-bottom: 30px;
  }
}

.no-focus-outline:focus {
  outline: none;
}
