// <nav> wrapping some buttons
.button-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: -10px;
  margin-bottom: -10px;

  .button-icon-primary {
    flex-grow: 1;
    margin: 10px;
    vertical-align: top;

    @include respond($break60) {
      flex-grow: 0;
    }
  }
}
