.footer-browse {
  padding-top: 32px;
  background-color: $neutral75;

  @include respond($break50) {
    padding-top: 40px;
  }

  @include respond($break65) {
    padding-top: 67px;
  }

  .browse & {
    padding-bottom: 35px;

    @include respond($break50) {
      padding-bottom: 0;
    }
  }

  .footer-primary {
    @include clearfix;
    @include respond($break65) {
      min-height: 105px;
    }

    .flex-row {
      display: flex;
      flex-direction: column-reverse;

      @include respond($break65) {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
      }

      .right {
        @include respond($break65) {
          order: 2;
        }

        .search-form {
          display: inline-block;

          input {
            border-width: 2px;
          }
        }
      }

      .left {
        margin-bottom: 10px;

        @include respond($break65) {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          margin-bottom: 0;
        }

        .search-form {
          @include respond($break65) {
            margin-top: 65px;
          }
        }
      }
    }
  }

  .press-logo {
    display: inline-block;
    padding: 0;
    margin-bottom: 28px;

    @include respond($break65) {
      float: right;
      margin-bottom: 0;
    }

    .logo-image {
      max-width: 328px;
      max-height: 202px;
    }
  }

  // <nav> wrapper around nested <ul>
  .text-nav {
    // Global styles
    ul {
      @include listUnstyled;
    }

    a, .fake-link {
      @include templateHead;
      display: inline-block;
      font-size: 17px;
      font-weight: $medium;
      color: $neutralWhite;
      text-decoration: none;
      transition: color $duration $timing;

      &:hover, &:focus {
        color: $accentPrimary;
        outline: 0;
      }
    }

    > ul {
      @include clearfix;

      > li {
        float: left;
        margin-right: 60px;
        margin-bottom: 1em;
        font-size: 16px;

        @include respond($break65) {
          margin-bottom: 0;
        }

        @include respond($break40) {
          margin-right: 102px;
        }

        // Nested List
        // Declared in em units to size
        // relatively
        li + li {
          margin-top: 0.8em;
        }
      }
    }
  }

  .search-form {
    max-width: 250px;

    button {
      &:focus {
        color: $accentPrimary;
      }
    }
  }

  .footer-secondary {
    position: relative;
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .colophon {
    @include templateCopy;
    font-size: 14px;
    color: $neutral50;

    @include respond($break40) {
      font-size: 16px;
    }

    a {
      color: inherit;
    }
  }

  .footer-tertiary {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $neutral80;
    transition: background-color $duration $timing;

    &:hover, &:focus {
      background-color: $accentPrimary;
      outline: 0;

      .logo, .logo.dull {
        color: $neutral80;

        .manicon-manifold-logo {
          color: $neutralWhite;
        }

        .text .neutral-text {
          color: $neutralWhite;
        }
      }
    }

    .logo {
      @include templateHead;
      display: block;
      font-size: 20px;
      font-weight: $semibold;
      line-height: 33px;
      color: $neutralWhite;
      text-decoration: none;
      transition: color $duration $timing;

      &.dull {
        color: $neutral30;

        .manicon-manifold-logo {
          color: $neutral70;
        }
      }

      .manicon-manifold-logo {
        display: inline-block;
        margin-right: 22px;
        font-size: 30px;
        color: $accentPrimary;
        vertical-align: top;
        transition: color $duration $timing;
      }

      .text {
        display: inline-block;

        .neutral-text {
          color: $neutral70;
          transition: color $duration $timing;
        }
      }
    }
  }
}
