.event-entity-row {
  $entity-column-gap: 40px;
  $entity-row-gap: 28px;

  position: relative;
  border-bottom: 1px solid $neutral80;

  @include respond(event-entity(panel-breakpoint)) {
    border-bottom: 0;
  }

  &__inner {
    height: 100%;
  }

  .utility {
    position: absolute;
    right: 12px;
    bottom: 17px;

    @include respond(event-entity(panel-breakpoint)) {
      font-size: 1.2em;
    }

    .manicon-trashcan {
      color: $sp40Tertiary;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &--tile {
    .utility {
      right: 18px;
      bottom: 45px;
    }
  }
}
