// <ul>
.event-list-primary {
  @include listUnstyled;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;

  @include respond($break60) {
    padding-top: 39px;
  }

  @include respond($break60) {
    margin-left: -40px;
  }

  li {
    display: flex;
    width: 100%;

    @include respond($break60) {
      width: 50%;
      min-height: 170px;
      padding-left: 40px;
      margin-bottom: 28px;
    }

    + li {
      border-top: 2px solid $neutral20;

      @include respond($break60) {
        border: 0;
      }
    }
  }
}

.event-list-secondary {
  @include listUnstyled;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -28px;

  @include respond($break60) {
    margin-left: -48px;
  }

  li {
    display: flex;
    width: 100%;

    @include respond($break60) {
      width: 50%;
      min-height: 143px;
      padding-left: 35px;
      margin-bottom: 28px;
    }

    @include respond($break85) {
      width: 33.333%;
      margin-bottom: 40px;
    }

    &:nth-child(n+3) {
      //display: none;

      @include respond($break60) {
        display: flex;
      }
    }
  }
}

// List styles that apply to either type of list
.event-list-primary li, .event-list-secondary li {
  padding-bottom: 20px;

  @include respond($break60) {
    padding-bottom: 0;
  }
}
