.event-list {
  @include listUnstyled;
  display: flex;
  flex-flow: row wrap;
  margin-top: -1 * event-entity(row-gap);

  @include respond(event-entity(panel-breakpoint)) {
    margin-left: -1 * event-entity(icon-size-large);
  }

  @supports (grid-auto-columns: min-content) {
    display: grid;
    grid-template-columns: auto;

    // breakpoint equal to event-entity(min-width) * 2 + gutter + container padding
    @include respond(692px) {
      grid-template-columns:repeat(2, minmax(event-entity(min-width), 1fr));
    }

    // breakpoint equal to event-entity(min-width) * 3 + gutter + container padding
    @include respond(1057px) {
      grid-template-columns:repeat(3, minmax(event-entity(min-width), 1fr));
    }
  }

  &__item {
    display: flex;
    flex-grow: 1;
    min-width: 100%;
    margin-top: event-entity(row-gap);

    @include respond(event-entity(panel-breakpoint)) {
      min-height: event-entity(min-height);
      padding-left: event-entity(icon-size-small);
    }

    @include respond(event-entity(list-layout-breakpoint)) {
      flex-basis: 50%;
      min-width: event-entity(min-width);
      padding-left: event-entity(column-gap);
    }

    @include respond($break85) {
      flex-basis: 33.333%;
      max-width: 417.58px;
      margin-top: 40px;

      @supports (grid-auto-columns: min-content) {
        max-width: none;
      }
    }

    &:nth-child(n+3) {
      //display: none;

      @include respond($break60) {
        display: flex;
      }
    }
  }
}
