.drawer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparentize($neutralBlack, 0.35);

  .drawer-enter & {
    opacity: 0.01;
  }

  .drawer-enter.drawer-enter-active & {
    opacity: 1;
    transition: opacity $duration $timing;
  }

  .drawer-leave & {
    opacity: 1;
  }

  .drawer-leave.drawer-leave-active & {
    opacity: 0.01;
    transition: opacity $duration $timing;
  }
}
