<p>
  An administrator has reset your account password on <%= @installation_name %>.
</p>
<p>
  Your new password is: <strong><%= @user.password %></strong>
</p>
<p>
  please login now and change your password.
</p>
<%= render :partial => "partials/email/spacer", locals: { height: 10 } %>
<%= render :partial => "partials/email/button", locals: { text: "Login", url: @client_url } %>
