.drawer-bar {
  $_close-icon-size: 24px;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  &--pad-lateral {
    padding-right: 20px;
    padding-left: 20px;

    @include respond($break65) {
      padding-right: 32px;
      padding-left: 32px;
    }
  }

  &--default {
    padding-bottom: 18px;

    @include respond($break50) {
      padding-bottom: 26px;
    }
  }

  &--reader {
    padding-top: 10px;
    padding-bottom: 12px;
    color: var(--default-strong-color);
    background-color: var(--box-medium-bg-color);
  }

  &__title {
    @include utilityPrimary;
    display: flex;
    flex-grow: 1;
    align-items: center;
    min-height: 24px;
    font-size: 13px;
    letter-spacing: 0.125em;
  }

  &__title-icon {
    position: relative;
    top: 2px;
    margin-right: 10px;
  }

  &__close-button {
    @include buttonUnstyled;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;

    &--light {
      cursor: pointer;

      &:hover {
        @include defaultHoverStyle;
        outline: 0;
      }

      &:focus-visible {
        color: $defaultFocusColor;
      }
    }

    &--dark {
      font-size: 17px;
      cursor: pointer;
    }
  }

  &__close-text {
    @include utilityPrimary;
    margin-right: 10px;
    font-size: 13px;
    font-weight: $semibold;
    line-height: $_close-icon-size;
    letter-spacing: 0.125em;
  }

  &__close-icon {
    width: $_close-icon-size;
    height: $_close-icon-size;
  }
}
