

  .form-secondary {
    .drawer-primary & {
      margin-bottom: 80px;
    }

    & :is(.form-section, .form-input) + :is(.form-section, .form-input) {
      margin-top: 20px;

      ${respond(`margin-top: 40px;`, 60)}
    }

    .notification {
      font-family: var(--font-family-copy);
      display: block;
      margin-top: 0.75em;
      font-size: 17px;
      font-style: italic;
      color: var(--highlight-color);
      text-align: right;
      text-transform: none;
    }

    .form-input {
      .form-input-heading, .column-heading, label:not(.checkbox):not(.radio):not(.toggle):not(.icon-picker):not(.form-switch) {
        ${formLabelPrimary}
        display: block;
        margin-top: 0;
        margin-bottom: 0.5em;

        &.below {
          margin-top: 0.6em;
          margin-bottom: 0;
        }

        &.secondary {
          font-weight: normal;
        }

        &.toggle {
          margin-bottom: 1em;
        }

        &.pad-bottom {
          margin-bottom: 1em;
        }
      }

      &.form-number-input {
        input[type='number']::-webkit-inner-spin-button,
        input[type='number']::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        input[type='number'] {
          text-align: left;
        }
      }

      /* &.form-toggle-secondary {
        position: relative;

        .form-input-heading {
          ${formInputSecondary}
          margin-bottom: 0.5em;
          text-transform: inherit;
          letter-spacing: inherit;

          ${respond(`height: 38px;`, 60)}

          &.toggle {
            color: var(--color-neutral-text-extra-light);
          }
        }

        .toggle-indicator {
          position: absolute;
          top: -3px;
          right: 0;
        }
      } */

      .button-secondary {
        display: inline-block;
        width: auto;

        &.button-secondary--wide {
          display: block;
          width: 100%;
        }
      }

      &.submit {
        .button-secondary, .button-secondary--dull {
          line-height: normal;

          + .button-secondary {
            margin-top: 0;
            margin-left: 15px;
          }
        }
      }
    }


    .form-dropzone {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 350px;
      min-height: 200px;
      border: 1px solid var(--input-border-color);
      border-radius: var(--box-border-radius);
      transition: border-color 0.2s;

      .primary {
        ${utilityPrimary}
        padding-bottom: 0;
        font-size: 13px;
        font-weight: var(--font-weight-semibold);
        line-height: 1.5em;
        text-align: center;
      }

      .error {
        display: block;
        margin-top: 10px;
        color: var(--error-color);
      }

      .secondary {
        ${formLabelPrimary}
        padding-bottom: 0;
        margin-top: 10px;
        line-height: 1.5em;
        text-align: center;
      }

      a, .fake-link {
        ${setHoverStyle()}

        &.focus-visible {
          outline: 0;
        }
      }

      .contents-icon-preview {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        pointer-events: none;

        .message {
          position: relative;
          width: 100%;
          padding: 20px;
          word-wrap: break-word;
          overflow-wrap: break-word;
        }

        &__icon {
          display: block;
          margin: 0 auto 20px;
        }
      }

      .contents-image-preview {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        align-items: center;
        width: 100%;
        padding: 10px;
        pointer-events: none;

        .preview {
          grid-column: 1 / -1;
          grid-row: 1 / -1;
          justify-self: center;
          max-width: 100%;
          max-height: 200px;
          background: var(--color-base-neutral20);
        }

        .message {
          grid-column: 1 / -1;
          grid-row: 1 / -1;
          justify-self: center;
          width: 75%;
          padding: 5px 20px 15px;
          margin-bottom: 20px;
          text-align: center;
          background: var(--color-base-neutral95);
          opacity: 0.9;
        }
      }

      .contents-empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 200px;
        padding: 15px;
      }

      .remove {
        ${utilityPrimary}
        position: absolute;
        right: 4px;
        bottom: 4px;
        z-index: 2;
        font-size: 12px;
      }

      .cover-upload-placeholder {
        max-width: 118px;
        height: auto;
      }

      .contents-empty__icon {
        display: block;
        color: var(--color-base-neutral-white);
      }
    }

    .boolean-labeled {
      display: table;

      span {
        ${formInputSecondary}
        display: table-cell;
        padding-bottom: 0.5em;
        vertical-align: middle;
      }

      .toggle-indicator {
        display: table-cell;
        padding-left: 10px;
        vertical-align: middle;
      }
    }

    .checkbox {
      margin-top: 5px;
    }
  }
