.journal-detail {
  $row-gap-medium: 3.159vw;
  $column-gap-medium: 4.839vw;
  display: grid;
  grid-template-rows: 25vw max-content auto;
  grid-template-columns: repeat(4, 1fr);
  column-gap: $column-gap-medium;
  overflow-x: hidden;

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 300px;
  }

  &__header,
  &__footer {
    grid-column: 1 / span 5;
  }

  &__main {
    display: grid;
    grid-template-rows: max-content 1fr;

    grid-template-columns: repeat(4, 1fr);
    grid-column: 1 / span 5;
    column-gap: 6vw;
    max-width: 1178px;
    padding: 70px 10vw 0;

    &__title-description {
      grid-column: 1 / span 3;
    }

    &__social {
      margin: 40px 0 90px;
    }

    &__callout-list {
      display: flex;
      align-items: center;
      justify-content: start;
      min-width: 220px;
    }

    @include respond($break60, 'max') {
      &__title-description,
      &__callout-list {
        grid-column: 1 / span 5;
      }
    }
  }

  &__title-row {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 15px;
    align-content: center;
    padding-bottom: 40px;
    font-size: 30px;

    &__collecting {
      align-self: center;
      transform: translateY(-8px);
    }
  }

  &__callouts {
    grid-column: span 2;
    .journal-detail__callout-block {
      .action-callout-list {
        flex-flow: column;

        &__button {
          &--secondary {
            height: 40px;
            border-radius: 6px;
          }

          &--left {
            grid-template: 'icon text' auto / max-content 1fr;
          }

          &-text {
            padding: 0 4px;
            font-size: 14px;
            text-align: left;
          }
        }

        &__link {
          &-text {
            margin: auto 0 auto 10px;
          }
        }

        &--inline {
          margin: 0;
        }
      }
    }
  }

  &__social-link {
    margin: 0 8px;
  }

  @media (max-width: $break60) {
    &__main,
    &__main__callouts {
      grid-column: 1 / span 5;
    }
  }

  &__footer {
    display: flex;
  }

  &__volumes {
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 1178px;
    padding: 0 10vw;
    margin-bottom: 5vw;

    &__label {
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 1.5px;
      line-height: 17px;
      color: #696969;
      margin-bottom: 30px;

      &--numeric {
        color: #363636;
        font-weight: 600;
      }
    }

    .volume {
      display: flex;
      flex-flow: column;
      width: 100%;
      padding: 0;
      margin-bottom: 60px;
      overflow-x: scroll;
      background-color: #F7F7F7;
      border-radius: 6px;

      &__title-bar {
        display: flex;
        flex-flow: row;
        width: 100%;
        padding: 19px 48px;
        cursor: pointer;
        transition: background-color 250ms;

        &:hover {
          background-color: #ECECEC;

          .volume__title-bar-icon {
            opacity: 1;
          }
        }

        &-title {
          font-size: 26px;
          line-height: 34px;
          color: #2E2E2E;
          text-align: left;
        }

        &-icon {
          margin: auto 0 auto 14px;
          opacity: 0;
          transition: opacity 250ms;
        }
      }

      &__issuesBar {
        display: flex;
        flex-flow: wrap;
        padding: 0 30px;

        &-issue {
          margin-top: -30px;
          transform: scale(0.75);
        }
      }
    }
  }
}
