/* stylelint-disable property-no-vendor-prefix */
.standalone-header {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: $neutral100;
  --header-foreground-color: $neutral75;

  &--visible {
    @include boxShadow(0, -10px, 20px, 7px, $neutralBlack, 0.25);
    background-color: $neutral100;
    transition: background-color $duration $timing;
  }

  &--dark {
    --default-hover-color: #{$accentInteractionLight};
    --default-focus-color: #{$accentInteractionLight};
  }

  &--light:not(.standalone-header--hidden) {
    @include boxShadow(0, -10px, 20px, 7px, $neutralBlack, 0.25);
    background-color: $neutral10;
  }

  &--hidden {
    background-color: transparent;
    transition: background-color $duration $timing;
  }

  &__shim {
    position: relative;
  }

  &__inner {
    @include headerContainerPrimary;

    display: -ms-grid;
    display: grid;
    grid-template:
      'heading . hamburger' / auto minmax(75px, 1fr) max-content;
    padding-top: standalone-header-layout(padding-top-mobile);
    padding-bottom: standalone-header-layout(padding-top-mobile);
    color: $neutralWhite;
    -ms-grid-rows: auto;
    -ms-grid-columns: auto minmax(25px, 1fr) max-content;


    .standalone-header--light & {
      color: $neutral80;
    }

    @include respond($break75) {
      grid-template:
        'heading . user-nav' / auto minmax(75px, 1fr) max-content;
      padding-bottom: 0;
      -ms-grid-columns: auto minmax(75px, 1fr) max-content;
    }

    &--hidden {
      padding-top: standalone-header-layout(padding-top-mobile);

      @include respond($break60) {
        padding-top: standalone-header-layout(padding-top-desktop);
      }
    }

  }

  &__header {
    @include templateCopy;
    position: relative;
    top: 3px;
    grid-area: heading;
    line-height: 1.188;
    opacity: 1;
    transition: opacity $duration $timing;

    .standalone-header--hidden & {
      opacity: 0;
      transition: opacity $duration $timing;
    }
  }

  &__title-link {
    --default-hover-color: #{$neutralWhite};

    hyphens: none;
    line-height: 1.45;

    &:focus-visible {
      outline: 0;
    }

    .standalone-header--light & {
      --default-hover-color: #{$neutral80};
    }
  }

  &__title {
    @include templateHead;
    display: inline-block;
    margin: 0 16px 0 0;
    font-size: 18px;
    font-weight: $semibold;

    a:hover &,
    a:focus-visible & {
      text-decoration: underline;
    }

    @include respond($break40) {
      font-size: 21px;
    }
  }

  &__subtitle {
    display: inline-block;
    font-size: 18px;
    font-style: italic;
    letter-spacing: 0.028em;

    @include respond($break75) {
      padding-bottom: header-layout(padding-vertical-desktop);
    }
  }

  .user-nav {
    grid-area: user-nav;
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    justify-self: end;
    -ms-grid-column-align: end;
  }

  .mobile-nav-toggle {
    grid-area: hamburger;
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    align-self: baseline;
    justify-self: flex-end;
    -ms-grid-column-align: end;
    -ms-grid-row-align: baseline;
  }
}
