.entity-list {

  & + & {
    margin-top: 64px;
  }

  .instructional-copy {
    padding-bottom: 0; // sorry. hacked it.
  }

  &__title {
    @include templateHead;
    margin: 0 0 30px;
    font-size: 16px;
    font-weight: $semibold;
    color: $neutral45;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  &__title-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 12px;
    color: $accentPrimary;
  }

  &__contents-wrapper {
    &--with-section-title {
      margin-left: 24px;
    }

  }

  &__button {
    @include utilityPrimary;
    display: block;
    font-size: 14px;
    font-weight: $semibold;
    color: $accentPrimary;
    text-decoration: none;
    letter-spacing: 2px;
    transition: color $duration ease-out;

    + .entity-list__button {
      margin-top: 24px;
    }

    @include respond($break60) {
      display: inline-block;

      + .entity-list__button {
        margin-top: 0;
        margin-left: 12px;
      }
    }


    &:hover {
      color: $accentPrimaryDark;

      svg {
        color: $accentPrimaryDark;
      }
    }

    svg {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-top: -3px;
      margin-right: 6px;
      color: $accentPrimary;
      vertical-align: middle;
    }
  }

  &__list {
    @include listUnstyled;
    color: $neutral30;

    a {
      color: $neutral30;
    }

    &--tiles {
      display: flex;
      flex-wrap: wrap;
      margin-top: 17px;
      margin-bottom: -28px;

      @include respond($break60) {
        margin-left: -40px;

        li {
          flex-basis: 100%;
          max-width: 100%;
        }
      }

      @include respond($break65) {
        margin-left: -24px;
      }

      @include respond($break95) {
        li {
          flex-basis: 50%;
          max-width: 49.5%;
        }
      }

      @include respond($break110) {
        margin-left: -40px;
      }
    }

    &--grid {
      $grid-item-min-width: 192px;

      @include respond($break65) {
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;
        margin-top: 22px;
        margin-left: -25px;

        @supports (grid-auto-columns: min-content) {
          display: grid;
          grid-template-columns:repeat(auto-fit, minmax($grid-item-min-width, 1fr));
        }

        li {
          flex-basis: 25%;
          flex-grow: 1;
          min-width: $grid-item-min-width;
          border-bottom: none;
        }
      }
    }
  }

  &__header {
    border-bottom: 1px solid $neutral75;
    padding-top: 8px;
    padding-bottom: 16px;
  }

  &__pagination {
    margin-top: 32px;
  }

  &__button {
    border: 1px solid $accentPrimary;
    border-radius: 16px;
    padding: 7px 15px 5px 10px;
    text-transform: none;
    font-weight: $medium;
    letter-spacing: 0;
    
    &:hover {
      svg {
        background-color: inherit;
        color: inherit;
      }
      background-color: $accentPrimary;
      color: $neutral90;
    }
  }

  .entity-list__button-set {
    margin-bottom: 22px;
  }

  &__search {
    margin-top: 32px;
    margin-bottom: 24px;
  }


}
