.entity-list {
  & + & {
    margin-top: 64px;
  }

  .instructional-copy {
    padding-bottom: 0; // sorry. hacked it.
  }

  &__title-block {
    margin: 0 0 32px;
  }

  &__title {
    @include templateHead;
    font-size: 16px;
    font-weight: $semibold;
    color: $neutralTextExtraLight;
    text-transform: uppercase;
    letter-spacing: 2px;

    a, a:visited {
      color: $neutralTextExtraLight;
      text-decoration: none;
    }

    a:hover {
      color: $defaultHoverColor;
    }

    .utility-button {
      color: $neutralTextLight;
    }
  }

  &__title-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 12px;
    color: $defaultHoverColor;
  }

  &__contents-wrapper {
    &--with-section-title {
      margin-left: 24px;
    }

  }

  &__list {
    @include listUnstyled;

    &--tiles {
      display: flex;
      flex-flow: row wrap;

      @supports (grid-auto-columns: min-content) {
        display: grid;
        grid-template-columns: auto;
      }

      @include respond(event-entity(panel-breakpoint)) {
        grid-template-columns: repeat(auto-fit, minmax(event-entity(min-width), 1fr));
        margin-top: event-entity(list-margin-top) - event-entity(row-gap);
        margin-left: -1 * event-entity(icon-size-small);
      }

      @include respond(event-entity(list-layout-breakpoint)) {
        margin-left: -1 / 2 * event-entity(icon-size-large);
      }

      // breakpoint equal to event-entity(min-width) * 2 + gutter + remaining viewport space
      @include respond(952px) {
        grid-template-columns: repeat(2, minmax(event-entity(min-width), 1fr));
      }

      li {
        min-width: 100%;

        @include respond(event-entity(panel-breakpoint)) {
          padding-left: event-entity(icon-size-small);
          margin-top: event-entity(row-gap);
        }

        @include respond(event-entity(list-layout-breakpoint)) {
          flex-basis: 50%;
          min-width: event-entity(min-width);
          max-width: event-entity(flex-max-width);
          padding-left: event-entity(column-gap);

          @supports (grid-auto-columns: min-content) {
            max-width: none;
          }
        }
      }
    }

    &--grid {
      $grid-item-min-width: 192px;

      @include respond($break65) {
        display: flex;
        flex-flow: row wrap;
        margin-top: 22px;
        margin-left: -25px;

        @supports (grid-auto-columns: min-content) {
          display: grid;
          grid-template-columns:repeat(auto-fill, minmax($grid-item-min-width, 1fr));
        }

        li {
          flex-basis: 33.333%;
          flex-grow: 1;
          min-width: $grid-item-min-width;
          border-bottom: none;
        }
      }

      @include respond($break85) {
        li {
          flex-basis: 25%;
        }
      }

    }
  }

  &__header {
    padding-top: 8px;
    padding-bottom: 16px;
    border-bottom: 1px solid $neutralUIDullLight;
  }

  &--bare {
    .entity-list__header {
      padding-top: 0;
      padding-bottom: 0;
      border-bottom: 0;
    }
  }

  &__pagination {
    margin-top: 32px;
  }

  &__button {
    @include utilityPrimary;
    @include fillOnFocusVisible($accentPrimaryPale);
    display: block;
    padding: 7px 15px 5px 10px;
    font-size: 14px;
    font-weight: $medium;
    color: $accentPrimary;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0;
    border: 1px solid;
    border-radius: 16px;
    transition:
      color $duration $timing,
      background-color $duration $timing;

    & + & {
      margin-top: 24px;
    }

    @include respond($break60) {
      display: inline-block;

      & + & {
        margin-top: 0;
        margin-left: 12px;
      }
    }

    &:hover {
      color: $neutralTextExtraDark;
      background-color: $defaultHoverColor;
    }

    &:focus-visible {
      color: $neutralTextExtraDark;
    }

    svg {
      width: 24px;
      height: 24px;
      margin-top: -3px;
      margin-right: 6px;
    }
  }

  .entity-list__button-set {
    margin-bottom: 22px;
  }

  &__search {
    margin-bottom: 24px;
  }

  &__empty-message {
    @include templateCopy;
    padding: 18px 0;
    font-size: 17px;
    font-style: italic;
    border-bottom: 1px solid $neutralTextDark;
  }
}
