.entity-row {

  list-style: none;
  user-select: none;

  &__inner {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 14px 19px 14px 0;
    border-bottom: 1px solid $neutral80;
    transition: background-color $duration ease-out,
      box-shadow $duration ease-out;

    &--in-grid {
      @include respond($break65) {
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 20px 25px;
        border-bottom: 0;
      }
    }

    .entity-row__row-link--is-active & {
      background-color: $neutral100;
      border-color: $neutral100;
      box-shadow: -21px 0 0 1px $neutral100, 21px 0 0 1px $neutral100;
    }
  }

  &__row-link--button {
    @include buttonUnstyled;
    width: 100%;
    text-align: left;
  }

  &--dragging {
    .entity-row__inner {
      border-bottom: none;
    }

    .entity-row__row-link--in-grid {

      padding: 0 14px;
      background-color: $neutral95;
      border: 1px solid $neutral80;
      outline: 0;

      @include respond($break65) {
        @include panelRounded;
        padding: 0;
        border: 0;
        box-shadow: 0 31px 26px -13px rgba($neutralBlack, 0.33);
      }
    }
  }

  &__row-link--block {
    display: block;
    height: 100%;
    text-decoration: none;

    &:focus-visible {
      background-color: lighten($neutral90, 2%);
      border-color: lighten($neutral90, 2%);
      outline: none;
      box-shadow: -21px 0 0 1px lighten($neutral90, 2%), 21px 0 0 1px lighten($neutral90, 2%);
    }

    &.entity-row__row-link--in-grid {

      transition: background-color $duration ease-out,
        box-shadow $duration ease-out;

      &:hover,
      &:focus-visible {
        outline: 0;

        @include respond($break65) {
          @include panelRounded;
          box-shadow: 0 31px 26px -13px rgba($neutralBlack, 0.33);
        }
      }
    }
  }

  &__text {
    @include templateCopy;
    flex-grow: 1;
    align-self: flex-start;
    width: 100%;
    font-size: 17px;
    font-weight: $regular;
    color: $neutral50;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    a.entity-row__link {
      &--inverted {
        text-decoration: underline;

        &:hover {
          color: $accentPrimary;
        }
      }
    }

    &--valign-center {
      position: relative;
      top: -2px;
      align-self: center;
    }
  }



  &__labels {
    display: inline-block;
    margin: 0;
  }

  &__title--in-grid {
    .entity-row__labels {
      display: block;
    }
  }

  &__label {
    @include blockLabelRound;
    position: relative;
    display: inline-block;
    padding: 0.333em 5px;
    margin: -3px 0 0 0;
    font-size: 9px;
    line-height: 1.2em;
    color: $neutral85;
    vertical-align: middle;
    background-color: $neutral30;

    + .entity-row__label {
      margin-left: 14px;
    }
  }

  &__utility {
    align-self: center;
  }

  &__utility-button {
    @include buttonUnstyled;
    color: $neutral50;
  }

  &__figure {
    position: relative;
    align-self: flex-start;
    margin-top: 4px;
    margin-right: 18px;
    color: $neutral45;

    button {
      @include buttonUnstyled;
    }

    &--valign-center {
      align-self: center;
      margin-top: 0;
    }

    &--size-normal {
      width: 50px;

      img {
        width: 50px;
        height: auto;
      }

      &.entity-row__figure--shape-round {
        height: 50px;

        img {
          height: 50px;
        }
      }

      svg {
        position: relative;
        top: -4px;
        left: -4px;
        width: 55px;
        height: 55px;

        &.project-thumb-placeholder {
          top: 0;
          left: 0;
          width: 50px;
          height: 50px;
          overflow: visible;
        }

        &.svg-icon--resourceImage64 {
          top: -10px;
        }

        &.svg-icon--resourceAudio64 {
          top: -7px;
        }

        &.svg-icon--resourceCollection64 {
          top: -10px;
          left: -4px;
          width: 58px;
          height: 58px;
        }
      }
    }

    &--size-small {
      width: 25px;
      margin-right: 14px;

      img {
        width: 25px;
      }

      &.entity-row__figure--shape-round {
        height: 25px;

        img {
          height: 25px;
        }
      }

      svg {
        position: relative;
        top: -3px;
        left: -3px;
        width: 30px;
        height: 30px;
      }
    }

    &--shape-round {
      img, svg {
        border-radius: 50%;
      }
    }

    &--in-grid {
      @include respond($break65) {
        margin-bottom: 14px;

        img, svg {
          left: 0;
          width: auto;
          height: 120px;

          &.project-thumb-placeholder {
            top: 0;
            left: 0;
            width: 110px;
            height: 110px;
            overflow: visible;
          }

        }
      }
    }

    .entity-row__figure--size-normal {
      width: auto;
    }

  }

  &__title {
    @include templateHead;
    display: inline-block;
    align-items: center;
    margin: -1px 14px 0 0;
    font-size: 18px;
    font-weight: $medium;
    line-height: 1.4em;
    color: $neutral20;

    // in grids, labels are on a new line.
    &--in-grid {
      margin-right: 0;

      .entity-row__title-inner {
        margin-right: 0;
      }
    }

    button {
      @include buttonUnstyled;
    }

    @include respond($break65) {
      &--in-grid {
        font-size: 16px;
      }
    }

  }

  &__title-inner {
    display: inline-block;
    margin-right: 14px;

    span {
      display: inline; // needed for text-decoration: underline to work.
    }

    .entity-row__row-link--block:not(.entity-row__row-link--in-grid):not(.entity-row__row-link--is-active):hover &,
    .entity-row__row-link--block:not(.entity-row__row-link--in-grid):not(.entity-row__row-link--is-active):focus-visible & {
      text-decoration: underline;
    }

    .entity-row__row-link--in-grid:hover &,
    .entity-row__row-link--in-grid:focus-visible & {
      @include respond($break65 - 1, max) {
        text-decoration: underline;
      }
    }

    .entity-row__row-link--is-active & {
      color: $accentPrimary;
    }
  }

  &__count {
    @include templateHead;
    margin: 0;
    font-size: 14px;
    font-weight: $semibold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  &__subtitle {
    margin: 0;
    font-size: 18px;
    font-style: italic;
    font-weight: $regular;

    @include respond($break65) {
      &--in-grid {
        font-size: 16px;
      }
    }

  }

  &__meta {
    margin: 0;
    font-size: 17px;
    font-weight: $regular;

    @include respond($break65) {
      &--in-grid {
        font-size: 16px;
      }
    }


    em {
      font-style: normal;
      color: $neutral30;
    }
  }

  .entity-row__title + .entity-row__subtitle,
  .entity-row__title + .entity-row__meta,
  .entity-row__title + .entity-row__count,
  .entity-row__subtitle + .entity-row__count,
  .entity-row__subtitle + .entity-row__meta,
  .entity-row__count + .entity-row__meta {
    margin-top: 7px;
  }

}

// Bit of a hack to clear out the hover state on other items when the list is sortable
// and an entity is being dragged.
.entity-list--dragging .entity-row__row-link--in-grid {
  &:hover {
    background-color: inherit;
    border-radius: 0;
    box-shadow: none;
  }
}
