// Can be abstracted as "meta-list-primary" and/or moved if used elsewhere
.meta-list {
  @include listHorizontal;
  margin-right: -63px;
  margin-left: -63px;

  li {
    width: 50%;
    padding-right: 63px;
    padding-left: 63px;
    vertical-align: top;
  }

  .meta-label {
    @include utilityPrimary;
    color: $neutral40;
  }

  .meta-value {
    @include templateHead;
    margin-top: 4px;
    margin-bottom: 19px;
    font-size: $type100;
    color: $neutral80;
  }
}
