.search-query {
  --default-hover-color: #{$accentInteractionDark};

  color: $neutralTextDark;

  // Input defaults
  &__input {
    @include templateHead;
    width: 100%;
    padding: 0.722em 0.889em;
    font-size: 16px;
    font-weight: $regular;
    /* stylelint-disable-next-line declaration-no-important */
    color: var(--default-strong-color) !important; // necessary to win specifity battle :(
    background-color: $neutral05;
    border: 3px solid transparent;
    outline: none;
    appearance: none;

    &::placeholder {
      color: var(--default-color);
    }

    &:focus-visible {
      outline: 0;

      &::placeholder {
        color: var(--default-strong-color);
      }
    }

    .search-menu & {
      background-color: $neutralWhite;
    }

    @include respond($break70) {
      font-size: 18px;
    }
  }

  // Can be abstracted to shared if used elsewhere
  &__input-magnify {
    position: relative;
    width: 100%;

    @include respond($break40) {
      min-width: 380px;
    }

    .search-query__input {
      padding-left: 56px;
      border-radius: 8px;
    }
  }

  // Can be button or a simple icon
  &__submit {
    @include buttonUnstyled;
    position: absolute;
    top: 50%;
    left: 20px;
    line-height: 0;
    transform: translateY(-47%);
  }

  &__filter-group {
    padding: 0;
    margin: 0;
    margin-top: 36px;
    border: none;

    &--inline {
      display: flex;
      flex-wrap: wrap;
    }

    & + & {
      margin-top: 22px;
    }
  }

  &__filter-group-list {
    @include listUnstyled;
    display: flex;
    flex-wrap: wrap;

    > *:not(:last-child) {
      margin-right: 36px;

      @include respond($break70) {
        margin-right: 30px;
      }
    }
  }

  &__group-label {
    @include utilityPrimary;
    position: relative;
    display: block;
    padding-top: 2px;
    margin-top:  0;
    margin-right: 30px;
    margin-bottom: 18px;
    font-size: 13px;
  }

  &__checkbox,
  .form-toggle.radio .toggle-label {
    @include utilityPrimary;
    font-size: 13px;
  }

  &__checkbox,
  .form-toggle.radio {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 10px;

    @include respond($break50) {
      width: auto;
      margin-bottom: 14px;
    }

    @include respond($break70) {
      margin-bottom: 14px;
    }

    & + & {
      margin-left: 0;
    }
  }

  .form-toggle.radio + .radio {
    margin-top: 0;
    margin-left: 0;
  }

  + .search-query__filters {
    padding-top: 40px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    padding-top: 11px;
  }

  &__description {
    @include templateCopy;
    font-size: 14px;
    font-style: italic;
  }

  &__button-primary {
    font-size: 15px;
  }
}
