.dialog-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .backend & {
    background-color: transparentize(var(--color-base-neutral-black), 0.35);
  }

  .browse &,
  .reader & {
    background-color: transparentize(var(--color-base-neutral-white), 0.1);
  }
}
