$_sticky-min-height: 900px;

.search-dialog {
  // conceal top/bottom of dialog so content below form doesn't show on scroll
  @mixin sticky-pseudo-background($position: 'below') {
    z-index: 1;
    background-color: var(--box-bg-color);

    &::before {
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: dialog(padding-top);
      content: '';
      background-color: var(--box-bg-color);

      @if ($position == 'below') {
        bottom: 100%;
        height: dialog(padding-top);
      } @else {
        top: 100%;
        height: dialog(padding-bottom);
      }
    }
  }

  --box-bg-color: #{var(--color-base-neutral-white)};

  position: relative;
  max-height: 95vh;
  overflow: auto;

  &__header {
    position: relative;
    z-index: 2;
    margin-top: min(5.26vw, 50px);
    margin-bottom: min(4.737vw, 45px);
    color: var(--strong-color);
  }

  &__heading {
    ${headingQuaternary}
    font-weight: var(--font-weight-semibold);
  }

  &__subheading {
    &, &:is(p) {
      @include headingSecondary;
      margin-top: 0.727em;
      margin-bottom: 0;
    }
  }

  &__instructions {
    &, &:is(p) {
      ${subtitlePrimary}
      margin-top: 1em;
      font-size: 16px;
      line-height: 1.5;
    }
  }

  &__form {
    padding-top: 0;
    padding-bottom: 20px;

    @include respond($_sticky-min-height, min, height) {
      position: sticky;
      top: 0;
      @include sticky-pseudo-background;
    }
  }

  &__results {
    font-weight: var(--font-weight-regular);
  }

  &__footer {
    padding-top: 20px;
    margin-top: 10px;

    @include respond($_sticky-min-height, min, height) {
      position: sticky;
      bottom: 0;
      @include sticky-pseudo-background('above');
    }
  }

  &__close-button {
    width: 100%;
  }
}
