.dropdown-nav {
  @include templateHead;
  position: relative;
  font-weight: $semibold;
  color: $neutralWhite;
  text-align: center;
  text-transform: none;
  background-color: $neutral100;

  &__trigger {
    @include buttonUnstyled;
    width: 100%;
    transition: color $duration $timing;

    &:hover {
      color: $accentPrimary;
      cursor: pointer;
    }

    &:focus {
      outline-width: 0;
    }

    .dropdown-nav--open & {
      color: $accentPrimary;
    }

    .dropdown-nav--static:hover & {
      color: $neutralWhite;
      cursor: default;
    }
  }

  &__trigger-icon {
    margin-top: 3px;
    margin-left: 10px;
    transition: transform $duration $timing;

    .dropdown-nav--open & {
      transform: rotate(-180deg);
    }
  }

  &__selected {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px 0 11px;
  }

  &__nav-list {
    @include listUnstyled;
    position: absolute;
    width: 100%;
    padding: 25px 43px 32px;
    text-align: left;
    visibility: hidden;
    background-color: $neutral100;
    border-top: 2px solid $neutral95;
    opacity: 0;
    transition: opacity $durationSlow $timing, visibility $durationSlow $timing;

    .dropdown-nav--open & {
      visibility: visible;
      opacity: 1;
    }
  }

  &__nav-item {}

  &__link {
    display: inline-block;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    color: $neutral45;
    text-decoration: none;
    transition: color $duration $timing;

    &:hover {
      color: $accentPrimary;
    }

    &--active {
      color: $accentPrimary;
    }
  }
}
