$_gap: 30px;

.group-summary {
  @include panelRounded;
  @include formLabelPrimary;
  padding: 25px 30px;
  font-size: 13px;

  &__list {
    // display: flex;
    // flex-wrap: wrap;
    // margin-top: -1 * $_gap;
    // margin-left: -1 * $_gap;

    // > * {
    //   margin-top: $_gap;
    //   margin-left: $_gap;
    // }

    display: grid;
    grid-template-columns: auto;
    gap: $_gap;

    @include respond($break40) {
      grid-template-columns: repeat(2, auto);
    }

    @include respond(940px) {
      grid-template-columns: repeat(4, auto);
    }
  }

  &__section-list {
    display: grid;
    grid-template-rows: minmax(24px, auto);
    grid-template-columns: auto;
    row-gap: 14px;
    column-gap: $_gap;
    align-items: center;

    &--col-2 {
      @include respond($break110) {
        grid-template-rows: repeat(3, minmax(24px, auto));
        grid-auto-flow: column;
      }
    }
  }

  &__section-label {
    margin-top: 0;
    margin-bottom: 20px;
    font: inherit;

    &::after {
      display: inline;
      content: ':';
    }
  }

  &__item {}

  &__term,
  &__value {
    display: inline;
    margin: 0;
  }

  &__term {
    margin-right: 10px;
  }

  &__value {
    color: var(--default-strong-color);
  }

  &__private-icon {
    position: relative;
    top: -2.5px;
    margin-left: 10px;
    color: var(--default-weak-color);
  }
}
