.group-summary {
  $rowGapMobile: 8px;
  $rowGapDesktop: 18px;

  @include panelRoundedLight;
  padding: 20px;

  @include respond($break85) {
    padding: 24px 30px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -$rowGapMobile;
    margin-bottom: 0;

    @include respond($break85) {
      margin-top: -$rowGapDesktop;
    }

    @supports (display: grid) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: $rowGapMobile;
      margin-top: 0;

      @include respond($break85) {
        display: inline-grid;
        grid-template-columns: auto auto auto;
        grid-gap: $rowGapDesktop 64px;
      }
    }
  }

  &__item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: $rowGapMobile;

    @include respond($break85) {
      display: block;
      margin-top: $rowGapDesktop;
    }

    @supports (display: grid) {
      margin-top: 0;
    }
  }

  &__mobile-left {
    grid-column-start: 1;

    @include respond($break85) {
      grid-column-start: auto;
    }
  }

  &__mobile-right {
    grid-column-start: 2;

    @include respond($break85) {
      grid-column-start: auto;
    }
  }

  &__mobile-top {
    grid-row-start: 1;

    @include respond($break85) {
      grid-row-start: auto;
    }
  }

  &__desktop-top {
    flex-basis: 50%;

    @include respond($break85) {
      grid-row-start: 1;
    }
  }

  &__desktop-bottom {
    flex-basis: 33.333%;

    @include respond($break85) {
      grid-row-start: 2;
    }
  }

  &__item {
    display: block;
    margin: 0;

    @include respond($break85) {
      display: inline-block;
    }
  }

  &__value {
    @include formLabelPrimary;
    font-size: 13px;
    color: $neutral90;

    @include respond($break85) {
      padding-left: 10px;
    }
  }

  &__mobile-indent {
    padding-left: 32px;

    @include respond($break85) {
      padding-left: 10px;
    }
  }

  &__private-icon {
    position: relative;
    top: -2.5px;
    margin-left: 10px;
    color: $neutral70;
  }
}
