.group-join-form {
  display: flex;
  align-items: stretch;

  @include respond($break65) {
    min-width: 302px;
    padding-left: 20px;
  }

  &__label {
    flex-grow: 1;
  }

  &__input {
    @include utilityPrimary;
    width: 100%;
    padding: 7px 14px;
    background-color: $neutralWhite;
    border: 1px solid $neutralWhite;
    border-radius: 4px;
    font-size: inherit;

    &:focus-visible {
      outline: 0;
    }
  }

  &__button {
    @include buttonUnstyled;
    @include utilityPrimary;
    padding: 0px 22px;
    margin-left: 12px;
    font-size: inherit;
    color: var(--default-strong-color);
    background-color: var(--box-strong-bg-color);
    border-radius: 4px;
    transition:
      background-color $duration $timing;

    &:hover,
    &:focus-visible {
      color: inherit;
      background-color: $neutral30;
      outline: 0;
    }
  }
}
