.notes-filter {

  @include respond($break65) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__dropdown-container {
    padding-top: 30px;

    @include respond($break65) {
      display: flex;
      padding-top: 0;
      padding-left: 20px;
    }
  }

  &__select-container {
    position: relative;

    @include respond($break65) {
      width: 200px;
    }

    &:not(:first-child) {
      margin-top: 12px;

      @include respond($break65) {
        margin-top: 0;
        margin-left: 12px;
      }
    }
  }

  &__select {
    @include filterSelectBase;
    @include outlineOnFocusVisible;
    position: relative;
    width: 100%;
    height: 40px;
    padding-bottom: 3px;
    font-size: 13px;
    color: $neutralTextExtraDark;
    border: 1px solid $neutralTextDark;
    border-radius: 6px;

    &:focus-visible {
      border-color: $defaultFocusColor;
    }
  }

  &__icon {
    position: absolute;
    top: 9px;
    right: 10px;
    color: $neutralTextDark;
  }
}
