$_text-gap: 20px;
$_container-gap: 30px;

.group-page-heading {
  &__container {
    &:not(:last-child):not(:empty) {
      padding-bottom: $_container-gap;
    }
  }

  &__flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: $_text-gap * -1;
    margin-left: $_text-gap * -1;

    &--justify-start {
      justify-content: flex-start;
    }

    > * {
      margin-top: $_text-gap;
      margin-left: $_text-gap;
    }
  }

  &__text-container {
    display: flex;

    @include respond($break80) {
      transform: translateY(-2px);
    }
  }

  &__nav-container:not(:empty) {
    padding-top: 20px;
  }

  &__summary-container {
    padding-bottom: $_container-gap;

    &:focus {
      outline: none;
    }
  }

  &__icon {
    width: 32px;
    height: 32px;
    transform: translateY(2px);

    @include respond($break80) {
      transform: translateY(4px);
    }
  }

  &__text {
    margin-bottom: 0;
    margin-left: 15px;
    font-size: 23px;
    color: var(--default-strong-color);
    word-wrap: break-word;

    @include respond($break80) {
      font-size: 26px;
    }
  }

  &__subtitle {
    color: $neutralTextDark;
  }

  &__nav-button {
    &:not(:first-child) {
      margin-left: 10px;
    }
  }
}
