.group-page-heading {
  color: $neutralTextExtraDark;

  @include respond($break80) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text-container {
    display: flex;

    &--narrow {
      @include respond($break80) {
        max-width: calc(100% - 292px);
        padding-right: 13px;
      }
    }
  }

  &__icon {
    min-width: 32px;
    @include respond($break80) {
      margin-top: 3px;
    }
  }

  &__text {
    padding-left: 13px;
    margin-bottom: 0;
    font-size: 18px;
    word-wrap: break-word;

    @include respond($break80) {
      font-size: 26px;
    }
  }

  &__subtitle {
    color: $neutralTextDark;
  }

  &__button-container {
    padding-top: 18px;

    @include respond($break80) {
      padding-top: 0;
    }
  }

  &__nav-button {
    @include buttonTertiary;

    &:not(:first-child) {
      margin-left: 10px;
    }
  }
}
