.remove-member-button {
  @include buttonUnstyled;
  @include formLabelPrimary;
  position: relative;
  padding: 4px 15px 5px;
  color: $defaultNoticeColor;
  border: 1px solid;
  border-radius: 12px;
  transition: all $duration $timing;

  &:hover,
  &:focus-visible {
    color: $neutralWhite;
    background-color: $defaultNoticeColor;
    outline: 0;
  }
}
