// Default form styles across the board
// These do not require a wrapper

// <div> wrapper around form fields
.form-input {
  + .form-input {
    margin-top: 40px;
  }

  // Avoid styling checkbox/radio labels
  label:not(.checkbox):not(.radio) {
    @include formLabelPrimary;
    display: block;
    margin-bottom: 1em;
    color: $neutral50;

    .bg-neutral90 & {
      color: $neutral30;
    }

    &.has-instructions {
      margin-bottom: 0.5em;
    }
  }

  .instructions {
    @include templateCopy;
    display: block;
    margin-bottom: 1em;
    font-size: 17px;
    font-style: italic;
    color: $neutral50;
    text-transform: none;
  }

  input[type="text"], input[type="password"] {
    @include formInputPrimary;
    width: 100%;
    // Explicit height so that elements can line up
    height: 60px;
    // Declared in em as it should change with font size
    padding: 0.7em 1em;
    background-color: $neutral05;
    border: 1px solid transparent;
    border-radius: 0;
    outline: 0;
    transition: border-color $duration $timing;
    appearance: none;
    color: $neutral80;

    &::placeholder {
      color: $neutral50;
    }

    &:focus {
      border-color: $accentPrimary;
    }

    .bg-neutral05 & {
      background-color: $neutralWhite;
    }
  }

  textarea {
    @include formInputPrimary;
    width: 100%;
    padding: 1.2em 1.5em;
    color: $neutral70;
    resize: vertical;
    background-color: $neutral05;
    border: 1px solid transparent;
    outline: none;
    transition: border-color $duration $timing;

    &:focus {
      border-color: $accentPrimary;
    }

    .bg-neutral05 & {
      background-color: $neutralWhite;
    }
  }

  // Default button appearance
  .button-secondary, .button-secondary-dull {
    display: block;
    width: 100%;

    &.button-with-room {
      margin-top: 40px;
    }

    + .button-secondary, .button-secondary-dull {
      margin-top: 21px;
    }
  }

  // Error list
  .errors {
    display: block;
  }
}

.form-error {
  .error {
    @include formInputMessage;
    display: inline-block;
    margin-top: 15px;
    color: $sp40Tertiary;
  }
}

.form-error-grouped {
  margin-bottom: 15px;

  .dialog-box & {
    max-width: 80%;
  }

  .error {
    margin-top: 0;
  }
}

.form-select {
  position: relative;
  display: inline-block;
  // Default width
  width: 100%;

  .manicon-caret-down {
    position: absolute;
    top: 50%;
    right: 30px;
    margin-top: -7px;
    font-size: $type40;
    color: $neutral70;
    pointer-events: none;

    // Use native dropdown arrow in IE9
    .ie9 & {
      display: none;
    }
  }

  select {
    @include formInputSecondary;
    display: inline-block;
    width: 100%;
    height: 4.286em;
    padding: 1.286em 55px 1.286em 2.214em;
    margin: 0;
    color: $neutral70;
    cursor: pointer;
    background-color: $neutral05;
    border: 1px solid transparent;
    border-radius: 0;
    outline: none;
    transition: border-color $duration $timing;
    appearance: none;

    .bg-neutral05 & {
      background-color: $neutralWhite;
    }

    &:focus {
      border-color: $accentPrimary;
    }

    /* Undo the Firefox inner focus ring */
    &:focus:-moz-focusring {
      color: transparent;
    }

    &::-ms-expand {
      display: none;
    }
  }
}

.form-toggle {
  @include formLabelPrimary;
  position: relative;
  display: block;
  padding-left: 33px;
  margin-bottom: 0; // OD
  font-size: 16px;
  color: $neutral70;
  cursor: pointer;

  .bg-neutral90 & {
    color: $neutral50;
  }

  + .form-toggle {
    margin-top: 18px;
  }

  &.horizontal {
    display: inline-block;

    + .form-toggle {
      margin-top: 0;
      margin-left: 38px;
    }
  }

  &.annotated {
    @include formInputPrimary;
    color: $neutralOffBlack;
    text-transform: none;
  }

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:focus ~ .toggle-indicator {
      background-color: $accentPrimaryLight;
    }
  }

  .toggle-indicator {
    position: absolute;
    left: 0;
    display: block;
    user-select: none;
    background-color: $neutral30;
    transition: background-color $duration $timing;

    .bg-neutral90 &, .form-callout & {
      background-color: $neutralWhite;
    }
  }

  &.checkbox {
    // To match indicator
    line-height: 25px;

    .toggle-indicator {
      width: 25px;
      height: 25px;
      padding: 7px 6px;

      // If check icon exists, hide it until selected
      .manicon-check {
        font-size: 11px;
        color: $neutralOffBlack;
        opacity: 0;
        transition: opacity $duration $timing;
      }
    }
  }

  &.radio {
    line-height: 20px;

    .toggle-indicator {
      width: 20px;
      height: 20px;
      padding-top: 5px;
      text-align: center;
      border-radius: 100%;

      &::before {
        display: inline-block;
        width: 10px;
        height: 10px;
        vertical-align: top;
        content: '';
        background-color: $neutralOffBlack;
        border-radius: 100%;
        opacity: 0;
        transition: opacity $duration $timing;
      }
    }
  }

  .toggle-note {
    @include templateCopy;
    display: block;
    margin-top: 13px;
    font-size: 16px;
    font-style: italic;
    line-height: 1.375;
  }

  &.checked .toggle-indicator {
    // For checkboxes
    .manicon-check {
      opacity: 1;
    }

    // For radio buttons
    &::before {
      opacity: 1;
    }
  }
}

// Form Date Input
// --------------------------
.form-date {
  .input-day {
    margin-left: 15px;
  }

  .form-input {
    position: relative;
    display: inline-block;
    margin-left: 15px;
    vertical-align: bottom;

    .input-year {
      .form-secondary &, .form-primary & {
        display: inline;
        width: calc(91vw - 242px);
        min-width: 49px;
        max-width: 100px;

        @include respond($break40) {
          width: calc(91vw - 372px);
        }
      }
    }
  }
}

// Form Callout
// --------------------------
.form-callout {
  padding: 54px 30px;
  background-color: $neutral10;

  header {
    @include formLabelPrimary;
    padding-bottom: 53px;
    text-align: center;

    .manicon {
      display: block;
      padding-bottom: 26px;
      font-size: 33px;
      color: $neutral50;
    }
  }

  + .form-input {
    margin-top: 40px;
  }
}
