// Secondary form inputs. These include all of the form inputs (and more)
// Outlined in 'form-inputs-primary', but change visually with this wrapper.
@mixin formInputSecondary {
  @include formInputPrimary;
  box-sizing: border-box;
  width: 100%;
  // Explicit height so that elements can line up
  height: 32px;
  // Declared in em as it should change with font size
  padding: 0 0 0.75em;
  font-size: 16px;
  color: $neutral40;
  vertical-align: top;
  background-color: transparent;
  // Override border
  border: 0;
  border-bottom: 1px solid $neutral80;
  outline: 0;
  transition: border-color $duration $timing;

  @include respond($break60) {
    height: 42px;
    font-size: 18px;
  }

  .bg-neutral90 & {
    &:-webkit-autofill {
      box-shadow: 0 0 0 1000px $neutral90 inset;
      // Important required to override chrome default
      /* stylelint-disable declaration-no-important */
      -webkit-text-fill-color: $accentPrimaryPale !important;
      /* stylelint-enable declaration-no-important */
    }
  }

  &::placeholder {
    color: $neutral75;
  }
}

.form-secondary {
  .drawer-primary & {
    margin-bottom: 80px;
  }

  .form-input + .form-input,
  .form-input + .form-section,
  .form-section + .form-section,
  .form-section + .form-input {
    margin-top: 20px;

    @include respond($break60) {
      margin-top: 40px;
    }
  }

  .form-header {
    @include roundedFormHeader;

    @include respond($break90) {
      margin-bottom: 38px;
    }
  }

  .instructions {
    @include templateCopy;
    display: block;
    margin-top: 0.75em;
    font-size: 15px;
    font-style: italic;
    color: $neutral50;
    text-transform: none;

    @include respond($break60) {
      font-size: 17px;
    }

    &.space-bottom {
      margin-bottom: 2em;
    }

    + .form-input-group {
      margin-top: 0.75em;
    }

    a, a:visited {
      color: inherit;
    }
  }

  .form-input {
    .form-input-heading, .column-heading, label:not(.checkbox):not(.radio) {
      @include formLabelPrimary;
      display: block;
      margin-top: 0;
      margin-bottom: 1em;
      color: $neutral70;

      &.below {
        margin-top: 0.6em;
        margin-bottom: 0;
      }

      &.has-instructions {
        margin-bottom: 1em;
      }

      &.secondary {
        font-weight: normal;
      }
    }

    input[type='text'], input[type='password'] {
      @include formInputSecondary;
      transition: border-color $duration $timing;

      &:focus {
        border-color: $accentPrimaryLight;
      }
    }

    textarea {
      @include templateCopy;
      width: 100%;
      padding: 1.2em;
      font-size: 16px;
      color: $neutral30;
      resize: vertical;
      background-color: transparent;
      border: 1px solid $neutral80;
      outline: none;
      transition: border-color $duration $timing;

      @include respond($break70) {
        padding: 1.579em;
        font-size: 18px;
      }
    }

    .form-toggle {
      .toggle-label {
        transition: color $duration $timing;
      }

      input:checked ~ .toggle-label {
        color: $accentPrimary;
      }
    }

    &.form-toggle-secondary {
      // styled is fudged to look like other inputs
      // though functionality is different
      position: relative;

      .form-input-heading {
        @include formInputSecondary;
        margin-bottom: 0.5em;
        text-transform: inherit;
        letter-spacing: inherit;

        @include respond($break60) {
          height: 38px;
        }
      }

      .toggle-indicator {
        position: absolute;
        top: 2px;
        right: 0;
      }

      .instructions {
        margin-bottom: 0;
      }
    }

    .button-secondary {
      display: inline-block;
      width: auto;
    }

    &.submit {
      .button-secondary, .button-secondary-dull {
        line-height: normal;

        + .button-secondary {
          margin-top: 0;
          margin-left: 15px;
        }
      }
    }
  }

  // CABS scoped to secondary for now, may become global
  .form-date {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include respond($break90) {
      flex-wrap: nowrap;
    }

    > * {
      display: block;
      flex: 0 1 47.64%;
      margin-left: 0;

      @include respond($break90) {
        flex: auto;

        &:not(:first-child) {
          margin-left: 15px;
        }
      }
    }

    .form-select {
      select {
        width: auto;
        min-width: 100%;
      }
    }

    .form-input {
      flex-basis: 100%;
      margin-top: 1em;

      @include respond($break90) {
        flex-basis: auto;
        margin-top: 0;
      }
    }
  }

  // Dropdown
  .form-select {
    width: auto;

    .manicon-caret-down {
      position: absolute;
      top: 52%;
      right: 6px;
      font-size: 0.6em;
      color: $accentPrimary;
      pointer-events: none;

      // Use native dropdown arrow in IE9
      .ie9 & {
        display: none;
      }
    }

    select {
      @include formInputSecondary;
      padding: 0 42px 0.75em 0; // OD
      font-size: 16px;
      line-height: normal;
      text-transform: none; // OD

      &:focus {
        border-color: $accentPrimaryLight;
      }
    }
  }

  .form-dropzone {
    position: relative;
    display: flex;
    border: 1px solid $neutral80;

    .primary {
      @include utilityPrimary;
      padding-bottom: 0;
      font-size: 13px;
      font-weight: $semibold;
      line-height: 1.5em;
      color: $neutral50;
      text-align: center;
    }

    .error {
      display: block;
      margin-top: 10px;
      color: $sp30Tertiary;
    }

    .secondary {
      @include formLabelPrimary;
      padding-bottom: 0;
      margin-top: 10px;
      line-height: 1.5em;
      color: $neutral75;
      text-align: center;

      a, a:visited {
        color: $neutral75;
      }
    }

    a, .fake-link {
      transition: color $duration $timing;

      &:hover, &:focus {
        color: $accentPrimary;
        outline: 0;
      }
    }

    .contents-icon-preview {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      .message {
        width: 100%;
        padding: 20px;
        word-wrap: break-word;
        overflow-wrap: break-word;
      }

      .manicon-document {
        display: block;
        padding-bottom: 22px;
        font-size: 56px;
        color: $neutralWhite;
        text-align: center;
      }

    }

    .contents-image-preview {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      .preview {
        position: absolute;
        z-index: 1;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
      }

      .secondary {
        color: $neutral70;

        a, a:visited {
          color: $neutral70;

          transition: color $duration $timing;

          &:hover {
            color: $accentPrimary;
          }
        }
      }

      .message {
        position: absolute;
        bottom: 0;
        z-index: 1;
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
      }

    }

    .contents-empty {
      padding: 15px;
      margin: auto;
    }

    .remove {
      @include utilityPrimary;
      position: absolute;
      right: 4px;
      bottom: 4px;
      z-index: 2;
      font-size: 12px;
      color: $neutral50;
    }

    // Default height
    .cover-upload-placeholder {
      max-width: 118px;
      height: auto;
    }

    .manicon-cloud-up {
      display: block;
      padding-bottom: 22px;
      font-size: 36px;
      color: $neutralWhite;
      text-align: center;
    }

    &.style-square, &.style-portrait {
      width: 200px;
      min-height: 200px;

      @include respond($break50) {
        width: 220px;
        min-height: 220px;
      }

      .contents-image-preview {
        flex-wrap: wrap;
        padding: 35px 10px 0;
      }

      .preview {
        position: static;
        display: inline-block;
        width: 120px;
        height: 120px;
      }

      .message {
        position: static;
        width: 100%;
        padding-top: 0.75em;
      }
    }

    &.style-portrait .preview {
      height: 157px;
    }

    &.style-landscape {
      width: 477px;
      max-width: 100%;
      height: 218px;

      .preview {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .contents-image-preview .message {
        position: static;
        display: block;
        width: 250px;
        padding: 5px 20px 15px;
        margin: auto;
        background: $neutral95;
        opacity: 0.9;
      }
    }

    &.style-horizontal {
      padding: 34px 0 37px;

      .contents-empty .secondary {
        display: none;
      }

      a, .fake-link {
        text-decoration: none;
      }

      .contents-icon-preview {
        .message {
          padding: 0;
        }

        .manicon-document {
          padding-bottom: 12px;
        }
      }
    }
  }

  label + .form-dropzone {
    margin-top: 13px;
  }

  .boolean-labeled {
    display: table;

    span {
      @include formInputSecondary;
      display: table-cell;
      padding-bottom: 0.5em;
      vertical-align: middle;
    }

    .toggle-indicator {
      display: table-cell;
      padding-left: 10px;
      vertical-align: middle;
    }
  }
}
