.form-section {
  + .form-section {
    margin-top: 45px;

    @include respond($break60) {
      margin-top: 52px;
    }
  }

  .form-section-label {
    @include panelRounded;
    display: table;
    width: 100%;
    padding: 0.563em 1.5em 1em;
    margin-bottom: 20px;
    font-size: 16px;

    span {
      @include utilityPrimary;
      display: table-cell;
      width: 100%;
      color: $accentPrimary;
      font-size: 14px;
      font-weight: $semibold;
      letter-spacing: 0.1em;
    }
  }

  .form-input-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 5px;
    padding-left: 5px;

    @include respond($break75) {
      padding-right: 24px;
      padding-left: 24px;
    }

    @include respond($break90) {
      flex-direction: row;
      justify-content: space-between;
    }

    > .form-input {
      flex: 0 1 auto;
      margin-top: 0;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 12px;
      }

      @include respond($break90) {
        flex-basis: 47.64%;
        margin-top: 18px;
      }

      &.wide {
        @include respond($break90) {
          flex-basis: 100%;
        }
      }
    }
  }

  &.horizontal {
    .form-input {
      display: block;
      margin-right: 0;

      @include respond($break60) {
        display: inline-block;
        margin-right: 40px;
        margin-bottom: 20px;

        &:last-child {
          margin-right: 0;
        }
      }

    }

    .form-input-fourth {
      width: 18%;
    }

    .form-input-third {
      width: 30%;
    }

    .form-input + .form-input,
    .form-input + .form-section,
    .form-section + .form-section,
    .form-section + .form-input {
      @include respond($break60) {
        margin-top: 0;
      }
    }
  }
}

header {
  + .form-section {
    margin-top: 19px;
  }
}
