.form-section {
  + .form-section {
    margin-top: 45px;

    @include respond($break60) {
      margin-top: 52px;
    }
  }

  .form-section-label {
    display: table;
    width: 100%;
    padding: 1.063em 19px 0.938em;
    margin-bottom: 19px;
    font-size: 16px;
    background-color: $neutral95;

    span {
      @include utilityPrimary;
      display: table-cell;
      width: 100%;
      font-weight: $medium;
      color: $accentPrimary;
    }
  }

  &.horizontal {
    .form-input {
      display: block;
      margin-right: 0;

      @include respond($break60) {
        display: inline-block;
        margin-right: 40px;
        margin-bottom: 20px;

        &:last-child {
          margin-right: 0;
        }
      }

    }

    .form-input-fourth {
      width: 18%;
    }

    .form-input-third {
      width: 30%;
    }

    .form-input + .form-input,
    .form-input + .form-section,
    .form-section + .form-section,
    .form-section + .form-input {
      @include respond($break60) {
        margin-top: 0;
      }
    }
  }
}

header {
  + .form-section {
    margin-top: 19px;
  }
}
