.form-section {
  + .form-section {
    margin-top: 45px;

    @include respond($break60) {
      margin-top: 52px;
    }
  }

  .form-section-label {
    @include roundedFormHeader;
  }

  .form-input-group {
    display: flex;
    flex-flow: column wrap;

    @include respond($break90) {
      flex-direction: row;
      justify-content: space-between;
    }

    > .vertical-list-primary,
    > .buttons-icon-horizontal {
      @include respond($break90) {
        flex-basis: 100%;
      }
    }

    > .form-input {
      flex: 0 1 auto;
      margin-top: 0;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 12px;
      }

      @include respond($break90) {
        flex-basis: 47.64%;
        margin-top: 18px;
      }

      &.wide {
        @include respond($break90) {
          flex-basis: 100%;
        }
      }

      &.form-input-fourth {
        @include respond($break90) {
          flex-basis: 23.82%;
        }
      }

      &.form-input-third {
        @include respond($break90) {
          flex-basis: 31.76%;
        }
      }

      .form-select {
        width: 100%;
      }
    }

    > .form-divider.wide {
      @include respond($break90) {
        flex-basis: 100%;
      }
    }
  }

  &.horizontal {
    .form-input {
      display: block;
      margin-right: 0;

      @include respond($break60) {
        display: inline-block;
        margin-right: 40px;
        margin-bottom: 20px;

        &:last-child {
          margin-right: 0;
        }
      }

    }

    .form-input-fourth {
      width: 18%;
    }

    .form-input-third {
      width: 30%;
    }

    .form-input + .form-input,
    .form-input + .form-section,
    .form-section + .form-section,
    .form-section + .form-input {
      @include respond($break60) {
        margin-top: 0;
      }
    }
  }
}

header {
  + .form-section {
    margin-top: 19px;
  }
}
