// Shared Form Components
// ----------------------
// Wrapper around input with absolutely positioned button
.search-button-inline {
  position: relative;

  // <button>
  .manicon-magnify {
    @include buttonUnstyled;
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -9px;
    font-size: 17px;
    color: $neutral50;
    transition: color $duration $timing;
  }

  input {
    @include inputSecondary;
    // Width can be controlled in wrapper
    width: 100%;
    padding-left: 40px;
    color: $neutral50;
    border-color: $neutral50;
    border-radius: 0;
    appearance: none;
    transition: color $duration $timing, border-color $duration $timing;

    &::placeholder {
      color: $neutral40;
    }

    &:focus {
      color: $neutralWhite;
      border-color: $accentPrimary;

      + .manicon-magnify  {
        color: $accentPrimary;
      }
    }
  }
}

.form-dropzone {
  cursor: pointer;

  .dropzone-button {
    @include buttonUnstyled;
    @include buttonRounded;
    @include formLabelPrimary;
    padding: 25px 15px;
    font-weight: $regular;
    line-height: 1.761;
    color: $neutral50;
    text-align: center;
    border: 2px solid $neutral50;

    .dropzone-button-text {
      display: block;
      padding-left: 95px;
      text-align: left;
    }

    + .dropzone-button {
      margin-top: 25px;
    }

    .manicon {
      &:focus {
        @include focusOutline;
      }
    }
  }

  .dropzone-button-dotted {
    border: 2px dotted $neutral50;
  }

  input {
    @include screenReaderText;
    /* stylelint-disable declaration-no-important */
    display: block !important;
    /* stylelint-enable declaration-no-important */
  }
}

// Browse specific form select
.select-browse {
  @include selectPrimary;
  width: 100%;

  @include respond($break30) {
    width: auto;
    min-width: 310px;
  }
}

.password-input {
  position: relative;

  .hidden {
    display: none;
  }

  .password-visibility-toggle {
    position: absolute;
    top: -1px;
    left: 80px;
    cursor: pointer;
    background: none;
    border: 0;

    &:focus {
      outline: 0;

      .manicon {
        @include focusOutline;
        outline-offset: 2px;
      }
    }

    .manicon {
      position: absolute;
      font-size: 14px;
      color: $neutral70;

      &.manicon-eye-slash {
        top: -3px;
        font-size: 20px;
      }
    }
  }
}

.form-divider {
  @include utilityPrimary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  color: $neutral50;
  white-space: nowrap;

  &::before {
    margin-right: 25px;
    margin-left: 10px;
  }

  &::after {
    margin-right: 10px;
    margin-left: 25px;
  }

  &::before, &::after {
    width: 45%;
    height: 1px;
    content: '';
    background-color: $neutral80;
  }
}
