// Annotation Marker Components
// ----------------------------
// Blue
$spHighlightPrimaryLight: lighten(desaturate($spHighlightPrimary, 13.25), 20.59); // #99e3f5;
$spHighlightPrimaryPaleLowContrast: darken(desaturate(adjust-hue($spHighlightPrimary, 15), 83.5), 1.96); // #808f9b;

// Green
$spHighlightSecondary: #70c930;
$spHighlightSecondaryLight: #c6eaac;
$spHighlightSecondaryPale: #eaf7e0;
$spHighlightSecondaryPaleLowContrast: #677b61;

// Pink
$spHighlightTertiary: #ff12ff;
$spHighlightTertiaryLight: #edaaed;
$spHighlightTertiaryPale: #f4dcf4;
$spHighlightTertiaryPaleLowContrast: #775e77;

.annotation-underline {
  cursor: pointer;
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 2px 2px;

  &.primary {
    // Built in css function
    // scss-lint:disable NameFormat
    background-image: linear-gradient($spHighlightPrimaryLight, $spHighlightPrimaryLight);

    .scheme-dark & {
      background-image: linear-gradient($spHighlightPrimaryPaleLowContrast, $spHighlightPrimaryPaleLowContrast);
    }

    .multiple {
      // Adds an additional background image
      background-image: linear-gradient($spHighlightPrimary, $spHighlightPrimary);
      background-repeat: repeat-x;
      background-position: 0 100%;
      background-size: 2px 2px;

      .scheme-dark & {
        background-image: linear-gradient($spHighlightPrimaryPaleLowContrast, $spHighlightPrimaryPaleLowContrast);
      }
    }
  }

  &.secondary {
    // Built in css function
    // scss-lint:disable NameFormat
    background-image: linear-gradient($spNoticeExtraLight, $spNoticeExtraLight);

    .scheme-dark & {
      background-image: linear-gradient($spHighlightSecondaryPaleLowContrast, $spHighlightSecondaryPaleLowContrast);
    }

    .multiple {
      // Adds an additional background image
      // Built in css function
      // scss-lint:disable NameFormat
      background-image: linear-gradient($spHighlightSecondary, $spHighlightSecondary);
      background-repeat: repeat-x;
      background-position: 0% 100%;
      background-size: 2px 2px;
    }
  }

  &.tertiary {
    // Built in css function
    // scss-lint:disable NameFormat
    background-image: linear-gradient($spHighlightTertiaryLight, $spHighlightTertiaryLight);

    .scheme-dark & {
      background-image: linear-gradient($spHighlightTertiaryPaleLowContrast, $spHighlightTertiaryPaleLowContrast);
    }

    .multiple {
      // Adds an additional background image
      // Built in css function
      // scss-lint:disable NameFormat
      background-image: linear-gradient($spHighlightTertiary, $spHighlightTertiary);
      background-repeat: repeat-x;
      background-position: 0% 100%;
      background-size: 2px 2px;
    }
  }
}

.annotation-highlight {
  &.primary {
    background-color: $spHighlightPrimaryPale;

    .scheme-dark & {
      background-color: $spHighlightPrimaryPaleLowContrast;
    }

    .multiple {
      background-color: $spHighlightPrimaryLight;
    }
  }

  &.secondary {
    background-color: $spHighlightSecondaryPale;

    .scheme-dark & {
      background-color: $spHighlightSecondaryPaleLowContrast;
    }

    .multiple {
      background-color: $spHighlightSecondaryLight;
    }
  }

  &.tertiary {
    background-color: $spHighlightTertiaryPale;

    .scheme-dark & {
      background-color: $spHighlightTertiaryPaleLowContrast;
    }

    .multiple {
      background-color: $spHighlightSecondaryLight;
    }
  }

  &.mixed {
    background-color: darken(mix($spHighlightPrimaryPale, $spHighlightSecondaryPale), 20%);
  }
}
