.icon-thumbnail-primary {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: $neutral70;
  text-align: center;
  background-color: $neutral10;

  &:hover {
    .icon-thumbnail-title {
      color: $accentPrimary;
    }
  }

  &.bg-image {
    color: $neutralWhite;
    background-position: 0 0;
    background-size: cover;

    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      content: '';
      background-color: transparentize($neutralOffBlack, 0.3);
    }

    .icon-thumbnail-icon {
      svg {
        fill: $neutralWhite;
      }
    }
  }

  &.title {
    .wrapper {
      padding: 4.818vw 3.329vw;

      @include respond($break60) {
        padding: 3.141vw 2.169vw;
      }

      @include respond($break75) {
        padding: 2.329vw 1.609vw;
      }

      @include respond($break90) {
        padding: 1.858vw 1.283vw;
      }

      @include respond($break100) {
        padding: 22.938px 15.844px;
      }
    }

    .icon-thumbnail-type {
      font-size: 12px;
    }

    .icon-thumbnail-icon {
      width: 27%;
      padding: 14px 0 17px;

      svg {
        max-height: 62.219px;

        @include respond($break60) {
          max-height: 49.672px;
        }

        @include respond($break75) {
          max-height: 46.516px;
        }

        @include respond($break90) {
          max-height: 48.406px;
        }
      }
    }
  }

  &.icon-only {
    background-color: transparent;

    &.bg-image {
      &::before {
        display: none;
      }

      .icon-thumbnail-icon {
        display: none;
      }

      .wrapper {
        padding-top: 105%;
      }
    }

    // Override padding for standard thumbnail
    .wrapper {
      padding: 0;
    }

    .icon-thumbnail-icon {
      width: 100%;
      padding: 0;

      &.document, &.interactive, &.link, &.pdf {
        max-width: 100%;
      }
    }
  }

  &.minimal:not(.preview) {
    background: transparent;
  }

  &.minimal {
    &.preview {
      width: 37px;
      height: 37px;
      overflow: hidden;

      .icon-thumbnail-icon {
        width: 100%;
        height: 37px;

        svg {
          max-width: 24px;
        }
      }
    }

    &.bg-image {
      .icon-thumbnail-icon {
        display: none;
      }

      &::before {
        background-color: $accentPrimary;
        opacity: 0;
      }
    }

    .icon-thumbnail-image {
      position: relative;
      display: inline-block;

      .image-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        transition: opacity $duration $timing;
      }

      img {
        display: block;
        width: auto;
        height: 50px;
      }
    }

    .icon-thumbnail-icon {
      display: flex;
      width: 80px;
      height: 50px;
      padding: 0;
      margin: 0 0 0 auto;
      color: $neutral50;
      text-align: center;
      background-color: $neutral10;

      svg {
        max-width: 30px;
        margin: auto;
      }

      &.document, &.interactive, &.link, &.pdf {
        // OD
        max-width: none;

        svg {
          max-width: 20px;
        }
      }
    }

    .wrapper {
      padding: 0;
      padding-bottom: 1em;

      .viewer-list & {
        padding-bottom: 0.5em;
      }
    }


    .icon-thumbnail-title {
      @include templateHead;
      padding-top: 8px;
      font-size: 14px;
      font-weight: $light;
      line-height: 1.1;
      color: $neutral50;
    }
  }

  &.right {
    text-align: right;
  }

  .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px 0 30px;

    @include respond($break40) {
      padding: 30px 0 37px;
    }

    @include respond($break85) {
      padding: 35px 0 43px;
    }
  }

  .icon-thumbnail-type {
    @include templateHead;
    font-size: 14px;

    .notation-viewer & {
      font-size: 0;
    }
  }

  .icon-thumbnail-title {
    @include templateHead;
    margin: 0;
    font-size: 14px;
    transition: color $duration $timing;
  }

  .icon-thumbnail-icon {
    display: block;
    width: 36%;
    padding: 18px 0 0;
    margin: 0 auto;

    // &.document, &.interactive, &.link, &.pdf {
    //   max-width: 25%;
    // }

    // Hack to make the resource icons the same height on resource cards. --ZD
    // &.image {
    //   margin-bottom: 7px;
    // }
    //
    // &.audio {
    //   margin-bottom: 12px;
    // }

    svg {
      width: 100%;
      height: auto;
      max-height: 100%;
      fill: $neutral70;
      transition: fill $duration $timing;
    }
  }
}
