// Reset bare button class for using icons only
.button-bare-icon {
  @include buttonUnstyled;
}

.button-bare-primary {
  @include buttonUnstyled;
  @include utilityPrimary;
  display: inline-block;
  font-size: 13px;
  color: $neutral50;
  text-decoration: none;
}

// Vertical arrangement for bare buttons.
.buttons-bare-vertical {
  .button-bare-primary {
    margin-bottom: 11px;
    font-size: 14px;

    @include respond($break65) {
      font-size: 16px;
    }
  }

  .manicon {
    margin-left: 13px;
    line-height: 16px;
    color: $accentPrimary;
    vertical-align: middle;
  }

  .manicon-key {
    font-size: 11px;
  }

  .manicon-trashcan {
    font-size: 16px;
    color: $sp40Tertiary;
  }
}

// Can be a <button> or an <a>
.button-primary {
  @include buttonUnstyled;
  @include utilityPrimary;
  display: inline-block;
  padding: 9px 23px 10px;
  color: $neutral80;
  text-decoration: none;
  border: 2px solid $accentPrimary;
  transition: background-color $duration $timing,
    color $duration $timing;

  &:hover {
    color: $neutralWhite;
    background-color: $accentPrimary;
  }
}

// Large transparent button with icon on the left
.button-icon-primary {
  @include buttonUnstyled;
  @include utilityPrimary;
  display: block;
  padding: 14px 20px 16px;
  font-size: 15px;
  font-weight: $bold;
  color: $neutral75;
  text-align: center;
  text-decoration: none;
  border: 2px solid $accentPrimary;
  transition: color $duration $timing, background-color $duration $timing;

  @include respond($break60) {
    display: inline-block;
    height: 71px;
    padding: 22px 30px 0;
  }

  &:hover {
    color: $neutralWhite;
    background-color: $accentPrimary;
  }

  span {
    display: inline;

    @include respond($break60) {
      display: inline-block;
    }
  }

  .manicon {
    display: block;
    padding-bottom: 10px;

    @include respond($break60) {
      display: inline-block;
      margin-right: 14px;
      vertical-align: top;
    }
  }

  // Font sizes in EM to be relative to text
  .manicon-books-on-shelf {
    font-size: 2.4em;

    @include respond($break60) {
      margin-top: -9px;
    }
  }

  .manicon-books-with-glasses {
    font-size: 1.933em;

    @include respond($break60) {
      margin-top: -3px;
    }
  }
}

// Used in backend for "add" buttons
// Can be an <a> or a <button>
.button-icon-secondary {
  @include templateHead;
  @include buttonUnstyled;
  padding: 12px 17px 14px;
  font-size: 18px;
  letter-spacing: 0.015em;
  color: $accentPrimary;
  text-align: left;
  text-decoration: none;
  border: 1px solid $accentPrimary;

  .manicon-plus {
    display: inline-block;
    margin-right: 1.286em;
    font-size: 0.778em;
  }

  .manicon-check.small, .manicon-x.small {
    margin-right: 16px;
    font-size: 12px;

    &::before {
      position: relative;
      top: 6px;
    }
  }
}

.buttons-icon-horizontal {
  margin-bottom: 45px;

  @include respond($break85) {
    margin-bottom: 45px;
    margin-left: -17px;
    font-size: 0;
  }

  .button-icon-secondary {
    display: block;
    width: 100%;
    margin-bottom: 15px;

    @include respond($break85) {
      display: inline-block;
      width: calc(50% - 17px);
      margin-left: 17px;
    }
  }
}

// Can be an <input>, <button>, or an <a>
%button-secondary-prototype {
  @include buttonUnstyled;
  @include templateHead;
  display: inline-block;
  // TODO: Determine default side padding
  padding: 1.214em 16px 1.286em;
  font-size: 12px;
  font-weight: $bold;
  letter-spacing: 0.075em;
  color: $neutral80;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $accentPrimary;
  transition: color $duration $timing,
    background-color $duration $timing;

  @include respond($break60) {
    font-size: 14px;
  }

  &.dull {
    background-color: $neutral10;
  }

  &.outlined {
    padding: 1em 30px 1.2em;
    color: $accentPrimary;
    background: none;
    border: 1px solid $accentPrimary;

    .bg-neutral90 & {
      color: $neutralWhite;
    }

    &:hover {
      color: $neutral90;
      background-color: $accentPrimary;

      .manicon {
        color: $neutral90;
      }
    }

    &.dull {
      color: $neutral70;
      border-color: $neutral70;

      &:hover {
        color: $neutral90;
        background-color: $neutral70;

        .manicon {
          color: $neutral90;
        }
      }

      .manicon {
        color: $neutral70;
      }
    }
  }

  .manicon {
    display: inline-block;
    vertical-align: middle;

    // Span generated by React
    + span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  // Size relative to button font-size
  .manicon-arrow-left {
    margin-top: -3px;
    margin-right: 17px;
    font-size: 1em;
  }

  .manicon-arrow-right {
    margin-top: -3px;
    margin-left: 17px;
    font-size: 1em;
  }

  .manicon-arrow-down {
    margin-top: -3px;
    margin-left: 17px;
    font-size: 1em;
  }

  .manicon-glasses {
    margin-right: 10px;
    font-size: 1.5em;
  }

  .manicon-bullet-list {
    margin-right: 12px;
    font-size: 1.214em;
  }

  .manicon-facebook {
    width: 38px;
    font-size: 1.786em;
  }

  .manicon-twitter {
    width: 38px;
    font-size: 1.571em;
  }
}

.button-secondary {
  @extend %button-secondary-prototype;
}

.button-secondary-dull {
  @extend %button-secondary-prototype;
  color: $neutral50;
  background-color: $neutral10;
}

// Left aligned and dark
.button-secondary-dark {
  @extend %button-secondary-prototype;
  color: $neutral40;
  text-align: left;
  background-color: $neutral80;
}

// Button with price-tag
.button-tagged {
  @extend %button-secondary-prototype;
  display: table;
  padding: 0;
  font-size: 14px;
  color: $neutral50;
  background-color: $neutral10;

  &.outline {
    color: $neutral75;
    background: none;
    border: 1px solid $neutral75;

    .tag {
      background: none;
      border-left: 1px solid $neutral75;
    }
  }

  // Note that this can be abstracted with class names for multiple label types
  .text, .tag {
    display: table-cell;
    vertical-align: middle;
  }

  .text {
    padding: 10px 18px 12px;
  }

  .tag {
    padding: 10px 12px 12px;
    font-size: 15px;
    letter-spacing: 0; // OD
    color: $neutralWhite;
    vertical-align: middle;
    background-color: $neutral40;
    transition: background-color $duration $timing;
  }

  &:hover .price {
    background-color: $accentPrimary;
  }
}

// TODO: Refactor login into form (default) with overlay (modified) and remove this
.login-external {
  .button-secondary-dark + .button-secondary-dark {
    margin-top: 21px;
  }
}

.follow-button-wrapper {
  position: absolute;
  top: 10.526%;
  left: -15px;
  width: 40px;
  height: 35px;

  &.active {
    width: 100%;
  }
}

.following-button {
  @include templateHead;
  position: absolute;
  left: 0;
  display: block;
  height: 33px;
  max-width: 33px;
  padding: 5px 13px 0 8px;
  overflow: hidden;
  font-size: 18px;
  color: $neutralWhite;
  text-align: left;
  white-space: nowrap;
  background-color: $accentPrimary;
  border-radius: 22.5px;
  transition: max-width $duration $timing, background-color $duration $timing;

  .unfollow & {
    background-color: $sp20Primary;
  }

  .follow-text {
    padding-left: 32px;
  }

  .following-enter, .following-leave.follow-text-hide-immediately {
    display: none;
  }

  .following-enter.follow-text-show-immediately {
    display: inline;
  }

  .follow-active &, .unfollow-active &, .unfollow-confirm-active & {
    max-width: 200px;
    transition: max-width $durationSlow ease-out;
  }

  .follow-active & {
    background-color: $sp20Primary;
  }

  .unfollow-active &, .unfollow-confirm-active & {
    background-color: $neutral75;
  }

  .icons {
    position: relative;
    width: 25px;

    .follow & {
      top: -25px;
      transition: top $duration $timing;
    }

    .follow-active & {
      top: -25px;
    }

    .unfollow & {
      top: 0;
      transition: top $duration $timing;
    }

    .unfollow-active & {
      top: 25px;
      transition: top $duration $timing;
    }

    .manicon {
      position: absolute;
      top: 0;
      left: -2px;
      margin-right: 13px;
      font-size: 17px;
      text-align: center;
    }

    .manicon-minus-bold {
      top: -22px;
      left: 1px;
    }

    .manicon-check-bold {
      top: 3px;
    }

    .manicon-plus-bold {
      top: 28px;
      left: 1px;
      transition: transform $duration $timing;

      .follow-active & {
        transform: rotate(-90deg);
      }

    }
  }
}

.back-link-primary {
  @include utilityPrimary;
  display: inline-block;
  padding: 20px 0 18px;
  font-size: 14px;
  color: $neutral70;
  text-decoration: none;
  background-color: $neutral05;
  transition: color $duration $timing,
    background-color $duration $timing;

  &.full {
    display: block;
  }

  .bg-neutral95 & {
    background-color: $neutral95;

    &:hover {
      color: $accentPrimary;
      background-color: $neutral95;
    }
  }

  &:hover {
    color: $neutral80;
    background-color: $neutral10;
  }

  .manicon {
    display: inline-block;
    margin-right: 10px;
    font-size: 13px;
    vertical-align: middle;
  }

  span {
    margin-left: 0.733em;
    font-size: 14px;
    font-weight: $regular;
    letter-spacing: 0.01em;
    color: $neutral50;
    text-transform: uppercase;
  }
}

.back-link-secondary {
  @include clearfix;
  display: table;
  padding: 34px 0 25px;
  text-decoration: none;

  .manicon {
    display: table-cell;
    padding-right: 22px;
    font-size: 42px;
    color: $neutral40;
    vertical-align: top;

    + div {
      display: table-cell;
      width: 100%;
      vertical-align: middle;
    }
  }

  .back-text {
    @include utilityPrimary;
    font-size: 14px;
    color: $neutral70;
  }

  .project-title {
    @include templateHead;
    display: block;
    font-size: 17px;
    line-height: 1.556;
    color: $neutral50;
  }
}

.close-button-primary {
  font-size: 15px;
  color: $neutral50;
  text-decoration: none;
  cursor: pointer;
}
