.overlay-full {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  overflow: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  // Background default
  &:not([class*="bg-"]) {
    background-color: $neutralWhite;
  }

  .overlay-full-header + .container {
    padding-top: 97px;

    @include respond($break70) {
      padding-top: 195px;
    }
  }

  .overlay-full-enter & {
    opacity: 0.01;
  }

  .overlay-full-enter.overlay-full-enter-active & {
    opacity: 1;
    transition: opacity $duration $timing;
  }

  .overlay-full-leave & {
    opacity: 1;
  }

  .overlay-full-leave.overlay-full-leave-active & {
    opacity: 0.01;
    transition: opacity $duration $timing;
  }

  // Button
  .overlay-close {
    @include buttonClose;
    position: absolute;
    top: 17px;
    right: 17px;
    color: $neutral50;
    cursor: pointer;
    transition: color $duration $timing;

    @include respond($break70) {
      top: 6.11vh;
      right: 35px;

      @include respond($hbreak90, min, height) {
        top: 55px;
      }
    }

    &:hover {
      color: $accentPrimary;
    }
  }
}
