.overlay-full-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $neutralWhite;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  .overlay-full-header + & {
    padding-top: 135px;
  }

  .container {
    max-width: 850px;
  }
}
