.notes-message {
  margin-top: 42px;

  .heading-primary {
    margin-bottom: 0.8em;
    color: var(--default-strong-color);
  }

  p {
    @include templateCopy;
    font-size: 19px;
  }

  .drawer & {
    @include drawerPadding(padding-right, narrow);
    @include drawerPadding(padding-left, narrow);
    margin-top: 0;
  }
}
