.section-pagination {
  @include clearfix;
  background-color: $neutral05;
  transition: background-color $duration $timing;

  .scheme-dark & {
    background-color: $neutral85;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  // Global button styles
  // <a>
  &__link {
    @include utilityPrimary;
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    padding: 20px 0;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;

    @include respond($break40) {
      padding: 28px 0;
    }

    @include respond($break75) {
      padding: 26px 0;
    }

    &--next {
      justify-content: flex-end;
    }
  }

  &__text {
    line-height: 1;
  }

  &__icon {
    &--previous {
      margin-right: 16px;
    }

    &--next {
      margin-left: 16px;
    }
  }
}
