.notation-marker {
  color: $neutralUIDark;
  transition: color $duration $timing;

  .scheme-dark & {
    color: $neutralUILight;
  }

  &--active {
    color: $defaultHoverColor;

    .scheme-dark & {
      color: $defaultHoverColor;
    }
  }

  &__icon {
    position: relative;
    top: -1px;
    color: inherit;
  }
}
