.project-collection-form {
  @include respond($break75) {
    max-width: 446.44px; // set explicity to prevent drawer from expanding
  }

  .button-switch-primary {
    &__side {
      font-size: 17px;
      font-weight: $regular;
      text-transform: none;
      letter-spacing: 0;
    }

    &__label::after {
      @include respond(500px, min) {
        display: inline;
        content: ' Collection';
      }
    }
  }
}
