.project-collection-sort {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 20px;

  @include respond($break60) {
    flex-flow: row wrap;
    align-items: center;
  }

  &__order-select {
    padding-top: 5px;
  }

  &__instructional-copy {
    @include formInstructions;
    font-size: 13px;
  }

  // scope .form-secondary styles
  .form-secondary {
    margin-top: 0;

    .form-input {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include respond($break60) {
        justify-content: flex-end;
      }

      .form-input-heading {
        margin-right: 12px;
        margin-bottom: 0;
        font-size: 13px;
        transform: translateY(-1px);
      }

      .toggle-indicator {
        display: inline-block;
      }
    }
  }
}
