.project-collections {
  // show one column at a time on mobile
  &.active-collection .backend-panel > .container {
    @include respond(#{$break75 - 1}, max) {
      .project-collection-list {
        height: 0;
        visibility: hidden;
        opacity: 0;
      }

      .panel {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &.empty .backend-panel > .container {
    @include respond(#{$break75 - 1}, max) {
      .panel {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .backend-panel {
    > .container {
      padding-top: 0;

      @include respond(#{$break75 - 1}, max) {
        position: relative;
        flex-direction: column;

        > * {
          width: 100%;
          transition: opacity 0.5s $timing;
        }

        .project-collection-list {
          visibility: visible;
          opacity: 1;
        }

        .panel {
          visibility: hidden;
          opacity: 0;
        }
      }
    }

    .backend-header {
      margin-bottom: 20px;

      @include respond($break75) {
        margin-bottom: 42px;
      }
    }
  }

  .drawer-backend {
    .form-number-input input[type='number'] {
      color: $accentPrimary;
    }
  }
}
