.project-detail-hero {
  @include clearfix;
  // Structure of main elements declared separately so they can be easily accessed without
  // sifting past granular properties
  .project-info {
    float: left;
    width: 65%;
    padding-right: 12%;
  }
  .project-image {
    float: left;
    width: 35%;
  }

  // Project Info
  // --------------------------------------------------------
  .project-info {
    // Note that there is only one here, but structural styles will need to be
    // added if there are more, and potentially list markup
    // <figure>
    .maker-avatar {
      // NB: This needs to be browser tested heavily before settling on this rounding method
      img {
        width: 70px;
        height: auto;
        border-radius: 100%;
      }
      figcaption {
        @include templateCopy;
        font-size: $type90;
        color: $neutral80;
        margin-top: 2px;
      }
    }

    .project-title {
      @include templateHead;
      font-size: $type120;
      font-weight: $semibold;
      color: $neutralOffBlack;
      .project-subtitle {
        @include templateCopy;
        display: block;
        font-size: $type90;
        font-style: italic;
        font-weight: $regular; // OD
        letter-spacing: 0.031em;
        color: $accentSecondary;
        margin-top: 18px;
      }
    }

    // Summary content defaults
    .project-summary {
      @include templateCopy;
      font-size: $type60;
      line-height: 1.611;
      color: $neutralOffBlack;
    }

    .project-entry {
      margin-top: 72px;
      width: 300px;
      .button-reader {
        margin-bottom: 40px;
      }
      .button-toc {
        margin-bottom: 20px;
      }
    }

    .button-secondary {
      width: 100%;
    }
  }

  // Project Image
  // --------------------------------------------------------
  .project-image img {
    max-width: 100%;
    height: auto;
  }
}