.table {
  $_layout-breakpoint: $break65;
  $_cell-padding-vertical: 16px;
  $_cell-padding-lateral-static: 30px;
  $_cell-padding-lateral-responsive: $_cell-padding-lateral-static /
    $containerWidthFull * 100 + 0vw;
  $_cell-padding-lateral: min(
    #{$_cell-padding-lateral-static},
    #{$_cell-padding-lateral-responsive}
  );

  &__responsive-container {
    overflow: auto;
  }

  &__heading-small {
    @include formLabelPrimary;
  }

  &__row {
    position: relative;
    padding: 16px;
    margin: 0;
    border-bottom: 1px solid $neutral45;
    transition: background-color $duration $timing;

    &--is-link {
      cursor: pointer;

      &.table__row--is-hovering {
        background-color: var(--box-bg-color);
      }
    }
  }

  &__list {
    display: grid;

    @include respond($_layout-breakpoint) {
      @include screenReaderText;
    }
  }

  &__list-item-container {
    padding-bottom: 15px;
  }

  &__list-value {
    padding-top: 3px;
    margin-top: 0;
  }

  &__table {
    display: none;
    width: 100%;

    @include respond($_layout-breakpoint) {
      display: table;
    }
  }

  &__th {
    padding: $_cell-padding-vertical $_cell-padding-lateral;
    text-align: left;
  }

  &__ordered-list {
    @include listUnstyled;

    @include respond($_layout-breakpoint) {
      display: none;
    }
  }

  &__link-arrow {
    flex-shrink: 0;
    opacity: 0;
    transition: opacity $duration $timing, transform $duration $timing;
    transform: translateY(1px);

    &--active {
      opacity: 1;
      transform: translate(20%, 1px);
    }

    &:not(:first-child) {
      margin-left: 12px;
    }

    .table__avatar--placeholder ~ & {
      transform: translateY(0);

      &--active {
        transform: translateX(20%);
      }
    }
  }

  &__private-icon {
    position: relative;
    top: -2.5px;
    margin-left: 10px;
    color: $neutralUIDark;
  }

  &__nested-link {
    position: relative;
    padding: 4px 32px 5px 17px;
    margin-left: -17px;
    text-decoration: none;
    border-radius: 13px;
    transition: background-color $duration $timing;

    @include respond($_layout-breakpoint) {
      // margin-left: 17px;
    }

    &:hover,
    &:focus-visible {
      color: inherit;
      background-color: var(--box-bg-color);

      .table__nested-link-arrow {
        opacity: 1;
        transform: translate(20%, -50%);
      }
    }
  }

  &__nested-link-arrow {
    position: absolute;
    top: 50%;
    right: 12px;
    opacity: 0;
    transition: opacity $duration $timing, transform $duration $timing;
    transform: translate(0, -50%);
  }

  &__name {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding-bottom: 3px;
    margin-top: -6px;
    margin-left: -12px;
    text-decoration: none;

    @include respond($_layout-breakpoint) {
      width: auto;
    }

    &--with-link {
      &:hover,
      &:focus-visible {
        outline: 0;
      }
    }

    .table__avatar ~ & {
      padding-bottom: 0;
    }

    > * {
      margin-top: 6px;
      margin-left: 12px;
    }
  }

  &__sr-link {
    @include screenReaderText;

    &:focus-visible {
      outline: 0;

      ~ .table__name-container {
        @include defaultFocusStyle;
      }
    }
  }

  &__mobile-columns {
    display: flex;
    justify-content: space-between;

    @include respond($break40) {
      justify-content: flex-start;
    }
  }

  &__padded-cell {
    padding: $_cell-padding-vertical $_cell-padding-lateral;
  }

  &__row-link {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  &__body-text {
    @include templateHead;
    position: relative;
    margin: 0;
    color: var(--default-strong-color);
  }

  &__value-large {
    display: inline-flex;
    align-items: center;
    padding: 10px 0 20px;
    margin: 0;
    font-size: 18px;
    font-weight: $medium;

    @include respond($_layout-breakpoint) {
      width: 100%;
      min-width: 250px;
      padding: $_cell-padding-vertical $_cell-padding-lateral;
      font-size: 21px;
    }
  }

  &__inline-value {
    display: inline-block;

    &--underlined {
      line-height: 1.6;
    }

    &:not(:first-child) {
      margin-left: min(20px, #{20px / $containerWidthFull * 100 + 0vw});
    }
  }

  &__inline-icon {
    position: relative;
    top: -1px;
    margin-right: 5px;
    color: var(--default-color);
  }

  &__name-container {
    @include textTruncate;
    line-height: 1.4;
    transform: translateY(1px);

    @include respond($_layout-breakpoint) {
      overflow: visible;
      line-height: inherit;
      white-space: normal;
    }
  }

  &__tag {
    @include blockLabelRound;
    display: inline-block;
    flex-shrink: 0;
    padding: 5px 12px 6px;
    font-size: 11px;
    line-height: 1.2em;
    color: var(--default-strong-color);
    white-space: nowrap;
    vertical-align: middle;
    background-color: var(--box-medium-bg-color);
    transform: translateY(3px);
  }

  &__actions {
    display: flex;

    > * + * {
      flex-shrink: 0;
      margin-left: 7px;
    }
  }

  &__no-left-padding {
    padding-left: 0;
  }

  &__grid-item-left {
    grid-column-start: 1;
  }

  &__grid-item-right {
    grid-column-start: 2;
  }

  &__grid-item-row-2 {
    grid-row-start: 2;
  }

  &__grid-item-row-3 {
    grid-row-start: 3;
  }

  &__grid-item-colspan {
    grid-column-end: span 2;
    min-width: 0;
  }

  &__value-standard {
    @include utilityPrimary;
    font-size: 12px;
  }

  &__centered {
    @include respond($_layout-breakpoint) {
      text-align: center;
    }
  }

  &__right {
    text-align: right;
  }

  &__cell {
    &--fit-content {
      @include respond($_layout-breakpoint) {
        width: 1%;
        white-space: nowrap;
      }
    }

    &--truncate {
      @include textTruncate;
    }

    &--medium {
      // width: 135px;
    }

    &--header-has-icon {
      padding-left: 32px;

      @include respond($_layout-breakpoint) {
        padding-left: 20px;
      }
    }
  }

  &__small-padding-left {
    @include respond($_layout-breakpoint) {
      padding-left: 10px;
    }
  }

  &__right-unpadded {
    padding-right: 0;
    vertical-align: middle;
  }

  &__pagination:not(:empty) {
    padding-top: 30px;
  }

  &__avatar {
    flex-shrink: 0;

    &--image {
      width: 30px;
      height: 30px;
      margin: -1px 14px -1px 3px;
      border: 1px solid $neutral50;
      border-radius: 100%;
    }

    &--placeholder {
      margin: -3px 10px -4px 0;
      color: $neutral50;

      svg {
        width: 36px;
        height: 36px;
      }
    }

    + .table__name {
      transform: translateY(-2px);
    }
  }

  &__avatar-placeholder-container {
    width: 38px;
    margin-right: 8px;
    margin-left: -2px;
  }

  &__hide-desktop {
    @include respond($_layout-breakpoint) {
      display: none;
    }
  }

  &__hide-mobile {
    display: none;

    @include respond($_layout-breakpoint) {
      display: inline-block;
    }
  }
}
