.resource-kind-picker {
  $grid-gap: 15px;

  padding-bottom: 40px;

  @include respond($break65) {
    padding-bottom: 12px;
  }

  &__list {
    @include listUnstyled;
    display: none;
    flex-wrap: wrap;
    margin-left: -$grid-gap;

    @include respond($break65) {
      display: flex;
    }
  }

  &__item {
    @include buttonUnstyled;
    display: flex;
    flex-basis: calc(50% - #{$grid-gap});
    flex-direction: column;
    align-items: center;
    padding: 18px 10px;
    margin-bottom: $grid-gap;
    margin-left: $grid-gap;
    border: 1px solid $neutralUIDullLight;
    transition: background-color $durationFast $timing,
      border-color $duration $timing;

    @include respond($break60) {
      flex-basis: calc(25% - #{$grid-gap});
    }

    @include respond($break80) {
      flex-basis: calc(20% - #{$grid-gap});
    }

    &--active {
      color: $neutralTextExtraLight;
      background-color: $neutral80;
      border-color: $neutral80;
    }

    &:hover,
    &:focus-within {
      border-color: $defaultHoverColor;
      outline: 0;
    }
  }

  &__label {
    @include templateHead;
    padding-bottom: 18px;
    font-size: 14px;
    font-weight: $medium;
    line-height: 1.2;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__select {
    @include respond($break65) {
      display: none;
    }

    &--only {
      display: block;

      @include respond($break65) {
        padding-bottom: 28px;
      }
    }
  }
}
