// Arranges section-heading, any details, search/filters, and body of section using flexbox
// Used on All Projects, Project Detail, & Project Collections detail pages
.entity-section-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 30px;

  @include respond($break95) {
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__header-row {

    &.journals {
      display: grid;
      grid-template-columns: max-content 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "section-heading tools"
    "list-total list-total";
      align-items: center;

      @include respond($break95, "max") {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "section-heading"
        "list-total"
        "tools";
      }

      .section-heading {
        grid-area: section-heading;
      }

      .entity-section-wrapper {
        &__details {
          grid-area: list-total;
        }
      }

      .form-list-filter {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "search-input select-group";
        margin: 0;
        grid-area: tools;
        align-self: center;

        @include respond($break95, "max") {
          display: flex;
          margin-bottom: 36px;
        }

        .search-input {
          grid-area: search-input;
          justify-self: right;
          width: 100%;
          max-width: 200px;

          @include respond($break95, "max") {
            width: auto;
            max-width: 100%;
          }
        }

        .select-group {
          grid-area: select-group;

          &.inline {
            display: flex;

            @include respond($break95, "max") {
              display: block;
            }
          }
        }
      }
    }
  }

  &__heading {
    flex-grow: 1;
    order: -1;
    margin-bottom: 20px;

    + .entity-section-wrapper__body { // if no .list-tools or .details
      @include respond($break95) {
        margin-top: 34px;
      }
    }

    @include respond($break95) {
      order: 0;
      margin-bottom: 0;
    }

    @include respond($break95) {
      flex-basis: 1%;
      order: 0;
    }

    &--wide {
      flex-basis: 100%;
      margin-bottom: 30px;
    }

    .main {
      align-items: center;

      .title {
        @include respond($break95, max) {
          font-size: 18px;
        }
      }

      .manicon-svg:not(.collecting-toggle__icon) {
        position: relative;
        top: 2px;
        flex-shrink: 0;
        width: 56px;
        height: 56px;
        margin-right: 6px;
        margin-left: -4px;
        color: var(--content-color, $neutralUIDullDark);

        @include respond($break60) {
          width: 60px;
          height: 60px;
          margin-right: 14px;
        }

        &.icon-star-fill,
        &.icon-notes-unique {
          width: clamp(40px, 7.742vw, 48px);
          height: clamp(40px, 7.742vw, 48px);
        }
      }
    }

    .icon-star-fill--header {
      width: 48px;
      height: 48px;
      fill: transparent;

      .icon-star-fill__foreground {
        fill: $neutralTextExtraDark;
      }

      .icon-star-fill__background {
        fill: $iconFillStarBgColor;
      }
    }

    .icon-notes-unique {
      fill: transparent;

      &__foreground {
        fill: $neutralTextExtraDark;
      }

      &__background {
        fill: $neutralTextExtraLight;
      }
    }
  }

  &__tools {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 36px;

    + .entity-section-wrapper__body { // if no .details
      margin-top: 18px;

      @include respond($break95) {
        margin-top: 28px;

        &--pad-top {
          margin-top: 38px;
        }
      }
    }

    @include respond($break75) {
      flex-direction: row;
      margin-top: 10px;
    }

    @include respond($break95) {
      align-self: flex-start;
      justify-content: flex-end;
      width: auto;
      margin-top: 11px;
      margin-bottom: 0;
    }

    &.form-list-filter {
      .search-input {
        width: auto;

        @include respond($break75) {
          flex-grow: 1;
        }

        @include respond($break95) {
          width: 200px;
        }
      }

      .select-group.inline {
        @include respond($break75) {
          width: auto;
          padding-top: 0;
          margin-left: 0;
        }
      }

      .reset-button {
        position: absolute;
        top: 100%;
        left: 0;
      }

      &:not(.entity-section-wrapper__tools--wide) {
        @include respond($break95) {
          right: 0;
          left: unset;
          text-align: right;
        }
      }
    }

    &--wide.form-list-filter {
      flex-basis: auto;
      margin-bottom: 46px;

      @include respond($break75) {
        flex-basis: 100%;
        flex-direction: column;
        margin-top: 30px;

        .select:first-child {
          margin-left: 0;
        }
      }

      @include respond($break90) {
        flex-direction: row;
      }

      .select-group.inline {
        padding-top: 15px;

        @include respond($break90) {
          padding-top: 0;
          padding-left: 15px;
        }
      }
    }
  }

  &__details {
    order: -1;
    width: 100%;
    margin-bottom: 20px;
    line-height: 1.4;

    @include respond($break95) {
      order: 0;
      margin-top: 28px;
      margin-bottom: 24px;
    }

    &:not(.entity-section-wrapper__details--wide) {
      @include respond($break95) {
        margin-right: 50%;
      }
    }

    &--wide {
      @include respond($break95) {
        margin-right: 26%;
      }
    }

    + .entity-section-wrapper__body.project-list.empty {
      margin-top: 6px;

      @include respond($break75) {
        margin-top: 12px;
      }
    }

    &--padded-top {
      margin-top: min(7.895vw, 60px);
    }

    .description {
      @include templateHead;
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 1.5;
      color: $neutral80;

      &:only-child:not(.pad-bottom) {
        margin-bottom: 0;
      }

      @include respond($break75) {
        font-size: 16px;
      }
    }
  }

  &__body {
    &:not(.project-list) {
      width: 100%;
    }

    &--narrow {
      max-width: 720px;
    }

    &--incomplete-header {
      margin-bottom: 20px;

      @include respond($break40) {
        margin-bottom: 0;
      }
    }

    &--warning {
      font-style: italic;

      i, em {
        font-style: normal;
      }
    }

    &--incomplete, &--notice {
      @include templateHead;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 15px;
      font-weight: $medium;
      color: $neutralTextExtraDark;
      background-color: $spWarningExtraLight;
      border-radius: 8px;

      > div {
        margin-top: 15px;
        text-align: center;
      }

      svg {
        color: $defaultWarningColor;
      }

      .entity-section-wrapper__link-container {
        @include templateCopy;
        font-weight: $regular;
        text-align: center;
      }

      span {
        display: block;

        + span {
          margin-top: 5px;
        }
      }

      a {
        &:hover,
        &:visited {
          color: inherit;
        }
      }

      @include respond($break40) {
        flex-direction: row;
        justify-content: flex-start;
        padding: 35px 30px;

        svg {
          flex-shrink: 0;
        }

        > div {
          margin-top: 0;
          margin-left: 30px;
          text-align: left;
        }

        .entity-section-wrapper__link-container {
          text-align: left;
        }
      }
    }

    &--notice {
      background-color: $spNoticeExtraLight;

      svg {
        color: $defaultNoticeColor;
      }
    }

  }


  &__utility {
    @include utilityPrimary;
    font-size: 14px;
    line-height: 1.57;

    &--footer {
      margin-top: 30px;

      @include respond($break75) {
        margin-top: 20px;
      }
    }

    a {
      display: flex;
      align-items: center;
      color: $neutral80;
      text-decoration: none;

      &:hover {
        @include defaultHoverStyle;
      }

      .manicon-svg {
        position: relative;
        top: -1px;
        width: 24px;
        height: 16px;
        margin-left: 12px;

        @include respond($break75) {
          width: 30px;
          height: 20px;
          margin-left: 15px;
        }
      }
    }
  }

  &__pagination {
    width: 100%;
    margin-top: 30px;
  }
}
