// Arranges section-heading, any details, search/filters, and body of section using flexbox
// Used on All Projects, Project Detail, & Project Collections detail pages
.entity-section-wrapper {
  $_filter-gap: entity-filter-form(gap);
  $_filter-min-width: entity-filter-form(select-min-width);

  display: flex;
  flex-direction: column;
  padding-top: 30px;

  @include respond($break75) {
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__heading {
    flex-grow: 1;
    order: -1;
    margin-bottom: 20px;

    + .entity-section-wrapper__body {
      // if no .list-tools or .details
      @include respond($break75) {
        margin-top: 34px;
      }
    }

    @include respond($break75) {
      order: 0;
      margin-bottom: 0;
    }

    @include respond($break95) {
      flex-basis: 1%;
      order: 0;
    }

    &--wide {
      flex-basis: 100%;
      margin-bottom: 30px;
    }

    .main {
      align-items: center;

      .title {
        @include respond($break75, max) {
          font-size: 18px;
        }
      }

      .manicon-svg:not(.collecting-toggle__icon) {
        position: relative;
        top: 2px;
        flex-shrink: 0;
        width: 56px;
        height: 56px;
        margin-right: 6px;
        margin-left: -4px;
        color: var(--content-color, $neutralUIDullDark);

        @include respond($break60) {
          width: 60px;
          height: 60px;
          margin-right: 14px;
        }

        &.icon-star-fill,
        &.icon-notes-unique {
          width: clamp(40px, 7.742vw, 48px);
          height: clamp(40px, 7.742vw, 48px);
        }
      }
    }

    .icon-star-fill--header {
      width: 48px;
      height: 48px;
      fill: transparent;

      .icon-star-fill__foreground {
        fill: $neutralTextExtraDark;
      }

      .icon-star-fill__background {
        fill: $iconFillStarBgColor;
      }
    }

    .icon-notes-unique {
      fill: transparent;

      &__foreground {
        fill: $neutralTextExtraDark;
      }

      &__background {
        fill: $neutralTextExtraLight;
      }
    }
  }

  &__tools {
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 36px;

    + .entity-section-wrapper__body {
      // if no .details
      margin-top: 18px;

      @include respond($break75) {
        margin-top: 28px;

        &--pad-top {
          margin-top: 38px;
        }
      }
    }

    @include respond($break75) {
      margin-top: 10px;
    }

    @include respond($break95) {
      flex-basis: $_filter-min-width * 3 + $_filter-gap * 2;
      margin-top: 0;
      margin-bottom: 0;
    }

    &--wide {
      flex-basis: 100%;
      margin-top: 30px;
      margin-bottom: 46px;
    }
  }

  &__details {
    order: -1;
    width: 100%;
    margin-bottom: 20px;
    line-height: 1.4;

    @include respond($break75) {
      order: 0;
      margin-top: 28px;
      margin-bottom: 24px;
    }

    &:not(.entity-section-wrapper__details--wide) {
      @include respond($break95) {
        margin-right: 50%;
      }
    }

    &--wide {
      @include respond($break95) {
        margin-right: 26%;
      }
    }

    + .entity-section-wrapper__body.project-list.empty {
      margin-top: 6px;

      @include respond($break75) {
        margin-top: 12px;
      }
    }

    &--padded-top {
      margin-top: min(7.895vw, 60px);
    }

    .description {
      @include templateHead;
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 1.5;
      color: $neutral80;

      &:only-child:not(.pad-bottom) {
        margin-bottom: 0;
      }

      @include respond($break75) {
        font-size: 16px;
      }
    }
  }

  &__body {
    &:not(.project-list) {
      width: 100%;
    }

    &--narrow {
      max-width: 720px;
    }

    &--incomplete-header {
      margin-bottom: 20px;

      @include respond($break40) {
        margin-bottom: 0;
      }
    }

    &--warning {
      font-style: italic;

      i,
      em {
        font-style: normal;
      }
    }

    &--incomplete,
    &--notice {
      @include templateHead;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 15px;
      font-weight: $medium;
      color: $neutralTextExtraDark;
      background-color: $spWarningExtraLight;
      border-radius: 8px;

      > div {
        margin-top: 15px;
        text-align: center;
      }

      svg {
        color: $defaultWarningColor;
      }

      .entity-section-wrapper__link-container {
        @include templateCopy;
        font-weight: $regular;
        text-align: center;
      }

      span {
        display: block;

        + span {
          margin-top: 5px;
        }
      }

      a {
        &:hover,
        &:visited {
          color: inherit;
        }
      }

      @include respond($break40) {
        flex-direction: row;
        justify-content: flex-start;
        padding: 35px 30px;

        svg {
          flex-shrink: 0;
        }

        > div {
          margin-top: 0;
          margin-left: 30px;
          text-align: left;
        }

        .entity-section-wrapper__link-container {
          text-align: left;
        }
      }
    }

    &--notice {
      background-color: $spNoticeExtraLight;

      svg {
        color: $defaultNoticeColor;
      }
    }
  }

  &__utility {
    @include utilityPrimary;
    font-size: 14px;
    line-height: 1.57;

    &--footer {
      margin-top: 30px;

      @include respond($break75) {
        margin-top: 20px;
      }
    }

    a {
      display: flex;
      align-items: center;
      color: $neutral80;
      text-decoration: none;

      &:hover {
        @include defaultHoverStyle;
      }

      .manicon-svg {
        position: relative;
        top: -1px;
        width: 24px;
        height: 16px;
        margin-left: 12px;

        @include respond($break75) {
          width: 30px;
          height: 20px;
          margin-left: 15px;
        }
      }
    }
  }

  &__pagination {
    width: 100%;
    margin-top: 30px;
  }
}
