.footer-browse {
  --default-focus-color: #{$accentPrimary};

  padding-top: 32px;
  background-color: $neutral75;

  @include respond($break50) {
    padding-top: 40px;
  }

  @include respond($break65) {
    padding-top: 67px;
  }

  .footer-primary {
    @include clearfix;
    @include respond($break65) {
      min-height: 105px;
    }

    .flex-row {
      display: flex;
      flex-direction: column-reverse;

      @include respond($break65) {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
      }

      .right {
        @include respond($break65) {
          order: 2;
        }

        .search-form {
          display: inline-block;

          input {
            border-width: 2px;
          }
        }
      }

      .left {
        margin-bottom: 10px;

        @include respond($break65) {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          margin-bottom: 0;
        }

        .search-form {
          @include respond($break65) {
            margin-top: 65px;
          }
        }
      }
    }
  }

  .press-logo {
    display: inline-block;
    padding: 0;
    margin-bottom: 14px;

    @include respond($break75) {
      float: right;
      margin-bottom: 0;
    }

    .logo-image {
      max-width: 328px;
      max-height: 202px;
    }
  }

  .search-form {
    margin-bottom: 20px;

    @include respond($break40) {
      max-width: 250px;
    }

    .search-button-inline input {
      border-width: 2px;
      @include respond($break30) {
        border-width: 3px;
      }
    }


    button {
      &:focus-visible {
        color: $accentPrimary;
      }
    }
  }

  .footer-secondary {
    position: relative;
    padding-bottom: 15px;

    @include respond($break30) {
      padding-top: 28px;
      padding-bottom: 28px;
    }
  }

  .colophon {
    @include templateCopy;
    font-size: 14px;
    color: $neutral50;

    @include respond($break40) {
      font-size: 16px;
    }

    a {
      color: inherit;
    }
  }

  .footer-tertiary {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $neutral80;
    transition: background-color $duration $timing;

    &:hover, &:focus-visible {
      background-color: $accentPrimary;
      outline: 0;

      .logo, .logo.dull {
        color: $neutral80;

        .text .neutral-text {
          color: $neutralWhite;
        }
      }

      .footer-tertiary__manifold-logo {
        color: $neutralWhite;
      }

      .footer-tertiary__manifold-logo--dull {
        color: $neutral80;
      }
    }

    .logo {
      @include templateHead;
      display: block;
      font-size: 20px;
      font-weight: $semibold;
      line-height: 33px;
      color: $neutralWhite;
      text-decoration: none;
      transition: color $duration $timing;

      &.dull {
        color: $neutral30;
      }

      .text {
        display: inline-block;

        .neutral-text {
          color: $neutral70;
          transition: color $duration $timing;
        }
      }
    }

    &__manifold-logo {
      position: relative;
      top: -2px;
      margin-right: 14px;
      color: $accentPrimary;
      transition: color $duration $timing;

      &--dull {
        color: $neutral70;
      }
    }
  }
}

.footer-nav-list {
  $icon-size: 24px;

  @include listUnstyled;
  font-size: 16px;

  &__item {
    min-height: $icon-size;

    & + & {
      margin-top: 0.75em;
    }
  }

  &__link {
    @include templateHead;
    display: flex;
    // align-items: center;
    font-size: 17px;
    font-weight: $medium;
    color: $neutralWhite;
    text-decoration: none;
    cursor: pointer;
    transition: color $duration $timing;

    &:hover {
      color: $accentPrimary;
    }
  }

  &__icon {
    position: relative;
    top: -1px;
    margin-right: 14px;
    color: $neutral50;
    transition: color $duration $timing;

    .footer-nav-list__link:hover &,
    .footer-nav-list__link:focus-visible & {
      color: $accentPrimary;
    }
  }
}

// <nav> wrapper around nested <ul>
.text-nav {
  margin-top: -20px;
  margin-bottom: 20px;

  @include respond($break75) {
    margin-bottom: 0;
  }

  &__list {
    @include listUnstyled;
    display: flex;
    flex-wrap: wrap;
  }

  &__link-group {
    margin-top: 20px;
    margin-right: 70px;
  }
}
