.footer-browse {
  padding-top: 32px;
  background-color: $neutral75;

  @include respond($break50) {
    padding-top: 40px;
  }

  @include respond($break65) {
    padding-top: 67px;
  }

  &--standalone {
    padding-top: 0;
  }

  .footer-primary {
    @include clearfix;
    @include respond($break65) {
      min-height: 105px;
    }

    .flex-row {
      display: flex;
      flex-direction: column-reverse;

      @include respond($break65) {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
      }

      .right {
        @include respond($break65) {
          order: 2;
        }

        .search-form {
          display: inline-block;

          input {
            border-width: 2px;
          }
        }
      }

      .left {
        margin-bottom: 10px;

        @include respond($break65) {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          margin-bottom: 0;
        }

        .search-form {
          @include respond($break65) {
            margin-top: 65px;
          }
        }
      }
    }
  }

  .press-logo {
    display: inline-block;
    padding: 0;
    margin-bottom: 14px;

    @include respond($break75) {
      float: right;
      margin-bottom: 0;
    }

    .logo-image {
      max-width: 328px;
      max-height: 202px;
    }
  }

  .search-form {
    margin-bottom: 20px;

    @include respond($break40) {
      max-width: 250px;
    }

    .search-button-inline input {
      border-width: 2px;
      @include respond($break30) {
        border-width: 3px;
      }
    }


    button {
      &:focus {
        color: $accentPrimary;
      }
    }
  }

  .footer-secondary {
    position: relative;
    padding-bottom: 15px;

    @include respond($break30) {
      padding-top: 28px;
      padding-bottom: 28px;
    }
  }

  .colophon {
    @include templateCopy;
    font-size: 14px;
    color: $neutral50;

    @include respond($break40) {
      font-size: 16px;
    }

    a {
      color: inherit;
    }
  }
}

.footer-nav-list {
  $icon-size: 24px;

  @include listUnstyled;
  font-size: 16px;

  &--simple {
    display: flex;

    .footer-nav-list__item + .footer-nav-list__item {
      margin-top: 0;
    }

    .footer-nav-list__text {
      @include screenReaderText;
    }
  }

  &__item {
    min-height: $icon-size;

    & + & {
      margin-top: 0.75em;
    }
  }

  &__link {
    @include templateHead;
    display: flex;
    // align-items: center;
    font-size: 17px;
    font-weight: $medium;
    color: $neutralWhite;
    text-decoration: none;
    cursor: pointer;
    transition: color $duration $timing;

    &:hover, &:focus {
      color: $accentPrimary;
      outline: 0;
    }
  }

  &__icon {
    position: relative;
    top: -1px;
    margin-right: 14px;
    color: $neutral50;
    transition: color $duration $timing;

    .footer-nav-list__link:hover &,
    .footer-nav-list__link:focus & {
      color: $accentPrimary;
    }
  }
}

// <nav> wrapper around nested <ul>
.text-nav {
  margin-top: -20px;
  margin-bottom: 20px;

  @include respond($break75) {
    margin-bottom: 0;
  }

  &__list {
    @include listUnstyled;
    display: flex;
    flex-wrap: wrap;
  }

  &__link-group {
    margin-top: 20px;
    margin-right: 70px;
  }
}

/* stylelint-disable property-no-vendor-prefix */
.manifold-footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $neutral80;
  transition: background-color $duration $timing;

  &__inner {
    $grid-gap: 25px;

    @include containerPrototype;
    display: -ms-grid;
    display: grid;
    grid-template:
      'logo . social' auto
      'colophon colophon colophon' auto / auto 1fr max-content;
    -ms-grid-rows: auto auto;
    -ms-grid-columns: 1fr max-content;
  }

  &__logo-link {
    display: block;
    grid-area: logo;
    -ms-grid-row: 1;
    -ms-grid-column: 1;

    &--block {
      &:hover,
      &:focus {
        background-color: $accentPrimary;
        outline: 0;
      }
    }
  }

  &__colophon {
    grid-area: colophon;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    margin-top: 20px;
  }

  &__social-nav {
    align-self: center;
    grid-area: social;
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-row-align: center;
  }

  &__logo {
    @include templateHead;
    display: block;
    font-size: 20px;
    font-weight: $semibold;
    line-height: 33px;
    color: $neutralWhite;
    text-decoration: none;

    &--dull {
      color: $neutral30;
    }
  }

  &__logo-text {
    display: inline-block;

    &--neutral {
      color: $neutral70;
      transition: color $duration $timing;

      .manifold-footer__logo-link:hover &,
      .manifold-footer__logo-link:focus & {
        color: $neutralWhite;
      }
    }

    &--white {
      transition: color $duration $timing;

      .manifold-footer__logo-link--block:hover &,
      .manifold-footer__logo-link--block:focus & {
        color: $neutral80;
      }
    }
  }

  &__manifold-logo-icon {
    position: relative;
    top: -2px;
    margin-right: 14px;
    color: $accentPrimary;
    transition: color $duration $timing;

    &--dull {
      color: $neutral70;
    }

    .manifold-footer__logo-link:hover &,
    .manifold-footer__logo-link:focus & {
      color: $neutralWhite;
    }
  }
}
