<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>
    /* Email styles need to be inline */
  </style>
</head>

<body>
Your password has been reset to: <%= @user.password %>.

<a href="http://manifold.dev">Log in</a> and change it.
</body>
</html>
