.ingestion-output {
  &__label {
    @include formInputSecondary;
    margin-top: 20px;
    font-size: 12px;
    font-weight: $semibold;
    color: $neutral70;
    letter-spacing: 0.125em;
  }

  &__value {
    @include formInstructions;
    margin-top: 12px;
    font-size: 17px;
    font-style: normal;
    color: $neutral30;
  }

  &__properties {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 10px;

    > * {
      flex-basis: 50%;
    }
  }

  &__log {}

  &__log-value {
    @include utilityPrimary;
    height: 200px;
    padding: 10px 15px;
    margin-top: 10px;
    overflow-y: auto;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.45em;
    color: $neutral30;
    text-transform: none;
    white-space: pre-line;
    border: 1px solid $neutral50;

    @include respond($break90) {
      height: 50vh;
    }
  }

  &__buttons {
    margin: 30px 0 15px;
  }

  &__utility {
    margin-top: 20px;
  }
}
