.resource-slideshow {
  $slideCopyFocus: 570px;
  --default-focus-color: #{$accentInteractionLight};
  --default-hover-color: #{$accentInteractionLight};

  padding-bottom: 38px;

  @include respond($break60) {
    @include containerPrototype;
  }

  &__figure {
    figure {
      height: calc(100% - 39px); // Slide pagination footer height

      @include respond($break60) {
        height: 100%;
      }
    }
  }

  &__footer {
    position: relative;
    padding: 10px $containerPaddingResp;
    color: $neutralTextDark;

    @include respond($break60) {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      padding: 17px 23px;
      color: $neutralTextLight;
      background-color: $neutral90;
    }
  }

  &__caption {
    position: relative;
    flex-grow: 1;
  }

  &__pagination {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    color: $neutralTextLight;
    background-color: transparentize($neutral90, 0.1);

    @include respond($break60) {
      position: static;
      width: 160px;
      padding-top: 2px;
      text-align: right;
      background: transparent;
    }
  }

  &__ordinal {
    @include utilityPrimary;
    display: inline-block;
    padding: 11px 0 13px;
    font-size: 13px;
    letter-spacing: 0.05em;

    @include respond($break60) {
      padding: 0;
      font-size: 16px;
    }
  }

  &__button {
    @include buttonUnstyled;
    @include utilityPrimary;
    position: absolute;
    top: 50%;
    display: inline-flex;
    align-items: center;
    margin-top: -9px;
    font-size: 13px;
    letter-spacing: 0.05em;

    @include respond($break60) {
      position: static;
      margin-top: 13px;
    }

    &:disabled {
      opacity: 0.4;

      &:hover {
        color: $neutral40;
      }
    }

    &--previous {
      left: 20px;
    }

    &--next {
      right: 20px;
      float: right;

      @include respond($break60) {
        margin-right: -4px;
        margin-left: 11px;
      }
    }
  }

  &__pagination-text {
    @include respond($break60) {
      display: none;
    }
  }

  &__pagination-icon {
    &--large {
      display: none;

      @include respond($break60) {
        display: inline-block;
      }
    }

    &--small {
      @include respond($break60) {
        display: none;
      }

      &.resource-slideshow__pagination-icon--right {
        margin-left: 8px;
      }

      &.resource-slideshow__pagination-icon--left {
        margin-right: 8px;
      }
    }
  }

  &__title {
    @include templateHead;
    margin-top: 0;
    margin-bottom: 0.2em;
    font-size: 20px;
    font-weight: $regular;
    hyphens: none;
    color: $neutral90;

    @include respond($break60) {
      margin-bottom: 0.364em;
      font-size: 22px;
      color: $neutral05;
    }

    .overlay-full & {
      color: $neutral05;
    }
  }

  &__description {
    @include templateCopy;
    max-width: $slideCopyFocus;
    height: 48px;
    padding-bottom: 5em;
    overflow: visible;
    font-size: 15px;

    @include respond($break40) {
      padding-bottom: 3.5em;
    }

    &--collapsed {
      overflow: hidden;
    }

    &--expanded {
      height: auto;
    }

    p + p {
      margin-top: 1em;
    }

    a {
      text-decoration: underline;
    }
  }

  &__utility {
    position: relative;

    &--expandable {
      &::before {
        // Resource utility fade that hides part of the
        // above description
        // Only displayed if description is present
        position: absolute;
        bottom: 100%;
        left: 0;
        display: block;
        width: 100%;
        height: 33px;
        content: '';
        box-shadow: inset -10px -10px 18px 0 $neutralWhite;

        @include respond($break60) {
          box-shadow: inset -10px -10px 18px 0 $neutral90;
        }

        .overlay-full & {
          box-shadow: inset -10px -10px 18px 0 $neutral90;
        }
      }
    }
  }

  &__utility-inner {
    padding: 9px 0 13px;
    background-color: $neutralWhite;

    @include respond($break60) {
      background-color: $neutral90;
    }

    .resource-slideshow__utility--expandable.resource-slideshow__utility--expanded & {
      margin-top: 0;
    }

    .overlay-full & {
      background-color: $neutral90;
    }
  }

  &__more-link,
  &__download-link,
  &__detail-link {
    @include utilityPrimary;
    @include buttonUnstyled;
    display: block;
    margin-top: 7px;
    font-size: 13px;
    text-decoration: none;

    @include respond($break40) {
      display: inline;
      margin-top: 0;
      margin-right: 22px;
    }
  }

  &__more-link {
    // Only show more link when expandable (see above)
    display: none;

    .resource-slideshow__utility--expandable & {
      display: block;

      @include respond($break40) {
        display: inline;
      }
    }
  }

  &__close-text {
    display: none;

    .resource-slideshow__more-link--open & {
      display: inline;
    }
  }

  &__open-text {
    .resource-slideshow__more-link--open & {
      display: none;
    }
  }

  &__download-link {
    display: inline-flex;
    align-items: center;
  }

  &__download-icon {
    margin-left: 4px;
  }
}
