// Can be a link or a div
.event-tile {
  position: relative;
  width: 100%;
  padding: 19px 17px 21px 0;
  margin-left: 10px;
  text-decoration: none;
  transition: color $duration ease-out,
    box-shadow $duration ease-out;

  .backend & {
    height: 100%;

    @include respond(event-entity(panel-breakpoint)) {
      @include panelRoundedDark;
    }
  }

  .browse & {
    @include panelRounded;
  }

  &--linked {
    cursor: pointer;

    &:hover,
    &:focus-visible {
      @include boxShadow(0, 10px, 30px, 2px);
      outline: 0;

      @include respond($break60) {
        @include boxShadow(0, 20px, 30px, 2px);
      }
    }
  }

  &.tweet .event-tile__content {
    font-style: italic;
    letter-spacing: 0.065em;
  }

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 32px;

    .backend & {
      padding-left: 0;

      @include respond($break60) {
        padding-left: 40px;
      }
    }

    @include respond($break60) {
      padding-left: 40px;
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: event-entity(icon-size-small);
    height: event-entity(icon-size-small);
    color: $neutralUILight;
    background-color: $neutralWhite;
    border-radius: 100%;
    transition: color $duration $timing;
    transform: translateX(-50%);

    .backend & {
      display: none;
      background-color: transparent;

      @include respond($break60) {
        display: block;
      }
    }

    .event-tile--linked:hover &,
    .event-tile--linked:focus-visible & {
      @include defaultHoverStyle;
    }

    @include respond($break60) {
      width: event-entity(icon-size-med);
      height: event-entity(icon-size-med);
    }

    @include respond($break75) {
      width: event-entity(icon-size-large);
      height: event-entity(icon-size-large);
    }
  }

  &__title {
    @include templateHead;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: $regular;
    hyphens: none;
    color: $neutralTextExtraLight;

    @include respond($break40) {
      font-size: 17px;
    }

    .browse & {
      color: $neutralTextExtraDark;
    }
  }

  &__subtitle, .event.content {
    @include subtitlePrimary;
    display: block;
    font-size: 15px;
  }

  &__user, &__user a {
    @include templateHead;
    font-size: 15px;
    text-decoration: none;

    + .event-tile__footer {
      margin-top: 3px;
    }

    + .event-tile__content {
      padding-top: 10px;
    }
  }

  &__content {
    @include templateCopy;
    font-size: 13px;
    line-height: 1.313em;
    letter-spacing: 0.03em;

    a {
      color: $defaultHoverColor;
      text-decoration: none;
    }
  }

  &__utility {
    position: absolute;
    right: 12px;
    bottom: 8px;

    @include respond($break60) {
      font-size: 1.2em;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__header,
  &__footer {
    @include utilityPrimary;
    display: block;
    font-size: 12px;
    font-weight: $semibold;

    @include respond($break40) {
      font-size: 13px;
    }
  }

  &__header {
    margin-bottom: 10px;

    @include respond($break40) {
      margin-bottom: 14px;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    margin-top: 18px;
  }
}
