.entity-list-search {
  --select-bg-color: #{$neutral90};

  &__keyword-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $neutralUIDullLight;
    border-radius: $panelRoundedRadius;
  }

  &__search-button {
    @include buttonUnstyled;
    width: 20px;
    height: 20px;
    margin-top: -2px;
    margin-left: 14px;

    &:focus-visible {
      color: $accentPrimary;
      outline: 0;
    }
  }

  &__text-button {
    @include buttonUnstyled;
    @include utilityPrimary;
    display: none;
    margin-right: 14px;
    font-size: 13px;
    letter-spacing: 2px;

    @include respond($break60) {
      display: block;
    }

    &--foregrounded {
      display: block;
    }

    &:focus-visible {
      color: $accentPrimaryPale;
      outline: 0;
    }

  }

  &__keyword-input-wrapper {
    display: block;
    flex: 1;
    border-radius: 8px;
  }

  &__keyword-input {
    @include inputQuaternary;
    width: 100%;
    padding-left: 14px;
    border: 0;
  }

  &__options {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 -11px;

    &--vertical {
      display: block;
      margin: 0;
    }

  }

  &__option {
    flex: 0 0 100%;
    padding: 30px 11px 0;

    &--vertical {
      flex: none;
      padding: 0;

      .select__label {
        &--empty {
          display: block;
          padding-top: 0;
        }
        padding-top: 30px;
      }
    }

    @include respond($break60) {
      flex: 0 0 33.333%;
    }
  }
}
