// This is a comprehensive component that contains styles
// for the annotation itself as well as the comment list

.annotation-comments, .annotation-reply {
  // These are almost identical, but two classes are used
  // for sanity, as they are quite different in use and
  // may also have scope based variants
  &__body {
    font-family: var(--font-family-sans);
    @include drawerIndent(padding-left);
    font-weight: var(--font-weight-regular);
    line-height: 1.375;
    color: var(--strong-color);
  }

  &__utility {
    margin-top: 10px;
  }

  &__utility-list {
    @include listHorizontal;
    @include drawerIndent(padding-left);
    display: flex;
    flex-wrap: wrap;
    color: var(--medium-color);

    > li:not(:last-child) {
      margin-right: 26px;
    }
  }

  &__inline-list-button {
    ${buttonUnstyled}
    ${utilityPrimary}
    font-size: 12px;

    &--active {
      margin-bottom: 15px;
    }

    &--active {
      ${defaultHoverStyle}
    }

    &--secondary {
      color: var(--error-color);

      &--active, &:focus-visible {
        color: var(--error-color);
      }
    }
  }

  &__thread-container {
    &:focus {
      outline: none;
    }
  }
}
