.annotation-editor {
  $actionMarginTop: 18px;
  $buttonMarginLeft: 15px;

  @include drawerPadding(padding-right);
  @include drawerPadding(padding-left);
  padding-top: 32px;

  ${respond(``, 90)}
    padding-top: 48px;
  }

  .annotation-comments &,
  .resource-comments & {
    @include drawerIndent(padding-left);
    padding-top: 5px;
    padding-right: 0;
    padding-bottom: 5px;
    margin-top: 10px;

    .annotation-editor__textarea {
      font-size: 16px;
    }
  }

  &__editor-label {
    ${utilityPrimary}
    display: flex;
    align-items: center;
    margin: 0; // OD
    margin-bottom: 1.313em;
    font-size: 14px;

    ${respond(``, 60)}
      font-size: 16px;
    }
  }

  &__label-icon {
    margin-right: 7px;
    margin-left: -3px;
    color: var(--color-neutral-ui-dark);

    ${respond(``, 60)}
      width: 54px;
      height: 54px;
      margin-right: 9px;
    }
  }

  &__textarea {
    font-family: var(--font-family-sans);
    width: 100%;
    padding: 1em 1.5em;
    font-size: 16px;
    color: var(--color-neutral-text-extra-dark);
    resize: vertical;
    background-color: var(--color-base-neutral10);
    border: 0;
    border-radius: var(--box-border-radius);
    outline: 0;

    ${respond(``, 60)}
      font-size: 18px;
    }

    ${respond(``, 90)}
      font-size: 20px;
    }

    &::placeholder {
      color: var(--color-neutral-text-dark);
    }

    &:focus-visible::placeholder {
      color: var(--color-neutral-text-extra-dark);
    }
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px - $actionMarginTop;

    ${respond(``, 90)}
      margin-top: 20px - $actionMarginTop;
    }

    .form-input {
      width: 100%;

      ${respond(``, 95)}
        width: auto;
      }
    }
  }

  &__action {
    display: flex;
    flex-direction: column;
    margin-top: $actionMarginTop;

    ${respond(``, 60)}
      flex-direction: row;
      align-items: center;
    }
  }

  &__action-label {
    ${utilityPrimary}
    display: flex;
    align-items: center;
    margin-right: 16px;
    margin-bottom: 8px;
    font-size: 14px;
    letter-spacing: 0.125em;

    ${respond(``, 60)}
      margin-bottom: 0;
    }
  }

  &__action-icon {
    margin-right: 12px;
  }

  &__group-picker {
    position: relative;
    color: var(--color-neutral-text-extra-dark);
  }

  &__group-picker-toggle {
    ${buttonUnstyled}
    font-family: var(--font-family-sans);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    padding: 7.5px 16px 9.5px 18px;
    font-size: 17px;
    background-color: var(--color-base-neutral10);
    border-radius: 20px;
    transition: background-color ${defaultTransitionProps};

    &:hover {
      color: inherit;
      background-color: var(--color-base-neutral20);
    }

    &:focus-visible {
      background-color: var(--color-base-neutral20);
      outline: 0;
    }

    svg {
      position: relative;
      top: 2px;
      flex-shrink: 0;
      margin-left: 3px;
    }
  }

  &__group-picker-toggle-text {
    overflow: hidden;
    line-height: 1.4;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__buttons {
    display: flex;
    width: 100%;
    margin-top: $actionMarginTop;
    margin-left: -$buttonMarginLeft;

    @include respond($containerWidthFull) {
      width: auto;
    }

    &--end {
      width: auto;
    }

    &:only-child {
      justify-content: flex-end;
      width: 100%;
      margin-left: 0;
    }

    .button-primary, .button-secondary {
      min-width: 100px;
      padding: 9px 0 11px;
      margin-left: $buttonMarginLeft;
      font-size: 14px;
    }

    .button-secondary {
      &[disabled='disabled'],
      &.button-secondary:disabled {
        color: var(--color-neutral-text-extra-dark);
        background-color: $accentPrimaryDull;
      }

      &:active {
        color: inherit;
      }
    }
  }

  .placeholder button {
    ${buttonUnstyled}
    ${utilityPrimary}
    font-size: 14px;
    border: 0;
  }
}
