.selection-group-heading {
  margin-bottom: 26px;

  h2 {
    @include templateHead;
    margin: 0;
    font-size: 24px;
    color: $neutral70;

    @include respond($break65) {
      font-size: 32px;
    }
  }
}

.annotation-comment-thread {
  padding-top: 22px;

  .annotation-comment-thread {
    // Responsivize first level nesting
    .comment-list {
      padding-left: 0;

      @include respond($break70) {
        @include drawerIndent(padding-left);
      };
    }

    .annotation-comment-thread {
      // Responsivize second level nesting
      .comment-list {
        padding-left: 0;

        @include respond($break95) {
          @include drawerIndent(padding-left);
        }
      }

      .annotation-comment-thread {
        // Disable nesting on comment lists that are more than
        // 3 levels deep
        .comment-list {
          padding-left: 0;
        }
      }

    }
  }

  .comment-list {
    @include listUnstyled;
    @include drawerIndent(padding-left);

    .annotation-reply {
      + .annotation-reply {
        padding-top: 20px;
      }
    }
  }
}
