.selection-group-heading {
  @include panelRounded;
  @include templateHead;
  padding: 0.833em min(3.75vw, 30px);
  margin-bottom: 26px;
  font-size: 18px;
  font-weight: $medium;
  color: var(--default-strong-color);

  @include respond($break80) {
    font-size: 21px;
  }

  > * {
    margin: 0;
    font-weight: inherit;
  }
}

.annotation-comment-thread {
  padding-top: 22px;

  .annotation-comment-thread {
    // Responsivize first level nesting
    .comment-list {
      padding-left: 0;

      @include respond($break70) {
        @include drawerIndent(padding-left);
      };
    }

    .annotation-comment-thread {
      // Responsivize second level nesting
      .comment-list {
        padding-left: 0;

        @include respond($break95) {
          @include drawerIndent(padding-left);
        }
      }

      .annotation-comment-thread {
        // Disable nesting on comment lists that are more than
        // 3 levels deep
        .comment-list {
          padding-left: 0;
        }
      }

    }
  }

  .comment-list {
    @include listUnstyled;
    @include drawerIndent(padding-left);

    .annotation-reply {
      + .annotation-reply {
        padding-top: 20px;
      }
    }
  }
}
