.annotation-meta {
  @include drawerIndent(padding-left);
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  color: $neutral90;

  @include respond($break50) {
    flex-direction: row;
    justify-content: space-between;
  }

  &:only-child {
    margin-bottom: 0;
  }

  &__avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    color: $neutral70;

    &--dull {
      color: $neutral20;
      cursor: default;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__avatar-placeholder-container {
    width: 38px;
    margin-left: -2px;
  }

  &__avatar-image-container {
    width: 32px;
    border: 1px solid $neutral50;
    border-radius: 100%;
  }

  &__author-name {
    @include templateHead;
    margin: 0;
    font-weight: $semibold;
    hyphens: none;
  }

  &__deleted-message {
    @include subtitlePrimary;
    margin-top: 8px;
    margin-bottom: 11px;
  }

  &__datetime, &__subtitle {
    @include subtitlePrimary;
    margin-top: 2px;
  }

  .markers {
    display: flex;
    padding-top: 6px;

    @include respond($break50) {
      padding: 0;
    }
  }

  .marker {
    @include blockLabel;
    max-width: 240px;
  }

  .marker__link {
    overflow: hidden;
    color: inherit;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: color $duration;

    &:hover {
      color: $accentPrimaryDark;
    }
  }
}
