.annotation-meta {
  @include drawerIndent(padding-left);
  position: relative;
  margin-bottom: 10px;
  color: $neutral90;

  @include respond($break50) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    color: $neutral70;

    &--dull {
    cursor: default;
    color: $neutral20;
    }
  }

  &__avatar-placeholder-container {
    width: 38px;
    margin-left: -2px;
  }

  &__avatar-image-container {
    width: 32px;
    border: 1px solid $neutral50;
    border-radius: 100%;
  }

  &__author-name {
    @include templateHead;
    margin: 0;
    font-weight: $semibold;
  }

  .deleted-notification {
    @include subtitlePrimary;
    margin-top: 8px;
  }

  &__datetime, &__subtitle {
    @include subtitlePrimary;
    margin-top: 2px;
  }

  .markers {
    display: flex;
    padding-top: 6px;

    @include respond($break50) {
      padding: 0;
    }
  }

  .marker {
    @include blockLabel;
  }
}
