.annotation-selection {
  &__text-container {
    @include templateHead;
    @include drawerPadding(padding-right);
    @include drawerPadding(padding-left);
    font-size: 16px;
    line-height: 1.3;
    color: $neutral90;
    word-wrap: break-word;

    @include respond($break80) {
      font-size: 18px;
    }

    &--dark {
      padding-top: 23px;
      padding-bottom: 23px;
      background-color: $neutral10;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      @include respond($break80) {
        padding-top: 31px;
        padding-bottom: 25px;
      }
    }

    &--light {
      padding-top: 30px;
      padding-bottom: 26px;
      background-color: $neutral05;

      @include respond($break80) {
        padding-top: 41px;
        padding-bottom: 34px;
      }
    }

    &--rounded-corners {
      border-radius: 8px;
    }
  }

  &__highlight-text {
    width: 100%;
    line-height: 1.6;
    background-color: $sp20PrimaryPale;
  }

  &__hover-link {
    position: relative;
    transition: background-color $duration $timing;

    &:hover {
      background-color: $neutral20;

      .annotation-selection__hover-arrow {
        opacity: 1;
      }

      .truncated__wrapper::after {
        background: linear-gradient(to top, $neutral20 10%, transparentize($neutral20, 1) 100%);
      }
    }
  }

  &__container {
    @include drawerIndent(padding-left);
    position: relative;
    padding-right: 0; // OD
  }

  &__icon {
    position: absolute;
    top: 2px;
    left: 0;
    color:$accentPrimary;
    transform: rotateX(180deg);
    transform: rotateX(180deg) translateZ(-1px);
  }

  &__button {
    @include buttonUnstyled;
    @include utilityPrimary;
    @include drawerIndent(margin-left);
    display: block;
    margin-top: 20px;
    font-size: 13px;
    color: $accentPrimary;
    transition: color $duration $timing;

    &:hover {
      color: $accentPrimaryDark;
    }
  }

  &__button-absolute {
    @include buttonUnstyled;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__source-summary {
    display: flex;
    padding-top: 10px;
  }

  &__source-summary-text {
    @include templateCopy
      font-size: 14px;

    @include respond($break80) {
      font-size: 16px;
    }
  }

  &__hover-arrow {
    flex-shrink: 0;
    margin-left: 12px;
    opacity: 0;
    transition: opacity $duration $timing;
  }

  &__action-buttons {
    position: relative;
    color: $neutral70;
  }
}
