.truncated {
  &__wrapper {
    position: relative;
    overflow: hidden;
    transition: height $duration $timing;

    &::before,
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4em;
      content: '';
      opacity: 0;
    }

    &::before {
      transition: opacity $durationSlow $timing $duration;
    }

    &--light::before {
      background: linear-gradient(to top, $neutral05 10%, transparentize($neutral05, 1) 100%);
    }

    &--dark::before {
      background: linear-gradient(to top, $neutral10 10%, transparentize($neutral10, 1) 100%);
    }

    &--blur::before {
      opacity: 1;
    }

    &::after {
      // hover effect (approximates bumping gradient to $neutral20)
      background: linear-gradient(to top, transparentize($neutral30, 0.8) 10%, transparentize($neutral30, 1) 100%);
      transition: opacity $duration $timing;
    }
  }

  &__expand-button {
    @include buttonTrimPrimary;
    position: relative;
    padding-top: 11px;
    padding-bottom: 0;
    margin-top: -8px;
    font-size: 13px;
    color: $neutral90;
    visibility: visible;
    border: 0; // OD
    border-top: 1px solid $neutral90;
    opacity: 1;
    transition:
      margin $duration linear,
      color $duration $timing,
      border-color $duration $timing,
      padding-top $duration $timing $durationFast,
      opacity $duration $timing $durationFast,
      visibility $duration $timing $durationFast;

    &:hover {
      @include defaultHoverStyle;
      border-color: $defaultHoverColor;
    }

    &--hidden {
      padding-top: 0;
      visibility: hidden;
      opacity: 0;
    }
  }
}
