.truncated {
  &__wrapper {
    position: relative;
    overflow: hidden;
    transition: height ${defaultTransitionProps};

    &::before,
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4em;
      content: '';
      opacity: 0;
    }

    &::before {
      transition: opacity $durationSlow var(--transition-timing-function) $duration;
    }

    &--light::before {
      background: linear-gradient(to top, var(--color-base-neutral05) 10%, transparentize(var(--color-base-neutral05), 1) 100%);
    }

    &--dark::before {
      background: linear-gradient(to top, var(--color-base-neutral10) 10%, transparentize(var(--color-base-neutral10), 1) 100%);
    }

    &--blur::before {
      opacity: 1;
    }

    &::after {
      // hover effect (approximates bumping gradient to var(--color-base-neutral20))
      background: linear-gradient(to top, transparentize(var(--color-base-neutral30), 0.8) 10%, transparentize(var(--color-base-neutral30), 1) 100%);
      transition: opacity ${defaultTransitionProps};
    }
  }

  &__expand-button {
    @include buttonTrimPrimary;
    position: relative;
    padding-top: 11px;
    padding-bottom: 0;
    margin-top: -8px;
    font-size: 13px;
    color: var(--color-base-neutral90);
    visibility: visible;
    border: 0; // OD
    border-top: 1px solid var(--color-base-neutral90);
    opacity: 1;
    transition:
      margin $duration linear,
      color ${defaultTransitionProps},
      border-color ${defaultTransitionProps},
      padding-top ${defaultTransitionProps} var(--transition-duration-fast),
      opacity ${defaultTransitionProps} var(--transition-duration-fast),
      visibility ${defaultTransitionProps} var(--transition-duration-fast);

    &:hover {
      ${defaultHoverStyle}
      border-color: var(--hover-color);
    }

    &--hidden {
      padding-top: 0;
      visibility: hidden;
      opacity: 0;
    }
  }
}
