.text-category-list-secondary {
  + .buttons-icon-horizontal {
    padding-right: 5px;
    padding-left: 5px;

    @include respond($break75) {
      padding-right: 24px;
      padding-left: 24px;
    }
  }

  .text-category {
    header {
      @include roundedHeader;

      .category-title {
        @include utilityPrimary;
        display: table-cell;
        width: 100%;
        font-size: 14px;
        font-weight: $medium;
        color: $neutral30;

        &.highlight {
          color: $accentPrimary;
        }

        &.notice {
          color: $sp40Tertiary;
        }

        a {
          color: $neutral50;
          text-decoration: none;
          transition: color $duration $timing;
        }

        a:hover {
          color: $accentPrimary;
        }

        span {
          color: $neutral50;
        }
      }
    }

    .text-category-list-utility {
      display: table-cell;
      line-height: 1;
      text-align: right;
      white-space: nowrap;
    }
  }

  .texts-group {
    @include listUnstyled;
    display: block;
    margin: 0 0 30px; // OD

    li {
      display: block;
      width: 100%;
      padding: 13px 0 14px;
      margin: 0; // OD

      @include respond($break60) {
        padding: 19px 0 14px; // OD
      }

      @include respond($break65) {
        display: table;
      }

      + li {
        border-top: 1px solid $neutral80;
      }
    }

    .group-empty {
      @include utilityPrimary;
      width: 100%;
      padding: 2em 0 2.214em;
      margin-bottom: 31px;
      font-size: 14px;
      color: $neutral80;
      text-align: center;
      border: 1px solid $neutral80;
    }

    .asset-thumb {
      width: 100%;

      @include respond($break65) {
        display: table-cell;
        vertical-align: middle;
      }

      &:hover, &:focus {
        outline: 0;

        .asset-image svg path {
          fill: $neutral20;
        }

        .asset-title {
          color: $neutral20;
        }

        // Required to prevent over nesting
        //scss-lint:disable MergeableSelector
        .asset-title .subtitle {
          color: $neutral20;
        }
      }
    }

    .asset-image {
      display: none;

      @include respond($break75) {
        display: block;
        width: 42px;
      }

      @include respond($break85) {
        width: 50px;
      }

      svg path {
        fill: $neutral50;
        transition: fill $duration $timing;
      }
    }

    .asset-description {
      width: 100%;
      padding-left: 0; // OD
      margin-bottom: 21px;

      @include respond($break65) {
        width: calc(100% - 50px);
        margin-bottom: 0;
      }

      @include respond($break75) {
        padding-left: 20px; // OD
      }

      .asset-title {
        margin-bottom: 0.6em;
        font-size: 17px;
        color: $neutral30;
        transition: color $duration $timing;

        @include respond($break60) {
          font-size: 18px;
        }

        @include respond($break65) {
          margin-bottom: 0.8em;
        }

        @include respond($break85) {
          margin-bottom: 1.055em;
        };

        .subtitle {
          margin-top: 7px;
          color: $neutral50;
          transition: color $duration $timing;
        }
      }

      .asset-date, .asset-state {
        @include utilityPrimary;
        display: inline-block;
        font-size: 12px;
        font-weight: $medium;
        color: $neutral70;

        @include respond($break60) {
          font-size: 14px;
        }
      }

      .asset-date {
        margin-right: 17px;

        @include respond($break85) {
          margin-right: 28px;
        }
      }
    }

    .asset-state {
      &.active {
        color: $accentPrimary;

        &::before {
          background-color: $accentPrimary;
        }
      }

      &::before {
        display: inline-block;
        width: 9px;
        height: 9px;
        margin-top: -4px;
        margin-right: 9px;
        vertical-align: middle;
        content: '';
        background-color: $neutral70;
        border-radius: 100%;
      }
    }

    .text-category-list-utility {
      display: table-cell;
      padding-right: 19px;
      text-align: right;
      white-space: nowrap;
    }
  }
}
