.notes-filters {
  @include utilityPrimary;
  flex-grow: 999;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  font-size: 13px;
  border: 0;

  &__inner {
    display: flex;
    gap: 8px;
    align-items: baseline;
    padding-right: 12px;
  }

  &__label {
    display: inline-block;
    padding-right: 18px;
  }

  &__checkbox-group {
    @include respond($break50) {
      display: flex;
    }
  }

  &__checkbox {
    display: block;

    & + & {
      margin-top: 8px;
      margin-left: 0;

      @include respond($break50) {
        margin-top: 0;
        margin-left: 28px;
      }
    }
  }

  .checkbox__indicator {
    position: relative;
    top: -1px;
    color: var(--default-strong-color);
    background-color: var(--box-medium-bg-color);
  }
}
