.button-appearance {
  @include buttonUnstyled;
  height: 100%;
  color: $neutral50;
  transition: background-color $duration $timing;

  &.button-active {
    background-color: $neutral10;
  }
}

.appearance-menu {
  @include uiPanelMenu;

  &__header,
  &__section {
    padding: 15px 30px;
  }

  &__header {
    background-color: $neutral10;
  }

  &__heading {
    @include templateHead;
    font-size: 15px;
    color: $neutral75;
    font-weight: $medium;
    margin: 0;
  }

  &__list {
    @include listUnstyled;
  }

  &__section {
    &:nth-child(even) {
      background-color: $neutral10;
    }

    &:last-child {
      padding: 0;
      border-top: none;

      @include respond($break50) {

        &:last-child {
          padding: 0;
          border-top: none;

          @include respond($break40) {
            padding: 30px 28px;
          }
        }
      }
    }
  }

  &__radio-group {
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
  }

  &__radio-stack {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__radio-input {
    position: absolute;
    z-index: -5;
    opacity: 0;

    &:focus {}
  }

  &__radio-label {
    color: $neutral70;
    border-bottom: 2px solid transparent;
    transition: color $durationFast $timing, border-color $durationFast $timing;

    .appearance-menu__font-style--active & {
      color: $neutralOffBlack;
      border-color: $neutralOffBlack;
    }

    .appearance-menu__font-style:hover &,
    .appearance-menu__radio-input:focus ~ & {
      color: $accentPrimary;
      border-color: $accentPrimary;
    }
  }

  &__button-base {
    @include buttonUnstyled;

    &:not(:first-of-type) {
      margin-left: 20px;
    }
  }

  &__primary-hover-button {
    transition: all $durationFast $timing;

    &:hover:not(:disabled):not([aria-disabled="true"]) {
      background-color: $accentPrimary;
      color: $neutralWhite;
    }
  }

  &__font-control-group {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    padding-top: 16px;
    padding-bottom: 16px;
    grid-row-gap: 23px;

    @include respond($break50) {
      grid-row-gap: 29px;
    }
  }

  &__font-style-control {
    grid-row: 1 / -1;
  }

  &__font-size-control {
    display: flex;
    justify-content: space-between;
  }

  // <button> that sets font type
  &__font-style {
    position: relative;
    display: block;
    padding-bottom: 3px;
    margin-top: 3px;
    margin-bottom: 3px;

    &--active {
      color: $neutralOffBlack;
      border-color: $neutralOffBlack;
    }

    &:hover, &:focus-visible {
      color: $accentPrimary;
      border-color: $accentPrimary;
      outline: 0;
    }

    &--serif {
      @include templateCopy;
      font-size: 25px;

      @include respond($break50) {
        font-size: 22px;
      }
    }

    &--sans-serif {
      @include templateHead;
      font-size: 24px;

      @include respond($break50) {
        font-size: 21px;
      }
    }
  }

  // Set of buttons for setting font-size
  &__font-size-button {

      @include buttonUnstyled;
      width: 44px;
      height: 44px;
      vertical-align: top;
      background-color: $neutral05;
      border-radius: 100%;
      transition: color $durationFast $timing, background-color $durationFast $timing;

      @include respond($break50) {
        width: 35px;
        height: 35px;
      }

      &:hover, &:focus-visible {
        color: $neutralWhite;
        background-color: $accentPrimary;
        outline: 0;
      }

      &:disabled {
        color: $neutral40;
        background-color: $neutral20;
      }

    @include respond($break50) {
      width: 35px;
      height: 35px;
    }

    &:hover {
      outline: 0;
    }

    &:disabled,
    &[aria-disabled="true"] {
      color: $neutral40;
      background-color: $neutral20;
      cursor: default;
    }

    &:not(:first-child) {
      margin-left: 15px;
    }
  }

  &__color-buttons-container {
    padding: 15px 0;
  }

  &__color-scheme {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: calc(50% - 10px);
    height: 39px;
    border: 4px solid transparent;
    transition: border-color $durationFast $timing;

    @include respond($break50) {
      width: 96px;
    }

    &--light {
      color: $neutralOffBlack;
      background-color: $neutralWhite;
    }

    &--dark {
      color: $neutralWhite;
      background-color: $neutral80;
    }

    &--active {
      > svg {
        opacity: 1;
      }
    }

// <<<<<<< HEAD
//     &:hover, &:focus-visible {
//       border-color: $accentPrimary;
//       outline: 0;
//
//       .manicon {
//         opacity: 1;

    &:not(.appearance-menu__color-scheme--active) {
      > svg {
        opacity: 0;

      }
    }

    &:hover, &:focus-visible {
      border-color: $accentPrimary;
      outline: 0;
    }
  }

  &__color-scheme-icon {
    .appearance-menu__radio-input:focus ~ & {
      color: $accentPrimary;
      opacity: 1;
    }
  }

  &__control-margins {
    display: none;
    border-top: none;

    @include respond($break50) {
      display: block;
    }
  }

  &__menu-icon {
    &--dark {
      fill: $neutral80;
    }

    &--light {
      fill: $neutral40;
    }
  }

  &__margin-button {
    width: 96px;
    height: 46px;
    background-color: $neutralWhite;

    &:hover {
      &:not([aria-disabled="true"]) {
        outline: 0;

        > svg path {
          fill: $neutralWhite;
        }
      }
    }

    &[aria-disabled="true"] {
      background-color: $neutral20;
      cursor: default;
      > svg {
        opacity: 0.5;
      }
    }
  }

// <<<<<<< HEAD
//       &:hover, &:focus-visible {
//         background-color: $accentPrimary;
//         outline: 0;

  &__reset-button {
    @include templateHead;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: $semibold;
    width: 100%;
    padding: 12px 45px 10px;
    color: $neutral75;
    background-color: $neutral05;
    transition: all $timing $duration;

    @include respond($break50) {
      background-color: $neutral10;
    }

    &:disabled {
      color: transparentize($neutral75, .5);
    }
  }

  &__reload-icon {
    margin-right: 10px;
  }
}
