.footer-reader {
  padding: 40px 0 80px;
  color: $neutral05;
  background-color: $neutral80;

  @include respond($break75) {
    padding: 70px 0 80px;
  }

  @include respond($break95) {
    padding: 100px 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;

    @include respond($break75) {
      flex-direction: row;
    }
  }

  &__logo {
    flex-shrink: 0;
    color: $accentPrimary;

    @include respond($break75) {
      width: 64px;
      height: 64px;
    }
  }

  &__colophon {
    @include templateCopy;
    flex-grow: 1;
    padding-top: 12px;
    font-size: 16px;
    line-height: 1.556;

    @include respond($break40) {
      font-size: 18px;
    }

    @include respond($break75) {
      padding-top: 0;
      padding-left: 27px;
    }
  }

  &__powered-by {
    font-size: 15px;
  }

  a {
    color: $accentPrimaryMedium;
    transition: color $durationFast $timing;

    &:visited {
      color: $accentPrimaryMedium;
    }

    &:hover, &:focus {
      color: $accentPrimaryDark;
      outline: 0;
    }
  }

  p,
  &__rights {
    @include respond($break75) {
      padding-top: 2px;

      p {
        padding-top: 0;
        padding-left: 0;
      }
    }
  }
}
