.reader-header {
  $paddingLateral: $containerPaddingNarrow;
  $paddingLateralNarrow: 11px;

  --button-color: #{$neutral75};

  @include reactSlideTransition('left', '.reader-return-menu');
  @include reactSlideTransition('right', '.user-menu');
  @include reactSlideTransition('right', '.search-menu');

  position: fixed;
  top: 0;
  width: 100%;
  color: $neutralTextDark;

  /* stylelint-disable property-no-vendor-prefix */
  &__inner {
    position: relative;
    display: -ms-grid;
    display: grid;
    grid-template: 'menu-group-left title-bar menu-group-right' 46px / max-content 1fr max-content;
    width: 200vw;
    background-color: $neutral05;
    transition: transform $duration ease-out;
    -ms-grid-rows: 46px;
    -ms-grid-columns: max-content 1fr max-content;

    &--shifted {
      transform: translateX(-100vw);
    }

    @include respond($break50) {
      width: 100%;
    }
  }

  &__menu-group {
    display: flex;

    &--left {
      grid-area: menu-group-left;
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      width: 100vw;

      @include respond($break50) {
        width: auto;
      }
    }

    &--right {
      grid-area: menu-group-right;
      -ms-grid-row: 1;
      -ms-grid-column: 3;
      width: 100vw;

      @include respond($break50) {
        width: auto;
      }
    }
  }

  &__title-bar {
    @include templateHead;
    position: relative;
    display: none;
    grid-area: title-bar;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    height: 100%;
    overflow: hidden;

    @include respond($break75) {
      display: block;
    }
  }
  /* stylelint-enable property-no-vendor-prefix */

  &__title-bar-text {
    @include templateHead;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-right: $paddingLateral;
    padding-left: $paddingLateral;
    margin: 0;
    overflow: hidden;
    font-size: 18px;
    font-weight: $medium; // OD
    transition: transform 0.4s $timing;

    .reader-header__title-bar--show-section & {
      transform: translateY(-100%);
    }
  }

  &__title-inner-text {
    position: relative;
    top: -2px;
    overflow: hidden;
    line-height: 1.5;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__button {
    @include buttonUnstyled;
    @include utilityPrimary;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 13px;
    transition:
      color $duration $timing,
      background-color $duration $timing;

    @include respond($break50) {
      font-size: 14px;
    }

    &:active,
    &.button-active,
    &:hover,
    &:focus-visible {
      color: $neutralWhite;
      background-color: $defaultHoverColor;
      outline: 0;
    }

    &--pad-default {
      padding-right: $paddingLateral;
      padding-left: $paddingLateral;
    }

    &--pad-narrow {
      padding-right: $paddingLateralNarrow;
      padding-left: $paddingLateralNarrow;
    }

    &--gray {
      background-color: $neutral10;
    }
  }

  &__button-icon {
    margin-left: 1em;

    &--large {
      display: none;

      @include respond($break50) {
        display: block;
      }
    }

    &--small {
      position: relative;
      top: 1px;

      @include respond($break50) {
        display: none;
      }
    }
  }

  &__options-button {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 110px;

    @include respond($break50) {
      display: none;
    }
  }

  &__options-button-icon {
    margin-right: -10px;
    margin-left: 3px;
  }

  &__nav-list {
    @include listHorizontal;
    position: relative;
    display: block;
    height: 100%;
  }

  &__nav-item {
    position: relative;
    height: 100%;
    vertical-align: middle;

    svg {
      width: 28px;
      height: 28px;

      @include respond($break50) {
        width: 32px;
        height: 32px;
      }
    }
  }

  &__panels {
    position: absolute;
    width: 100%;

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }

  .reader-return-menu,
  .search-menu,
  .user-menu {
    position: absolute;
    top: 0;
  }

  .search-menu,
  .user-menu {
    right: 0;
  }
}
