// Reader Component Manifest
// -------------------------

@import 'ui-panel-menu';
@import 'annotations/index';
@import 'control-menus/index';
@import 'footer-menu';
@import 'footer-reader';
@import 'header-reader';
@import 'notation/index';
@import 'return-menu';
@import 'section-category-label';
@import 'section-next-section';
@import 'section-pagination';
@import 'text-meta';
@import 'text-section';
@import 'toc-drawer';
@import 'notes/index';
@import 'search/index';
@import 'responsive-iframe';
@import 'selection-list';
