.section-pagination {
  @include clearfix;
  background-color: $neutral20;
  transition: background-color $duration $timing;

  .scheme-dark & {
    background-color: $neutral85;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  // Global button styles
  // <a>
  &__link {
    @include utilityPrimary;
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    padding: 20px 0;
    font-size: 14px;
    color: $neutral40;
    text-decoration: none;
    vertical-align: middle;

    @include respond($break40) {
      padding: 28px 0;
      font-size: 18px;
    }

    @include respond($break75) {
      padding: 26px 0;
    }

    &:hover, &:focus {
      color: $accentPrimary;
      outline: 0;
    }

    &--next {
      justify-content: flex-end;
    }
  }

  &__text {
    line-height: 1;
  }

  &__icon {
    @include respond($break40) {
      width: 59.08px;
      height: 59.08px;
    }

    @include respond($break75) {
      width: 81.231px;
      height: 81.231px;
    }

    &--previous {
      margin-right: 5px;

      @include respond($break40) {
        margin-right: 24px;
      }
    }

    &--next {
      margin-left: 5px;

      @include respond($break40) {
        margin-left: 24px;
      }
    }
  }
}
