.section-category-label {
  position: sticky;
  bottom: 0;
  padding: 20px 0 18px;
  text-align: center;
  background-color: $sp20Quinary;
  transition: opacity $durationFast $timing,
    background-color $duration $timing,
    visibility $duration $timing;

  .scheme-dark & {
    background-color: $neutral75;
  }

  &__label {
    @include utilityPrimary;
    display: inline-block;
    padding: 0.786em 0.8em;
    font-size: 14px;
    font-weight: $light;
    color: $neutral80;
    border: 1px solid $neutral80;
    transition: color $duration $timing, border $duration $timing;

    .scheme-dark & {
      color: $neutral30;
      border: 1px solid $neutral30;
    }
  }
}
