.section-next-section {
  transition: background-color ${defaultTransitionProps};

  .scheme-dark & {
    background-color: var(--color-base-neutral90);
  }

  &__link {
    display: block;
    padding: 0 0 50px;
    text-decoration: none;

    @include respond($break65) {
      padding: 5.46vw 0 10.526vw;
    }

    @include respond($break120) {
      padding: 64px 0 130px;
    }
  }

  &__header {
    ${utilityPrimary}
    display: inline-block;
    padding-bottom: 5px;
    font-size: 14px;
    border-bottom: 2px solid var(--color-base-neutral40);
  }

  &__title {
    font-family: var(--font-family-heading);
    margin-top: 1.192em;
    margin-bottom: 1em;
    font-size: 24px;
    font-weight: var(--font-weight-semibold);
    hyphens: none;
    color: var(--color-neutral-text-extra-dark);
    transition: color ${defaultTransitionProps};

    @include respond($break70) {
      font-size: 26px;
    }

    .scheme-dark & {
      color: var(--color-neutral-text-extra-light);
    }

    .section-next-section__link:hover &,
    .section-next-section__link:focus-visible & {
      ${defaultHoverStyle}
    }
  }
}
