$_padding-increment: 20px;
$_levels: 1, 2, 3, 4, 5;
$_toggle-width: 24px;
$_toggle-padding: 12px;
$_inline-end-padding: calc(#{toc-drawer(base-inline-end-padding)} + #{$_toggle-width + $_toggle-padding});

.table-of-contents {
  @include templateHead;
  padding-top: 10px;
  overflow: hidden;
  color: $neutralTextExtraDark;
  background-color: $neutral10;

  &__list {
    --toc-inline-start-padding: #{toc-drawer(base-inline-start-padding)};
    --toc-font-size: 18px;

    @include respond($break50) {
      --toc-font-size: 22px;
    }

    // all nested levels
    &:not(.table-of-contents__list--depth-0) {
      --toc-font-size: 16px;

      @include respond($break50) {
        --toc-font-size: 18px;
      }
    }

    @each $level in $_levels {
      &--depth-#{$level} {
        --toc-inline-start-padding: calc(#{toc-drawer(base-inline-start-padding)} + #{$_padding-increment} * #{$level});
      }
    }

    @include listUnstyled;
    font-size: var(--toc-font-size);
  }

  &__item-inner {
    position: relative;
    display: flex;
  }

  &__collecting-toggle {
    position: absolute;
    top: 42%;
    right: calc(#{toc-drawer(base-inline-end-padding)} + 2%);
    transform: translateY(-50%);

    &--hidden {
      visibility: hidden;
      opacity: 0;
    }
  }

  &__link {
    flex-grow: 1;
    width: 100%;
    padding: 0.773em $_inline-end-padding 0.773em var(--toc-inline-start-padding);
    hyphens: none;
    line-height: 1.2;
    text-decoration: none;
    transition: background-color $duration $timing;

    &:hover,
    &:focus-visible {
      color: inherit;
      outline: 0;
    }

    &--active {
      background-color: $neutral30;
    }
  }
}
