.reader-window {
  @include resetWordWrap;
  padding: 60px 0;
  overflow: hidden;
  color: var(--reader-color);
  background-color: var(--default-bg-color);
  transition: background-color $duration $timing;

  .reader-debug {
    position: relative;
    top: -60px;
  }
}

.text-section {
  @include templateCopy;
  font-weight: $regular;
  line-height: 1.761;

  *::selection, .annotation-locked-selected {
    background: $spYellow20;

    .scheme-dark & {
      background: $spYellow75;
    }
  }

  &.font-sans-serif {
    font-family: 'sofia-pro', sans-serif;
    font-weight: $light;
  }

  a {
    color: $defaultHoverColor;
  }

  .cn {
    font-size: 1.2em;
  }

  h1 {
    font-size: 1.6em;
    font-weight: $semibold;
    line-height: 1.45;
  }

  h2 {
    font-size: 1.3em;
    font-weight: $semibold;
    line-height: 1.45;
  }

  h3 {
    font-size: 1.1em;
    font-weight: $semibold;
    line-height: 1.45;
  }

  h4 {
    font-size: 1em;
    font-weight: $semibold;
    line-height: 1.45;
  }

  img {
    max-width: 100%;
  }

  pre {
    font-size: 0.7em;
  }

  p {
    margin: 1em 0;
  }

  table {
    margin: 1em 0;

    tr th {
      padding-right: 1em;
    }
  }

  dl {
    dt {
      font-weight: 700;
    }
  }

  // Link with notation marker cube
  .notation-marker {
    cursor: pointer;
  }
}
