.toc-drawer {
  .drawer {
    width: 565px;
    max-width: 90vw;
  }

  .no-scroll.overlay & {
    overflow: hidden;
  }

  // Scoped table of contents styles, some may be abstracted later
  // <nav> around nested uls
  @mixin tocBasePadding($nested: 0) {
    padding-right: 20px;
    padding-left: 30px + $nested;

    @include respond($break30) {
      padding-left: calc(7.813vw + #{$nested}px);
    }

    @include respond($break70) {
      padding-right: 30px;
    }

    @include respond($break95) {
      padding-left: 84px + $nested;
    }
  }

  $tocNestedPadding: 23;

  .table-of-contents {
    background-color: $neutral05;

    // Global Styles
    ol {
      @include listUnstyled;
      @include templateHead;

      a {
        display: block;
        width: 100%;
        hyphens: none;
        line-height: 1.2;
        color: $neutral90;
        text-decoration: none;
        border-bottom: 1px solid $neutral40;
        transition: color $duration $timing,
          background-color $duration $timing;

        &:hover, &:focus-visible {
          color: $neutral75;
          background-color: $accentPrimaryPale;
          outline: 0;
        }

        &.active {
          background-color: $neutral10;
        }
      }
    }

    // Top Level links
    > ol > li {
      > a {
        @include tocBasePadding;
        padding-top: 1.091em;
        padding-bottom: 1.136em;
        font-size: 18px;

        @include respond($break50) {
          font-size: 22px;
        }
      }

      > ol > li {
        // Secondary level globals
        a {
          @include tocBasePadding;
          padding-top: 0.5em;
          padding-bottom: 0.667em;
          font-size: 16px;

          @include respond($break50) {
            font-size: 18px;
          }
        }

        // Third level indenting
        // scss-lint:disable SelectorDepth
        > ol > li > a {
          @include tocBasePadding($tocNestedPadding);
        }

        // Fourth level (and on) indenting
        // scss-lint:disable SelectorDepth
        > ol > li > ol > li > a {
          @include tocBasePadding($tocNestedPadding * 2);
        }
      }
    }
  }

  .toc-empty {
    @include headingSecondary;
    padding: 50px 40px;
    margin: 0;
    font-style: italic;
    color: $neutral50;

    @include respond($break50) {
      padding: 60px 85px;
    }
  }

  hr {
    margin: 0;
    border-top: 1px solid $neutral40;
  }

  .toc-footer {
    display: block;

    &__button {
      @include buttonUnstyled;
      @include tocBasePadding;
      display: flex;
      align-items: center;
      width: 100%;
      padding-top: 29px;
      padding-bottom: 70px;
      color: $neutral50;
      text-decoration: none;
      transition: color $duration $timing,
        background-color $duration $timing;

      &:hover, &:focus-visible {
        color: $neutral75;
        background-color: $accentPrimaryPale;
        outline: 0;
      }

      @include respond($break50) {
        padding-top: 40px;
        padding-bottom: 40px;
      };
    }

    &__icon {
      position: relative;
      top: 1px;
      color: inherit;
    }

    &__text {
      @include utilityPrimary;
      margin: 0 0 0 1em;
      font-size: 14px;
    }
  }
}
