.toc-drawer {
  @mixin tocBasePadding($nested: 0) {
    padding-right: 20px;
    padding-left: 30px + $nested;

    @include respond($break30) {
      padding-left: calc(7.813vw + #{$nested}px);
    }

    @include respond($break70) {
      padding-right: 30px;
    }

    @include respond($break95) {
      padding-left: 84px + $nested;
    }
  }

  .drawer {
    width: toc-drawer(width);
    max-width: 90vw;
    background-color: $neutral10;
  }

  .no-scroll.overlay & {
    overflow: hidden;
  }

  .toc-empty {
    @include headingSecondary;
    padding: 50px 40px;
    margin: 0;
    font-style: italic;

    @include respond($break50) {
      padding: 60px 85px;
    }
  }

  hr {
    margin: 0;
    border-top: 1px solid $neutral40;
  }

  .toc-footer {
    display: block;

    &__button {
      @include buttonUnstyled;
      display: flex;
      align-items: center;
      width: 100%;
      padding: 16.362px toc-drawer(base-inline-end-padding) 16.362px toc-drawer(base-inline-start-padding);
      margin-top: 15px;
      color: $neutralTextDark;
      text-decoration: none;
      transition: background-color $duration $timing;

      &:hover, &:focus-visible {
        background-color: $neutral30;
        outline: 0;
      }

      @include respond($break50) {
        padding-top: 17px;
        padding-bottom: 17px;
      };
    }

    &__icon {
      position: relative;
      top: 1px;
    }

    &__text {
      @include utilityPrimary;
      margin: 0 0 0 1em;
      font-size: 14px;
    }
  }
}
