@mixin uiPanelMenu {
  --default-hover-color: #{$accentInteractionDark};

  @include reactSlideTransition;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background-color: $neutral05;

  @include respond($break50) {
    width: auto;
  }
}

.panel-hidden {
  .screen-reader-text {
    visibility: hidden;
  }
}
