.button-visibility {
  @include buttonUnstyled;
  position: relative;
  height: 100%;
  padding: 0 14px;
  color: $neutral50;
  transition: color $durationFast $timing;
}

.visibility-menu {
  @include uiPanelMenu;

  ul {
    @include listUnstyled;

    li {
      padding: 30px 35px;
    }
  }

  &__group {
    padding: 0;
    margin: 0;
    border: none;
  }

  &__group-icon {
    margin-right: 6px;
    margin-left: -4px;
    color: $neutral75;
  }

  label, span {
    @include utilityPrimary;
    font-size: 14px;
    color: $neutral75;
  }

  &__filters {
    display: flex;
    justify-content: space-between;
    padding-top: 22px;

    .checkbox {
      font-size: 17px;
      font-weight: 400;
      text-transform: none;
    }
  }
}
