.breadcrumb-list {
  @include templateHead;

  &__link {
    display: inline;
    font-size: 17px;
    text-decoration: none;

    @include respond($break40) {
      font-size: 20px;
    }
  }

  &__icon {
    position: relative;
    top: -1px;
    margin-right: 5px;
    margin-left: 5px;
    transform: rotate(-90deg);
  }
}
