.picker-input {
  position: relative;

  &__input {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid $neutral70;
  }

  &__button {
    @include buttonUnstyled;
    padding: 8px 6px;
    color: $accentPrimary;
  }

  &__results {
    @include listUnstyled;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 210px;
    padding: 8px 0;
    overflow: auto;
    color: $neutral10;
    visibility: hidden;
    background-color: $neutral90;
    border-color: $neutral80;
    border-style: solid;
    border-width: 0 1px 1px;
    opacity: 0;
    transition: opacity $durationFast $timing
      visibility $durationFast $timing;

    .picker-input--open & {
      visibility: visible;
      opacity: 1;
    }
  }

  &__result {
    @include templateHead;
    padding: 8px 17px;
    color: $neutral10;
    cursor: pointer;

    & + & {
      border: 0; // OD
    }

    &:hover, &--active {
      background: $neutral80;
    }

    &--active.picker-input__result--selected {
      background: $neutral75;
    }

    &--selected {
      background: $neutral85;
    }

    &--empty {
      color: $neutral45;
      cursor: inherit;

      &:hover {
        background: inherit;
      }
    }
  }

  // Required for override
  .form-secondary .form-input & {
    input[type='text'] {
      height: auto;
      padding: 8px 0 13px 17px;
      border: 0;

      &:focus-visible {
        border: 0;
      }

      &::placeholder {
        color: $neutral10;
      }
    }
  }

  &__utility {
    margin-top: 12px;
    margin-bottom: 8px;
  }

  &__list {
    margin-top: 24px;

    &--tight {
      margin-top: 0;
    }

  }

}
