.backend-dashboard {
  --gap: 42px;

  display: grid;
  grid-template-columns: 100%;
  grid-gap: var(--gap);
  padding-top: 0;

  @include respond($break50) {
    --gap: 60px;
  }

  @include respond($dashboard-layout-breakpoint) {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    --gap: 7.6vw;
  }

  @include respond($containerWidthFull) {
    --gap: 95px;
  }

  .list-pagination-secondary .ordinal {
    @include respond($break85, max) {
      display: none;
    }
  }
}
