.ingestion-error {
  .dialog-header-small {

  }
}

.ingestion-output {

  // scss-lint:disable QualifyingElement
  p.label {
    @include formInputSecondary;
    padding-bottom: 4px;
    font-weight: $semibold;
    color: $neutral75;
  }
  // scss-lint:enable QualifyingElement

  .properties {
    @include clearfix;
    padding-top: 20px;
    margin-top: 25px;
    border-top: 1px solid $neutral80;

    .item {
      float: left;
      width: 50%;
    }

    .value {
      @include formInstructions;
      padding-bottom: 12px;
      font-size: 18px;
      font-style: normal;
      color: $neutral30;
    }
  }

  .log {
    .value {
      @include utilityPrimary;
      height: 200px;
      padding: 10px 15px;
      margin-top: 10px;
      overflow-y: scroll;
      font-size: 14px;
      font-weight: normal;
      line-height: 1.45em;
      color: $neutral30;
      text-transform: none;
      white-space: pre-line;
      border: 1px solid $neutral80;

      @include respond($break90) {
        height: 600px;
      }
    }
  }

  .entity-header-primary {

    padding-bottom: 0;

    .dialog-primary .dialog-box & {
      padding-bottom: 0;
    }

    figure {
      float: left;
      width: 68px;

      @include respond($break30) {
        width: 75px;
      }

      @include respond($break65) {
        display: table-cell;
        width: auto;
        padding-right: 18px;
        vertical-align: top;
      }

      .manicon {
        font-size: 52px;
        color: $neutral50;

        @include respond($break65) {
          font-size: 64px;
        }
      }
    }

    .title {

      @include respond($break65) {
        display: table-cell;
        font-weight: normal;
        vertical-align: top;
      }

      h1, h2, h3, h4, h5, h6 {
        @include templateHead;
        float: left;
        max-width: calc(100% - 75px);
        padding-top: 0;
        padding-bottom: 10px;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 22px;
        font-weight: $medium;
        color: $neutral20;

        @include respond($break30) {
          max-width: calc(100% - 86px);
        }

        @include respond($break60) {
          font-size: 24px;
        }

        @include respond($break65) {
          float: none;
          max-width: none;
          font-size: 28px;
        }

        span {
          @include templateCopy;
          margin-left: 0.433em;
          // Relatively sized to be just a tiny bit bigger than the base
          font-size: 1.071em;
          color: $neutral50;
        }
      }
    }
  }

  .utility {
    @extend %header-utility-button;
    margin-top: 10px;

    .loading, .loading:hover {
      color: $neutral85;

      .manicon, .manicon:hover {
        color: $neutral85;
      }
    }

    button {
      font-size: 14px;
    }
  }
}
