.collection-resources-list {

  .section-heading-secondary {
    display: inline-block;
    padding-right: 10px;
  }

  .vertical-list-primary ul li {
    .utility {
      margin-right: 15px;
    }
  }
}
