.resource-card {
  display: flex;

  &__preview {
    display: flex;
    width: 37.8%;

    @include respond($break40) {
      width: 155px;
    }

    @include respond($break75) {
      width: 135px;
    }

    @include respond($break85) {
      width: 155px;
    }
  }

  &__preview-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: $neutral10;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  &__preview-link {
    width: 100%;
    text-decoration: none;

    &:hover,
    &:focus-visible {
      outline: 0;

      .icon-thumbnail-primary {
        @include defaultHoverStyle;
      }

      .bg-image {
        --default-hover-color: #{$accentInteractionLight};
      }
    }

    .icon-thumbnail-primary {
      flex-grow: 1;
    }

    .resource-thumbnail-primary {
      flex-grow: 2;
    }
  }

  &__preview-text {
    @include utilityPrimary;
    position: relative; // Required to rise above overlay
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    // Padded relative to font-size
    padding: 1em 6px;
    font-size: 12px;
    line-height: 13px;
    color: var(--default-color);
    white-space: nowrap;
    background-color: $neutral20;
    transition: color $duration $timing, background-color $duration $timing;

    @include respond($break50) {
      padding: 1em 10px;
    }

    @include respond($break85) {
      font-size: 14px;
    }

    .resource-card__preview-link:hover &,
    .resource-card__preview-link:focus-visible &,
    .resource-preview-wrapper:hover &,
    .resource-preview-wrapper:focus-visible & {
      color: $neutralWhite;
      background-color: $defaultHoverColor;
    }
  }

  &__view-text {
    position: relative;
    top: -1px;
  }

  &__view-icon {
    position: relative;
    top: -1px;
    margin-left: 7px;

    @include respond($break50) {
      margin-left: 8px;
    }
  }

  &__info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 62.2%;
    padding: 12px 15px;
    text-decoration: none;
    background-color: $neutral05;

    @include respond($break40) {
      width: calc(100% - 155px);
    }

    @include respond($break75) {
      width: calc(100% - 135px);
    }

    @include respond($break85) {
      width: calc(100% - 155px);
    }

    &--hover,
    &:focus-visible {
      cursor: pointer;
      outline: 0;
    }
  }

  &__arrow-link {
    position: absolute;
    top: 50%;
    right: -10px;
    display: block;
    width: 26px;
    height: 26px;
    margin-top: -13px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    background-color: $neutral20;
    border-radius: 100%;
    transition: color $duration $timing, background-color $duration $timing;

    @include respond($break40) {
      right: -17.5px;
      width: 35px;
      height: 35px;
      margin-top: -17.5px;
      font-size: 15px;
    }

    &:hover,
    .resource-card__info--hover &,
    .resource-card__info:focus-visible & {
      color: $neutralWhite;
      background-color: $defaultHoverColor;
    }
  }

  &__arrow-link-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__title {
    @include templateHead;
    margin: 0;
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: $regular;
    hyphens: none;

    @include respond($break85) {
      font-size: 17px;
    }
  }

  &__date {
    @include subtitlePrimary;
    font-size: 12px;

    @include respond($break85) {
      font-size: 14px;
    }
  }

  .resource-preview-wrapper {
    display: flex;
    width: 100%;
    padding: 0;
    border: none;

    &:hover,
    &:focus-visible {
      outline: 0;

      .icon-thumbnail-primary {
        @include defaultHoverStyle;
      }
    }
  }

  .resource-tag-list {
    padding-top: 18px;

    @include respond($break75) {
      padding-top: 11px;
    }
  }
}
