.resource-total {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 40px;
  text-align: center;

  &--left-aligned {
    text-align: left;
  }

  &:not(:last-child) {
    margin-bottom: 25px;

    @include respond($break60) {
      margin-bottom: 50px;
    }
  }

  &--tight:not(:last-child) {
    @include respond($break60) {
      margin-bottom: 15px;
    }
  }

  &__link {
    @include templateHead;
    font-size: 20px;
    text-decoration: none;

    &:hover {
      .resource-total__value {
        @include defaultHoverStyle;
        transition: color $duration $timing;
      }
    }
  }

  &__value {
    color: $neutralTextExtraDark;
  }

  &__icon {
    margin-bottom: 2px;
    margin-left: 15px;
  }
}
