.citation {
  padding-top: 28px;

  .utility {
    display: block;
    margin-top: 5px;
    color: $neutral50;

    > label {
      @include utilityPrimary;
      font-size: 14px;
    }

    > ul {
      @include listHorizontal;
      padding-top: 13px;
      padding-bottom: 35px;

      li {
        + li {
          margin-left: 1.571em;
        }
      }

      a, button {
        @include buttonUnstyled;
        @include utilityPrimary;
        font-size: 14px;
        transition: color $duration $timing;
        padding-bottom: 4px;
        border-bottom: 2px solid transparent;

        &:hover, &.active {
          color: $neutralBlack;
          border-bottom: 2px solid $neutralBlack;
        }
      }
    }
  }
}
