.select {
  &__label {
    @include utilityPrimary;
    display: block;
    margin-bottom: 12px;
    font-size: 12px;
    font-weight: $semibold;
    letter-spacing: 0.1em;

    &--empty {
      display: none;
      @include respond($break60) {
        display: block;
      }
    }
  }

  &__wrapper {
    position: relative;
  }

  select,
  &__select {
    @include unstyledSelect;
    @include utilityPrimary;
    width: 100%;
    height: 2.857em;
    padding-right: 32px;
    padding-left: 13px;
    overflow: hidden;
    font-size: 16px;
    font-weight: $regular;
    text-overflow: ellipsis;
    text-transform: none;
    letter-spacing: normal;
    white-space: nowrap;
    // background-color: $neutral90; // required for `option` to inherit in FF
    background-color: var(--select-bg-color, inherit);
    border: 1px solid $neutralUIDullLight;
    border-radius: 8px;
    transition: border-color $duration $timing;

    &:focus-visible {
      border-color: $accentPrimary;
    }
  }

  svg {
    position: absolute;
    top: 50%;
    right: 8px;
    width: 22px;
    height: 22px;
    pointer-events: none;
    transform: translateY(-50%);
  }
}
