// Shared Form Components
// ----------------------
// Wrapper around input with absolutely positioned button
.search-button-inline {
  position: relative;

  // <button>
  .icon {
    @include buttonUnstyled;
    @include outlineOnFocus;
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -11px;
    font-size: 17px;
  }

  input {
    @include inputQuaternary;
    // Width can be controlled in wrapper
    width: 100%;
    padding-left: 40px;
    border-color: $neutral40;
    border-radius: 0;
    appearance: none;
    transition: color $duration $timing, border-color $duration $timing;

    &::placeholder {
      color: $neutral30;
    }

    &:focus-visible {
      color: $neutralWhite;
      border-color: $defaultFocusColor;
    }
  }
}

.form-dropzone {
  cursor: pointer;

  &__inline-button {
    @include buttonUnstyled;
    display: inline;
    text-decoration: underline;
    text-transform: inherit;
    letter-spacing: inherit;
  }

  &__upload-prompt {
    @include defaultHoverState;
    text-decoration: underline;
  }

  .dropzone-button {
    @include buttonUnstyled;
    @include buttonRounded;
    @include formLabelPrimary;
    padding: 25px 15px;
    font-weight: $regular;
    line-height: 1.761;
    text-align: center;
    border: 2px solid;

    &__text {
      display: block;
      padding-left: 95px;
      text-align: left;
    }

    &__cancel-button {
      @include buttonUnstyled;
      position: absolute;
      top: -6px;
      right: -12px;
    }

    + .dropzone-button {
      margin-top: 25px;
    }
  }

  .dropzone-button-dotted {
    border: 2px dotted $neutral50;
  }

  input {
    @include screenReaderText;
    /* stylelint-disable declaration-no-important */
    display: block !important;
    /* stylelint-enable declaration-no-important */

    &:focus-visible {
      outline: 0;

      + [class^='contents-'] .form-dropzone__upload-prompt,
      + .dropzone-button .form-dropzone__upload-prompt {
        @include defaultFocusStyle;
        outline-color: $defaultFocusColor;
      }
    }
  }
}

// Browse specific form select
.select-browse {
  @include selectPrimary;
  width: 100%;

  @include respond($break30) {
    width: auto;
    min-width: 310px;
  }
}

.password-input {
  $visibility-toggle-size: 32px;

  position: relative;

  .hidden {
    display: none;
  }

  &__visibility-toggle {
    position: absolute;
    top: -1 / 4 * $visibility-toggle-size - 1;
    left: 80px;
    width: $visibility-toggle-size;
    height: $visibility-toggle-size;
    color: $neutral70;
    cursor: pointer;

    &:focus-visible {
      outline: 0;
    }
  }

  &__visibility-icon {
    position: absolute;
    cursor: pointer;
  }
}

.form-divider {
  @include utilityPrimary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  white-space: nowrap;

  &::before {
    margin-right: 25px;
    margin-left: 10px;
  }

  &::after {
    margin-right: 10px;
    margin-left: 25px;
  }

  &::before, &::after {
    width: 45%;
    height: 1px;
    content: '';
    background-color: $neutralUIDullLight;
  }
}
