.fetch-select {
  position: relative;

  &__trigger {
    @include formInputPrimary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    color: $accentPrimary;
    border: 1px solid $accentPrimary;
    transition: color $duration $timing,
      background-color $duration $timing;

    &:hover {
      color: $neutral90;
      cursor: pointer;
      background-color: $accentPrimary;
    }
  }

  &__trigger-icon {
    font-size: 10px;
    transition: transform $duration $timing;

    .fetch-select--open & {
      transform: rotate(-180deg);
    }
  }

  &__list {
    @include listUnstyled;
    position: absolute;
    display: none;
    width: 100%;
    max-height: 210px;
    padding: 12px 0;
    overflow: auto;
    background-color: $neutral90;
    border: 1px solid $neutral80;
    border-top: 0;

    .fetch-select--open & {
      display: block;
    }
  }

  &__item {
    @include templateHead;
    padding: 0.425em 1.3em;
    font-size: 20px;
    color: $neutral70;
    cursor: pointer;

    & + & {
      border: 0; // OD
    }

    &:hover, &.highlighted {
      color: $neutral40;
    }
  }

  &__utility {
    margin-top: 12px;
  }
}
