.input-predictive {
  position: relative;

  &__input {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid $accentPrimary;
  }

  &__button {
    @include buttonUnstyled;
    padding: 8px 13px;
    color: $accentPrimary;
  }

  &__results-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 210px;
    overflow: auto;
    visibility: hidden;
    background-color: $neutral90;
    border-color: $neutral80;
    border-style: solid;
    border-width: 0 1px 1px;
    opacity: 0;
    transition: opacity $durationFast $timing
      visibility $durationFast $timing;

    .input-predictive--open & {
      visibility: visible;
      opacity: 1;
    }
  }

  &__results {
    @include listUnstyled;
    padding: 12px 0;
  }

  &__result {
    @include templateHead;
    padding: 0.425em 1.3em;
    font-size: 20px;
    color: $neutral70;
    cursor: pointer;

    & + & {
      border: 0; // OD
    }

    &:hover, &.highlighted {
      color: $neutral40;
    }
  }

  // Required for override
  .form-secondary .form-input & {
    input[type='text'] {
      height: auto;
      padding: 8px 0 13px 17px;
      border: 0;

      &:focus {
        border: 0;
      }

      &::placeholder {
        color: $accentPrimary;
      }
    }
  }

  .submit {
    @include buttonUnstyled;
    @include utilityPrimary;
    display: none;
    padding: 0.667em 15px;
    font-size: 12px;
    color: $accentPrimary;
    letter-spacing: 0.125em;
    white-space: nowrap;

    @include respond($break50) {
      display: block;
    }

    &:focus {
      @include focusOutline;
    }
  }

  + .has-many-list {
    margin-top: 20px;
  }
}
