<%
  user = RailsConfig.db_user
  pass = RailsConfig.db_pass
  host = RailsConfig.db_host
  port = RailsConfig.db_port
  db   = RailsConfig.db_name
  test_db   = RailsConfig.test_db_name
%>

common: &common
  adapter: postgresql
  host: <%= host %>
  encoding: unicode
  pool: <%= RailsConfig.max_threads %>
  port: <%= port %>
  user: <%= user %>
  database: <%= db %>
  password: "<%= pass %>"

production:
  <<: *common

demo:
  <<: *common

staging:
  <<: *common

development:
  <<: *common

test:
  <<: *common
  database: <%= test_db %><%= StartupConfig.test_env_number %>
