.appearance-menu {
  --default-focus-color: #{$defaultHoverColor};

  @include uiPanelMenu;

  &__list {
    @include listUnstyled;
  }

  &__section {
    &:nth-child(even) {
      background-color: $neutral10;
    }

    &:last-child {
      padding: 0;
      border-top: none;

      @include respond($break50) {
        &:last-child {
          padding: 0;
          border-top: none;

          @include respond($break40) {
            padding: 30px 28px;
          }
        }
      }
    }
  }

  &__radio-group {
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
  }

  &__radio-stack {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__radio-input {
    position: absolute;
    z-index: -5;
    opacity: 0;

    &:focus-visible {}
  }

  &__radio-label {
    border-bottom: 2px solid transparent;
    transition: color $durationFast $timing, border-color $durationFast $timing;

    .appearance-menu__font-style--active & {
      color: $neutralTextExtraDark;
      border-color: $neutralTextExtraDark;
    }

    .appearance-menu__font-style:hover &,
    .appearance-menu__radio-input:focus-visible ~ & {
      @include defaultHoverStyle;
      border-color: $defaultHoverColor;
    }
  }

  &__button-base {
    @include buttonUnstyled;

    &:not(:first-of-type) {
      margin-left: 20px;
    }
  }

  &__primary-hover-button {
    transition:
      color $duration $timing,
      background-color $duration $timing,
      border-color $duration $timing;

    &:hover:not(:disabled):not([aria-disabled='true']) {
      color: $neutralWhite;
      background-color: $defaultHoverColor;
    }
  }

  /* stylelint-disable property-no-vendor-prefix */
  &__font-control-group {
    display: -ms-grid;
    display: grid;
    grid-template:
      'font-style size-serif' auto
      'font-style size-sans' auto / 1fr auto;
    grid-row-gap: 23px;
    padding-top: 16px;
    padding-bottom: 16px;
    -ms-grid-rows: auto 23px auto;
    -ms-grid-columns: 1fr auto;

    @include respond($break50) {
      grid-row-gap: 29px;
      -ms-grid-rows: auto 29px auto;
    }
  }

  &__font-style-control {
    grid-area: font-style;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-row-span: 3;
  }

  &__font-size-control {
    display: flex;
    justify-content: space-between;

    &--serif {
      grid-area: size-serif;
      -ms-grid-row: 1;
      -ms-grid-column: 2;
    }

    &--sans {
      grid-area: size-sans;
      -ms-grid-row: 3;
      -ms-grid-column: 2;
    }
  }
  /* stylelint-enable property-no-vendor-prefix */

  // <button> that sets font type
  &__font-style {
    position: relative;
    display: block;
    padding-bottom: 3px;
    margin-top: 3px;
    margin-bottom: 3px;

    &:not(:first-of-type) {
      margin-left: 0;
    }

    &--serif {
      @include templateCopy;
      font-size: 25px;

      @include respond($break50) {
        font-size: 22px;
      }
    }

    &--sans-serif {
      @include templateHead;
      font-size: 24px;

      @include respond($break50) {
        font-size: 21px;
      }
    }
  }

  // Set of buttons for setting font-size
  &__font-size-button {
    @include buttonUnstyled;
    width: 44px;
    height: 44px;
    color: $neutralTextExtraDark;
    vertical-align: top;
    background-color: $neutralWhite;
    border-radius: 100%;

    @include respond($break50) {
      width: 35px;
      height: 35px;
    }

    &:disabled {
      color: $neutralTextLight;
      background-color: $neutral20;
    }

    @include respond($break50) {
      width: 35px;
      height: 35px;
    }

    &:disabled,
    &[aria-disabled='true'] {
      color: $neutralTextLight;
      cursor: default;
      background-color: $neutral20;
    }

    &:not(:first-child) {
      margin-left: 15px;
    }
  }

  &__color-buttons-container {
    padding: 15px 0;
  }

  &__color-scheme {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: calc(50% - 10px);
    height: 39px;
    border: 3px solid transparent;
    transition: border-color $duration $timing;

    @include respond($break50) {
      width: 96px;
    }

    &--light {
      color: $neutralTextExtraDark;
      background-color: $neutralWhite;
    }

    &--dark {
      --default-hover-color: #{$accentInteractionLight};

      color: $neutralWhite;
      background-color: $neutralUIExtraDark;
    }

    &--active {
      > svg {
        opacity: 1;
      }
    }

    &:not(.appearance-menu__color-scheme--active) {
      > svg {
        opacity: 0;

      }
    }

    &:hover, &:focus-visible {
      border-color: $defaultHoverColor;
      outline: 0;
    }
  }

  &__color-scheme-icon {
    .appearance-menu__radio-input:focus-visible ~ & {
      @include defaultHoverStyle;
      opacity: 1;
    }
  }

  &__control-margins {
    display: none;
    border-top: none;

    @include respond($break50) {
      display: block;
    }
  }

  &__menu-icon {
    &--dark {
      fill: $neutral80;
    }

    &--light {
      fill: $neutral40;
    }
  }

  &__margin-button {
    width: 96px;
    height: 46px;
    background-color: $neutralWhite;

    &:hover {
      &:not([aria-disabled='true']) {
        outline: 0;

        > svg path {
          fill: $neutralWhite;
        }
      }
    }

    &[aria-disabled='true'] {
      cursor: default;
      background-color: $neutral20;

      > svg {
        opacity: 0.5;
      }
    }
  }

  &__reload-icon {
    margin-right: 10px;
  }
}
