.control-menu {
  &__header,
  &__section {
    padding: 15px 30px;
  }

  &__header {
    display: block;
    width: 100%;
    background-color: $neutral10;

    &--with-icon {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }

  &__heading {
    @include templateHead;
    margin: 0;
    font-size: 15px;
    font-weight: $medium;
  }

  &__button {
    @include buttonUnstyled;
    @include utilityPrimary;
    width: 100%;
    min-height: 48px;
    padding: 12px 10px 10px;
    font-size: 13px;
    background-color: $neutral10;
    transition:
      color $duration $timing,
      background-color $duration $timing;

    &:hover:not(:disabled):not([aria-disabled='true']),
    &:focus-visible {
      color: $neutralWhite;
      background-color: $defaultHoverColor;
      outline: 0;
    }

    &:disabled {
      color: transparentize($neutralTextDark, 0.5);
    }
  }
}
