// Annotation Popup Components
// ---------------------------

// Just for components that deal with selecting an action to create an annotation
.annotation-popup {
  position: absolute;
  margin-top: -30px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: top $duration $timing, left $duration $timing,
    opacity $duration $timing;

  &.visible {
    visibility: visible;
    opacity: 1;
  }

  .popup-page {
    transition: margin $duration $timing,
      opacity $duration $timing,
      visibility $duration $timing;

    &.hidden {
      visibility: hidden;
      opacity: 0;
    }
  }

  .popup-page, .popup-page-secondary {
    position: relative;
    display: inline-block;
    vertical-align: top;

    &.bottom {
      vertical-align: bottom;
    }
  }

  .popup-page-secondary-group {
    display: inline-block;
  }

  .popup-page-secondary {
    &.page-enter {
      opacity: 0.01;

      &.page-enter-active {
        opacity: 1;
        transition: opacity $durationFast $timing;
      }
    }

    &.page-leave {
      opacity: 1;

      &.page-leave-active {
        opacity: 0;
        transition: opacity $duration $timing;
      }
    }
  }

  .note {
    @include templateHead;
    padding: 1em 17px 1.063em;
    font-size: 16px;
    color: $neutralWhite;
    text-align: center;
    letter-spacing: 0.005em;
    background-color: $neutral90;
  }

  button {
    @include buttonUnstyled;
    @include utilityPrimary;
    display: block;
    width: 100%;
    height: 50px;
    padding: 12px 22px 13px 17px;
    font-size: 14px;
    line-height: 23px;
    color: $neutralWhite;
    text-align: left;
    background-color: $neutral80;
    background-clip: padding-box;
    transition: color $duration $timing, background-color $duration $timing;

    &.dark {
      color: $neutral70;
      background-color: $neutral90;

      + .tail-down {
        border-color: $neutral90 transparent transparent;
      }
    }

    &:hover, &.selected {
      color: $neutral80;
      background-color: $accentPrimary;
    }

    + button, + .button-group {
      border-top: 1.5px $neutral90 solid;
    }

    .manicon {
      display: inline-block;
      width: 24px;
      margin-right: 13px;
      vertical-align: middle;
    }

    // Provisional icon for creating resources
    .manicon-cube-outline {
      margin-top: -3px;
      font-size: 26px;
    }

    .manicon-pencil-simple {
      margin-top: -3px;
      font-size: 24px;
    }

    .manicon-word-bubble {
      margin-top: -1px;
      font-size: 23px;
    }

    .manicon-bookmark-outline {
      margin-top: -3px;
      font-size: 23px;
    }

    .manicon-nodes {
      margin-top: -4px;
      font-size: 26px;
    }

    .manicon-quotes-left {
      margin-top: -2px;
      font-size: 19px;
    }

    .manicon-envelope {
      margin-top: -1px;
      font-size: 17px;
    }

    .manicon-twitter {
      margin-top: -3px;
      font-size: 22px;
    }

    .manicon-person-pencil {
      margin-top: 2px;
      font-size: 26px;
      text-align: center;
    }

    .manicon-facebook {
      margin-top: -1px;
      font-size: 27px;
      text-align: center;
    }

    .manicon-arrow-right {
      margin-top: -2px;
      font-size: 20px;
    }

    .manicon-arrow-bold-left {
      margin-top: -4px;
      font-size: 16px;
    }
  }

  .button-group {
    + button, + .button-group {
      border-top: 1.5px $neutral90 solid;
    }
  }

  .tail {
    position: absolute;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    margin-left: -16px;
    border-style: solid;
    transition: border-color $duration $timing;

    &.tail-down {
      top: 100%;
      border-color: $neutral80 transparent transparent;
      border-width: 16px 16px 0;
    }

    &.tail-up {
      top: -16px;
      border-color: transparent transparent $neutral80;
      border-width: 0 16px 16px;
    }
  }

  .tail-down.highlight, button:hover + .tail-down {
    border-color: $accentPrimary transparent transparent;
  }

  .tail-up.highlight, button:first-child:hover ~ .tail-up {
    border-color: transparent transparent $accentPrimary;
  }
}
