.button-appearance {
  @include buttonUnstyled;
  height: 100%;
  color: $neutral50;
  transition: background-color $duration $timing;

  &.button-active {
    background-color: $neutral10;
  }

  .manicon-aa::before {
    font-size: 21px;
  }
}

.appearance-menu {
  position: fixed;
  // Off screen by default
  right: 0;
  bottom: -390px;
  width: 100%;
  background-color: $neutral10;
  transition: right $duration $timing,
    bottom $duration $timing;

  @include respond($break50) {
    position: absolute;
    right: -350px;
    bottom: auto;
    width: auto;
  }

  ul {
    @include listUnstyled;

    li {
      padding: 32px 30px;

      + li {
        border-top: 2px solid $neutral30;
        &:last-child {
          border-top: none;
          padding: 0;

          @include respond($break40) {
            border-top: 2px solid $neutral30;
            padding: 30px 28px;
          }
        }
      }
    }
  }

  .panel-visible & {
    // NB: This will be '52' when there is
    // a full set of functional icons
    bottom: 42px;

    @include respond($break50) {
      right: 0;
      bottom: auto;
    }
  }

  .control-font {
    @include clearfix;

    + .control-font {
      margin-top: 23px;

      @include respond($break50) {
        margin-top: 40px;
      }
    }
  }

  // <button> that sets font type
  .font-type {
    @include buttonUnstyled;
    float: left;
    padding-bottom: 3px;
    margin-top: 2px;
    color: $neutral70;
    border-bottom: 2px solid transparent;

    &.button-active {
      color: $neutralOffBlack;
      border-color: $neutralOffBlack;
    }

    &:hover {
      color: $accentPrimary;
      border-color: $accentPrimary;
    }

    &.serif {
      @include templateCopy;
      font-size: 25px;

      @include respond($break50) {
        font-size: 22px;
      }
    }

    &.sans-serif {
      @include templateHead;
      font-size: 24px;

      @include respond($break50) {
        font-size: 21px;
      }
    }
  }

  // Set of buttons for setting font-size
  .font-size {
    float: right;

    button {
      @include buttonUnstyled;
      width: 44px;
      height: 44px;
      vertical-align: top;
      background-color: $neutral05;
      border-radius: 100%;
      transition: color $durationFast $timing, background-color $durationFast $timing;

      @include respond($break50) {
        width: 35px;
        height: 35px;
      }

      &:hover {
        color: $neutralWhite;
        background-color: $accentPrimary;
      }

      &:disabled {
        color: $neutral40;
        background-color: $neutral20;
      }

      .manicon-plus {
        font-size: 17px;
        line-height: 44px;

        @include respond($break50) {
          line-height: 35px;
        }
      }

      .manicon-dash {
        font-size: 2px;
        line-height: 44px;

        @include respond($break50) {
          line-height: 35px;
        }
      }

      + button {
        margin-left: 15px;
      }
    }
  }

  .color-scheme {
    @include buttonUnstyled;
    width: calc(50% - 10px);
    height: 39px;
    border: 4px solid transparent;

    @include respond($break50) {
      width: 96px;
    }

    .manicon {
      opacity: 0;
    }

    &.light {
      color: $neutralOffBlack;
      background-color: $neutralWhite;
    }

    &.dark {
      color: $neutralWhite;
      background-color: $neutral80;
    }

    &.button-active {
      .manicon {
        opacity: 1;
      }
    }

    &:hover {
      border-color: $accentPrimary;

      .manicon {
        opacity: 1;
      }
    }

    + button {
      margin-left: 20px;
    }
  }

  .control-margins {
    display: none;
    border-top: none;

    @include respond($break50) {
      display: block;
    }

    button {
      @include buttonUnstyled();
      width: calc(50% - 10px);
      height: 46px;
      background-color: $neutralWhite;
      transition: color $duration $timing, background-color $duration $timing;

      @include respond($break50) {
        width: 96px;
      }

      &.margin-increase .compound-icon {
        position: relative;
        display: inline-block;
        width: 83px;
        height: 23px;

        i {
          position: absolute;
          top: 0;
          left: 0;
          font-size: 28px;
        }
      }

      &.margin-decrease .compound-icon {
        position: relative;
        display: inline-block;
        width: 85px;
        height: 23px;

        i {
          position: absolute;
          top: 0;
          left: 0;
          font-size: 28px;
        }
      }

      // Icon coloring
      .manicon-margins-narrow-text,  .manicon-margins-wide-text {
        color: $neutral40;
      }

      .manicon-margins-narrow-arrows, .manicon-margins-wide-arrows {
        color: $neutralOffBlack;
      }

      &:hover {
        background-color: $accentPrimary;

        i {
          color: $neutralWhite;
        }
      }

      + button {
        margin-left: 20px;
      }
    }
  }
}
