.button-appearance {
  @include buttonUnstyled;
  height: 100%;
  padding: 0 16px;
  color: $neutral50;
  transition: background-color $duration $timing;

  &.button-active {
    background-color: $neutral10;
  }

  .manicon-aa:before {
    font-size: 21px;
  }
}

.appearance-menu {
  position: absolute;
  // Off screen by default
  right: -350px;
  padding: 40px;
  background-color: $neutral10;
  transition: right $duration $timing;

  .panel-visible & {
    right: 0;
  }

  .control-font {
    @include clearfix;
    padding-bottom: 40px;
  }

  // <button> that sets font type
  .font-type {
    @include buttonUnstyled;
    float: left;
    padding-bottom: 3px;
    margin-top: 2px;
    color: $neutral70;
    border-bottom: 2px solid transparent;

    &.button-active {
      color: $neutralOffBlack;
      border-color: $neutralOffBlack;
    }

    &:hover {
      color: $accentPrimary;
      border-color: $accentPrimary;
    }

    &.serif {
      @include templateCopy;
      font-size: 28px;
    }

    &.sans-serif {
      @include templateHead;
      font-size: 26px;
    }
  }

  // Set of buttons for setting font-size
  .font-size {
    float: right;

    button {
      @include buttonUnstyled;
      width: 44px;
      height: 44px;
      vertical-align: top;
      background-color: $neutral05;
      border-radius: 100%;
      transition: color $durationFast $timing, background-color $durationFast $timing;

      &:hover {
        color: $neutralWhite;
        background-color: $accentPrimary;
      }

      &:disabled {
        color: $neutral40;
        background-color: $neutral20;
      }

      .manicon-plus {
        font-size: 17px;
        line-height: 44px;
      }

      .manicon-dash {
        font-size: 2px;
        line-height: 44px;
      }

      + button {
        margin-left: 21px;
      }
    }
  }


  .control-color {
    @include buttonUnstyled;
    width: 120px;
    height: 42px;
    border: 4px solid transparent;

    .manicon {
      visibility: hidden;
    }

    &.light {
      color: $neutralOffBlack;
      background-color: $neutralWhite;
    }

    &.dark {
      color: $neutralWhite;
      background-color: $neutral80;
    }

    &.button-active {
      .manicon {
        visibility: visible;
      }
    }

    &:hover {
      border-color: $accentPrimary;

      .manicon {
        visibility: visible;
      }
    }

    + button {
      margin-left: 20px;
    }
  }
}
