.header-reader {
  position: fixed;
  top: 0;
  width: 100%;

  .container-banner {
    @include clearfix;
    position: relative;
    height: 55px;
    background-color: $neutralWhite;

    @include respond($break50) {
      height: 63px;
    }
  }

  .banner-gradient {
    position: absolute;
    left: 0;
    // Relative z-index to container
    width: 100%;
    height: 60px;
    // Escape linter to use CSS native function
    // scss-lint:disable NameFormat
    background: linear-gradient(to bottom, $neutralWhite 0%, transparentize($neutralWhite, 1) 100%);
    content: '';
    opacity: 0;
    visibility: hidden;
    transition: opacity $duration $timing, visibility $duration $timing, background $duration $timing;

    // Dark variant
    &.scheme-dark {
      // Escape linter to use CSS native function
      // scss-lint:disable NameFormat
      background: linear-gradient(to bottom, $neutral90 0%, transparentize($neutral90, 1) 100%);
    }

    // Only visible when not at top of the page
    .not-top & {
      opacity: 1;
      visibility: visible;
    }
  }

  // Navigation-Dropdown
  .button-menu {
    @include buttonUnstyled;
    @include utilityPrimary;
    float: left;
    height: 100%;
    padding-right: 24px;
    padding-left: 24px;
    font-size: 14px;
    color: $neutral50;
    background-color: $neutral10;
    transition: color $duration $timing, background-color $duration $timing;

    &:hover {
      color: $neutralWhite;
      background-color: $accentPrimary;
    }
  }

  // <button>
  .button-close {
    @include buttonUnstyled;
    position: relative;
    float: left;
    height: 100%;
    padding-right: 12px;
    padding-left: 12px;
    color: $neutral50;
    background-color: $neutral10;
    transition: color $duration $timing, background-color $duration $timing;

    @include respond($break50) {
      padding-right: 16px;
      padding-left: 16px;
    }

    &:hover {
      background-color: $accentPrimary;

      .manicon-x {
        color: $neutral80;
      }
    }

    .manicon-x {
      font-size: 26px;

      @include respond($break50) {
        font-size: 31px;
      }
    }
  }

  .button-index {
    @include buttonUnstyled;
    @include utilityPrimary;
    position: relative;
    float: left;
    height: 100%;
    padding-right: 16px;
    padding-left: 20px;
    font-size: 14px;
    font-weight: $semibold;
    color: $neutral50;
    background-color: $neutral05;
    transition: color $duration $timing background-color $duration $timing;

    @include respond($break50) {
      padding-right: 21px;
      padding-left: 30px;
    }

    &.active, &:hover {
      color: $neutralWhite;
      background-color: $accentPrimaryLight;
    }

    .manicon {
      display: inline-block;
      vertical-align: middle;
    }

    .manicon-caret-down {
      margin-left: 22px;
      font-size: 8px;
    }
  }

  // <header>
  .title {
    @include templateHead();
    position: relative;
    display: none;
    height: 100%;
    overflow: hidden;

    @include respond($break70) {
      display: block;
    }

    .text-title, .section-title {
      @include templateHead();
      position: relative;
      height: 100%;
      padding: 19px 190px 0 27px;
      margin: 0;
      overflow: hidden;
      font-size: $type80;
      font-weight: $regular; // OD
      color: $neutral50;
      text-overflow: ellipsis;
      white-space: nowrap;
      transition: transform 0.4s $timing;
    }

    &.show-section .text-title, &.show-section .section-title {
      transform: translateY(-100%);
    }
  }

  .menu-buttons {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;

    ul {
      @include listHorizontal;
      position: relative;
      display: block;
      height: 100%;

      li {
        position: relative;
        height: 100%;
        vertical-align: middle;
      }
    }

    .button-search {
      padding: 0 10px;
      font-size: 19px;

      @include respond($break70) {
        padding: 0 18px;
      }

      &.button-active {
        background-color: $neutral10;
      }
    }

    .annotation-visibility-button {
      display: none;

      @include respond($break50) {
        display: inline-block;
      }
    }

    .button-appearance {
      display: none;
      padding: 0 10px;

      @include respond($break50) {
        display: inline-block;
      }

      @include respond($break70) {
        padding: 0 16px;
      }
    }

    .button-avatar {
      position: relative;
      height: 100%;
      padding-right: 16px;
      padding-left: 10px;

      @include respond($break70) {
        padding-right: 16px;
        padding-left: 16px;
      }

      &.button-active {
        background-color: $neutral10;
      }

      .avatar {
        @include buttonAvatar(32);
      }
    }
  }

  .menu-panels-left {
    position: absolute;
    left: 0;
    width: 100%;

    .reader-return-menu {
      position: absolute;
      left: -390px;
      transition: left $duration $timing;
    }

    .panel-visible {
      .reader-return-menu {
        left: 0;
      }
    }
  }

  .menu-panels-right {
    position: absolute;
    right: 0;
    width: 100%;

    // Reader specific menu layout/transition
    .search-menu {
      position: absolute;
      right: -100vw;
      transition: right $duration $timing;

      @include respond($break70) {
        right: -610px;
      }
    }

    .panel-visible .search-menu {
      right: 0;
    }

    .user-menu {
      position: absolute;
      right: -300px;
      transition: right $duration $timing;
    }

    .panel-visible .user-menu {
      right: 0;
    }
  }
}

// Header bump
.reader main {
  padding-top: $readerHeaderHeightMin;

  @include respond($break50) {
    padding-top: $readerHeaderHeightMax;
  }
}
