.header-reader {
  position: fixed;
  top: 0;
  width: 100%;

  .container-banner {
    @include clearfix;
    @include bannerGlow;
    height: 63px;
    background-color: $neutralWhite;
  }

  // <button>
  .button-close {
    @include buttonUnstyled;
    position: relative;
    float: left;
    height: 100%;
    padding-right: 16px;
    padding-left: 16px;
    color: $neutral50;
    background-color: $neutral10;
    transition: color $duration $timing, background-color $duration $timing;

    &:hover {
      background-color: $accentPrimary;

      .manicon-x {
        color: $neutral80;
      }
    }

    .manicon-x {
      font-size: 31px;
    }
  }

  .button-index {
    @include buttonUnstyled;
    @include utilityPrimary;
    position: relative;
    float: left;
    height: 100%;
    padding-right: 21px;
    padding-left: 30px;
    font-size: $type40;
    font-weight: $semibold;
    color: $neutral50;
    background-color: $neutral20;
    transition: color $duration $timing background-color $duration $timing;

    &.active, &:hover {
      color: $neutralWhite;
      background-color: $accentPrimaryLight;
    }

    .manicon {
      display: inline-block;
      vertical-align: baseline;
    }

    .manicon-caret-down {
      margin-left: 22px;
      font-size: 8px;
    }
  }

  // <h2>
  .title {
    @include templateHead();
    float: left;
    margin-left: 27px;
    font-size: $type80;
    font-weight: $regular; // OD
    color: $neutral50;
  }

  .menu-buttons {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;

    ul {
      @include listHorizontal;
      position: relative;
      display: block;
      height: 100%;

      li {
        position: relative;
        height: 100%;
        vertical-align: middle;
      }
    }

    .button-search {
      padding: 0 21px;

      &.button-active {
        background-color: $neutral10;
      }
    }

    .button-avatar {
      position: relative;
      height: 100%;
      padding-right: 16px;
      padding-left: 16px;

      &.button-active {
        background-color: $neutral10;
      }

      .avatar {
        @include buttonAvatar(32);
      }
    }
  }

  .menu-panels {
    position: absolute;
    right: 0;
    width: 100%;

    // Reader specific menu layout/transition
    .search-menu {
      position: absolute;
      right: -645px;
      width: 645px;
      transition: right $duration $timing;
    }

    .panel-visible .search-menu {
      right: 0;
    }

    .user-menu {
      position: absolute;
      right: -300px;
      transition: right $duration $timing;
    }

    .panel-visible .user-menu {
      right: 0;
    }
  }
}

// Header bump
.reader main {
  padding-top: 63px;
}
