.header-reader {
  width: 100%;
  position: fixed;
  top: 0;
  .container-banner {
    @include clearfix;
    height: 63px;
    background-color: $neutralWhite;
  }

  // <button>
  .button-close {
    @include buttonUnstyled;
    height: 100%;
    color: $neutral50;
    background-color: $neutral10;
    padding-right: 16px;
    padding-left: 16px;
    position: relative;
    float: left;
    transition: color $duration $timing;
    transition: background-color $duration $timing;
    &:hover {
      background-color: $accentPrimary;
      .manicon-x {
        color: $neutral80;
      }
    }
    .manicon-x {
      font-size: 31px;
    }
  }
  .button-index {
    @include buttonUnstyled;
    @include utilityPrimary;
    height: 100%;
    font-size: $type40;
    font-weight: $semibold;
    color: $neutral50;
    padding-right: 21px;
    padding-left: 30px;
    background-color: $neutral20;
    float: left;
    position: relative;
    transition: color $duration $timing;
    transition: background-color $duration $timing;
    &.active, &:hover {
      background-color: $accentPrimaryLight;
      color: $neutralWhite;
    }
    .manicon {
      display: inline-block;
      vertical-align: baseline;
    }
    .manicon-caret-down {
      font-size: 8px;
      margin-left: 22px;
    }
  }
  // <h2>
  .title {
    @include templateHead();
    color: $neutral50;
    font-size: $type80;
    font-weight: $regular; // OD
    margin-left: 27px;
    float: left;
  }

  .menu-buttons {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    ul {
      @include listHorizontal;
      display: block;
      position: relative;
      height: 100%;
      li {
        vertical-align: middle;
        position: relative;
        height: 100%;
      }
    }
    .button-search {
      padding: 0px 21px;
      &.button-active {
        background-color: $neutral10;
      }
    }

    .button-avatar {
      height: 100%;
      padding-right: 16px;
      padding-left: 16px;
      position: relative;
      &.button-active {
        background-color: $neutral10;
      }
      .avatar {
        @include buttonAvatar(32);
      }
    }
  }

  .menu-panels {
    width: 100%;
    position: absolute;
    right: 0;

    // Reader specific menu layout/transition
    .search-menu {
      position: absolute;
      width: 645px;
      right: -645px;
      transition: right $duration $timing;
    }
    .panel-visible .search-menu {
      right: 0px;
    }

    .user-menu {
      position: absolute;
      right: -300px;
      transition: right $duration $timing;
    }
    .panel-visible .user-menu {
      right: 0px;
    }
  }
}

// Header bump
.reader main {
  padding-top: 63px;
}