.button-notes {
  @include buttonUnstyled;
  height: 100%;
  color: $neutral50;
  transition: background-color $duration $timing;

  &.button-active {
    background-color: $neutral10;
  }

  .manicon-notepad::before {
    font-size: 25px;
  }
}

.notes-list {
  padding: 0;

  ul {
    @include listUnstyled;
  }
}

.notes-drawer {
  @keyframes drawerOverlayFade {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .drawer-overlay {
    z-index: 150;
    opacity: 0;
    animation: drawerOverlayFade $duration $timing forwards;

    .panel-visible & {
      opacity: 1;
    }

    .panel-leave & {
      opaicty: 1;
      animation: drawerOverlayFade $duration $timing backwards;
    }

    .panel-leave.panel-leave-active & {
      opacity: 0;
    }
  }

  @keyframes notesSlideMobile {
    from {
      right: -100%;
    }

    to {
      right: 0;
    }
  }

  @keyframes notesSlideTablet {
    from {
      right: -70vw;
    }

    to {
      right: 0;
    }
  }

  @keyframes notesSlideDesktop {
    from {
      right: -850px;
    }

    to {
      right: 0;
    }
  }

  .drawer-reader {
    right: -100%;
    padding-top: 47px;
    background-color: $neutral10;
    transition: right $duration $timing;

    @include respond($break75) {
      right: -70vw;
    }

    @include respond($break120) {
      right: -850px;
      width: 50%;
    }

    .panel-visible & {
      animation: notesSlideMobile $duration $timing forwards;

      @include respond($break75) {
        animation: notesSlideTablet $duration $timing forwards;
      }

      @include respond($break120) {
        animation: notesSlideDesktop $duration $timing forwards;
      }
    }

    .panel-leave & {
      right: 0;

      animation: slideUpMobile $duration $timing backwards;

      @include respond($break75) {
        animation: notesSlideTablet $duration $timing backwards;
      }

      @include respond($break120) {
        animation: notesSlideDesktop $duration $timing backwards;
      }
    }

    .panel-leave.panel-leave-active & {
      right: -100%;

      @include respond($break75) {
        right: -70vw;
      }

      @include respond($break120) {
        right: -850px;
        width: 50%;
      }
    }

    .drawer-title {
      font-size: 22px;
      color: $neutral90;
      text-transform: none;
      transition: color $duration $timing;

      &:hover, div[role='button']:focus {
        color: $neutral70;
        cursor: pointer;
        border: 0;
      }
    }

    .drawer-bar {
      padding: 6px 20px;
      border-bottom: 2px solid $neutral40;

      @include respond($break65) {
        padding: 6px 32px;
      }

      button {
        font-size: 14px;
      }
    }

    ul {
      @include listUnstyled;

      .item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        max-height: 52px;
        padding: 18px 20px;
        color: $neutral90;
        border-bottom: 2px solid $neutral40;
        transition: color $duration $timing,
          background-color $duration $timing;

        @include respond($break65) {
          padding: 18px 32px;
        }


        &.open {
          i {
            transform: rotate(0);
          }
        }

        i {
          font-size: 8px;
          transition: transform $duration $timing;
          transform: rotate(-0.25turn);
        }

        label, span, .item-label {
          @include utilityPrimary;
          margin-top: -2px;
          margin-bottom: 0;
          margin-left: 20px;
          font-size: 16px;
          color: inherit;
          text-transform: none;
          letter-spacing: 0;
          cursor: inherit;

          @include respond($break50) {
            font-size: 18px;
          }
        }

        &:hover, &:focus {
          color: $neutral75;
          cursor: pointer;
          background-color: $accentPrimaryLight;
          outline: 0;
        }
      }
    }

    ul ul {
      overflow: hidden;

      .item {
        justify-content: flex-start;
        padding: 18px 20px;
        color: $neutral90;
        border-bottom: none;
        transition: color $duration $timing,
          background-color $duration $timing;

        @include respond($break65) {
          padding: 18px 32px 18px 60px;
        }

        i {
          font-size: 20px;
          color: $neutral50;
          transform: rotate(0);

          @include respond($break50) {
            font-size: 21px;
          }
        }

        span {
          font-weight: 400;
        }

        &:hover {
          color: $neutral75;
        }

        &:focus {
          color: $neutral75;
          background-color: $accentPrimaryLight;
          border: 0;
          outline: 0;
        }

        &:nth-child(odd) {
          background-color: $neutral20;

          &:hover {
            background-color: $accentPrimaryLight;
            border: 0;
          }

          &:focus {
            color: $neutral75;
            background-color: $accentPrimaryLight;
            border: 0;
            outline: 0;
          }
        }

        &:last-child {
          border-bottom: 2px solid $neutral40;

          &:hover, &:focus {
            border-bottom: 2px solid $neutral40;
          }
        }
      }
    }

    .filters {
      padding: 15px 20px;
      background-color: $neutral20;
      border-bottom: 2px solid $neutral40;

      @include respond($break65) {
        padding: 21px 32px 18px;
      }

      @include respond($break90) {
        display: flex;
        align-items: center;
      }

      label {
        @include utilityPrimary;
        font-size: 14px;
      }

      .label {
        @include utilityPrimary;
        display: inline-block;
        padding-right: 18px;
        margin-top: -2px;
        margin-bottom: 0;
        font-size: 14px;
        color: $neutral70;
      }

      .checkbox-group {
        padding-top: 8px;

        @include respond($break50) {
          display: flex;
        }

        .checkbox {
          display: block;

          .control-indicator {
            margin-top: -3px;
          }
        }

        .checkbox + .checkbox {
          margin-top: 8px;
          margin-left: 0;

          @include respond($break50) {
            margin-top: 0;
            margin-left: 28px;
          }

          @include respond($break65) {
            margin-left: 32px;
          }
        }

        @include respond($break90) {
          padding-top: 0;
        }
      }
    }

    .drawer-list-horizontal {
      @include listUnstyled;
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
    }
  }
}
