.reader-return-menu {
  max-width: 330px;
  background-color: $neutral10;

  @include respond($break60) {
    max-width: 390px;
  }

  ul {
    @include listUnstyled;
    min-width: 260px;
  }

  li + li {
    border-top: 2px solid $neutral30;
  }

  li a, li button {
    @include buttonUnstyled;
    @include templateHead;
    display: block;
    padding: 22px 20px;
    font-size: 18px;
    color: $neutral75;
    text-decoration: none;
    letter-spacing: 0.004em;
    transition: color $duration $timing;

    @include respond($break60) {
      padding: 26px;
      font-size: 22px;
    }

    &:hover, &:focus {
      color: $accentPrimary;
      outline: 0;

      i, span {
        color: $accentPrimary;
      }
    }

    &.flush-bottom {
      padding-bottom: 0.38em;
    }

    i {
      display: inline-block;
      width: 60px;
      color: $neutral50;
      text-align: left;
      vertical-align: middle;
      transition: color $duration $timing;
    }

    .manicon-arrow-round-left {
      padding-left: 4px;
      font-size: 1.667em;
    }

    .manicon-books-with-glasses-simple {
      margin-top: -5px;
      font-size: 24px;
    }

    .manicon-books-on-shelf-simple {
      margin-top: -6px;
      font-size: 28px;
    }

    .manicon-manifold-logo {
      padding-left: 9px;
      font-size: 26px;
    }

    span {
      display: block;
      padding-top: 0.5em;
      padding-left: 60px;
      font-size: 17px;
      color: $neutral50;
      text-decoration: underline;
      transition: color $duration $timing;
    }
  }

  li .note {
    @include templateHead;
    display: block;
    padding: 0 1.688em 1.75em 88px;
    font-size: 16px;
    line-height: 1.5;
    color: $neutral50;
    text-decoration: underline;

    @include respond($break60) {
      padding-left: 92px;
    }


    span {
      display: inline;
      padding-left: 0; // OD
      color: $neutral75;
    }
  }
}
