.section-pagination {
  @include clearfix;
  background-color: $neutral20;

  // Global button styles
  // <a>
  .pagination-previous, .pagination-next {
    @include utilityPrimary;
    display: inline-block;
    padding: 28px 0 20px;
    font-size: 14px;
    color: $neutral40;
    text-decoration: none;
    vertical-align: middle;

    @include respond($break40) {
      padding: 42px 0 25px;
      font-size: 18px;
    }

    &:hover, &:focus {
      color: $accentPrimary;
      outline: 0;
    }

    .manicon {
      display: inline-block;
      font-size: 38px;
      vertical-align: middle;

      @include respond($break40) {
        font-size: 48px;
      }

      @include respond($break75) {
        font-size: 66px;
      }
    }
  }

  .pagination-previous {
    .manicon {
      margin-right: 10px;

      @include respond($break40) {
        margin-right: 30px;
      }
    }
  }

  .pagination-next {
    float: right;

    .manicon {
      margin-left: 10px;

      @include respond($break40) {
        margin-left: 30px;
      }
    }
  }
}
