@mixin chapterHeading {
  @include readerHead();
  // NB: All styles within text-sections use relative font sizes
  font-size: 2.682em;
  font-weight: $semibold;
  line-height: 1.288;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $accentPrimary;
    }
  }
}

.reader-window {
  padding: 60px 0 120px;
  overflow: hidden;
  color: $neutralOffBlack;
  background-color: $neutralWhite;
  transition: background-color $duration $timing;

  &.scheme-dark {
    color: $neutralWhite;
    background-color: $neutralOffBlack;
  }
}

.text-section {
  // Reader text temporary defaults
  font-family: "freight-text-pro", serif;
  font-weight: $regular;
  line-height: 1.761;
  letter-spacing: 0.01em;

  *::selection, .annotation-locked-selected {
    background: $sp20Quaternary;
  }

  &.font-sans-serif {
    font-family: "sofia-pro",sans-serif;
    font-weight: $light;
  }

  a {
    color: $accentPrimaryDark;
  }

  // Temporary, until Lael and Naomi work out default header styles --ZD
  .cn {
    font-size: 1.2em;
  }

  h1 {
    font-size: 1.6em;
    font-weight: $semibold;
    line-height: 1.288;
  }

  h2 {
    font-size: 1.3em;
    font-weight: $semibold;
    line-height: 1.288;
  }

  h3 {
    font-size: 1.1em;
    font-weight: $semibold;
    line-height: 1.288;
  }

  h4 {
    font-size: 1em;
    font-weight: $semibold;
    line-height: 1.288;
  }

  img {
    max-width: 100%;
  }

  pre {
    font-size: 0.7em;
  }

  // Link with resource marker cube
  .resource-marker {
    font-size: 0.85em;
    color: $neutral40;
    text-decoration: none;

    &.active {
      color: $accentPrimary;
    }

    i {
      position: relative;
      top: 0.15em;
      margin: -0.1em 0.15em 0;

      &::before {
        vertical-align: baseline;
      }
    }
  }

  //h2 {
  //  @include chapterHeading;
  //
  //  &:first-child {
  //    margin-bottom: 96px;
  //  }
  //}
}
