@mixin chapterHeading {
  @include readerHead();
  // NB: All styles within text-sections use relative font sizes
  font-size: 2.682em;
  font-weight: $semibold;
  line-height: 1.288;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $accentPrimary;
    }
  }
}

.reader-window {
  padding: 60px 0 120px;
  color: $neutralOffBlack;
  background-color: $neutralWhite;
  transition: background-color $duration $timing;

  &.scheme-dark {
    color: $neutralWhite;
    background-color: $neutralOffBlack;
  }
}

.text-section {
  // Reader text temporary defaults
  // TODO: Adjust scope and theming/customization once data is available
  font-family: "freight-text-pro", serif;
  font-size: $type80;
  font-weight: $light;
  line-height: 1.761;
  transition: font-size $durationFast $timing;

  &.font-sans-serif {
    font-family: "sofia-pro",sans-serif;
  }

  a {
    color: $accentPrimaryDark;
  }

  // Temporary, until Lael and Naomi work out default header styles --ZD
  .cn {
    font-size: 1.2em;
  }

  h1 {
    font-size: 1.6em;
    font-weight: $semibold;
    line-height: 1.288;
  }

  h2 {
    font-size: 1.3em;
    font-weight: $semibold;
    line-height: 1.288;
  }

  h3 {
    font-size: 1.1em;
    font-weight: $semibold;
    line-height: 1.288;
  }

  h4 {
    font-size: 1em;
    font-weight: $semibold;
    line-height: 1.288;
  }

  //h2 {
  //  @include chapterHeading;
  //
  //  &:first-child {
  //    margin-bottom: 96px;
  //  }
  //}
}
