.toc-drawer {
  .drawer-reader {
    $drawerWidth: 565px;
    padding: 47px 0 0;
    height: 100%;
    width: $drawerWidth;
    max-width: 90vw;
  }

  .no-scroll.overlay & {
    overflow: hidden;
  }

  // Scoped table of contents styles, some may be abstracted later
  // <nav> around nested uls
  @mixin tocBasePadding($nested: 0) {
    padding-right: 20px;
    padding-left: 30px + $nested;

    @include respond($break30) {
      padding-left: calc(7.813vw + #{$nested}px);
    }

    @include respond($break70) {
      padding-right: 30px;
    }

    @include respond($break95) {
      padding-left: 84px + $nested;
    }
  }

  $tocNestedPadding: 23;

  .table-of-contents {
    // Global Styles
    ul {
      @include listUnstyled;
      @include templateHead;

      a {
        display: block;
        width: 100%;
        line-height: 1.2;
        color: $neutral90;
        text-decoration: none;
        border-bottom: 1px solid $neutral40;
        transition: color $duration $timing,
          background-color $duration $timing;

        &:hover {
          color: $neutral75;
          background-color: $accentPrimaryPale;
        }

        &.active {
          background-color: $neutral10;
        }
      }
    }

    // Top Level links
    > ul > li {
      > a {
        @include tocBasePadding();
        padding-top: 1.091em;
        padding-bottom: 1.136em;
        font-size: 18px;

        @include respond($break50) {
          font-size: 22px;
        }
      }

      > ul > li {
        // Secondary level globals
        a {
          @include tocBasePadding();
          padding-top: 0.5em;
          padding-bottom: 0.667em;
          font-size: 16px;

          @include respond($break50) {
            font-size: 18px;
          }
        }

        // Third level indenting
        // scss-lint:disable SelectorDepth
        > ul > li > a {
          @include tocBasePadding($tocNestedPadding);
        }

        // Fourth level (and on) indenting
        // scss-lint:disable SelectorDepth
        > ul > li > ul > li > a {
          @include tocBasePadding($tocNestedPadding * 2);
        }
      }
    }
  }

  .toc-footer {
    @include tocBasePadding();
    display: block;
    padding-top: 30px;
    padding-bottom: 71px;

    @include respond($break50) {
      padding-top: 41px;
      padding-bottom: 41px;
    };

    button {
      @include buttonUnstyled;
      color: $neutral50;
      text-decoration: none;
    }

    h4 {
      @include utilityPrimary;
      margin: 0;
      font-size: 14px;

      i {
        display: inline-block;
        margin-top: -3px;
        margin-right: 16px;
        font-size: 2.286em;
        vertical-align: middle;
      }
    }
  }
}
