.toc-drawer {
  position: fixed;
  height: 100%;
  max-width: 620px;
  padding: 35px 0 100px;
  overflow-y: scroll;
  background-color: $accentPrimaryOffWhite;
  transition: left $duration $timing;

  &.drawer-hidden {
    left: -620px;
  }

  &.drawer-visible {
    left: 0;
  }

  // Scoped table of contents styles, some may be abstracted later
  // <nav> around nested uls
  $tocBasePadding: 80px;
  $tocNestedPadding: 30px;

  .table-of-contents {
    // Global Styles
    ul {
      @include listUnstyled;
      @include templateHead;
    }

    a {
      display: block;
      width: 100%;
      color: $neutralOffBlack;
      text-decoration: none;

      &:hover {
        color: $accentPrimaryDark;
        background-color: $neutral10;
      }
    }

    // Multi level lists have borders on top level links
    &.multi-level > ul > li > a {
      border-bottom: 1px solid $neutral40;
    }

    // Top Level links
    > ul > li {
      > a {
        padding: 40px 90px 8px $tocBasePadding;
        font-size: $type80;
      }

      > ul > li {
        // Secondary level globals
        a {
          padding: 13px 90px 7px $tocBasePadding;
          font-size: $type60;
        }
      }

      // Third level indenting
      > ul > ul > a {
        padding-left: $tocBasePadding + $tocNestedPadding;
      }

      // Fourth level indenting
      > ul > ul > ul > a {
        padding-left: $tocBasePadding + ($tocNestedPadding * 2);
      }

      // Fifth level (and on) indenting
      // scss-lint:disable SelectorDepth
      > ul > ul > ul > ul a {
        padding-left: $tocBasePadding + ($tocNestedPadding * 3);
      }
    }
  }

  .manicon-manifold-logo {
    display: block;
    padding: 75px 0 0 $tocBasePadding;
    font-size: 45px;
    color: $neutral10;
  }
}
