.toc-drawer {
  position: fixed;
  max-width: 620px;
  height: 100%;
  padding: 35px 0 100px 0;
  background-color: $accentPrimaryOffWhite;
  overflow-y: scroll;
  transition: left $duration $timing;
  &.drawer-hidden {
    left: -620px;
  }
  &.drawer-visible {
    left: 0;
  }

  // Scoped table of contents styles, some may be abstracted later
  // <nav> around nested uls
  $tocBasePadding: 80px;
  $tocNestedPadding: 30px;

  .table-of-contents {
    // Global Styles
    ul {
      @include listUnstyled;
      @include templateHead;
      a {
        display: block;
        width: 100%;
        color: $neutralOffBlack;
        text-decoration: none;
        &:hover {
          color: $accentSecondary;
          background-color: $neutral10;
        }
      }
    }

    // Top Level links
    > ul > li {
        > a {
          font-size: $type80;
          padding: 40px 90px 8px $tocBasePadding;
        }
      > ul > li {
        // Secondary level globals
        a {
          font-size: $type60;
          padding: 17px 90px 21px $tocBasePadding;
        }
        // Third level indenting
        > ul > li {
          > a {
            padding-left: $tocBasePadding + $tocNestedPadding;
          }
          // Fourth level indenting
          > ul > li {
            > a {
              padding-left: $tocBasePadding + ($tocNestedPadding * 2);
            }
            // Fifth level (and on) indenting
            > ul li a {
              padding-left: $tocBasePadding + ($tocNestedPadding * 3);
            }
          }
        }
      }
    }

    // Multi level lists have borders on top level links
    &.multi-level > ul > li > a {
      border-bottom: 1px solid $neutral40;
    }
  }

  .manicon-manifold-logo {
    display: block;
    font-size: 45px;
    padding: 75px 0px 0px $tocBasePadding;
    color: $neutral10;
  }
}