@keyframes slideUpMobile {
  from { bottom: -420px; }
  to { bottom: 45px; }
}

@keyframes slideOverDesktop {
  from { right: -350px; }
  to { right: 0; }
}

@mixin uiPanelMenu {
  position: fixed;
  right: 0;
  bottom: -420px;
  width: 100%;
  background-color: $neutral10;
  transition: right $duration $timing,
              bottom $duration $timing;

  @include respond($break50) {
    position: absolute;
    right: -350px;
    bottom: auto;
    width: auto;
  }

  ul {
    @include listUnstyled;

    li {
      padding: 32px 30px;

      + li {
        border-top: 2px solid $neutral30;
      }
    }
  }

  .panel-visible & {
    animation: slideUpMobile $duration $timing forwards;

    @include respond($break50) {
      animation: slideOverDesktop $duration $timing forwards;
    }
  }

  .panel-leave & {
    bottom: 44px;
    animation: slideUpMobile $duration $timing backwards;

    @include respond($break50) {
      right: 0;
      bottom: auto;
      animation: slideOverDesktop $duration $timing backwards;
    }
  }

  .panel-leave.panel-leave-active & {
    right: 0;
    bottom: -420px;

    @include respond($break50) {
      right: -350px;
      bottom: auto;
    }
  }
}

.panel-hidden {
  .screen-reader-text {
    visibility: hidden;
  }
}
