.annotation-visibility-button {
  @include buttonUnstyled;
  position: relative;
  height: 100%;
  padding: 0 14px;
  color: $neutral50;
  transition: color $durationFast $timing;

  .manicon {
    display: inline-block;
    padding-top: 0.235em;
    font-size: 17px;
  }

  &.primary {
    .manicon {
      color: $sp20Primary;
    }
  }

  &.secondary {
    .manicon {
      color: $sp20Secondary;
    }
  }
}
