.button-visibility {
  @include buttonUnstyled;
  position: relative;
  height: 100%;
  padding: 0 14px;
  color: $neutral50;
  transition: color $durationFast $timing;

  .manicon {
    display: inline-block;
    padding-top: 0.235em;
    font-size: 17px;
  }
}

.visibility-menu {
  @include uiPanelMenu;

  ul li {
    padding: 30px 35px;
  }

  ul li > i {
    margin-right: 10px;
    font-size: 23px;
    color: $neutral75;

    &::before {
      vertical-align: middle;
    }
  }

  label, span {
    @include utilityPrimary;
    font-size: 14px;
    color: $neutral75;
  }

  .filters {
    display: flex;
    justify-content: space-between;
    padding-top: 22px;

    .checkbox {
      font-size: 17px;
      font-weight: 400;
      text-transform: none;
    }
  }
}
