.resource-viewer {
  position: absolute;
  // Reader header height + gradient
  top: 0;
  height: 100%;
  background-color: $accentPrimaryPale;

  @for $i from 1 through length($readerContainerWidths) {
    &.container-width-#{$i - 1} {
      right: calc((100vw - #{nth($readerContainerWidths, $i)})/2 + #{nth($readerContainerWidths, $i)});
    }
  }

  .viewer-list {
    @include listUnstyled;
  }

  > ul {
    position: absolute;
    top: 0;
    right: 68px;
    height: 100%;
  }
}

.resource-preview-single {
  position: absolute;
  right: 0;
  width: 160px;
  overflow: hidden;
  text-decoration: none;
  transition: right 0.5s $timing 0.1s,
    opacity 0.5s $timing;

  &.transition-out {
    right: 20px;
    opacity: 0;
  }

  &.transition-in {
    right: 0;
    opacity: 1;
  }

  &::before {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    box-shadow: inset 0 -14px 10px -2px $neutralWhite;
  }
}

.resource-preview-group {
  position: absolute;
  right: 0;
  overflow: hidden;
  text-align: right;
  transition: right 0.5s $timing 0.1s,
  opacity 0.5s $timing;

  &.transition-out {
    right: 20px;
    opacity: 0;
  }

  &.transition-in {
    right: 0;
    opacity: 1;
  }


  // ul
  .group-thumbnails {
    @include listUnstyled;
    width: 100vw;
    padding-bottom: 6px;

    li {
      display: inline-block;
      vertical-align: top;
      background-color: $neutral40;

      + li {
        margin-left: 4px;
      }

      .resource-preview-single {
        position: static;
        width: 35px;
        opacity: 0.6;

        .resource-image {
          max-height: 35px;
        }

        img {
          width: auto;
          height: 100%;
        }

        &::before {
          display: none;
        }
      }

      .resource-thumbnail {
        .resource-title {
          display: none;
        }

        .resource-image {
          display: block;
        }

        .resource-icon {
          display: flex;
          width: 100%;
          height: 35px;
          padding: 8px 0;
          text-align: center;
        }

        svg {
          width: auto;
          height: 100%;
          margin: auto;
          fill: $neutralWhite;
        }
      }
    }
  }

  .group-highlighted-resource {
    display: inline-block;

    .resource-preview-single {
      position: static;
      display: inline-block;
      width: 160px;
    }
  }
}
