.checkbox {
  position: relative;
  display: block;
  cursor: pointer;
  transition: color $duration $timing;

  &:hover {
    color: $accentPrimary;
  }

  @include respond($break20) {
    display: inline-block;
  }

  @include respond($break50) {
    + .checkbox {
      margin-left: 32px;
    }
  }

  &__indicator {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    text-align: center;
    vertical-align: middle;
    background-color: $neutralWhite;
    border-radius: 3px;
  }

  &__icon {
    color: $neutralWhite;
    visibility: hidden;
  }

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  input:checked ~ .checkbox__indicator {
    background-color: $accentPrimary;

    .checkbox__icon {
      visibility: visible;
    }
  }

  input:focus {
    outline: 0;

    ~ .checkbox__indicator {
      background-color: $focusPrimary;

      .checkbox__icon {
        color: $neutral90;
      }
    }
  }
}
