.confirmation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__button {
    @include listButtonSimple;

    &--deny {
      &:hover, &:focus {
        color: $sp40Tertiary;
      }
    }
  }

  &__button-expanded {
    @include buttonUnstyled;
    @include utilityPrimary;
    font-size: 14px;
    color: $neutral80;
  }

  &__button, &__button-expanded {
    margin-top: 5px;
  }
}
