.confirmable-button {
  &__confirm-list {
    @include listUnstyled;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__confirm-item {}

  &__button {
    @include buttonUnstyled;
    transition: color $duration $timing;

    &--delete {}

    &--confirm {
      margin-top: 5px;

      &:hover,
      &:focus {
        color: $accentPrimaryDark;
      }
    }

    &--deny {
      margin-top: 5px;

      &:hover,
      &:focus {
        // remove !important once .annotation-annotation is refactored
        color: $sp40Tertiary !important; /* stylelint-disable-line declaration-no-important */
      }
    }
  }
}
