.content-placeholder {
  text-align: center;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  &__icon-wrapper {
    width: 80px;
    height: 80px;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 50%;

    @include respond($break110) {
      width: 120px;
      height: 120px;
      padding: 17px;
    }

    .content-placeholder--backend & {
      color: $accentPrimary;
      background-color: $neutral95;
    }

    .content-placeholder--frontend & {
      color: $neutralTextDark;
      background-color: $neutral10;
    }
  }

  &__icon {
    width: 100%;
    height: 100%;
  }

  &__title {
    @include headingPrimary;
    margin-bottom: 0;

    .content-placeholder--frontend & {
      color: $neutralTextExtraDark;
    }

    .content-placeholder--backend & {
      color: $neutralTextExtraLight;
    }
  }

  &__body,
  &__ext-link {
    margin: 0 auto 35px;

    .content-placeholder--backend & {
      @include templateHead;
      font-size: 16px;
      line-height: 1.5;
    }

    .content-placeholder--frontend & {
      @include templateCopy;
      font-size: 19px;
      line-height: 1.3;
    }

    a {
      text-decoration: underline;

      &:visited {
        color: $defaultHoverColor;
      }
    }
  }

  &__body {
    width: 90%;

    @include respond($break90) {
      width: 60%;
    }

    > * + * {
      margin-top: 35px;
    }
  }

  &__actions {
    display: inline-flex;
    flex-direction: column;

    > * + * {
      margin-top: 20px;
    }
  }

  &__ext-link-wrapper:not(:only-child) {
    margin-top: 40px;
  }

  &__ext-link:hover {
    @include defaultHoverStyle;
  }
}
