.confirmable-button {
  &__confirm-list {
    @include listUnstyled;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__confirm-item {}

  &__button {
    @include buttonUnstyled;
    @include utilityPrimary;
    font-size: 12px;
    color: $neutral70;
    transition: color $duration $timing;

    &--delete:not(:disabled):hover {
      color: $accentPrimary;
    }

    &--confirm {
      margin-top: 5px;

      &:hover,
      &:focus,
      &:focus-visible {
        color: $accentPrimary;
      }
    }

    &--deny {
      margin-top: 5px;

      &:hover,
      &:focus,
      &:focus-visible {
        color: $sp40Tertiary;
      }
    }
  }
}
