.app-footer {
  --hover-color: #{$accentInteractionLight};
  --focus-color: #{$accentInteractionLight};

  padding-top: 32px;
  color: var(--color-neutral-text-light);
  background-color: var(--color-base-neutral85);

  ${respond(``, 50)}
    padding-top: 40px;
  }

  ${respond(``, 65)}
    padding-top: 67px;
  }

  &--reader {
    padding-top: 0;
  }

  // Breaking BEM rules here to keep things a little simpler in this complex footer.
  &--branded {
    .app-footer__column--right {
      display: none;
      ${respond(``, 65)}
        display: block;
      }
    }

    .app-footer-search-form {
    }
  }

  &--standalone {
    --focus-color: #{$accentInteractionLight};

    padding-top: 0;
  }

  &__columns {
    @include clearfix;

    margin-bottom: 30px;

    ${respond(``, 65)}
      min-height: 105px;
    }
  }

  &__row {
    display: flex;
    flex-direction: column-reverse;

    ${respond(``, 65)}
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  &__socials {
    float: right;
    width: 200px;
    margin-top: 38px;
  }

  &__socials-list {
    ${listUnstyled}
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  &__socials-item {
    padding: 0;

    a:hover,
    a:focus-visible {
      outline: 0;

      svg {
        ${defaultHoverStyle}
      }
    }

    .svg-icon--socialTwitter32 {
      margin-left: 10px; // A little adjustment
    }
  }

  &__column {
    &--right {

      padding-top: 30px;

      ${respond(``, 65)}
        order: 2;
        padding-top: 0;
      }
    }

    &--left {
      ${respond(``, 65)}
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 0;
      }
    }
  }

  &__copyright {
    position: relative;
    padding-bottom: 20px;
    font-size: 14px;
    font-family: var(--font-family-copy);

    ${respond(``, 30)}
      padding-top: 8px;
      padding-bottom: 25px;
    }

    ${respond(``, 40)}
      font-size: 16px;
    }

    &--standalone {
      padding: 0;
    }

    &--with-top-margin {
      margin-top: 30px;
      ${respond(``, 65)}
        padding-top: 67px;
      }
    }

    a {
      color: inherit;
    }

  }


  &__press-logo {
    display: none;
    padding: 0;
    margin-bottom: 14px;

    ${respond(``, 65)}
      display: inline-block;
      float: right;
      margin-bottom: 0;
    }
  }

  &__press-logo-image {
    max-width: 328px;
    max-height: 202px;
  }

}


.app-footer-navigation {
  &--mobile {
    ${respond(``, 85)}
      display: none;
    }
  }

  &--desktop {
    display: none;

    ${respond(``, 85)}
      display: block;
    }
  }

  margin-top: -20px;
  margin-bottom: 20px;
  ${listUnstyled}
  font-size: 16px;

  ${respond(``, 75)}
    margin-bottom: 0;
  }

  &__list {
    ${listUnstyled}
    display: flex;
    flex-wrap: wrap;
    ${respond(``, 85)}
    }
  }

  &__group {
    ${listUnstyled}
    max-width: 150px;
    margin-right: 30px;
    margin-bottom: 0.8em;

    ${respond(``, 90)}
      max-width: 160px;
      margin-right: 70px;
    }

  }

  &__item {
    + .app-footer-navigation__item {
      margin-top: 0.8em;
    }

    font-family: var(--font-family-sans);
    display: flex;
    font-size: 17px;
    font-weight: var(--font-weight-medium);
  }

  &__icon {
    position: relative;
    top: -1px;
    margin-right: 14px;
  }

  &__link {
    text-decoration: none;
    cursor: pointer;
  }
}

.app-footer-powered-by {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--color-base-neutral90);
  transition: background-color ${defaultTransitionProps};

  &--reader {
    padding-top: 42px;
    padding-bottom: 42px;
  }

  &--with-hover {
    &:hover,
    &:focus-visible {
      background-color: var(--hover-color);
      outline: 0;

      .app-footer-powered-by__logo-icon,
      .app-footer-powered-by__logo-text--neutral,
      .app-footer-powered-by__logo-text--white {
        color: var(--color-neutral-text-extra-dark);
      }
    }
  }

  &__copyright {
    font-family: var(--font-family-copy);
    display: inline-block;
    margin-top: 10px;
    margin-left: 0;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.4em;
    vertical-align: top;

    ${respond(``, 65)}
      margin-top: -6px;
      margin-left: 6px;
      font-size: 17px;
    }
  }

  &__logo {
    font-family: var(--font-family-sans);
    display: block;
    font-size: 20px;
    font-weight: var(--font-weight-semibold);
    line-height: 33px;
    color: var(--color-base-neutral-white);
    text-decoration: none;

    &--dull {
      ${respond(``, 65)}
        color: var(--color-base-neutral30);
      }
    }

    &--w-copyright {
      display: flex;
      flex-direction: column;

      ${respond(``, 65)}
        flex-direction: row;
      }
    }

    &--with-hover {
      &:hover,
      &:focus-visible {
        outline: 0;

        .app-footer-powered-by__logo-icon,
        .app-footer-powered-by__logo-text--neutral,
        .app-footer-powered-by__logo-text--white {
          color: var(--color-base-neutral-white);
        }
      }
    }
  }

  &__logo-icon {
    position: relative;
    top: -2px;
    flex-shrink: 0;
    margin-right: 14px;
    color: var(--highlight-color);
    transition: color ${defaultTransitionProps};

    &--dull {
      ${respond(``, 65)}
        color: var(--color-base-neutral70);
      }
    }
  }

  &__logo-text {
    display: inline-block;

    &--tiny {
      margin-top: 11px;
      font-size: 12px;
      line-height: 1.4em;
      ${respond(``, 65)}
        margin-top: 0;
        font-size: 13px;
      }
    }

    &--neutral {
      color: var(--color-neutral-text-light);
      transition: color ${defaultTransitionProps};
    }

    &--white {
      transition: color ${defaultTransitionProps};
    }
  }

  &__postscript {
    margin-top: 20px;
  }

}


.app-footer-search-form {
  input {
    border-width: 1px;
    border-radius: 8px;
  }

  &--with-top-margin {
    margin-top: 30px;

    ${respond(``, 65)}
      margin-top: 60px;
    }

  }

}
