.c-language-select {
  margin: 10px 0;
  padding: 0;
  border: 0;

  .a-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  // background-color: var(--accent-interaction-dark);
  select {
    font-family: "sofia-pro", "trueno", sans-serif;
    padding: 0.438em 1.125em 0.563em;
    background: transparent;
    border: 1px solid #9a9a9a;
    border-radius: 0;
    appearance: none;
    outline: none;
    width: 100%;
    padding-left: 40px;
    border-width: 1px;
    border-radius: 8px;
    border-color: #c3c3c3;
    appearance: none;
    transition: color 0.2s ease, border-color 0.2s ease;
  }
}
