/* stylelint-disable property-no-vendor-prefix */
.nested-nav {
  --default-hover-color: #{$accentInteractionDark};

  display: none;
  background-color: $neutralWhite;
  background-color: $headerBackgroundColor;

  &--dark {
    --default-hover-color: #{$accentInteractionLight};
    --header-foreground-color: #{$accentInteractionLight};

    background-color: $neutral110;
  }

  &--open {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
  }

  @include respond($break40) {
    min-height: 32px;
  }

  &__search-menu {
    width: 100%;
    padding: 0;
    margin-top: 20px;
    border: 1px solid $headerForegroundColor;

    .search-query {
      input[type='text'] {
        background-color: $headerBackgroundColor;
      }

      .input-magnify {
        min-width: 0;
      }

      .footer {
        display: none;
      }

      &__search-icon {
        color: $headerForegroundColor;
      }
    }
  }

  &__search-footer {
    display: none;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;

    .nested-nav--open & {
      display: flex;
    }
  }

  &__list {
    @include listUnstyled;

    &--nested {
      display: none;
      grid-area: nested;
      -ms-grid-row: 2;
      -ms-grid-column: 3;

      .nested-nav__item--open & {
        display: block;
      }
    }

    &--primary-links,
    &--user-links {
      padding-right: 40px;
      padding-bottom: 30px;
      padding-left: 30px;
    }

    &--primary-links {
      padding-top: 30px;

      .browse & {
        padding-top: calc(20px + var(--press-header-height, 10px));
      }
    }

    &--user-links {
      flex-grow: 1;
      height: auto;
      padding-top: 30px;
      text-align: left;
      background-color: $headerBackgroundColorLight;

      .nested-nav--dark & {
        background-color: $neutral95;
      }
    }
  }

  &__item,
  &__link {
    @include templateHead;
    position: relative;
    font-size: 17px;
    text-decoration: none;
    transition: color $duration $timing;

    @include respond($break40) {
      font-size: 20px;
    }

    &.active {
      color: $headerForegroundActiveColor;
    }

    .nested-nav--dark &.active {
      color: $neutralWhite;
    }

    .nested-nav--dark & {
      color: $neutral45;
    }
  }

  &__grid-item {
    display: -ms-grid;
    display: grid;
    grid-template:
      'icon link' auto
      'nested nested' auto / 32px 1fr;
    column-gap: 12px;
    align-items: center;
    -ms-grid-rows: auto auto;
    -ms-grid-columns: 32px 12px 1fr;
  }

  &__link {
    .nested-nav__list--nested & {
      margin-left: 20px;
    }
  }

  &__link,
  &__button-text {
    display: block;
    grid-area: link;
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    padding-top: 0.588em;
    padding-bottom: 0.588em;
  }

  &__link,
  &__button,
  &__disclosure-button {
    &:focus-visible {
      @include defaultHoverStyle;
      outline: 0;
    }
  }

  &__button-icon,
  &__disclosure-button {
    grid-area: icon;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    width: 100%;
  }

  &__button,
  &__disclosure-button {
    @include buttonUnstyled;
  }

  &__button {
    width: 100%;
    text-decoration: none;
  }

  &__button-text {
    text-align: left;
  }

  &__disclosure-button {
    height: 100%;
  }

  &__disclosure-icon {
    color: inherit;
    transition: transform $duration $timing;
    transform: rotate(0deg);

    .nested-nav__disclosure-button:hover & {
      @include defaultHoverStyle;
    }

    .nested-nav__item--open & {
      transform: rotate(180deg);
    }
  }

  .avatar,
  &__button-icon {
    position: relative;
    top: 1.5px;
    -ms-grid-row-align: center;
  }

  .avatar {
    @include buttonAvatar(28);
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    color: inherit;
    cursor: default;

    @include respond($break40) {
      @include buttonAvatar(32);
      color: inherit;
      cursor: default;
    }
  }

  &__footer {
    margin-top: 16px;
  }

  &__standalone-heading {
    line-height: 1.45;
  }

  &__standalone-title {
    @include templateHead;
    display: inline-block;
    margin: 0 8px 0 0;
    font-size: 18px;
    font-weight: $semibold;

    @include respond($break40) {
      margin-right: 12px;
      font-size: 21px;
    }
  }

  &__standalone-subtitle {
    @include templateCopy;
    display: inline-block;
    font-size: 18px;
    font-style: italic;
    letter-spacing: 0.028em;
  }
}
