.overlay-full-primary {
  @include templateCopy;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  color: $neutral50;
  background-color: transparentize($neutral90, 0.025);
  opacity: 1;
  transition: opacity, 0s, linear;

  a {
    color: $neutral50;
    transition: color $durationFast $timing;

    &:visited {
      color: $neutral50;
    }

    &:hover {
      color: $neutral70;
    }
  }

  &.overlay-full-enter {
    opacity: 0;
  }

  &.overlay-full-enter-active {
    opacity: 1;
    transition: opacity, $duration, $timing;
  }

  &.overlay-full-leave {
    opacity: 0;
    transition: opacity, $duration, $timing;
  }

  // Firefox won't obey padding on the parent overlay
  // so put it on the container instead.
  .container {
    padding-bottom: 100px;
  }

  .overlay-header {
    position: fixed;
    z-index: 5; // Local z-index inside overlay
    width: 100%;

    .container {
      @include headerContainerPrimary;
    }

    .logo {
      @extend .header-logo;
    }

    // Button
    .overlay-close {
      @include buttonClose;
      position: absolute;
      top: 0;
      right: 0;
      color: $neutral50;
    }
  }

  .overlay-content {
    position: absolute;
    top: 80px;
    bottom: 0;
    z-index: 0; // Local z-index inside overlay
    width: 100%;
    overflow: scroll;

    &.focus {
      @include respond($break90) {
        top: 0;
      }

      .inner {
        max-width: 340px;
        margin: 0 auto;

        @include respond($break40) {
          padding-top: 35px;
        }

        @include respond($break90) {
          padding-top: 126px;
        }
      }
    }
  }

  .login-form {
    @include loginFormPrimary;

    input[type='text'], input[type='password'], input[type='submit'] {
      width: 100%;
    }
  }

  .login-links {
    margin-top: 25px;

    button {
      @include buttonUnstyled;
      display: block;
      font-style: italic;
      text-decoration: underline;

      + button {
        margin-top: 14px;
        margin-left: 0;
      }
    }

    a {
      font-style: italic;

      + a {
        margin-top: 14px;
        margin-left: 0;
      }
    }
  }

  .login-external {
    margin-top: 45px;

    .button-secondary-dark {
      width: 100%;
    }
  }
}
