.section-heading {
  @include headingPrimaryFontSizing;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 30px;

  @include respond($break95) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .main {
    display: flex;
    align-items: flex-start;
    padding-right: 25px;

    .body {
      font-size: 16px;

      .title {
        @include headingPrimary;
        margin-bottom: 2px;
        color: $neutralTextExtraDark;

        .bg-neutral90 & {
          color: $neutralTextExtraLight;
        }
      }

      .date {
        @include subtitlePrimary;
        font-size: 14px;
      }

      .meta-value {
      }
    }
  }

  .overlay-copy {
    @include overlayCopy;
  }

  .login-links {
    @include overlayCopy;
    font-style: italic;

    a {
      color: $neutral50;

      + a {
        margin-left: 14px;
      }
    }
  }

  .utility {
    margin-top: 20px;

    @include respond($break95) {
      margin-top: 0;
    }

    .right {
      @include respond($break95) {
        position: absolute;
        top: 0;
        right: 0;
      }

      .button-primary {
        margin-bottom: 20px;

        @include respond($break95) {
          margin-bottom: 0;
        }
      }
    }
  }
}

.sub-section-heading {
  @include utilityPrimary;
  padding: 1.143em 2.143em 1.357em;
  margin-top: 0;
  margin-bottom: 2.929em;
  font-size: 14px;
  color: $accentPrimaryDark;
  background-color: $neutral05;
}

.form-heading {
  @include headingPrimary;
  margin-bottom: 25px;

  .instructions {
    @include formInstructions;
    display: block;
    margin-bottom: 1em;

    a:visited {
      color: inherit;
    }
  }
}
