.share-nav-primary {
  display: flex;
  align-items: center;

  &__label {
    @include utilityPrimary;
    margin-right: 8px;
    font-size: 14px;
    line-height: 15px;
  }

  &__list {
    @include listUnstyled;
    display: flex;
    align-items: center;
  }

  &__link {
    @include buttonUnstyled;
    padding-right: 8px;
    padding-left: 8px;
    text-decoration: none;
    color: $neutralUIDark;
  }
}
