.share-nav-primary {
  display: flex;
  align-items: center;

  &__label {
    @include utilityPrimary;
    margin-right: 8px;
    font-size: 14px;
    line-height: 15px;
    color: $neutral50;
  }

  &__list {
    @include listUnstyled;
    display: flex;
    align-items: center;
  }

  &__item {}

  &__link {
    @include buttonUnstyled;
    padding-right: 8px;
    padding-left: 8px;
    color: $neutral40;
    text-decoration: none;
    transition: color $duration $timing;

    &:hover, &:focus {
      color: $accentPrimary;
    }
  }
}
