// User Menu button and panel global styles
.button-avatar {
  @include buttonUnstyled;
  transition: background-color $duration $timing;

  .avatar {
    @include buttonAvatar(32);

    @include respond($break40) {
      @include buttonAvatar(42);
    }
  }
}

// Global styles
.user-menu {
  background-color: $neutral10;

  &__tail {
    @include panelTail;
    display: none;
  }

  &__list {
    @include listUnstyled;
  }

  &__item {
    @include templateHead;
    font-size: 20px;

    @include respond($break40) {
      font-size: 22px;
    }

    & + & {
      border-top: 2px solid $neutral30;
    }
  }

  &__link {
    @include buttonUnstyled;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 66px;
    padding: 9px 25px;
    color: $neutral80;
    text-decoration: none;

    &:hover, &:focus-visible {
      color: $accentPrimary;
    }
  }

  &__link-text {}

  &__icon {
    position: relative;
    top: 2px;
    margin-right: 10px;
    color: $neutral50;

    .user-menu__link:hover &,
    .user-menu__link:focus-visible & {
      color: $accentPrimary;
    }
  }
}
