// User Menu button and panel global styles
.button-avatar {
  @include buttonUnstyled;
  height: 100%;
  vertical-align: middle;

  .header-app & {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .avatar {
    color: $neutral70; // fallback
    @include buttonAvatar(32, var(--button-color, $neutral70));
    transition: color $duration $duration $timing;
  }

  &:hover,
  &.button-active {
    outline: 0;

    .avatar {
      color: $accentPrimary;
      transition: color $duration $timing;
    }
  }

  svg {
    color: inherit;
  }
}

// Global styles
.user-menu {
  $menuWidth: 235px;
  $tailHeight: 17px;

  min-width: $menuWidth;
  background-color: $neutral10;

  .header-app & {
    @include boxShadow(5px, 15px, 35px, 8px);
    border-radius: $panelRoundedRadius;
  }

  &__tail {
    @include tailUp($neutral10, $tailHeight);
    position: absolute;
    top: -$tailHeight;
    right: 25px;
  }

  &__list {
    @include listUnstyled;
  }

  &__item {
    @include templateHead;
    font-size: 17px;
  }

  &__link {
    @include buttonUnstyled;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 14px 25px;
    color: $neutral80;
    text-decoration: none;

    &:hover, &:focus-visible {
      color: $accentPrimary;
    }
  }

  &__link-text {}

  &__icon {
    position: relative;
    top: 2px;
    margin-right: 10px;
    color: $neutral50;

    .user-menu__link:hover &,
    .user-menu__link:focus-visible & {
      color: $accentPrimary;
    }
  }

  // browse styles
  position: absolute;
  right: -20px;
  white-space: nowrap;

  @include respond($break40) {
    right: -24px;
  }
}
