// User Menu button and panel global styles
.button-avatar {
  ${buttonUnstyled}
  height: 100%;
  vertical-align: middle;

  .avatar {
    @include buttonAvatar(32, var(--header-foreground-color, var(--color-neutral-text-dark)));
  }

  &--frontend,
  &--backend {
    padding-top: 5px;
    padding-bottom: 5px;

    .avatar {
      transition: color ${defaultTransitionProps};
    }

    &:hover,
    &.button-active {
      .avatar {
        ${defaultHoverStyle}
      }
    }
  }

  &--frontend {
    &:focus-visible {
      outline: 0;

      .avatar {
        ${defaultHoverStyle}
      }
    }
  }

  &--reader {
    .avatar {
      color: inherit;
    }
  }

  svg {
    color: inherit;
  }
}

// Global styles
.user-menu {
  $menuWidth: 251px;
  $tailHeight: 17px;

  // browse styles
  position: absolute;
  right: -20px;
  color: var(--color-neutral-text-dark);
  white-space: nowrap;
  background-color: var(--color-base-neutral05);

  &--frontend,
  &--backend {
    z-index: 1; // ensure menu is on top of .header-app
    min-width: $menuWidth;
    border-radius: var(--box-border-radius);
    box-shadow: 5px 15px 35px 8px rgba(var(--color-base-neutral-black), 0.13);
  }

  &--reader {
    width: 100%;

    ${respond(``, 50)}
      width: auto;
    }
  }

  &__tail {
    @include tailUp(var(--color-base-neutral05), $tailHeight);
    position: absolute;
    top: -$tailHeight;
    right: 25px;
  }

  &__list {
    ${listUnstyled}
    padding-top: 11px;
    padding-bottom: 15px;
  }

  &__item {
    font-family: var(--font-family-sans);
    font-size: 16px;
  }

  &__link {
    ${buttonUnstyled}
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px 20px;
    text-decoration: none;
    transition: color ${defaultTransitionProps}, background-color ${defaultTransitionProps};

    &:hover,
    &:focus-visible {
      color: var(--color-base-neutral90);

      .user-menu--reader & {
        background-color: var(--color-base-neutral30);
      }
    }

    &:focus-visible {
      background-color: var(--color-base-neutral30);
      outline: 0;
    }
  }

  &__link-text {
  }

  &__icon {
    position: relative;
    top: 2px;
    margin-right: 10px;
    transition: color ${defaultTransitionProps};

    .user-menu--frontend &,
    .user-menu--backend & {
      color: var(--color-neutral-ui-dark);
    }

    .user-menu__link:hover &,
    .user-menu__link:focus-visible & {
      color: var(--color-base-neutral90);
    }
  }

  ${respond(``, 40)}
    right: -24px;
  }
}
