.screen-reader-text {
  @include screenReaderText;
}

.instructional-copy {
  @include templateCopy;
  display: block;
  padding-bottom: 12px;
  margin-top: 0.75em;
  margin-bottom: 15px;
  font-size: 17px;
  font-style: italic;
  text-transform: none;

  a {
    text-decoration: underline;
  }

  &.margin-top {
    margin-top: 30px;
  }

  &.margin-bottom {
    margin-bottom: 30px;
  }
}

.no-focus-outline:focus-visible {
  outline: 0;
}
