.btn
{
  @include utilityPrimary;
  display: inline-block;
  padding: 0.76em 1.7em;
  font-size: 11.18px;
  color: $neutral75;
  color: var(--header-foreground-color, $neutral75);
  text-decoration: none;
  letter-spacing: 0.134em;
  white-space: nowrap;
  border: 1px solid;
  border-radius: 4px;
  transition:
    color $duration $timing,
    background-color $duration $timing,
    border-color $duration $timing;

  &:hover,
  &:focus-visible {
    color: $neutralTextExtraDark;
    background-color: $accentInteractionLight;
    border-color: $accentInteractionLight;
    outline: 0;
  }


  &.btn-sm
    {
    padding: 4px 23px;
    font-size: 12px;
  }

  &[disabled]
    {
    cursor: not-allowed;

    opacity: 0.3;
  }

  &.cancel
    {
    background-color: $btn-cancel-background-color;
    border-color: $btn-cancel-border-color;
    @include text_headline($btn-cancel-font-color);
  }

  &.authorize
    {

    display: inline;
    line-height: 1;

    color: $btn-authorize-font-color;
    background-color: $btn-authorize-background-color;
    border-color: $btn-authorize-border-color;

    span
        {
      float: left;

      padding: 4px 20px 0 0;
    }

    svg
        {
      fill: $btn-authorize-svg-fill-color;
    }
  }

  &.execute
    {
    color: $btn-execute-font-color;
    background-color: $btn-execute-background-color-alt;
    border-color: $btn-execute-border-color;
  }
}

.btn-group
{
  display: flex;

  padding: 30px;

  .btn
    {
    flex: 1;

    &:first-child
        {
      border-radius: 4px 0 0 4px;
    }

    &:last-child
        {
      border-radius: 0 4px 4px 0;
    }
  }
}

.authorization__btn
{
  padding: 0 10px;
  background: none;

  border: none;

  svg {
    width: 24px;
    height: 24px;
    margin-top: -6px;
  }

  &.locked
    {
    opacity: 1;
  }

  &.unlocked
    {
    opacity: 0.4;
  }
}

.expand-methods,
.expand-operation
{
  background: none;
  border: none;

  svg
    {
    width: 20px;
    height: 20px;
  }
}

.expand-methods
{
  padding: 0 10px;

  &:hover
    {
    svg
        {
      fill: $expand-methods-svg-fill-color-hover;
    }
  }

  svg
    {

    fill: $expand-methods-svg-fill-color;
    transition: all 0.3s;
  }
}


button
{
  cursor: pointer;
  outline: none;

  &.invalid
    {
    @include invalidFormElement;
  }
}
