.notation-detail {
  .notation-type {
    @include utilityPrimary;
    font-size: 13px;
    color: $neutral50;
  }

  .overlay-full & {
    padding-top: 70px;

    @include respond($break70) {
      padding-top: 120px;
    }
  }

  .collection-detail {
    .collection-description {
      color: $neutral40;
    }

    .utility {
      justify-content: flex-end;
      padding: 26px 0 0;

      .meta-value {
        a {
          color: $neutral75;
          transition: color $durationFast $timing;

          &:visited {
            color: $neutral75;
          }

          &:hover {
            color: $accentPrimary;
          }
        }
      }
    }
  }

  .resource-slideshow {
    margin-top: 14px;

    @include respond($break60) {
      margin-top: 25px;
    }

    .slide-footer {
      padding-right: 0;
      padding-left: 0;

      @include respond($break60) {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }

  .button-nav {
    flex-direction: column;

    .button-secondary {
      width: 250px;
      max-width: 100%;

      @include respond($break60) {
        width: 320px;
      }
    }
  }
}
