.notation-viewer {
  position: absolute;
  // Reader header height + gradient
  top: 0;
  height: 100%;
  background-color: $accentPrimaryPale;

  @for $i from 1 through length($readerContainerWidths) {
    &.container-width-#{$i - 1} {
      right: calc((100vw - #{nth($readerContainerWidths, $i)})/2 + #{nth($readerContainerWidths, $i)});

      // Responsively show/hide notation viewer list
      .viewer-list {
        @include respond(nth($readerContainerWidths, $i) + 245) {
          display: block;
        }
      }

      // Responsively show/hide notation footer preview
      .notation-preview-footer {
        @include respond(nth($readerContainerWidths, $i) + 245) {
          display: none;
        }
      }
    }
  }

  .viewer-list {
    @include listUnstyled;
    position: absolute;
    top: 0;
    right: 3vw;
    // There is a bit of javascript in the Reader/Notation/Viewer/List component that
    // relies on the following display: none property. If the viewer-list is not visible,
    // the List component will automatically set the active notation as the user scrolls,
    // to populate the preview. We detect the visibility of the viewer-list by checking
    // for an offsetParent, which is null if the element is set to display: none. In
    // short, if you change hows this element is hidden/visible, you may need to revisit
    // that logic as well. I realize the separation of concerns here isn't ideal, but it's
    // worth it to maintain simplicity around how we track which notation is active. --ZD
    display: none;
    height: 100%;

    @include respond($break100) {
      right: 45px;
    }

    .notation-single-link {
      display: block;
      text-decoration: none;

      .image-overlay {
        background-color: $accentPrimary;
        opacity: 0;
      }

      &:hover, &.highlighted, .highlighted & {
        .icon-thumbnail-title {
          color: $accentPrimary;
        }

        .image-overlay {
          opacity: 0.5;
        }

        .icon-thumbnail-icon {
          background-color: $accentPrimary;
        }

        svg {
          fill: $neutralWhite;
        }
      }
    }
  }
}

@mixin resourceOverflowFade {
  &::before {
    position: absolute;
    // Local z-index
    z-index: 5;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    content: '';
    box-shadow: inset 0 -14px 10px -2px $neutralWhite;
    transition: box-shadow $duration $timing;

    .scheme-dark & {
      box-shadow: inset 0 -14px 10px -2px $neutral90;
    }
  }
}

.notation-wrapper {
  position: absolute;
  right: 0;
}

.notation-preview-fader {
  position: absolute;
  right: 0;
  transition: right 0.5s $timing 0.1s,
    opacity 0.5s $timing;

  &.transition-out {
    right: 20px;
    opacity: 0;
  }

  &.transition-in {
    right: 0;
    opacity: 1;
  }
}

.notation-preview-single {
  width: 160px;
  text-decoration: none;

  &.highlight-enter {
    opacity: 0.01;
  }

  &.highlight-enter-active {
    opacity: 1;

    figure {
      transition: opacity $duration $timing;
    }
  }

  &.highlight-leave {
    opacity: 1;

    .icon-thumbnail-title {
      opacity: 0;
    }
  }

  &.highlight-leave-active {
    opacity: 0.01;

    figure {
      transition: opacity $duration $timing;
    }
  }

  .notation-viewer .viewer-list &.highlighted {
    .icon-thumbnail-title {
      color: $accentPrimary;
    }

    .image-overlay {
      opacity: 0.5;
    }
  }

  .notation-preview-overflow {
    @include resourceOverflowFade;
    height: 100%;
    overflow: hidden;
  }

  .notation-delete {
    @include buttonUnstyled;
    position: absolute;
    top: 0;
    right: 0;
    // Local z-index
    z-index: 10;
    width: 17px;
    height: 17px;
    padding-top: 2px;
    font-size: 11px;
    color: $neutralOffBlack;
    cursor: pointer;
    background-color: $neutral40;
    transition: background-color $duration $timing;

    &:hover {
      background-color: $sp30Tertiary;
    }
  }
}

.notation-preview-group {
  overflow: hidden;
  text-align: right;

  // h4
  .group-active-title {
    @include templateHead;
    margin: 0;
    font-size: 14px;
    font-weight: $light;
    line-height: 1.3;
    color: $neutral50;
    transition: color $duration $timing;

    a {
      color: $neutral50;
      text-decoration: none;

      &:hover {
        color: $accentPrimary;
      }

    }

    &.highlighted {
      a {
        color: $accentPrimary;
      }
    }
  }

  // ul
  .group-thumbnails {
    @include listUnstyled;
    position: relative;
    display: inline-block;
    max-height: 80px;
    margin-left: -4px;
    overflow: hidden;
    text-align: right;

    &.overflow {
      @include resourceOverflowFade;
    }

    li {
      display: inline-block;
      padding-left: 4px;
      margin-bottom: 4px;
      vertical-align: top;
    }

    .group-thumbnail {
      position: relative;
      cursor: pointer;

      &.highlighted {
        .icon-thumbnail-primary::before {
          opacity: 0.5;
        }

        .icon-thumbnail-icon {
          background-color: $accentPrimary;
        }

        svg {
          fill: $neutralWhite;
        }
      }
    }
  }

  .group-highlighted-notation-wrapper {
    position: relative;
    display: inline-block;
    width: 160px;
  }

  .group-highlighted-resource {
    position: absolute;

    .notation-preview-single {
      position: static;
      display: inline-block;
      width: 160px;
    }
  }
}
