.collection-detail {
  &__heading {}

  &__utility {
    padding: 26px 0 12px;

    @include respond($break60) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__description {
    @include templateCopy;
    max-width: 840px;
    font-size: 15px;
  }

  .share-nav-primary {
    padding-top: 26px;
  }
}
