<div>
  A new comment has been made on <a href="<%= @comment.subject_url %>"><%= @comment.title %></a>.

  <p style="margin-top: 15px; margin-bottom: 0;">
    <em><%= @comment.body %></em>
  </p>
</div>
