<p>
  <%= @reading_group_membership.member_full_name %> joined your reading group "<%= @reading_group_membership.reading_group_name %>" on <%= @reading_group_membership.created_at %>. There are now <%= @reading_group_membership.count %> members in your group.
</p>
