<div>
  <%= @comment.creator&.full_name || "A deleted user" %> replied to your comment on <a href="<%= @comment.subject_url %>"><%= @comment.title %></a>.

  <p style="margin-top: 15px; margin-bottom: 0;">
    <em><%= @comment.body %></em>
  </p>
</div>
