// Component Appearance
// --------------------

// Appearance prototypes/mixins contain primarily texture parameters: background-color, transparency, borders, etc.
// as well as some minor, internal structural properties where abstraction isn't required (to prevent over-abstracting)

// They may contain:
// Nested classes/elements with other structural or textural properties

// Appearance blocks should not be used to for prototypes that declare only typographical styles, but
// they may include typographical styles/modifications to base type mixins where abstraction isn't required

// Contents
// --------------------------
// - Imports
// - Prototypes
// - Utilities
// - Layout
// - Type
// - Images
// - Article Lists
// - Navigation Lists
// - Buttons/Links
// - Browser UI
// - Tables


// Layout
// --------------------------------------------------------
// Added to UI panels/dropdowns with tails
@mixin panelTail {
  position: absolute;
  top: -17px;
  right: 28px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15.5px 17px;
  border-color: transparent transparent $neutral10;
}

// Background color utility classes
.bg-neutral05 {
  background-color: $neutral05;
}

.bg-neutral90 {
  background-color: $neutral90;
}


// Buttons
// --------------------------------------------------------
@mixin buttonUnstyled {
  padding: 0;
  background: transparent;
  border: 0;
  outline: none;
  // TODO: This should be auto-prefixed
  -webkit-appearance: none;
}

@mixin buttonRounded {
  border-radius: 7px;
}

@mixin buttonAvatar($size: 40) {
  @include buttonUnstyled;
  // Default size from browse view that may be
  // changed in scope
  width: #{$size}px;
  height: #{$size}px;
  text-align: center;
  overflow: hidden;
  background-color: $accentPrimary;
  border-radius: 100%;

  .avatar-image {
    width: 100%;
  }

  .manicon-person {
    font-size: #{$size * 0.85}px;
    line-height: #{$size * 1.2}px;
    color: $accentPrimaryPale;
  }
}


// Browser UI
// --------------------------------------------------------
// Styled select
// based on: https://github.com/mdo/wtf-forms/blob/master/wtf-forms.css
@mixin selectStyled {
  position: relative;
  display: inline-block;
  color: $neutral80;

  select {
    @include utilityPrimary;
    display: inline-block;
    width: auto;
    padding: 15px 18px 17px;
    margin: 0;
    font-size: $type40;
    line-height: $baseLineHeight;
    cursor: pointer;
    background-color: transparent;
    border: 3px solid $neutral40;
    border-radius: 0;
    outline: 0;
    appearance: none;

    &:focus {
      border-color: $accentPrimary;
    }
  }

  // Dropdown icon included in markup
  .manicon-caret-down {
    position: absolute;
    top: 50%;
    right: 24px;
    display: inline-block;
    margin-top: -3px;
    font-size: 7px;
    pointer-events: none;

    // Use native dropdown arrow in IE9
    .ie9 & {
      display: none;
    }
  }

  select:focus:-moz-focusring {
    color: transparent;
  }

  select::-ms-expand {
    display: none;
  }
}

// Styled Checkbox (also from wtf forms)
// Should be applied to a label with an input type="checkbox" inside
@mixin checkboxStyled {
  position: relative;
  display: inline-block;
  cursor: pointer;

  // Hide actual input
  input {
    position: absolute;
    // Relative negative z-index
    z-index: -1;
    opacity: 0;
  }
}


// Inputs/Textareas
@mixin inputSecondary {
  @include templateCopy;
  width: 306px;
  padding: 7px 10px;
  font-size: $type70;
  color: $accentPrimary;
  background: transparent;
  border: 3px solid $accentPrimary;
  outline: none;

  &:focus {
    border-color: $neutralWhite;
  }
}

@mixin inputLabelPrimary {
  @include templateHead;
  display: block;
  margin-bottom: 12px;
  font-size: $type30;
  color: $neutral50;
  text-transform: uppercase;
}

@mixin inputPrimary {
  @include templateHead;
  font-size: $type70;
  color: $neutralOffBlack;
  padding: 8px 13px 12px;
  background-color: $neutralWhite;
  border: 3px solid $neutralWhite;
  outline: none;

  &:focus {
    border-color: $accentPrimary;
  }
}
