// Component Appearance
// --------------------

// Appearance prototypes/mixins contain primarily texture parameters: background-color, transparency, borders, etc.
// as well as some minor, internal structural properties where abstraction isn't required (to prevent over-abstracting)

// They may contain:
// Nested classes/elements with other structural or textural properties

// Appearance blocks should not be used to for prototypes that declare only typographical styles, but
// they may include typographical styles/modifications to base type mixins where abstraction isn't required

// Contents
// --------------------------
// - Imports
// - Prototypes
// - Utilities
// - Layout
// - Type
// - Images
// - Article Lists
// - Navigation Lists
// - Buttons/Links
// - Browser UI
// - Tables


// Buttons
// --------------------------------------------------------
@mixin buttonUnstyled {
  // TODO: This should be auto-prefixed
  -webkit-appearance: none;
  background: transparent;
  border: none;
  outline: none;
}


// Browser UI
// --------------------------------------------------------
// Styled select
// based on: https://github.com/mdo/wtf-forms/blob/master/wtf-forms.css
@mixin selectStyled {
  position: relative;
  display: inline-block;
  color: $neutral80;
  select {
    @include utilityPrimary;
    display: inline-block;
    width: auto;
    font-size: $type40;
    margin: 0;
    padding: 15px 18px 17px;
    line-height: $baseLineHeight;
    background-color: transparent;
    border: 3px solid $neutral40;
    border-radius: 0;
    outline: 0;
    // This should be auto-prefixed
    -webkit-appearance: none;
    &:focus {
      border-color: $accentPrimary;
    }
  }
  // Dropdown icon included in markup
  .manicon-caret-down {
    display: inline-block;
    font-size: 7px;
    margin-top: -3px;
    position: absolute;
    top: 50%;
    right: 24px;
    pointer-events: none;
  }
  select:focus:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $neutralBlack;
  }
  select::-ms-expand {
    display: none;
  }
}


// Inputs/Textareas
@mixin input-secondary {
  @include templateCopy;
  width: 306px;
  font-size: $type70;
  background: transparent;
  border: 3px solid $accentPrimary;
  padding: 7px 10px;
  color: $accentPrimary;
  outline: none;
  &:focus {
    border-color: $neutralWhite;
  }
}

@mixin inputLabelPrimary {
  display: block;
  @include templateHead;
  font-size: $type30;
  text-transform: uppercase;
  color: $neutral50;
  margin-bottom: 12px;
}

@mixin inputPrimary {
  @include templateHead;
  font-size: $type70;
  color: $neutralOffBlack;
  background-color: $neutralWhite;
  padding: 8px 13px 12px;
  border: 3px solid $neutralWhite;
  outline: none;
  &:focus {
    border-color: $accentPrimary;
  }
}