// Component Appearance
// --------------------

// Appearance prototypes/mixins contain primarily texture parameters: background-color, transparency, borders, etc.
// as well as some minor, internal structural properties where abstraction isn't required (to prevent over-abstracting)

// They may contain:
// Nested classes/elements with other structural or textural properties

// Appearance blocks should not be used to for prototypes that declare only typographical styles, but
// they may include typographical styles/modifications to base type mixins where abstraction isn't required

// Contents
// --------------------------
// - Imports
// - Prototypes
// - Utilities
// - Layout
// - Type
// - Images
// - Article Lists
// - Navigation Lists
// - Buttons/Links
// - Browser UI
// - Tables


// Layout
// --------------------------------------------------------

// Apply to a pseudo element to get a tail/triangle pointing up
@mixin tailUp($color: $neutral10) {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15.5px 17px;
  border-color: transparent transparent $neutral10;
}

// Added to UI panels/dropdowns with tails
@mixin panelTail {
  position: absolute;
  top: -17px;
  right: 28px;
  @include tailUp();
}

// Background color utility classes
.bg-accent-primary {
  background-color: $accentPrimary;
}

.bg-neutral05 {
  background-color: $neutral05;
}

.bg-neutral90 {
  background-color: $neutral90;
}

.bg-neutral95 {
  background-color: $neutral95;
}


// Buttons
// --------------------------------------------------------
@mixin buttonUnstyled {
  padding: 0;
  background: transparent;
  border: 0;
  outline: none;
  appearance: none;
}

@mixin buttonRounded {
  border-radius: 7px;
}

@mixin buttonAvatar($size: 36, $backColor: $accentPrimary, $iconColor: $accentPrimaryPale) {
  @include buttonUnstyled;
  // Default size from browse view that may be
  // changed in scope
  width: #{$size}px;
  height: #{$size}px;
  text-align: center;
  overflow: hidden;
  background-color: $backColor;
  border-radius: 100%;

  .avatar-image {
    width: 100%;
  }

  .manicon-person {
    font-size: #{$size * 0.85}px;
    line-height: #{$size * 1.2}px;
    color: $iconColor;
  }
}

@mixin buttonClose {
  @include buttonUnstyled;
  @include templateHead;
  font-size: 15px;
  line-height: 21px;

  @include respond($break65) {
    font-size: 18px;
    line-height: 31px;
  }

  .manicon-x {
    display: inline-block;
    margin-left: 14px;
    font-size: 21px;
    vertical-align: top;

    @include respond($break65) {
      margin-left: 26px;
      font-size: 31px;
      line-height: 31px;
    }
  }
}


// Browser UI
// --------------------------------------------------------
// Styled select
// based on: https://github.com/mdo/wtf-forms/blob/master/wtf-forms.css
@mixin unstyledSelect {
  // Styled select prototype,
  // Ready for restyling

  // Must be applied to a <select>
  background: transparent;
  border-radius: 0;
  cursor: pointer;
  outline: 0;
  appearance: none;

  &:focus:-moz-focusring {
    color: transparent;
    // Add color back to text
    text-shadow: 0 0 0 $neutral80;
  }

  &::-ms-expand {
    display: none;
  }
}

@mixin selectPrimary {
  position: relative;
  display: inline-block;
  color: $neutral80;

  select {
    @include utilityPrimary;
    @include unstyledSelect;
    display: inline-block;
    width: 100%;
    padding: 9px 13px 11px;
    margin: 0;
    font-size: $type40;
    line-height: $baseLineHeight;
    border: 2px solid $neutral40;

    &:focus {
      border-color: $accentPrimary;
    }
  }

  // Dropdown icon included in markup
  .manicon-caret-down {
    position: absolute;
    top: 50%;
    right: 24px;
    display: inline-block;
    margin-top: -2px;
    font-size: 7px;
    pointer-events: none;

    // Use native dropdown arrow in IE9
    .ie9 & {
      display: none;
    }
  }
}

// Styled Checkbox (also from wtf forms)
// Should be applied to a label with an input type="checkbox" inside
@mixin checkboxStyled {
  position: relative;
  display: inline-block;
  cursor: pointer;

  // Hide actual input
  input {
    position: absolute;
    // Relative negative z-index
    z-index: -1;
    opacity: 0;
  }
}


// Inputs/Textareas
@mixin inputSecondary {
  @include templateCopy;
  padding: 7px 10px;
  font-size: $type70;
  color: $accentPrimary;
  background: transparent;
  border: 2px solid $accentPrimary;
  outline: none;

  &:focus {
    border-color: $neutralWhite;
  }
}

@mixin inputLabelPrimary {
  @include templateHead;
  display: block;
  margin-bottom: 12px;
  font-size: $type30;
  color: $neutral50;
  text-transform: uppercase;
}

@mixin inputPrimary {
  @include templateHead;
  font-size: $type70;
  color: $neutralOffBlack;
  padding: 8px 13px 12px;
  background-color: $neutralWhite;
  border: 3px solid $neutralWhite;
  outline: none;

  &:focus {
    border-color: $accentPrimary;
  }
}

@mixin inputSecondary {
  @include templateCopy;
  padding: 7px 10px;
  font-size: $type70;
  color: $accentPrimary;
  background: transparent;
  border: 3px solid $accentPrimary;
  outline: none;

  &:focus {
    border-color: $neutralWhite;
  }
}

// Dark input with border
@mixin inputQuaternary {
  @include templateHead;
  padding: 0.438em 1.125em 0.563em;
  background: transparent;
  color: $neutral40;
  border: 1px solid $neutral80;
  outline: none;
  transition: border-color $duration $timing;

  &:focus {
    border-color: $accentPrimary;
  }

  &::placeholder {
    color: $accentPrimary;
  }
}
