// Component Structure
// -------------------

// Structure-only mixins, with parameters for margins, padding, position, display, etc.

// Contents
// --------------------------
// - Imports
// - Prototypes
// - Utilities
// - Layout
// - Type
// - Images
// - Lists
// - Grids
// - Buttons/Links
// - Tables
// - Forms


// Utilities
// --------------------------------------------------------
// Media queries
// Respond to viewport size
// $size -> viewport size
// $operator -> 'min' or 'max'
// $aspect -> 'width' or 'height'
// --------------------------
@mixin respond($size, $operator: max, $aspect: width) {
  @media all and (#{$operator}-#{$aspect}: $size) {
    @content;
  }
}

.rel {
  position: relative;
}

// Clearfix
// $mode accepts 'light' or 'heavy'
// 'light' is sufficient for clearing floats, while 'heavy' is required to
// prevent margin collapsing
// --------------------------
@mixin clearfix($mode: light) {
  @if $mode == heavy {
    &::before,
    &::after {
      display: table;
      content: '';
    }

    &::after {
      clear: both;
    }
  } @else {
    &::after {
      display: block;
      clear: both;
      content: '';
    }
  }
}


// Layout
// --------------------------------------------------------
@mixin containerPrototype {
  max-width: $containerWidthFull;
  margin-right: auto;
  margin-left: auto;
  padding-right: $containerPaddingFull;
  padding-left: $containerPaddingFull;
}

@mixin containerNarrow {
  // Default max width
  max-width: $containerWidthNarrow;
  margin-right: auto;
  margin-left: auto;
  padding-right: $containerPaddingMin;
  padding-left: $containerPaddingMin;
}


// Lists
// --------------------------------------------------------
@mixin listUnstyled {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

@mixin listHorizontal {
  @include listUnstyled;

  li {
    display: inline-block;
  }
}


// Form Layout
// --------------------------------------------------------
@mixin loginFormPrimary {
  .field + .field {
    margin-top: 27px;
  }

  label {
    @include inputLabelPrimary;
  }

  input[type="text"], input[type="password"] {
    @include inputPrimary;
  }

  .button-secondary {
    display: block;
    margin-top: 30px;
  }
}
