.project-collection-list {

  margin-top: -5px;

  &.aside-wide {
    display: block;

    @include respond(#{$break75 - 1}, max) {
      width: 100%;
      margin-right: 0;
    }
  }

  .actions {
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 0;

    @include respond($break75) {
      margin-top: 37px;
      margin-bottom: 25px;
    }

    @include respond($break95) {
      display: flex;
      flex-wrap: nowrap;
    }
  }

  .instructional-copy {
    @include formInstructions;
  }
}

.project-collection-list-item {
  $_inner-padding: 10px;

  padding-top: 5px;
  padding-bottom: 5px;

  &__inner {
    @include draggable;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;

    &--is-dragging {
      @include dragging;
    }

    .project-collection-list-item--selected & {
      color: $neutral95;
      background-color: $accentPrimary;
    }
  }

  &__link {
    @include buttonUnstyled;
    flex-grow: 1;
    padding: $_inner-padding $_inner-padding $_inner-padding $_inner-padding * 2;
    text-align: left;

    .project-collection-list-item--selected & {
      &:hover {
        color: inherit;
      }

      &:focus-visible {
        color: inherit;
        outline-color: $neutralUIDark;
      }
    }
  }

  &__item-text,
  &__count {
    @include templateHead;
    position: relative;
    top: -2px;
    font-size: 16px;
  }

  &__item-text {
    flex-grow: 1;
    padding: 3px 0;
    margin-right: 6px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__count {
    margin-right: 6px;
  }

  &__button {
    @include buttonUnstyled;

    &--drag-handle {
      cursor: grab;
      @include defaultHoverState;
    }

    .project-collection-list-item--selected & {
      &:hover {
        color: inherit;
      }

      &:focus-visible {
        color: inherit;
        outline-color: $neutral70;
      }
    }
  }

  &__icon-group {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: $_inner-padding;
  }

  &__icon-group-item {
    padding-right: 3px;
    padding-left: 3px;
  }

  &__icon {}
}
