.project-collection-form {
  @include respond($break75) {
    max-width: 446.44px; // set explicity to prevent drawer from expanding
  }

  .button-switch-primary {
    &__side {
      font-size: 17px;
      font-weight: $regular;
      text-transform: none;
      letter-spacing: 0;

      .manicon {
        margin-right: 0.58em;
      }
    }
  }
}
