.project-collection-sort {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include respond($break60) {
    flex-flow: row wrap;
    align-items: flex-start;
  }

  .form-list-filter {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;

    @include respond($break60) {
      flex-basis: 100%;
      flex-direction: row;
    }

    .instructional-copy {
      @include formInstructions;
      color: $neutral50;
    }

    .select-group {
      flex: 0 1 auto;
      margin-bottom: 20px;

      & + & {
        margin-top: 0;
      }

      @include respond($break60) {
        flex: 0 1 auto;
        margin-right: 11px;
        margin-left: 11px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        + .select-group {
          margin-top: 0;
        }
      }

      label {
        font-size: 14px;
      }

      .select {
        min-width: 260px;
      }
    }
  }

  // scope .form-secondary styles
  .form-secondary {
    margin-top: 0;

    .form-input {
      display: flex;
      justify-content: space-between;

      @include respond($break60) {
        justify-content: flex-end;
        margin-bottom: 20px;
      }

      .form-input-heading {
        margin-right: 12px;
        margin-bottom: 0;
        font-size: 14px;
        color: $neutral50;
        letter-spacing: 0.075em;
      }

      .toggle-indicator {
        display: inline-block;
      }
    }
  }
}
