.icon-picker {
  &.form-input .form-input-heading {
    @include formInputSecondary;
    text-transform: none;

    @include respond($break60) {
      height: 38px;
    }
  }

  .icon-row {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      margin-top: -1px;
      margin-left: -1px;

      button {
        @include buttonUnstyled;
        width: 100%;
        height: 100%;
        border: 1px solid $neutralUIDullLight;
        transition:
          color $duration $timing,
          background-color $duration $timing;

        &:hover,
        &:focus-visible {
          color: $neutral110;
          background-color: $defaultFocusColor;
        }
      }

      &.selected button {
        color: $neutral110;
        background-color: $defaultFocusColor;
      }
    }
  }
}
