.audio-player {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  .cover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: transparentize($neutralBlack, 0.5);

    &.error {
      pointer-events: none;
      cursor: default;

      .message {
        @include utilityPrimary;
        position: absolute;
        top: calc(50% + (60px - 7px));
        width: 100%;
        padding: 0 10px;
        font-size: 14px;
        color: $neutralWhite;
        text-align: center;
      }
    }

    .indicator {
      position: absolute;
      top: calc(50% - 35px);
      left: calc(50% - 35px);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      height: 70px;
      padding: 1px 7px 2px;
      color: $neutralWhite;
      text-align: center;
      background-color: $accentPrimary;
      border: 0;
      border-radius: 50%;

      .manicon {
        font-size: 32px;

        &.manicon-octagon-bang {
          margin-top: 2px;
          font-size: 46px;
        }

        &.manicon-triangle-right-fill {
          margin-left: 4px;
        }
      }
    }
  }

  wave:hover {
    cursor: pointer;
  }

  .waveform {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
  }

  .control-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 10px;

    @include respond($break60) {
      padding: 0 25px 25px;
    }

    button {
      padding: 0;
      background-color: transparent;
      border: 0;
      outline: none;
    }

    .progress {
      display: none;
      flex-grow: 1;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;

      @include respond($break40) {
        display: flex;
      }

      .slider {
        flex-grow: 1;
        margin: 0 15px;

        input[type='range'] {
          width: 100%;

          &::-webkit-slider-thumb {
            box-shadow: -1024px 0 0 1024px $neutralWhite;
          }
        }
      }

      .time {
        @include utilityPrimary;
        font-size: 14px;
        color: $neutralWhite;

        @include respond($break60) {
          font-size: 19px;
        }

        &.duration {
          color: $neutral80;
        }
      }
    }

    .volume {
      text-align: left;

      .mute {
        display: inline-block;
        width: 35px;
        text-align: left;

        @include respond($break60) {
          margin-right: 7px;
        }

        .manicon {
          font-size: 15px;

          @include respond($break60) {
            font-size: 18px;
          }
        }
      }
    }

    .slider {
      position: relative;
      display: inline-block;

      .input-thumb {
        position: absolute;
        left: 0;
        width: 20px;
        height: 20px;
        pointer-events: none;
        background: $accentPrimary;
        border: 3px solid $neutralBlack;
        border-radius: 50%;

      }

      input[type='range'] {
        width: 70px;
        height: 0;
        padding: 5px 0 0;
        margin-top: 1px;
        overflow: hidden;
        vertical-align: middle;
        background: $neutral80;
        border-radius: 0;
        outline: 0;
        appearance: none;

        &:hover {
          cursor: pointer;
        }

        &::-webkit-slider-runnable-track {
          height: 3px;
          appearance: none;
        }

        &::-webkit-slider-thumb {
          width: 1px;
          height: 1px;
          margin-top: -9px;
          background: transparent;
          box-shadow: -70px 0 0 70px $neutralWhite;
          appearance: none;
        }

        &::-ms-fill-lower,
        &::-moz-range-progress {
          color: $neutral80;
        }
      }
    }

    .manicon {
      font-size: 16px;
      color: $neutralWhite;
      transition: color $durationFast $timing;

      &:hover {
        color: $accentPrimary;
      }

      @include respond($break60) {
        font-size: 24px;
      }

      &:before {
        vertical-align: middle;
      }
    }
  }
}
