.resource-hero {
  .resource-content + & {
    margin-top: 17px;

    @include respond($break60) {
      margin-top: 40px;
    }
  }

  .resource-slide-figure {
    margin-bottom: 32px;

    @include respond($break50) {
      margin-bottom: 40px;
    }

    .overlay-full-secondary & {
      margin-bottom: 19px;
    }
  }
}
