.resource-meta, .resource-meta-mobile {
  .resource-type {
    margin-bottom: 14px;
    font-size: 40px;
    color: $neutral75;

    @include respond($break65) {
      margin-bottom: 2px;
    }
  }

  // <ul>
  .meta-list-secondary {
    margin-bottom: 22px;
  }

  // Only shown on mobile
  .meta-list-primary {
    margin-bottom: 22px;
  }
}
