.resource-preview {
  .overlay-full & {
    padding-top: 70px;

    @include respond($break70) {
      padding-top: 120px;
    }
  }
}

.resource-preview-image {
  img {
    width: 100%;
    height: 100%;
  }
}

.resource-preview-video {
  position: relative;
  height: 500px;

  &.external-video {
    height: 620px;

    .figure-video {
      height: 100%;
      width: 100%;

      iframe {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.resource-preview-interactive {
  position: relative;

  iframe {
    border: 0;
  }

}

