.resource-slide-figure {
  position: relative;
  width: 100%;
  height: 52vw;
  max-height: 52vh;
  min-height: 350px;
  overflow: hidden;
  background-color: $neutralBlack;

  figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 1;
  }

  // Transition classes
  .slide-left-enter figure {
    left: 100%;
  }

  .slide-left-enter-active figure {
    left: 0;
    transition: left 0.4s $timing;
  }

  .slide-left-leave figure {
    left: 0;
  }

  .slide-left-leave-active figure {
    left: -100%;
    transition: left 0.4s $timing;
  }

  .slide-right-enter figure {
    left: -100%;
  }

  .slide-right-enter-active figure {
    left: 0;
    transition: left 0.4s $timing;
  }

  .slide-right-leave figure {
    left: 0;
  }

  .slide-right-leave-active figure {
    left: 100%;
    transition: left 0.4s $timing;
  }

  //.figure-enter figure {
  //  opacity: 0;
  //}

  .figure-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $neutralBlack;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .figure-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $neutralBlack;
    }
  }

  .figure-default {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;

    .resource-info {
      margin: auto;
      text-align: center;
    }

    .manicon {
      display: block;
      margin-bottom: 18px;
      font-size: 80px;
      color: $neutral40;

      @include respond($break50) {
        font-size: 12.75vw;
      }

      @include respond($break100) {
        font-size: 145px;
      }
    }

    .resource-type {
      @include utilityPrimary;
      display: block;
      padding-bottom: 6px;
      font-size: 21px;
      font-weight: $regular;
      color: $neutral40;
    }

    .resource-date {
      @include utilityPrimary;
      font-size: 12px;
      color: $neutral50;
    }
  }

  .zoom-indicator {
    @include utilityPrimary;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 1;
    padding: 7px 12px 9px 14px;
    font-size: 12px;
    color: $neutral30;
    cursor: pointer;
    background-color: $neutral95;
    opacity: 0.9;
    transition: color $duration $timing;

    &:hover {
      color: $accentPrimary;
    }

    .manicon-magnify-plus {
      font-size: 16px;

      &::before {
        display: inline-block;
        margin-top: 2px;
        margin-left: 7px;

      }
    }
  }
}
