.resource-slide-figure {
  position: relative;
  width: 100%;
  height: 52vw;
  max-height: 52vh;
  min-height: 350px;
  background-color: $neutralBlack;

  figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 1;
    transition: width 0.4s $timing,
      opacity 0.2s $timing 0.23s;
  }

  .figure-leave figure {
    width: 0;
  }

  //.figure-enter figure {
  //  opacity: 0;
  //}

  .figure-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $neutralBlack;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .figure-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $neutralBlack;
    }
  }

  .figure-default {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;

    .resource-info {
      margin: auto;
      text-align: center;
    }

    .manicon {
      display: block;
      margin-bottom: 18px;
      font-size: 145px;
      color: $neutral40;
    }

    .resource-type {
      @include utilityPrimary;
      display: block;
      padding-bottom: 6px;
      font-size: 21px;
      font-weight: $regular;
      color: $neutral40;
    }

    .resource-date {
      @include utilityPrimary;
      font-size: 12px;
      color: $neutral50;
    }
  }
}
