// Any kind of resource thumbnail can use this component class
// Use wrapper list classes to affect external position, width, etc, but not appearance.
.resource-thumbnail-primary {
  @include assetThumbnailPrimary;

  &.bg-image {
    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: transparentize($neutralOffBlack, 0.3);
      content: '';
    }

    .resource-icon {
      svg {
        fill: $neutralWhite;
      }
    }
  }

  &.title {
    .resource-icon {
      width: 27%;
      padding: 14px 0 17px;

      &.document, &.interactive, &.link, &.pdf {
        max-width: 19%;
      }
    }
  }

  &.icon-only {
    background-color: transparent;

    &.bg-image {
      &::before {
        display: none;
      }

      .resource-icon {
        display: none;
      }

      .wrapper {
        padding-top: 105%;
      }
    }

    // Override padding for standard thumbnail
    .wrapper {
      padding: 0;
    }

    .resource-icon {
      width: 100%;
      padding: 0;

      &.document, &.interactive, &.link, &.pdf {
        max-width: 100%;
      }
    }
  }

  &.minimal {
    &.preview {
      .resource-icon {
        width: 100%;
        height: 37px;

        svg {
          max-width: 24px;
        }
      }
    }

    &.bg-image {
      .resource-icon {
        display: none;
      }
    }

    .resource-icon {
      display: flex;
      width: 80px;
      height: 50px;
      padding: 0;
      margin: 0 0 0 auto;
      color: $neutral50;
      text-align: center;
      background-color: $neutral10;

      svg {
        max-width: 30px;
        margin: auto;
      }

      &.document, &.interactive, &.link, &.pdf {
        // OD
        max-width: none;

        svg {
          max-width: 20px;
        }
      }
    }
  }

  .resource-icon {
    display: block;
    width: 36%;
    padding: 18px 0 0;
    margin: 0 auto;

    &.document, &.interactive, &.link, &.pdf {
      max-width: 25%;
    }

    // Hack to make the resource icons the same height on resource cards. --ZD
    &.image {
      margin-bottom: 7px;
    }

    &.audio {
      margin-bottom: 12px;
    }

    svg {
      width: 100%;
      height: auto;
      max-height: 100%;
      fill: $neutral70;
      transition: fill $duration $timing;
    }
  }
}
