// Any kind of resource thumbnail can use this component class
// Use wrapper list classes to affect external position, width, etc, but not appearance.
.resource-thumbnail-primary {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: $neutral70;
  text-align: center;
  background-color: $neutral10;

  &:hover {
    .resource-title {
      color: $accentPrimary;
    }
  }

  &.bg-image {
    color: $neutralWhite;
    background-position: 0 0;
    background-size: cover;

    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: transparentize($neutralOffBlack, 0.3);
      content: '';
    }

    .resource-icon {
      svg {
        fill: $neutralWhite;
      }
    }
  }

  &.title {
    .wrapper {
      padding: 11% 7.6%;
    }

    .resource-type {
      font-size: 12px;
    }

    .resource-icon {
      width: 27%;
      padding: 14px 0 17px;

      &.document, &.interactive, &.link, &.pdf {
        max-width: 19%;
      }
    }
  }

  &.icon-only {
    background-color: transparent;

    &.bg-image {
      &::before {
        display: none;
      }

      .resource-icon {
        display: none;
      }

      .wrapper {
        padding-top: 105%;
      }
    }

    // Override padding for standard thumbnail
    .wrapper {
      padding: 0;
    }

    .resource-icon {
      width: 100%;
      padding: 0;

      &.document, &.interactive, &.link, &.pdf {
        max-width: 100%;
      }
    }
  }

  &.minimal:not(.preview) {
    background: transparent;
  }

  &.minimal {
    &.preview {
      width: 37px;
      height: 37px;
      overflow: hidden;

      .resource-icon {
        width: 100%;
        height: 37px;

        svg {
          max-width: 24px;
        }
      }
    }

    &.bg-image {
      .resource-icon {
        display: none;
      }

      &::before {
        background-color: $accentPrimary;
        opacity: 0;
      }
    }

    .resource-image {
      position: relative;
      display: inline-block;

      .image-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        transition: opacity $duration $timing;
      }

      img {
        display: block;
        width: auto;
        height: 50px;
      }
    }

    .resource-icon {
      display: flex;
      width: 80px;
      height: 50px;
      padding: 0;
      margin: 0 0 0 auto;
      color: $neutral50;
      text-align: center;
      background-color: $neutral10;

      svg {
        max-width: 30px;
        margin: auto;
      }

      &.document, &.interactive, &.link, &.pdf {
        // OD
        max-width: none;

        svg {
          max-width: 20px;
        }
      }
    }

    .wrapper {
      padding: 0;
      padding-bottom: 1em;
    }

    .resource-title {
      @include templateHead;
      padding-top: 10px;
      font-size: 14px;
      font-weight: $light;
      line-height: 1.2;
      color: $neutral50;
    }
  }

  &.right {
    text-align: right;
  }

  .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px 0 30px;

    @include respond($break40) {
      padding: 30px 0 37px;
    }

    @include respond($break85) {
      padding: 35px 0 43px;
    }
  }

  .resource-type {
    @include templateHead;
    font-size: 14px;
  }

  .resource-title {
    @include templateHead;
    margin: 0;
    font-size: 14px;
    transition: color $duration $timing;
  }

  .resource-icon {
    display: block;
    width: 36%;
    padding: 18px 0 0;
    margin: 0 auto;

    &.document, &.interactive, &.link, &.pdf {
      max-width: 25%;
    }

    svg {
      width: 100%;
      height: auto;
      fill: $neutral70;
      transition: fill $duration $timing;
    }
  }
}
