.resource-total {
  margin-top: 10px;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 25px;

    @include respond($break60) {
      margin-bottom: 50px;
    }
  }

  &__link {
    @include templateHead;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    color: $neutral70;
    text-decoration: none;
    transition: color $duration $timing;

    &:hover {
      color: $accentPrimaryDark;
    }
  }

  &__value {
    color: $neutral90;
  }

  &__icon {
    margin-bottom: 2px;
    margin-left: 15px;
  }
}
