$_link-lateral-padding: 12px;
$_count-2-breakpoint: 600px;
$_count-3-breakpoint: $break80;

@mixin _setResponsiveLayout($count, $breakpoint) {
  > :first-child {
    border-top-left-radius: var(--box-border-radius);
    border-top-right-radius: var(--box-border-radius);

    @include respond($breakpoint) {
      border-top-right-radius: 0;
      border-bottom-left-radius: var(--box-border-radius);
    }
  }

  > :last-child {
    border-bottom-right-radius: var(--box-border-radius);
    border-bottom-left-radius: var(--box-border-radius);

    @include respond($breakpoint) {
      border-top-right-radius: var(--box-border-radius);
      border-bottom-left-radius: 0;
    }
  }
}

.group-child-nav {
  @include utilityPrimary;
  display: grid;
  // flex-grow: 1;
  grid-template-columns: 1fr;
  font-size: 15px;
  color: $neutral80;

  &--count-2 {
    @include _setResponsiveLayout(2, $_count-2-breakpoint);

    &.group-child-nav--layout-grid {
      @include respond($_count-2-breakpoint) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
    }

    &.group-child-nav--layout-flex {
      width: 100%;

      @include respond($_count-2-breakpoint) {
        display: flex;
        width: auto;
      }
    }
  }

  &--count-3 {
    @include _setResponsiveLayout(3, $_count-3-breakpoint);

    &.group-child-nav--layout-grid {
      @include respond($_count-3-breakpoint) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
    }

    &.group-child-nav--layout-flex {
      @include respond($_count-3-breakpoint) {
        display: flex;
      }
    }
  }

  &--layout-flex {
    > * {
      flex-grow: 1;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px $_link-lateral-padding;
    text-decoration: none;
    background-color: var(--box-bg-color);
    transition: color $duration $timing, background-color $duration $timing;

    &--padded {
      padding-right: min(5vw, 50px);
      padding-left: min(5vw, 50px);
    }

    &--active {
      --box-bg-color: #{$neutral10};

      color: var(--default-strong-color);
    }

    &:focus-visible,
    &:hover {
      --box-bg-color: #{$neutral20};
      color: var(--default-strong-color);

      outline: none;
    }
  }

  &__link-text {
    margin-left: 9px;
    transform: translateY(-1px);
  }
}
