.notes-filter-container {
  $_input-gap: entity-filter-form(gap);
  $_select-min-width: entity-filter-form(select-min-width);

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: baseline;

  &:not(:first-child) {
    margin-top: 50px;
  }

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  &__start {
    flex-grow: 999;
  }

  &__end {
    flex-grow: 1;

    &--count-1 {
      flex-basis: $_select-min-width;
    }

    &--count-2 {
      flex-basis: $_select-min-width * 2 + $_input-gap;
    }

    &--count-3 {
      flex-basis: $_select-min-width * 3 + $_input-gap * 2;
    }
  }
}
