// Fonts
// -----

// Do your @font-face embedding/include mixins here, in the privacy of your own partial

// TypeKit fallback serif font
// --------------------------
@font-face {
  font-family: 'aleo';
  src: url('assets/fonts/aleo/aleo-regular/Aleo-Regular.woff') format('woff');
  font-weight: $regular;
  font-style: normal;
}

@font-face {
  font-family: 'aleo';
  src: url('assets/fonts/aleo/aleo-italic/Aleo-Italic.woff') format('woff');
  font-weight: $regular;
  font-style: italic;
}

@font-face {
  font-family: 'aleo';
  src: url('assets/fonts/aleo/aleo-light/Aleo-Light.woff') format('woff');
  font-weight: $light;
  font-style: normal;
}

@font-face {
  font-family: 'aleo';
  src: url('assets/fonts/aleo/aleo-bold/Aleo-Bold.woff') format('woff');
  font-weight: $bold;
  font-style: normal;
}

// TypeKit fallback san-serif font
// --------------------------
@font-face {
  font-family: 'trueno';
  src: url('assets/fonts/trueno/trueno-regular/TruenoRg.woff') format('woff');
  font-weight: $regular;
  font-style: normal;
}

@font-face {
  font-family: 'trueno';
  src: url('assets/fonts/trueno/trueno-italic/TruenoRgIt.woff') format('woff');
  font-weight: $regular;
  font-style: italic;
}

@font-face {
  font-family: 'trueno';
  src: url('assets/fonts/trueno/trueno-bold/TruenoBd.woff') format('woff');
  font-weight: $bold;
  font-style: normal;
}

@font-face {
  font-family: 'trueno';
  src: url('assets/fonts/trueno/trueno-semi/TruenoSBd.woff') format('woff');
  font-weight: $semibold;
  font-style: normal;
}

@font-face {
  font-family: 'trueno';
  src: url('assets/fonts/trueno/trueno-light/TruenoLt.woff') format('woff');
  font-weight: $light;
  font-style: normal;
}

// Mixins
// --------------------------
@mixin templateCopy {
  font-family: 'freight-text-pro', 'aleo', serif;
}

@mixin templateHead {
  font-family: 'sofia-pro', 'trueno', sans-serif;
}

// Abstracted in order to allow scoped changes
@mixin readerHead {
  @include templateHead;
}
