// Variables
//----------

// Colors
// --------------------------------------------------------
// Neutral Colors
$neutralWhite: #ffffff;
$neutralBlack: #000000;

// Off Whites
$neutral05: #f7f7f7;
$neutral10: #ececec;
$neutral20: #e6e6e6;
$neutral30: #d6d6d6;
$neutral40: #c3c3c3;
$neutral50: #9a9a9a;
$neutral70: #828282;
$neutral75: #696969;
$neutral80: #555555;
$neutral85: #414042;
$neutral90: #363636;
$neutral95: #2e2e2e;
$neutral100: #231f20;

// Separated as this is often used for base template elements (like plain text)
$neutralOffWhite: $neutral05;
$neutralOffBlack: $neutral90;

// Accent Colors
$accentPrimary: #52e3ac !default;
$accentPrimaryDark: #34a178 !default;
$accentPrimaryMedium: #3dbd8c !default;
$accentPrimaryLight: #75e9bd !default;
$accentPrimaryDull: #b1ead2 !default;
$accentPrimaryPale: #c1f7e4 !default;
$accentPrimaryOffWhite: #f0faf7 !default;


// Spectra
// Color spectra are number by group and then given ordinal names, attributes

// SP 20 Reader Annotations, Highlighting, Labels
$sp20Primary: #2bd1fa;
$sp20PrimaryLight: #99e3f5;
$sp20PrimaryPale: #d9f5fb;
$sp20PrimaryPaleLowContrast: #808f9b;

$sp20Secondary: #70c930;
$sp20SecondaryLight: #c6eaac;
$sp20SecondaryPale: #eaf7e0;

$sp20Tertiary: #ff12ff;

$sp20Quaternary: #fffd73;

$sp20Quinary: #faffdb;

// SP 30 Header Notifications
$sp30Primary: #d4f2ff;
$sp30Secondary: #fff799;
$sp30Tertiary: #ffbdbd;

// SP 40 Template Notices, Warnings, Acceptance, Errata
$sp40Tertiary: #f75884;

// SP 50 Project Placeholder tile backgrounds
$sp50Primary: #cbf7e6;
$sp50Secondary: #ebebeb;
$sp50Tertiary: #deecf9;
$sp50Quaternary: #ffebce;
$sp50Quinary: #f5e4f4;



// Typographic Hierarchy
// Commonly used font-sizes for template typography
// TODO: Swap variables for hard-coded values, to refactor towards
// larger abstractions, like broader typography settings
// --------------------------------------------------------
$type180: 59px;
// $type130: ;
$type120: 35px;
$type110: 30px;
$type100: 26px;
$type90: 25px;
$type80: 22px;
$type70: 20px;
$type60: 18px;
$type50: 16px;
$type40: 14px;
$type30: 13px;
$type20: 12px;
// $type10: ;


// Measurements
// Structural measurements used site wide that are kept in one place
// --------------------------------------------------------
$baseLineHeight: 1.2;

$containerWidthFull: 1235px; // Maximum container width of 1135 plus maximum gutter padding
$containerPaddingFull: 50px;
$containerPaddingResp: 4.5%;
$containerPaddingRespGlobal: 4.5vw;
$containerWidthMin: 320px; // Minimum container width

// Precalculated container width for convenience
$containerWidthInner: $containerWidthFull - ($containerPaddingFull * 2);

$containerWidthFocus: 680px; // Narrow container width for reading
$containerPaddingMin: 15px; // Minimum gutter padding

$readerHeaderHeightMin: 55px;
$readerHeaderHeightMax: 63px;

// Font Weights
// These are convenience variables to keep font weight declarations consistent
// --------------------------------------------------------
$light: 200;
$book: 300;
$medium: 500;
$regular: 400;
$semibold: 600;
$bold: 700;


// Animation
// --------------------------------------------------------
// Commonly used animation variables, mainly used with transition CSS
$durationFast: 0.1s;
$duration: 0.2s;
$durationSlow: 0.4s;

$timing: ease;


// Responsive Breakpoints
// Maintained in one place to keep major breakpoints consistent
// --------------------------------------------------------
// $break130: ;
// $break120: ;
$break100: $containerWidthFull;
$break95: 1024px;
$break90: 960px;
$break85: 880px;
$break80: 800px;
$break75: 760px;
$break70: 700px;
$break65: 690px;
$break60: 620px;
$break50: 560px;
$break40: 480px;
$break30: 400px;
$break20: 350px;
// Minimum site width
$break10: $containerWidthMin;

// Height Breakpoints
// --------------------------
// Rarely used, but helpful for things like modals and height dependent interfaces
$hbreak90: 900px;
