// Variables
//----------

// Colors
// --------------------------------------------------------
// Neutral Colors
$neutralWhite: #ffffff;
$neutralBlack: #000000;

// Off Whites
$neutral05: #f7f7f7;
$neutral10: #ececec;
$neutral20: #e6e6e6;
$neutral30: #d6d6d6;
$neutral40: #c3c3c3;
$neutral50: #9a9a9a;
$neutral70: #828282;
$neutral75: #696969;
$neutral80: #555555;
$neutral90: #363636;

// Separated as this is often used for base template elements (like plain text)
$neutralOffWhite: $neutral05;
$neutralOffBlack: $neutral90;

// Accent Colors
$accentPrimary: #52e3ac !default;
$accentPrimaryDark: #34a178 !default;
$accentPrimaryMedium: #3dbd8c !default;
$accentPrimaryLight: #75e9bd !default;
$accentPrimaryPale: #c1f7e4 !default;
$accentPrimaryOffWhite: #f0faf7 !default;


// Spectra
// Color spectra are number by group and then given ordinal names, attributes
$sp20Primary: #2bd1fa;
$sp20PrimaryLight: #99e3f5;
$sp20PrimaryPale: #d9f5fb;

$sp20Secondary: #70c930;
$sp20SecondaryLight: #c6eaac;
$sp20SecondaryPale: #eaf7e0;

$sp20Tertiary: #ff12ff;

$sp20Quaternary: #fffd73;

$sp30Primary: #d4f2ff;
$sp30Secondary: #fff799;
$sp30Tertiary: #ffbdbd;

$sp40Tertiary: #f75884;


// Typographic Hierarchy
// Commonly used font-sizes for template typography
// TODO: Swap variables for hard-coded values, to refactor towards
// larger abstractions, like broader typography settings
// --------------------------------------------------------
$type180: 59px;
// $type130: ;
$type120: 35px;
$type110: 30px;
$type100: 26px;
$type90: 25px;
$type80: 22px;
$type70: 20px;
$type60: 18px;
$type50: 16px;
$type40: 14px;
$type30: 13px;
$type20: 12px;
// $type10: ;


// Measurements
// Structural measurements used site wide that are kept in one place
// --------------------------------------------------------
$baseLineHeight: 1.2;

$containerWidthFull: 1235px; // Maximum container width of 1135 plus maximum gutter padding
$containerPaddingFull: 50px;
$containerPaddingResp: 4.5%;
$containerWidthMin: 320px; // Minimum container width


$containerWidthFocus: 680px; // Narrow container width for reading
$containerPaddingMin: 15px; // Minimum gutter padding

// Font Weights
// These are convenience variables to keep font weight declarations consistent
// --------------------------------------------------------
$light: 200;
$book: 300;
$regular: 400;
$semibold: 600;
$bold: 700;


// Animation
// --------------------------------------------------------
// Commonly used animation variables, mainly used with transition CSS
$durationFast: 0.1s;
$duration: 0.2s;
$durationSlow: 0.4s;

$timing: ease;


// Responsive Breakpoints
// Maintained in one place to keep major breakpoints consistent
// --------------------------------------------------------
// $break130: ;
// $break120: ;
$break100: $containerWidthFull;
// $break90: ;
$break85: 880px;
$break80: 800px;
$break70: 700px;
$break65: 690px;
$break60: 620px;
// $break50: ;
$break40: 480px;
$break30: 400px;
// $break20: ;
// Minimum site width
$break10: $containerWidthMin;
