// Z-Stack
// -------

// Z-Indices for all top level components, all in one place, all in order

.loading-bar {
  z-index: 600;
}


.backend .header-app {
  z-index: 600;
}

.overlay-full {
  z-index: 500;
}

.drawer-primary {
  z-index: 500;
}

.dialog-primary {
  z-index: 500;
}

.reader-footer-menu {
  z-index: 300;
}

.header-app {
  z-index: 200;

  .header-container {
    z-index: 200;
  }
}

.header-reader {
  z-index: 200;

  .container-banner {
    z-index: 200;
  }
}

.footer-fixed {
  z-index: 200;
}

.predictive-list {
  z-index: 100;
}

.annotation-popup {
  z-index: 100;
}
