// Z-Stack
// -------

// Z-Indices for all top level components, all in one place, all in order

.loading-bar {
  z-index: 700;
}

.overlay-full-primary, .overlay-full-secondary {
  z-index: 600;
}

.overlay-full {
  z-index: 600;

  .container {
    z-index: 310;
  }

  .overlay-close {
    z-index: 320;
  }
}

.overlay-full-header {
  z-index: 350;
}

.backend .header-app {
  z-index: 500;
}

.drawer-backend, .drawer-frontend, .drawer-overlay {
  z-index: 400;
}

.drawer-reader {
  z-index: 150;
}

.dialog-primary {
  z-index: 600;
}

.notation-preview-footer {
  z-index: 180;
}

.reader-footer-menu {
  z-index: 200;
}

.section-category-label.fixed {
  z-index: 180;
}

.header-app {
  z-index: 200;

  .header-container {
    z-index: 200;
  }
}

.header-reader {
  z-index: 200;

  .container-banner {
    z-index: 200;
  }
}

.footer-fixed {
  z-index: 200;
}

.predictive-list {
  z-index: 100;
}

.annotation-popup {
  z-index: 100;
}

#global-notification-container .notifications-list {
  z-index: 200;
}
