// Z-Stack
// -------

// Z-Indices for all top level components, all in one place, all in order

.loading-bar {
  z-index: 600;
}

.overlay-login {
  z-index: 500;
}

.header-browse {
  z-index: 200;

  .header-container {
    z-index: 200;
  }
}

.header-reader {
  z-index: 200;

  .container-banner {
    z-index: 200;
  }
}
