// Search Menu button and panel global styles (see header styles for context specific styles)
.button-search {
  @include buttonUnstyled;
  height: 100%;
  font-size: 20px;
  color: $neutral50;
  transition: background-color $duration $timing;
}

.search-menu {
  width: 100vw;
  padding: 28px 22px 22px;
  background-color: $neutral10;

  @include respond($break40) {
    padding: 32px 30px 19px;
  }

  @include respond($break70) {
    width: auto;
  }

}
