.search-query {
  // Input defaults
  input[type='text'] {
    @include templateHead;
    width: 100%;
    padding: 0.444em 0.889em;
    font-size: 16px;
    color: $neutralOffBlack;
    background-color: $neutral05;
    border: 3px solid transparent;
    outline: none;
    appearance: none;

    .search-menu & {
      background-color: $neutralWhite;
    }

    @include respond($break70) {
      font-size: 18px;
    }
  }

  // Can be abstracted to shared if used elsewhere
  .input-magnify {
    position: relative;
    width: 100%;

    @include respond($break40) {
      min-width: 380px;
    }

    input {
      padding-left: 46px;
    }

    // Can be button or a simple icon
    .manicon-magnify {
      @include buttonUnstyled;
      position: absolute;
      top: 50%;
      left: 13px;
      margin-top: -0.5em;
      font-size: 18px;
      color: $neutral50;
    }

    input:focus + .manicon-magnify {
      color: $accentPrimary;
    }
  }

  .filters {
    padding-top: 20px;

    label {
      @include utilityPrimary;
      font-size: 13px;
      font-weight: $semibold;
      color: $neutral70;
      text-transform: uppercase;

      @include respond($break40) {
        font-size: 14px;
      }

      &.group-label {
        display: block;
        padding-bottom: 10px;
        margin-bottom: 24px;
        border-bottom: 1px solid $neutral40;

        .search-menu & {
          display: inline;
          padding-bottom: 0;
          border-bottom: none;
        }
      }
    }

    .checkbox-group {
      display: flex;
      flex-wrap: wrap;

      .search-menu & {
        padding-top: 8px;
        padding-left: 0;
      }

      @include respond($break70) {
        .search-menu & {
          padding-left: 0;
        }
      }
    }

    .group-label {
      @include utilityPrimary;
      position: relative;
      display: block;
      padding-top: 2px;
      margin-top:  0;
      margin-right: 36px;
      margin-bottom: 10px;
      font-size: 13px;
      font-weight: $semibold;
      color: $neutral70;
      text-transform: uppercase;

      @include respond($break40) {
        font-size: 14px;
      }
    }

    .checkbox {
      position: relative;
      display: block;
      width: 100%;
      margin-right: 36px;
      margin-bottom: 10px;
      cursor: pointer;

      @include respond($break50) {
        width: auto;
        margin-bottom: 14px;
      }

      @include respond($break70) {
        margin-right: 62px;
        margin-bottom: 14px;
      }

      .control-indicator {
        display: inline-block;
        width: 24px;
        height: 24px;
        padding-top: 6px;
        margin-right: 12px;
        text-align: center;
        vertical-align: middle;
        background-color: $neutral20;

        .search-menu & {
          background-color: $neutralWhite;
        }

        // Styled, but hidden until checked
        .manicon-check {
          font-size: 11px;
          color: $neutralOffBlack;
          visibility: hidden;
        }
      }

      input {
        position: absolute;
        z-index: -1;
        opacity: 0;
      }

      input:checked ~ .control-indicator {
        .manicon-check {
          visibility: visible;
        }
      }

      + .checkbox {
        margin-left: 0;
      }
    }

    + .filters {
      padding-top: 40px;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    padding-top: 11px;

    .description {
      @include templateCopy;
      font-size: 14px;
      font-style: italic;
      color: $neutral80;
    }

    .button-primary {
      font-size: 15px;
    }
  }
}
