.search-results {
  .search-query + & {
    margin-top: 65px;
  }

  .label-count {
    @include utilityPrimary;
    display: block;
    padding-bottom: 10px;
    font-size: 13px;
    font-weight: $semibold;
    color: $neutral80;
    text-transform: uppercase;
    border-bottom: 1px solid $neutral40;

    @include respond($break40) {
      font-size: 14px;
    }

    .count {
      font-size: 22px;
      font-weight: $regular;

      @include respond($break40) {
        font-size: 24px;
      }
    }
  }

  .results {
    @include listUnstyled;

    & + .list-pagination-primary {
      margin-top: 65px;
    }

    a {
      text-decoration: none;
    }

    .result {
      padding: 28px 13px;
      font-size: 15px;
      font-weight: $light;
      color: $neutral80;
      background-color: $neutralWhite;
      border-bottom: 1px solid $neutral40;
      transition: background-color $durationSlow $timing;

      @include respond($break40) {
        font-size: 17px;
      }

      &:hover {
        background-color: $neutral05;
      }

      h5 {
        margin: 0 0 18px 0;
        font-size: 16px;
        font-style: italic;
        font-weight: $regular;
        @include respond($break40) {
          font-size: 18px;
        }
      }

      .with-highlights em {
        font-style: normal;
        background-color: $sp30Secondary;
      }
    }
  }
}
