// Base
// ----

// Global base settings that affect site-wide appearance/style behavior

// Applies a natural box layout model to all the things
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  // Set the base font size here, which will correspond to 1em inside <body>
  font-size: 100%;
  // Do you want to force grayscale antialiasing globally in webkit & gecko?
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
  // Do you want to enable kerning and ligatures globally in webkit & gecko?
  // Beware that this occasionally causes width:auto elements to break to multiple lines in Chrome
  // It seems that the width of the element is computed prior to kerning
  // https://code.google.com/p/chromium/issues/detail?id=189755
  // text-rendering: optimizeLegibility;
}

body {
  // Set base font-family here
  // @include font-body;
  font-size: 1em;
  font-weight: $regular;
  line-height: $baseLineHeight;
  // color: $something;
}