.footer-browse {
  background-color: $neutral80;
  padding: 67px 0px 57px;
  .container {
    position: relative;
  }
  // <a>
  .logo {
    display: block;
    text-decoration: none;
    @include templateHead;
    height: 45px;
    font-size: $type90;
    font-weight: $semibold;
    color: $neutralWhite;
    line-height: 45px;
    position: absolute;
    top: 0;
    right: 0;
    .manicon-manifold-logo {
      display: inline-block;
      font-size: 45px;
      color: $accentPrimary;
      margin-right: 22px;
      vertical-align: top;
    }
  }
  // <nav> wrapper around nested <ul>
  .text-nav {
    > ul {
      @include listUnstyled;
      @include clearfix;
      > li {
        float: left;
        margin-right: 102px;
        // Nexted List
        ul {
          @include listUnstyled;
          li {
            a {
              @include templateHead;
              font-size: $type60;
              color: $neutralWhite;
              text-decoration: none;
            }
          }
          li + li {
            margin-top: 15px;
          }
        }
      }
    }
  }

  .footer-secondary {
    padding-top: 90px;
  }

  .colophon {
    @include templateCopy;
    font-size: $type60;
    color: $neutral40;
    padding-top: 16px;
    a {
      color: inherit;
    }
  }
}