// <nav> around <ul>
.grid-project {
  margin: 0 -12px 0;

  @include respond($break60) {
    margin: -2.105vw -2.105vw 0;
  }

  @include respond($break100) {
    margin: -26px -26px 0;
  }

  .select-browse + & {
    margin-top: 26px;

    @include respond($break60) {
      margin-top: 40px;
    }

    @include respond($break85) {
      margin-top: 52px;
    }
  }

  ul {
    @include listHorizontal;
    display: block;
    width: 100%;

    li {
      display: inline-block;
      width: 50%;
      // Ensures flush grid elements, requires reset for any child elements
      font-size: 0;
      vertical-align: top;

      @include respond($break60) {
        width: 33.333%;
      }

      @include respond($break85) {
        width: 25%;
      }
    }
  }

  a {
    display: block;
    padding: 12px;
    text-decoration: none;

    @include respond($break60) {
      padding: 2.105vw;
    }

    @include respond($break100) {
      padding: 26px;
    }

    .figure-wrapper {
      max-width: 180px;
    }

    // Figure
    figure {
      position: relative;
      height: 0;
      max-width: 100%;
      padding-top: 108%;
      margin-bottom: 20px;

      img, svg {
        position: absolute;
        top: 0;
        left: 0;
        // Relative z-index
        z-index: 0;
        width: auto;
        height: 100%;
        max-height: 100%;
        border: 4px solid transparent;

        // Sub class used only by SVG
        .background {
          stroke: transparent;
          stroke-width: 5px;
          stroke-linecap: square;
        }
      }

      // Follow button
      .follow-button {
        z-index: 1;
      }

      .manicon-plus-bold:hover ~ .thumbnail-follow-overlay {
        opacity: 1;
        visibility: visible;
      }
    }

    &:hover {
      background-color: $neutral10;

      img {
        border-color: $accentPrimary;
      }

      svg .highlight {
        fill: $accentPrimary;
      }
    }

    // Meta data
    .title {
      @include titlePrimary;
      margin-bottom: 8px;
      font-size: $type60;

      @include respond($break70) {
        font-size: $type70;
      }
    }

    .makers {
      @include templateCopy;
      // Hide until we actually show these
      //padding-bottom: 17px;
      font-size: $type70;
      color: $neutral80;
    }

    .date {
      @include templateCopy;
      font-size: $type50;
      font-style: italic;
      color: $neutral75;

      @include respond($break70) {
        font-size: $type60;
      }
    }
  }
}
