// <nav> around <ul>
.grid-project-summary {
  ul {
    @include listHorizontal;
    display: block;
    width: 100%;
    margin-right: -5.5%;
    margin-left: -5.5%;

    li {
      width: 33.333%;
      padding-right: 5.5%;
      padding-bottom: 26px;
      padding-left: 5.5%;
      // Ensures flush grid elements, requires reset for any child elements
      font-size: 0;
      vertical-align: top;
    }
  }

  a {
    display: block;
    text-decoration: none;

    .figure-wrapper {
      max-width: 195px;
    }

    // Figure
    figure {
      position: relative;
      height: 0;
      max-width: 100%;
      padding-top: 144%;
      margin-bottom: 20px;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        max-height: 100%;
        border: 4px solid transparent;
      }

      // Follow button
      .manicon {
        position: absolute;
        top: 7.018%;
        left: -18px;
        display: block;
        width: 45px;
        height: 45px;
        padding-top: 12px;
        font-size: 20px;
        color: $neutralWhite;
        text-align: center;
        background-color: $accentPrimary;
        border-radius: 100%;
      }
    }

    // Meta data
    .title {
      @include titlePrimary;
      margin-bottom: 6px;
      font-size: $type70;
    }

    .makers {
      @include templateCopy;
      padding-bottom: 17px;
      font-size: $type70;
      color: $neutral80;
    }

    .date {
      @include templateCopy;
      font-size: $type60;
      font-style: italic;
      color: $neutral75;
    }

    .description {
      @include templateCopy;
      font-size: $type70;
      font-style: italic;
      color: $accentSecondary;
    }
  }
}
