// <header>
.header-browse {
  position: fixed;
  width: 100%;
  padding: 30px 52px 30px 40px;
  background-color: $neutralWhite;
  // <a> return link with logo
  .logo {
    display: inline-block;
    vertical-align: middle;
    color: $accentPrimary;
    text-decoration: none;
    margin-right: 33px;
    .manicon-manifold-logo {
      font-size: 39px;
    }
  }

  // <nav> wrapper around <ul>
  .text-nav {
    display: inline-block;
    vertical-align: middle;
    ul {
      @include listHorizontal;
      li {
        margin-right: 25px;
        a {
          @include templateHead;
          position: relative;
          font-size: $type60;
          color: $neutral50;
          text-decoration: none;
          &:hover {
            color: $accentPrimary;
          }
        }
        &.active a {
          color: $neutral90;
          &:before {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background-color: $neutral90;
            position: absolute;
            bottom: -4px;
            left: 0;
          }
        }
      }
    }
  }


  .menu-dropdowns {
    height: 100%;
    position: absolute;
    top: 0;
    right: 40px;

    > ul {
      @include listUnstyled;
      display: block;
      position: relative;
      height: 100%;
      > li {
        display: inline-block;
        position: relative;
        height: 100%;
      }
      > li + li {
        margin-left: 55px;
      }
    }

    // Browse specific menu layout/transition
    .button-search {
      height: 100%;
      vertical-align: middle;
      font-size: 17px;
      color: $neutral80;
    }

    .button-avatar {
      height: 100%;
      vertical-align: middle;
    }

    .search-menu {
      white-space: nowrap;
      position: absolute;
      right: -36px;
      .tail {
        display: block;
      }
    }

    .user-menu {
      white-space: nowrap;
      position: absolute;
      right: -24px;
      .tail {
        display: block;
      }
    }

    // Panel default states
    .search-menu, .user-menu {
      // Default state
      margin-top: -20px;
      opacity: 0;
      visibility: hidden;
      transition: all, $duration, $timing;
    }

    // Panel active states
    .panel-visible .search-menu, .panel-visible .user-menu {
      margin-top: 0px;
      opacity: 1;
      visibility: visible;
    }
  }
}

// Header bump
.browse main {
  padding-top: 99px;
}