.overlay-login {
  width: 100%;
  height: 100%;
  background-color: transparentize($neutral90, .05);
  position: fixed;
  top: 0;
  // Hidden by default
  opacity: 0;
  visibility: hidden;
  transition: all, $duration, $timing;
  &.overlay-visible {
    opacity: 1;
    visibility: visible;
  }
  .logo {
    @include templateHead;
    font-size: $type70;
    font-weight: $semibold;
    color: $neutral50;
    position: absolute;
    top: 30px;
    left: 40px;
    line-height: 39px;
    .manicon-manifold-logo {
      display: inline-block;
      font-size: 39px;
      color: $accentPrimary;
      margin-right: 32px;
      vertical-align: top;
    }
  }

  // Button
  .overlay-close {
    @include buttonUnstyled;
    @include templateHead;
    font-size: $type60;
    color: $neutral50;
    position: absolute;
    top: 36px;
    right: 36px;
    line-height: 31px;
    .manicon-x {
      display: inline-block;
      font-size: 31px;
      margin-left: 26px;
      vertical-align: top;
    }
  }

  .overlay-content {
    max-width: 340px;
    margin: 226px auto 0px;
  }

  .login-form {
    @include loginFormPrimary;
    input[type="text"], input[type="password"], input[type="submit"] {
      width: 100%;
    }
  }

  .login-links {
    margin-top: 25px;
  }

  .login-external {
    margin-top: 45px;
    .button-secondary-dull {
      width: 100%;
    }
  }
}