// Search Menu button and panel global styles (see header styles for context specific styles)
.button-search {
  @include buttonUnstyled;
  height: 100%;
  font-size: 20px;
  color: $neutral50;
  transition: background-color $duration $timing;
}

.search-menu {
  width: 100vw;
  padding: 28px 22px 22px;
  background-color: $neutral10;

  @include respond($break40) {
    padding: 32px 35px;
  }

  @include respond($break70) {
    width: auto;
    padding: 44px 39px;
  }

  // Input defaults
  input[type="text"] {
    @include templateHead;
    width: 100%;
    padding: 13px 25px 14px;
    font-size: $type50;
    color: $neutralOffBlack;
    background-color: $neutralWhite;
    border: 3px solid transparent;
    outline: none;
    appearance: none;

    @include respond($break70) {
      font-size: $type70;
    }
  }

  // Can be abstracted to shared if used elsewhere
  .input-magnify {
    position: relative;
    width: 100%;

    @include respond($break40) {
      min-width: 300px;
    }

    input {
      padding-left: 54px;
    }

    // Can be button or a simple icon
    .manicon-magnify {
      @include buttonUnstyled;
      position: absolute;
      top: 20px;
      left: 23px;
      font-size: 18px;
      color: $neutral50;
    }

    input:focus + .manicon-magnify {
      color: $accentPrimary;
    }
  }

  .filters {
    padding-top: 25px;

    @include respond($break70) {
      padding-top: 38px;
    }

    label {
      @include utilityPrimary;
      font-size: 13px;
      font-weight: $semibold;
      color: $neutral70;
      text-transform: uppercase;

      @include respond($break40) {
        font-size: 14px;
      }
    }

    .checkbox-group {
      display: block;
      padding-top: 8px;
      white-space: normal;

      @include respond($break70) {
        display: inline-block;
        padding-left: 32px;
        white-space: nowrap;
      }
    }

    .checkbox {
      position: relative;
      display: block;
      margin-right: 20px;
      margin-bottom: 10px;
      cursor: pointer;

      @include respond($break20) {
        display: inline-block;
      }

      @include respond($break70) {
        margin-right: 32px;
      }

      .control-indicator {
        display: inline-block;
        width: 24px;
        height: 24px;
        padding-top: 6px;
        margin-right: 12px;
        text-align: center;
        vertical-align: middle;
        background-color: $neutralWhite;

        // Styled, but hidden until checked
        .manicon-check {
          font-size: 11px;
          color: $neutralOffBlack;
          visibility: hidden;
        }
      }

      input {
        position: absolute;
        z-index: -1;
        opacity: 0;
      }

      input:checked ~ .control-indicator {
        .manicon-check {
          visibility: visible;
        }
      }
    }
  }
}
