// Shared Components
// -----------------

// Shared classes that aren't part of a more specific component

// Contents
// --------------------------
// - Imports
// - Utilities
// - Layout
// - Type
// - Images
// - Article Lists
// - Navigation Lists
// - Grids
// - Buttons/Links
// - Browser UI
// - Tables
// - Form Layout

// Utilities
// --------------------------------------------------------
.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}


// Layout
// --------------------------------------------------------
section {
  &.neutral20 {
    background-color: $neutral20;
  }
}

.container {
  @include containerPrototype;

  // Section can be abstracted to more specific section class (or body class) if necessary
  section > & {
    padding-top: 85px;
    padding-bottom: 100px;
  }
}

.container-focus {
  @include containerNarrow;
  transition: max-width $duration $timing;
}

.section-heading-utility-right {
  // TODO: These styles should only hold for wider than container maximum
  position: absolute;
  top: 6px;
  right: 0;
}

// Type
// --------------------------------------------------------
.section-heading {
  @include headingPrimary;
  color: $neutral80;

  .manicon {
    display: inline-block;
    margin-right: 13px;
    color: $neutral40;
    vertical-align: middle;
    // React generated wrapper
    + span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .manicon-books-on-shelf {
    margin-right: 24px;
  }

  .manicon-books-stack {
    margin-right: 20px;
    font-size: 61px;
  }

  .manicon-books-with-glasses {
    font-size: 38px;
  }

  .manicon-lamp {
    font-size: 56px;
  }

  .manicon-new-round {
    font-size: 63px;
    color: $accentPrimary;
  }

  .manicon-pulse {
    font-size: 29px;
  }

  .manicon-tag {
    font-size: 47px;
  }
}

.login-links {
  @include templateCopy;
  font-size: $type60;
  font-style: italic;
  color: $neutral50;

  a {
    color: $neutral50;

    + a {
      margin-left: 14px;
    }
  }
}

.sub-section-heading {
  @include utilityPrimary;
  padding: 16px 30px 19px;
  margin-top: 0;
  margin-bottom: 55px;
  font-size: $type60;
  color: $accentSecondary;
  background-color: $neutral20;
}


// Buttons/Links
// --------------------------------------------------------
// Reset bare button class for using icons only
.button-bare-icon {
  @include buttonUnstyled;
}

// Can be a <button> or an <a>
.button-primary {
  @include buttonUnstyled;
  @include utilityPrimary;
  display: inline-block;
  padding: 13px 23px;
  color: $neutral80;
  text-decoration: none;
  border: 3px solid $accentPrimary;
}

// Large transparent button with icon on the left
.button-icon-primary {
  @include buttonUnstyled;
  @include utilityPrimary;
  padding: 21px 40px 20px;
  font-size: $type60;
  font-weight: $bold;
  line-height: 44px;
  color: $neutral80;
  border: 3px solid $accentPrimary;

  .manicon {
    display: inline-block;
    width: auto;
    margin-right: 14px;
    line-height: 1;
    vertical-align: bottom;
  }

  .manicon-books-on-shelf {
    font-size: 44px;
  }

  .manicon-books-with-glasses {
    font-size: 35px;
  }
}

// Can be an <input>, <button>, or an <a>
%button-secondary-prototype {
  @include buttonUnstyled;
  @include templateHead;
  display: inline-block;
  // TODO: Determine default side padding
  padding: 17px 21px 18px;
  font-size: $type40;
  font-weight: $bold;
  letter-spacing: 0.075em;
  color: $neutral80;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $accentPrimary;

  .manicon {
    display: inline-block;
    vertical-align: middle;

    // Span generated by React
    + span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .manicon-glasses {
    margin-right: 15px;
    font-size: 26px;
  }

  .manicon-bullet-list {
    margin-right: 16px;
    font-size: 17px;
  }

  .manicon-facebook {
    width: 39px;
    font-size: 25px;
  }

  .manicon-twitter {
    width: 39px;
    font-size: 22px;
  }
}

.button-secondary {
  @extend %button-secondary-prototype;
}

.button-secondary-dull {
  @extend %button-secondary-prototype;
  color: $neutral50;
  background-color: $neutral10;
}

// Left aligned and dark
.button-secondary-dark {
  @extend %button-secondary-prototype;
  color: $neutral40;
  text-align: left;
  background-color: $neutral80;
}

// Button with price-tag
.button-tagged-dull {
  @extend %button-secondary-prototype;
  position: relative;
  padding-right: 32%;
  color: $neutral50;
  background-color: $neutral10;

  // Note that this can be abstracted with class names for multiple label types
  .price {
    position: absolute;
    top: 0;
    right: 0;
    width: 32%;
    height: 100%;
    padding-top: 13px;
    font-size: $type60;
    font-weight: $regular; // OD
    letter-spacing: 0; // OD
    color: $neutralWhite;
    background-color: $neutral40;
    transition: background-color $duration $timing;
  }

  &:hover .price {
    background-color: $accentPrimary;
  }
}

// TODO: Refactor login into form (default) with overlay (modified) and remove this
.login-external {
  .button-secondary-dark + .button-secondary-dark {
    margin-top: 21px;
  }
}

// Browser UI (Selects, dropdowns, inputs, etc.)
// --------------------------------------------------------
.select-browse {
  @include selectStyled;

  select {
    min-width: 310px;
  }
}

// Wrapper around input with absolutely positioned button
.search-button-inline {
  position: relative;

  // <button>
  .manicon-magnify {
    @include buttonUnstyled;
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -9px;
    font-size: 17px;
    color: $accentPrimary;
  }

  input {
    @include inputSecondary;
    padding-left: 40px;
  }
}
