// User Menu button and panel global styles
.button-avatar {
  @include buttonUnstyled;
  transition: background-color $duration $timing;
  .avatar {
    @include buttonAvatar();
  }
}

// Global styles
.user-menu {
  background-color: $neutral10;
  padding: 40px;
  .tail {
    display: none;
    @include panelTail;
  }
  ul {
    @include listUnstyled;
    li {
      @include templateHead;
      font-size: $type100;
    }
    // Menu items can be buttons or links
    li, button, a {
      @include buttonUnstyled;
      text-decoration: none;
      color: $neutral80;
      &:hover {
        color: $accentPrimary;
      }
    }
    li + li {
      margin-top: 28px;
    }
  }
  // Icons used in menu
  .manicon {
    display: inline-block;
    vertical-align: middle;
    width: 48px;
    text-align: right;
    margin-right: 23px;
  }
  // React generated element
  .manicon + span {
    display: inline-block;
    vertical-align: middle;
  }
  .manicon-person-pencil {
    font-size: 44px;
  }
  .manicon-circle-arrow-out-right {
    font-size: 32px;
    padding-right: 6px; // NP
  }
}