// User Menu button and panel global styles
.button-avatar {
  @include buttonUnstyled;
  transition: background-color $duration $timing;

  .avatar {
    @include buttonAvatar();
  }
}

// Global styles
.user-menu {
  padding: 40px;
  background-color: $neutral10;

  .tail {
    @include panelTail;
    display: none;
  }

  ul {
    @include listUnstyled;

    li {
      @include templateHead;
      font-size: $type100;
    }

    // Menu items can be buttons or links
    li, button, a {
      @include buttonUnstyled;
      color: $neutral80;
      text-decoration: none;

      &:hover {
        color: $accentPrimary;
      }

      + li {
        margin-top: 28px;
      }
    }

  }

  // Icons used in menu
  .manicon {
    display: inline-block;
    width: 48px;
    margin-right: 23px;
    text-align: right;
    vertical-align: middle;

    // React generated element
    + span {
      display: inline-block;
      vertical-align: middle;
    }
  }


  .manicon-person-pencil {
    font-size: 44px;
  }

  .manicon-circle-arrow-out-right {
    padding-right: 6px; // NP
    font-size: 32px;
  }
}
