.footer-browse {
  padding: 67px 0 57px;
  background-color: $neutral80;

  .container {
    position: relative;
  }

  // <a>
  .logo {
    @include templateHead;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 45px;
    font-size: $type90;
    font-weight: $semibold;
    line-height: 45px;
    color: $neutralWhite;
    text-decoration: none;

    .manicon-manifold-logo {
      display: inline-block;
      margin-right: 22px;
      font-size: 45px;
      color: $accentPrimary;
      vertical-align: top;
    }
  }

  // <nav> wrapper around nested <ul>
  .text-nav {
    // Global styles
    ul {
      @include listUnstyled;
    }

    a {
      @include templateHead;
      font-size: $type60;
      color: $neutralWhite;
      text-decoration: none;
    }

    > ul {
      @include clearfix;

      > li {
        float: left;
        margin-right: 102px;

        // Nested List
        li + li {
          margin-top: 15px;
        }
      }
    }
  }

  .footer-secondary {
    padding-top: 90px;
  }

  .colophon {
    @include templateCopy;
    padding-top: 16px;
    font-size: $type60;
    color: $neutral40;

    a {
      color: inherit;
    }
  }
}
