// <header>
.header-browse {
  position: fixed;
  width: 100%;
  background-color: $neutralWhite;
  border-bottom: 1px solid transparent;
  transition: border-color $duration $timing;

  .header-container {
    @include containerPrototype;
    position: relative;
    padding-top: 14px;
    padding-bottom: 14px;

    @include respond($break40) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  .header-border {
    position: absolute;
    width: 100%;
    border-bottom: 1px solid $neutral40;
    opacity: 0;
    visibility: hidden;
    transition: opacity $duration $timing, visibility $duration $timing;

    .not-top & {
      opacity: 1;
      visibility: visible;
    }
  }

  // <a> return link with logo
  .logo {
    display: inline-block;
    margin-right: 33px;
    color: $accentPrimary;
    text-decoration: none;
    vertical-align: middle;

    .manicon-manifold-logo {
      font-size: 32px;

      @include respond($break40) {
        font-size: 39px;
      }
    }
  }

  // <nav> wrapper around <ul>
  .text-nav {
    display: none;
    vertical-align: middle;

    @include respond($break50) {
      display: inline-block;
    }

    ul {
      @include listHorizontal;
    }

    li {
      margin-right: 25px;

      a {
        @include templateHead;
        position: relative;
        font-size: 16px;
        color: $neutral50;
        text-decoration: none;

        &:hover {
          color: $accentPrimary;
        }
      }

      &.active a {
        color: $neutral90;

        &::before {
          position: absolute;
          bottom: -4px;
          left: 0;
          display: block;
          width: 100%;
          height: 2px;
          background-color: $neutral90;
          content: '';
        }
      }
    }
  }

  .menu-dropdowns {
    position: absolute;
    top: 0;
    right: $containerPaddingResp;
    height: 100%;

    @include respond($break100) {
      right: $containerPaddingFull;
    }

    > ul {
      @include listUnstyled;
      position: relative;
      display: block;
      height: 100%;

      > li {
        display: inline-block;
        height: 100%;

        @include respond($break80) {
          position: relative;
        }

        + li {
          margin-left: 30px;

          @include respond($break60) {
            margin-left: 55px;
          }
        }
      }
    }

    // Browse specific menu layout/transition
    .button-search {
      position: relative;
      height: 100%;
      font-size: 17px;
      color: $neutral80;
      vertical-align: middle;

      &::after {
        @include tailUp();
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        margin-top: -20px;
        margin-left: -15px;
        content: '';
        opacity: 0;
        transition: margin $duration $timing, opacity $duration $timing;
      }

      &.button-active::after {
        margin-top: 0;
        opacity: 1;
      }
    }

    .button-avatar {
      height: 100%;
      vertical-align: middle;
    }

    .search-menu {
      position: absolute;
      right: -$containerPaddingRespGlobal;
      max-width: 100vw;
      white-space: nowrap;

      @include respond($break100) {
        right: -$containerPaddingFull;
      }
    }

    .user-menu {
      position: absolute;
      right: -20px;
      white-space: nowrap;

      @include respond($break40) {
        right: -24px;
      }

      .tail {
        right: 21px;
        display: block;

        @include respond($break40) {
          right: 28px;
        }
      }
    }

    // Panel default states
    // I'm not sure how to fix this, leaving it for Naomi
    // scss-lint:disable TransitionAll
    .search-menu, .user-menu {
      // Default state
      margin-top: -20px;
      opacity: 0;
      visibility: hidden;
      transition: all, $duration, $timing;
    }

    // Panel active states
    .panel-visible .search-menu, .panel-visible .user-menu {
      margin-top: 0;
      opacity: 1;
      visibility: visible;
    }
  }
}

// Header bump
.browse main {
  padding-top: 60px;

  @include respond($break40) {
    padding-top: 79px;
  }
}
