.feature {
  position: relative;
  font-size: 17px;

  &.feature-preview {
    margin-bottom: 40px;
    font-size: 13px;
  }

  .container {
    @include clearfix;
  }

  &.feature-dark-style {
    background-color: $accentPrimary;
  }

  &.feature-light-style {
    background-color: $accentPrimaryOffWhite;
  }

  .left {
    top: 0;
    left: 0;
    float: right;
    width: 100%;
    padding-top: 4em;
    padding-right: 2em;
    padding-bottom: 4em;
    hyphens: none;

    @include respond($break75) {
      width: 50%;
    }

    @include respond($break95) {
      padding-right: 4em;
    }

    p {
      @include templateCopy;
      line-height: 1.353em;

      + p {
        margin-top: 1em;
      }
    }

    @include respond($break75) {
    }
  }

  .right {
    position: relative;
    top: 0;
    right: 0;
    display: none;
    float: right;
    width: 50%;
    padding-left: 1.475em;

    @include respond($break75) {
      display: block;
    }

    img {
      position: relative;
      top: 4em;
    }
  }

  .buttons {
    margin-top: 1.5em;

    .button-bare-primary, .button-bare-primary {
      font-size: 0.8em;
    }

    .button-bare-primary + .button-bare-primary {
      margin-left: 2.308em;
    }
  }

  .heading-primary {
    font-size: 22px;

    @include respond($break60) {
      font-size: 24px;
    }

    @include respond($break90) {
      font-size: 1.5em;
    }
  }

  .heading-secondary {
    font-size: 1.29em;
  }

  .heading-primary, .heading-secondary {
    margin-bottom: 0;
  }

  .heading-primary + .heading-secondary {
    margin-top: 0.3em;
  }

  &.feature-dark-style {
    .heading-primary, .heading-secondary {
      color: $neutralWhite;
    }

    .button-bare-primary {
      color: $neutralWhite;
    }
  }

  &.feature-light-style {
    .heading-primary, .heading-secondary {
      color: $accentPrimaryDark;
    }

    .button-bare-primary {
      color: $accentPrimaryDark;
    }
  }

  .feature-body {
    margin-top: 1.5em;

    a {
      color: $neutralBlack;

      &:visited {
        color: $neutralBlack;
      }
    }
  }
}
