// Fonts
// -----

// Do your @font-face embedding/include mixins here, in the privacy of your own partial

// TypeKit fallback serif font
// --------------------------
@font-face {
  font-family: 'aleo';
  font-style: normal;
  font-weight: $regular;
  src: url('../../assets/fonts/aleo/Aleo-Regular.woff') format('woff');
}

@font-face {
  font-family: 'aleo';
  font-style: italic;
  font-weight: $regular;
  src: url('../../assets/fonts/aleo/Aleo-Italic.woff') format('woff');
}

@font-face {
  font-family: 'aleo';
  font-style: normal;
  font-weight: $light;
  src: url('../../assets/fonts/aleo/Aleo-Light.woff') format('woff');
}

@font-face {
  font-family: 'aleo';
  font-style: normal;
  font-weight: $bold;
  src: url('../../assets/fonts/aleo/Aleo-Bold.woff') format('woff');
}

// TypeKit fallback san-serif font
// --------------------------
@font-face {
  font-family: 'trueno';
  font-style: normal;
  font-weight: $regular;
  src: url('../../assets/fonts/trueno/TruenoRg.woff') format('woff');
}

@font-face {
  font-family: 'trueno';
  font-style: italic;
  font-weight: $regular;
  src: url('../../assets/fonts/trueno/TruenoRgIt.woff') format('woff');
}

@font-face {
  font-family: 'trueno';
  font-style: normal;
  font-weight: $bold;
  src: url('../../assets/fonts/trueno/TruenoBd.woff') format('woff');
}

@font-face {
  font-family: 'trueno';
  font-style: normal;
  font-weight: $semibold;
  src: url('../../assets/fonts/trueno/TruenoSBd.woff') format('woff');
}

@font-face {
  font-family: 'trueno';
  font-style: normal;
  font-weight: $light;
  src: url('../../assets/fonts/trueno/TruenoLt.woff') format('woff');
}

// Mixins
// --------------------------
@mixin templateCopy {
  font-family: 'freight-text-pro', 'aleo', serif;
}

@mixin templateHead {
  font-family: 'sofia-pro', 'trueno', sans-serif;
}

// Abstracted in order to allow scoped changes
@mixin readerHead {
  @include templateHead;
}
