apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "princeton-manifold.fullname" . }}-env
  labels:
    app.kubernetes.io/name: {{ include "princeton-manifold.name" . }}
    helm.sh/chart: {{ include "princeton-manifold.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
data:
  ALLOW_SIGNUP: "false"
  API_CABLE_HOST: princeton-manifold-production-api-cable
  API_CABLE_PORT: "3021"
  API_HOST: princeton-manifold-production-api-rails
  API_PORT: "3020"
  CLIENT_BROWSER_API_CABLE_URL: https://openpublishing.princeton.edu/cable
  CLIENT_BROWSER_API_URL: https://openpublishing.princeton.edu
  CLIENT_SERVER_API_URL: http://princeton-manifold-production-api-rails:3020
  CLIENT_SERVER_HOST: princeton-manifold-production-client
  CLIENT_SERVER_PORT: "3010"
  CLIENT_SERVER_PROXIES: "true"
  DOMAIN: openpublishing.princeton.edu
  ELASTICSEARCH_URL: http://princeton-manifold-production-es:9200
  NODE_ENV: production
  RAILS_DB_HOST: princeton-manifold-production-postgresql
  RAILS_DB_NAME: {{ .Values.postgresql.auth.database }}
  RAILS_DB_PASS: {{ .Values.postgresql.auth.password }}
  RAILS_DB_PORT: "5432"
  RAILS_DB_USER: {{ .Values.postgresql.auth.username }}
  RAILS_ENV: production
  RAILS_REDIS_URL: {{ template "princeton-manifold.redis.url" . }}
  RAILS_SECRET_KEY: {{ .Values.env.rails_secret_key }}
  REDIS_URL: {{ template "princeton-manifold.redis.url" . }}
  SENTRY_DSN: {{ .Values.env.sentry_dsn }}
  SENTRY_ENVIRONMENT: {{ .Values.env.sentry_environment }}
  SSL_ENABLED: "true"
