.notification {
  width: 100%;
  color: var(--color-neutral-text-extra-dark);

  &--notice {
    background-color: $spNoticeLight;
  }

  &--warning {
    background-color: $spWarningLight;
  }

  &--error {
    background-color: $spErrorLight;
  }

  &--context-drawer {
    background-color: var(--color-base-neutral90);
  }

  &__container {
    @include containerPrototype;
    position: relative;
    // Adjusted container size
    padding-top: 23px;
    padding-bottom: 25px;

    ${respond(``, 120)}
      max-width: $containerWidthFull - 50px;
      padding: 23px 26px 25px;
    }

    .notification--context-drawer & {
      padding: 18px;
    }
  }

  &__heading {
    @include headingTertiary;
    padding-right: 67px;
    margin: 0;
    font-size: 18px;
    font-weight: var(--font-weight-semibold);

    ${respond(``, 70)}
      font-size: 20px;
    }

    .notification--context-drawer & {
      font-size: 20px;
      color: var(--color-base-neutral30);
    }
  }

  &__body {
    font-family: var(--font-family-copy);
    padding-right: 67px;
    margin-top: 10px;
    font-size: 16px;

    ${respond(``, 70)}
      font-size: 20px;
    }

    .notification--context-drawer & {
      @include headingTertiary;
      padding-right: 0;
      margin-top: 8px;
      font-size: 16px;
      font-weight: normal;
      color: var(--color-base-neutral30);
    }
  }

  &__button {
    ${buttonUnstyled}

    .notification--context-header & {
      position: absolute;
      top: 50%;
      right: var(--container-padding-responsive);
      transform: translateY(-50%);

      ${respond(``, 120)}
        right: 26px;
      }

      &:focus-visible {
        outline-color: var(--color-base-neutral90);
      }

      &:hover {
        color: inherit;
      }
    }

    .notification--context-drawer & {
      position: relative;
      top: auto;
      right: auto;
      margin: 8px 0 0;
      font-size: inherit;
      color: var(--color-base-neutral50);

      &:hover {
        color: var(--color-base-neutral20);
      }

      .screen-reader-text {
        ${utilityPrimary}
        position: relative;
        margin: 0;
        overflow: visible;
        font-size: 12px;
      }
    }
  }

  &__button-icon {
    .notification--context-drawer & {
      display: none;
    }
  }
}
