.annotation-footer-button {
  @include drawerPadding(padding-right);
  @include drawerPadding(padding-left);
  @include buttonUnstyled;
  @include utilityPrimary;
  display: block;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 13px;
  text-align: left;
  background-color: $neutral10;
  border-bottom-right-radius: $panelRoundedRadius;
  border-bottom-left-radius: $panelRoundedRadius;
  transition: color $duration $timing, background-color $duration $timing;

  &:hover,
  &:focus-visible {
    color: var(--default-strong-color);
    background-color: $neutral20;
  }

  &:not(:first-child) {
    margin-top: -10px;
  }

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    height: annotation-list(avatar-height);
  }

  &__icon-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: annotation-list(avatar-placeholder-width);
    height: annotation-list(avatar-height);
    margin-left: annotation-list(avatar-placeholder-margin-inline-start);
  }

  &__text {
    @include drawerIndent(padding-left);
    transform: translateY(-1px);
  }

  &__arrow-icon {
    margin-left: 12px;
    transition: transform $duration $timing;
    transform: translate(0, -0.5px);

    .annotation-footer-button:hover & {
      transform: translate(20%, -0.5px);
    }
  }
}
