.action-callout-list {
  $calloutGutter: 19px;

  display: flex;
  flex-direction: column;
  width: 100%;

  > * {
    width: 100%;
    margin-top: $calloutGutter;
  }

  &--inline {
    @include respond($break60) {
      flex-flow: row wrap;
      margin-top: $calloutGutter;
      margin-bottom: -$calloutGutter;
      margin-left: -$calloutGutter;

      > * {
        width: auto;
        margin-top: 0;
        margin-bottom: $calloutGutter;
        margin-left: $calloutGutter;
      }
    }
  }

  &__button,
  &__link {
    @include templateHead;
    font-size: 13px;
    font-weight: $semibold;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.104em;
  }

  /* stylelint-disable property-no-vendor-prefix */
  &__button {
    display: -ms-grid;
    display: grid;
    grid-template:
      '. icon text .' auto / 1fr auto auto 1fr;
    grid-gap: 9px;
    align-items: center;
    padding-right: 13px;
    padding-left: 13px;
    color: $neutralTextExtraDark;
    border: 2px solid transparent;
    transition:
      background-color $duration $timing,
      border-color $duration $timing;
    -ms-flex-align: center;
    -ms-grid-rows: auto;
    -ms-grid-columns: 1fr 9px auto 9px auto 9px 1fr;

    &:focus-visible {
      outline: 0;
    }

    &--primary {
      background-color: $accentPrimary;

      &:hover,
      &:focus-visible {
        color: $neutral90;
        background-color: $accentPrimaryDull;
      }

      &:focus-visible {
        border-color: $accentPrimary;
      }
    }

    &--secondary {
      background-color: $neutral30;

      &:hover {
        color: inherit;
        background-color: rgba($neutral30, 0.7);
      }

      &:focus-visible {
        border-color: $neutral70;
      }

      .project-hero--dark & {
        color: $neutral95;
        background-color: $neutralUILight;
        border-color: $neutralUILight;

        &:hover,
        &:focus-visible {
          background-color: $neutral30;
          border-color: $neutral30;
        }

        &:focus-visible {
          border-color: $neutral75;
        }
      }
    }

    &--error {
      background-color: $spWarningLight;

      &:hover,
      &:focus-visible {
        color: $neutralTextExtraDark;
        background-color: $spWarningExtraLight;
      }

    }

    &--centered {
      grid-template:
        '. text .' auto / 1fr auto 1fr;
      -ms-grid-rows: auto;
      -ms-grid-columns: 1fr auto 1fr;
    }
  }

  &__button-icon {
    grid-area: icon;
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    margin-left: -6px;
    -ms-grid-row-align: center;

    .action-callout-list__button--secondary & {
      color: $neutralTextExtraDark;
    }
  }

  &__button-text {
    display: block;
    grid-area: text;
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    padding-top: 12px;
    padding-bottom: 12px;

    .action-callout-list__button--centered & {
      -ms-grid-row: 1;
      -ms-grid-column: 2;
    }

    @include respond($break60) {
      padding-top: 17px;
      padding-bottom: 17px;
    }
  }
  /* stylelint-enable property-no-vendor-prefix */

  &__link {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 17.33px;

    &:hover {
      .action-callout-list__link-icon {
        @include defaultHoverStyle;
      }
    }

    &-text {
      margin-left: 10px;
    }

    &--error {
      color: $spWarningLight;

      &:hover,
      &:focus-visible {
        color: $spWarningExtraLight;
      }
    }
  }

  &__link-icon {
    margin-right: 8px;
    color: $neutral50;
    transition: color $duration $timing;

    .project-hero--dark & {
      color: $neutral45;
    }
  }
}
