.project-hero {
  $grid-gap-small: 30px;
  $row-gap-medium: 3.159vw;
  $column-gap-medium: 4.839vw;
  $row-gap-large: 48px;
  $column-gap-large: 100px;
  $right-column-width: 28%;
  $layout-breakpoint: $break60;

  position: relative;
  padding-top: 20px;
  padding-bottom: 35px;

  color: $neutralWhite;
  background-color: $neutral95;

  @include respond($layout-breakpoint) {
    padding-top: 70px;
    padding-bottom: 80px;
  }

  // Theme
  &--light {
    color: $neutralTextExtraDark;
    background-color: $neutral05;
  }

  &--dark {
    --default-focus-color: #{$accentInteractionLight};
    --default-hover-color: #{$accentInteractionLight};
  }

  &--standalone {
    padding-top: calc(#{$grid-gap-small} + var(--standalone-header-height));

    @include respond($layout-breakpoint) {
      padding-top: 30px;
    }
  }

  &__bg-image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 25;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    // background properties used if image is set as bg-image on wrapper
    // when object-fit isn't supported
    background-size: cover;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background-color: rgba($neutralBlack, 0.8);
    }
  }

  &__bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }

  // Layout
  /* stylelint-disable property-no-vendor-prefix */
  &__inner {
    @include containerPrototype;
    position: relative;
    z-index: 50;
    display: -ms-grid;
    display: grid;
    grid-row-gap: $grid-gap-small;
    max-width: standalone-header-layout(max-width);
    -ms-grid-rows: auto $grid-gap-small auto $grid-gap-small auto $grid-gap-small auto;
    -ms-grid-columns: 100%;

    @include respond($layout-breakpoint) {

      grid-template-columns: 1fr minmax(220px, $right-column-width);
      row-gap: $row-gap-medium;
      column-gap: $column-gap-medium;
      padding-right: 20px;

      padding-left: 20px;
      -ms-grid-rows: auto $row-gap-medium auto;
      -ms-grid-columns: 1fr $column-gap-medium minmax(220px, $right-column-width);
    }

    @include respond($break120) {
      row-gap: $row-gap-large;
      column-gap: $column-gap-large;
    }

  }

  &__left-top-block,
  &__right-top-block {
    display: flex;
    flex-direction: column;
  }

  &__left-top-block {
    // grid-area: left-top;
    -ms-grid-row: 3;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;


    @include respond($layout-breakpoint) {
      -ms-grid-row: 1;
      grid-row: 1;
      -ms-grid-column: 1;
      grid-column: 1;
    }
  }

  &__left-bottom-block {
    grid-area: left-bottom;
    -ms-grid-row: 5;
    grid-row: 3;
    -ms-grid-column: 1;
    grid-column: 1;

    @include respond($layout-breakpoint) {
      -ms-grid-row: 3;
      grid-row: 2;
      -ms-grid-column: 1;
      grid-column: 1;
    }
  }

  &__right-top-block {
    grid-area: right-top;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;

    @include respond($layout-breakpoint) {
      -ms-grid-row: 1;
      grid-row: 1;
      -ms-grid-column: 3;
      grid-column: 2;
      padding-right: 60px;
    }
  }

  &__right-bottom-block {
    grid-area: right-bottom;
    -ms-grid-row: 7;
    grid-row: 4;
    -ms-grid-column: 1;
    grid-column: 1;

    @include respond($layout-breakpoint) {
      -ms-grid-row: 3;
      grid-row: 2;
      -ms-grid-column: 3;
      grid-column: 2;
      align-self: end;
      -ms-flex-item-align: end;
      -ms-grid-row-align: end;
    }
  }
  /* stylelint-enable property-no-vendor-prefix */

  &__meta-block {
    @include templateCopy;

    + .project-hero__callout-block {
      margin-top: 20px;
    }
  }

  &__cover-block {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond($layout-breakpoint) {
      align-items: flex-start;
    }
  }

  &__social-block {
    grid-area: social;

    .project-hero--light & {
      color: $neutralTextDark;
    }
  }

  &__callout-block {
    &--mobile {
      display: block;

      @include respond($layout-breakpoint) {
        display: none;
      }
    }

    &--desktop {
      display: none;

      @include respond($layout-breakpoint) {
        display: block;
        width: 100%;
      }
    }

    & + & {
      margin-top: 12px;
    }

    + .project-hero__social-block {
      margin-top: 35px;
    }
  }

  // Meta elements
  &__heading {
    position: relative;
    z-index: 50;
    margin-bottom: 24px;
    hyphens: none;
    line-height: 1.188;

    .project-hero--standalone & {
      display: none;

      @include respond($layout-breakpoint) {
        display: block;
      }
    }
  }

  &__title {
    @include templateHead;
    margin: 0;
    font-size: 22px;
    font-weight: $semibold;

    @include respond($layout-breakpoint) {
      font-size: 32px;
    }

    .project-hero--standalone & {
      @include respond($layout-breakpoint) {
        max-width: 90%;
      }
    }
  }

  &__subtitle {
    @include templateCopy;
    margin-top: 2px;
    font-size: 18px;
    font-style: italic;
    letter-spacing: 0.028em;

    @include respond($layout-breakpoint) {
      margin-top: 11px;
      font-size: 24px;
    }

    em, i {
      font-style: normal;
    }
  }

  &__creators,
  &__contributors,
  &__description {
    font-size: 16px;
    letter-spacing: 0.012em;
  }

  &__creators,
  &__contributors {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    line-height: 1.313em;
  }

  &__creators {
    @include respond($layout-breakpoint) {
      font-size: 20px;
    }

    + .project-hero__contributors {
      margin-top: 12px;
    }

    .maker-avatar {
      display: inline-flex;
      align-items: center;
      margin-right: 10px;

      &:not(:last-child) {
        &::after {
          display: inline;
          content: ', ';
        }
      }

      img, svg {
        display: inline-block;
        width: 42px;
        height: auto;
      }

      img {
        margin-right: 6px;
        border: 2px solid $neutralWhite;
        border-radius: 100%;
      }

      svg {
        margin-right: 4px;
      }

      figcaption {
        display: inline-block;
      }
    }
  }

  &__maker-text {
    margin-left: 0.5ch;

    &:not(:last-child) {
      &::after {
        display: inline;
        content: ', ';
      }
    }
  }

  &__contributors,
  &__description {
    @include respond($layout-breakpoint) {
      font-size: 17px;
    }
  }

  &__description {
    margin-top: 22px;
    line-height: 1.529em;

    @include respond($layout-breakpoint) {
      margin-top: 45px;
    }
  }

  // Link elements
  &__link-inline {}

  // Social elements
  &__social-link,
  &__hashtag {
    color: inherit;
    text-decoration: none;
  }

  &__social-link {
    display: inline-block;
    padding: 5px;
    color: $neutralUILight;

    &:first-child {
      margin-left: -5px; // offsets padding to align flush left
    }

    + .project-hero__hashtag {
      margin-top: 15px;
    }
  }

  &__hashtag {
    @include templateHead;
    display: block;
    font-size: 16px;
    font-weight: $semibold;

    @include respond($layout-breakpoint) {
      font-size: 18px;
    }
  }

  // Cover elements
  &__figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 0;

    @include respond($layout-breakpoint) {
      align-items: flex-start;
    }

    &--constrained {
      width: 160px;
    }

    img {
      width: 100%;
      max-width: 120px;
      height: auto;

      @include respond($layout-breakpoint) {
        max-width: 260px;
      }

    }

    svg {
      width: 111px;
      height: 111px;

      @include respond($layout-breakpoint) {
        width: 160px;
        height: 160px;
      }
    }
  }

  // Credits elements
  &__credits-text {
    @include templateCopy;
    margin: 0;
    font-size: 16px;
    font-style: italic;
    color: $neutralTextDark;
    letter-spacing: 0.012em;

    em {
      font-style: normal;
    }

    .project-hero--dark & {
      color: $neutralTextLight;
    }
  }
}
