.project-thumb-placeholder {
  &--mobile {
    @include respond($break75) {
      display: none;
    }
  }

  &--desktop {
    display: none;
    @include respond($break75) {
      display: block;
    }
  }

  &--primary {
    .project-thumb-placeholder__tile {
      fill: $accentPrimaryExtraPale;
    }
  }

  &--secondary {
    .project-thumb-placeholder__tile {
      fill: $neutral10;
    }
  }

  &--tertiary {
    .project-thumb-placeholder__tile {
      fill: $spBlue20;
    }
  }

  &--quaternary {
    .project-thumb-placeholder__tile {
      fill: $spOrange20;
    }
  }

  &--quinary {
    .project-thumb-placeholder__tile {
      fill: $spViolet20;
    }
  }

  &--outlined {
    .project-thumb-placeholder__tile {
      fill: transparent;
    }

    .project-thumb-placeholder__illustration {
      .backend &,
      .project-hero--dark & {
        stroke: $neutral50;
      }
    }
  }

  &__tile {
    fill: $neutralWhite;
  }

  &__illustration {
    stroke: $neutral75;

    .backend &,
    .project-hero--dark & {
      stroke: $neutral90;
    }
  }

  &__frame {
    stroke: $neutral75;

    .backend &,
    .project-hero--dark & {
      stroke: $neutral50;
    }
  }
}
