$_breakpoint: $break60;
$_max-gap: 25px;
$_min-gap: 20px;
$_responsive-gap: $_max-gap / $_breakpoint * 100vw;
$_item-min-width: 195px;

.resource-thumbnail-list {
  ul {
    @include listUnstyled;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: clamp(#{$_min-gap}, #{$_responsive-gap}, #{$_max-gap});

    @include respond($_breakpoint) {
      grid-template-columns: repeat(auto-fill, minmax($_item-min-width, 1fr));
    }
  }

  a {
    display: flex;
    width: 100%;
    height: 100%;
    text-decoration: none;

    .icon-thumbnail-primary {
      background-color: var(--card-bg-color, #{$neutral05});
      border-radius: $panelRoundedRadius;
      transition:
        color $duration $timing,
        box-shadow $duration $timing;

      &.bg-image::before {
        border-radius: $panelRoundedRadius;
      }
    }

    &:hover,
    &:focus-visible {
      outline: none;

      .icon-thumbnail-primary {
        @include boxShadow(0, 20px, 30px, 2px);
        @include defaultHoverStyle;
      }
    }
  }

  .bg-image {
    --default-hover-color: #{$accentInteractionLight};
  }
}
