.colors {
  display: flex;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 83px;

    @include respond($break60) {
      width: 138px;
    }

    .form-toggle {
      display: block;
      width: 38px;
      height: 38px;
      margin-bottom: 13px;

      &.primary {
        background: $sp50Primary;
      }

      &.secondary {
        background: $sp50Secondary;
      }

      &.tertiary {
        background: $sp50Tertiary;
      }

      &.quaternary {
        background: $sp50Quaternary;
      }

      &.quinary {
        background: $sp50Quinary;
      }

      &.sentary {
        background: $neutralWhite;
      }

      + .form-toggle {
        margin-top: 0; // OD
      }

      .toggle-indicator {
        width: 100%;
        height: 100%;
        padding-top: 7px;
        background: none;

        .manicon::before {
          display: inline-block;
          font-size: 16px;
          color: $neutral90;
          text-align: center;
          vertical-align: middle;
        }

        &::before {
          display: none;
        }
      }

      .toggle-label {
        display: none;
      }
    }
  }
}
