// a layout class for vertically stacking blocks. that's it!
.content-block-list {
  @include panelRounded;
  display: block;
  min-height: 68px;
  margin-top: 25px;
  background-color: transparent;
  transition: border 0.2s ease;

  &--show-dropzone {
    border: 1px solid $accentPrimary;
  }

  > * + * {
    margin-top: 18px;
  }
}
