%header-utility-button {
  .button-bare-primary {
    // Scoped colors/hovers
    color: $neutral50;
    letter-spacing: 0.125em;
    transition: color $duration $timing;

    @include respond($break40) {
      font-size: 12px;
    }

    &:hover, &:focus {
      color: $neutral20;
      outline: 0;

      .manicon {
        color: $neutral20;
      }
    }
  }

  button {
    font-size: 0;

    @include respond($break40) {
      font-size: 14px;
    }

    @include respond($break65) {
      font-size: 16px;
    }

    + button {
      margin-left: 15px;

      @include respond($break60) {
        margin-left: 25px;
      }
    }

    .manicon {
      display: inline-block;
      margin-right: 9px;
      color: $accentPrimary;
      vertical-align: middle;
      transition: color $duration $timing;
    }

    // Relative sizes to make resizing simple,
    // but fixed sizes at mobile since parents
    // get size 0
    .manicon-check-double {
      font-size: 11px;

      @include respond($break40) {
        margin-top: -0.533em; // NP
        font-size: 0.938em;
      }
    }

    .manicon-eye-outline {
      font-size: 12px;

      @include respond($break40) {
        margin-top: -0.429em;
        font-size: 0.917em;
      }
    }

    .manicon-x-bold {
      font-size: 12px;
      color: $sp40Tertiary;

      @include respond($break40) {
        margin-top: -0.2em;
        font-size: 0.8em;
      }
    }

    .manicon-magnify {
      font-size: 12px;

      @include respond($break40) {
        margin-top: -0.14em;
        font-size: 0.95em;
      }
    }


    .manicon-trashcan {
      font-size: 16px;
      color: $sp40Tertiary;

      @include respond($break40) {
        margin-top: -0.371em;
        font-size: 1.333em;
      }
    }

  }
}

.entity-header-primary {
  display: table;
  padding-bottom: 20px;

  @include respond($break65) {
  }

  figure {
    display: table-cell;
    width: auto;
    margin-bottom: 15px;
    padding-right: 16px;
    vertical-align: top;

    @include respond($break65) {
      padding-right: 36px;
    }

    .manicon {
      font-size: 52px;
      color: $neutral50;

      @include respond($break65) {
        font-size: 64px;
      }
    }
  }

  .title {
    display: table-cell;
    vertical-align: top;
    width: 100%;

    h1, h2, h3, h4, h5, h6 {
      @include templateHead;
      float: left;
      margin: 0 0 15px;
      font-size: 16px;
      font-weight: $medium;
      color: $neutral20;

      @include respond($break65) {
        font-size: 23px;
      }

      @include respond($break65) {
        float: none;
        max-width: none;
      }

      .subtitle {
        @include templateCopy;
        margin-left: 0.433em;
        // Relatively sized to be just a tiny bit bigger than the base
        font-size: 1.071em;
        color: $neutral50;
      }
    }
  }

  .utility {
    @extend %header-utility-button;
    clear: both;

    .notes {
      @include templateCopy;
      font-size: 1.071em;
      color: $neutral50;
    }
  }
}
