// Blocks used as part of the backend hero builder interface.
.hero-builder-block {
  $heroBlockPadding: 24px;

  @include panelRounded;
  padding: $heroBlockPadding $heroBlockPadding $heroBlockPadding / 2;
  margin-top: 18px;
  margin-bottom: 21px;
  color: $neutral30;


  &__header {
    display: flex;
    margin-bottom: $heroBlockPadding / 2;
    cursor: pointer;
  }

  &__header:hover {
    color: $accentPrimary;
  }

  &__header-details {
    flex-grow: 1;
  }

  &__title {
    @include templateHead;
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: $medium;
  }

  &__description {
    @include templateCopy;
    font-style: italic;
    color: $neutral45;
  }

  &__button {
    @include buttonUnstyled;
    color: $neutral50;

    &:focus {
      outline: none;

      svg {
        color: $accentPrimary;
      }

      .hero-builder-block__button-label {
        color: $accentPrimary;
        visibility: visible;
      }

    }

    svg {
      transition: color $duration $timing;
    }
  }

  &__header:hover &__button {
    color: $accentPrimary;

    .hero-builder-block__button-label {
      visibility: visible;
    }
  }

  &__button-label {
    margin-right: 10px;
    font-size: 12px;
    font-weight: $semibold;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    white-space: nowrap;
    visibility: hidden;
    transition: color $duration $timing;
  }

  &__body {
  }

}
