.backend-dashboard {
  @include clearfix;
  display: flex;
  flex-direction: column;
  padding-top: 0;

  @include respond($break75) {
    flex-direction: row;
  }

  .left, .right {
    @include respond($break75) {
      flex: 1;
    }

    // Pad dashboard sections
    section + section {
      padding-top: 55px;
    }
  }

  .right {
    margin-top: 42px;

    @include respond($break50) {
      margin-top: 60px;
    }

    @include respond($break75) {
      padding-left: 7.6vw;
      margin-top: 0;
    }

    @include respond($containerWidthFull) {
      padding-left: 95px;
    }
  }
}
