.backend-dashboard {
  @include clearfix;
  padding-top: 0;

  @include respond($break75) {
    margin-left: -7.6vw;
  }

  @include respond($containerWidthFull) {
    margin-left: -95px;
  }

  .left, .right {
    @include respond($break75) {
      float: left;
      width: 50%;
      padding-left: 7.6vw;
    }

    @include respond($containerWidthFull) {
      padding-left: 95px;
    }

    // Pad dashboard sections
    section + section {
      padding-top: 55px;
    }
  }

  .right {
    margin-top: 42px;

    @include respond($break50) {
      margin-top: 60px;
    }
  }
}
