.backend-dashboard {
  @include clearfix;
  display: flex;
  flex-direction: column;
  padding-top: 0;

  @include respond($break75) {
    flex-direction: row;
  }

  .left, .right {
    @include respond($break75) {
      flex: 1;
    }

    // Pad dashboard sections
    section + section {
      padding-top: 55px;
    }
  }

  .right {
    margin-top: 42px;

    @include respond($break50) {
      margin-top: 60px;
    }

    @include respond($break75) {
      padding-left: 7.6vw;
      margin-top: 0;
    }

    @include respond($containerWidthFull) {
      padding-left: 95px;
    }
  }

  .list-pagination-secondary .ordinal {
    @include respond($break85, max) {
      display: none;
    }
  }

  .project-list {
    padding-bottom: 24px;

    .buttons-icon-horizontal {
      margin-top: 25px;
      margin-bottom: 25px;

      .button-icon-secondary {
        width: 100%;
      }
    }

    li:first-child {
      margin-top: -15px;
    }

    @include respond($break75) {
      padding-bottom: 36px;

      .name {
        .title-text, .subtitle {
          font-size: 18px;
        }

        .subtitle {
          padding-top: 0.278em;
        }
      }

      .relations-list {
        font-size: 17px;
      }
    }
  }
}
