.dialog-primary {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  padding-right: $containerPaddingResp;
  padding-left: $containerPaddingResp;
  background-color: transparentize($neutralWhite, 0.4);
  opacity: 1;
  visibility: visible;
  transition: opacity $duration $timing,
    visibility $duration $timing;

  @include respond($break100) {
    padding-right: $containerPaddingFull;
    padding-left: $containerPaddingFull;
  }

  &.dialog-appear {
    opacity: 0;
    visibility: visible;
  }

  .dialog-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparentize($neutralWhite, 0.4);
  }

  .dialog-box {
    position: relative;
    width: 100%;
    max-width: 880px;
    padding: 27px 6.8181% 50px;
    margin: auto;
    background-color: $neutral95;

    @include respond($break90) {
      padding: 29px 40px 50px;
    }

    header {
      padding: 11px 0 45px;
    }

    .heading-quaternary {
      padding: 11px 0 1.1em;
      color: $neutralWhite;
    }

    .utility-primary {
      color: $neutralWhite;
    }
  }

  .close-button-primary {
    position: absolute;
    top: auto;
    right: 32px;
  }

  // Special centering for form submits
  .form-input.submit {
    text-align: center;
  }

  .dialog-confirm {

    header {
      padding: 11px 0 22px;
    }

    .heading-quaternary {
      padding-bottom: 0;
      font-size: 22px;
    }

    p {
      @include utilityPrimary;
      padding-bottom: 34px;
      color: $neutral50;
      text-transform: none;
    }

    .manicon {
      margin-right: 16px;
      font-size: 12px;

      &::before {
        position: relative;
        top: 6px;
      }
    }

    .buttons-icon-horizontal {
      margin-bottom: 0;
    }

  }


}

