.drawer-primary {
  position: fixed;
  top: 60px;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 20px $containerPaddingResp 33px;
  background-color: $neutral95;
  transition: right $duration $timing;

  @include respond($break40) {
    top: 80px;
  }

  @include respond($break65) {
    width: 400px;
  }

  @include respond($break90) {
    width: 555px;
    padding: 33px 48px;
  }

  @include respond($break100 + (500 * 2)) {
    width: calc((100vw - #{$containerWidthInner})/2);
    padding: 33px 70px;
  }

  &.drawer-appear, &.drawer-leave {
    right: -555px;
  }

  .close-button-primary {
    position: absolute;
    top: 0;
    right: 0;
  }

  header {
    padding-bottom: 48px;

    @include respond($break90) {
      padding-bottom: 60px;
    }
  }

  .heading-quaternary {
    padding: 32px 0 1.1em;
    color: $neutralWhite;

    @include respond($break90) {
      padding-top: 37px;
    }
  }

  .utility-primary {
    color: $neutralWhite;
  }
}
