// Grid-style view of list (used with Projects currently)
// Uses a version of .vertical-list-primary styles for mobile
.grid-list {
  margin-bottom: 24px;

  ul {
    @include listUnstyled;
    display: flex;
    flex-direction: column;

    @include respond($break75) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  li {
    color: $neutral50;
    border-bottom: 1px solid $neutral80;
    transition: background-color $duration ease-out,
      box-shadow $duration ease-out;

    @include respond($break75) {
      flex: 1 1 25%;
      flex-direction: column;
      max-width: 25%;
      margin-bottom: 18px;
      border-bottom: none;
    }

    @include respond($break90) {
      flex-basis: 20%;
      max-width: 20%;
    }

    &.active {
      background-color: $neutral100;
      border-color: $neutral100;
      box-shadow: -21px 0 0 $neutral100, 21px 0 0 $neutral100;

      a, .fake-link {
        color: $accentPrimary;
      }

      + li {
        border-color: transparent;
      }
    }

    a {
      display: flex;
      flex-direction: column;
      padding: 20px 0 17px;
      color: inherit;
      text-decoration: none;

      @include respond($break60) {
        flex-direction: row;
        justify-content: space-between;
      }

      @include respond($break75) {
        flex-direction: column;
        height: 100%;
        padding: 24px;
      }

      &:hover, &:focus {
        outline: 0;

        @include respond($break75, max) {
          figure img {
            border-color: $accentPrimary;
          }

          figure svg {
            fill: $accentPrimary;
          }

          .title-text, .label {
            color: $accentPrimary;
          }
        }

        @include respond($break75) {
          @include panelRounded;
          box-shadow: 0 31px 26px -13px rgba($neutralBlack, 0.33);
        }
      }
    }

    header {
      display: flex;

      @include respond($break75) {
        flex-direction: column;
      }
    }

    .figure-wrapper {
      max-width: 129px;

      + .meta {
        padding-left: 15px;

        @include respond($break75) {
          padding-left: 0;
        }
      }
    }

    .cover {
      @include projectGridFigure;
      left: 0;
      min-width: 50px;
      max-width: 50px;
      height: auto;
      margin-bottom: 0;
      padding-top: 0;

      @include respond($break75) {
        left: -4px;
        width: auto;
        max-width: 100%;
        margin-bottom: 20px;
        padding-top: 109%;
      }

      img, svg {
        position: static;
        width: 50px;
        height: auto;

        @include respond($break75) {
          position: absolute;
          width: auto;
          height: 100%;
        }
      }

      img {
        border: 1px solid transparent;
        transition: border $duration $timing,
          background-color $duration $timing;
      }

      svg {
        transition: fill $duration $timing;

        @include respond($break75) {
          max-height: 91%;
        }
      }
    }

    .meta {
      display: flex;
      flex-flow: column;
      flex-grow: 1;
      padding-right: 20px;
      vertical-align: top;
    }

    .name {
      @include templateHead;
      margin: 0;
      transition: color $duration $timing;

      .title-text, .subtitle {
        white-space: normal;
      }

      .title-text {
        display: inline-block;
        color: $neutral20;
        font-size: 16px;
        line-height: 21px;

        @include respond($break75) {
          display: block;
        }
      }

      .subtitle {
        @include subtitlePrimary;
        display: block;
        padding-top: 0.389em;
        color: $neutral40;
        font-size: 14px;
        transition: color $duration $timing;

        @include respond($break75) {
          padding-top: 1em;
        }

        &:empty {
          display: none;
        }
      }

      .block-label {
        @include blockLabelRound;
        margin: 10px 0 5px 9px;
        padding-right: 5px;
        padding-left: 5px;
        font-size: 9px;

        @include respond($break75) {
          margin-left: 0;
          padding-right: 8px;
          padding-left: 8px;
          font-size: 12px;
        }
      }
    }

    .relations-list {
      @include templateCopy;
      padding-top: 0.571em;
      font-size: 14px;
      color: $neutral40;
      transition: color $duration $timing;
    }

    .label {
      @include utilityPrimary;
      padding-top: 15px;
      font-size: 14px;
      color: $neutral75;
      white-space: nowrap;
      vertical-align: top;
      transition: color $duration $timing;

      @include respond($break60) {
        padding-top: 0;
      }

      @include respond($break75) {
        padding-top: 15px;
      }
    }
  }
}
