.grid-list {
  ul {
    @include listUnstyled;
    display: flex;
    flex-wrap: wrap;
  }

  li {
    flex: 1 1 20%;
    max-width: 20%;
    margin-bottom: 55px;
    color: $neutral50;

    a {
      display: flex;
      flex-direction: column;
      color: inherit;
      text-decoration: none;
    }

    .figure-wrapper {
      max-width: 180px;
    }

    .cover {
      @include projectGridFigure;

      + .meta {
        padding-top: 10px;
      }

      svg {
        max-height: 91%;
      }
    }

    .meta {
      display: flex;
      flex-flow: column;
      flex-grow: 1;
      padding-right: 20px;
      vertical-align: top;
    }

    .name {
      @include templateHead;
      margin: 0;
      transition: color $duration $timing;

      .title-text, .subtitle {
        display: block;
        white-space: normal;
      }

      .title-text {
        color: $neutral20;
        font-size: 16px;
        line-height: 21px;
      }

      .subtitle {
        @include subtitlePrimary;
        display: block;
        padding-top: 1em;
        color: $neutral40;
        font-size: 14px;
        transition: color $duration $timing;

        &:empty {
          display: none;
        }
      }

      .block-label {
        @include blockLabelRound;
        margin-top: 10px;
        margin-bottom: 5px;
      }
    }

    .relations-list {
      @include templateCopy;
      padding-top: 0.571em;
      font-size: 14px;
      color: $neutral40;
      transition: color $duration $timing;
    }

    .label {
      @include utilityPrimary;
      padding-top: 15px;
      font-size: 14px;
      color: $neutral75;
      white-space: nowrap;
      vertical-align: top;
      transition: color $duration $timing;
    }
  }
}
