.backend-panel {
  @include clearfix;

  .container {
    @include clearfix;

    // CABS abstract rather than override the mixin
    // if used elsewhere
    &:not(.flush) {
      padding-top: 42px;
    }

    .backend-header + & {
      @include respond($break60, max) {
        padding-top: 20px;
      }
    }
  }

  .aside {
    @include panelRounded;
    display: none;
    float: left;
    width: 192px;
    margin-right: 20px;
    padding: 25px 31px 45px;

    @include respond($break65) {
      display: block;
    }

    @include respond($break110) {
      margin-right: 46px;
    }
  }

  .panel {
    width: 100%;

    @include respond($break65) {
      float: left;
      width: calc(100% - 212px);
    }

    @include respond($break110) {
      width: calc(100% - 238px);
    }
  }

  // This navigation isn't used elsewhere, but it
  // can be abstracted if necessary
  .panel-nav {
    ul {
      @include listUnstyled;
    }

    li {
      + li {
        margin-top: 0.89em;
      }
    }

    a {
      // CABS create a new mixin for this if repeated
      @include utilityPrimary;
      color: $neutral75;
      text-transform: none;
      text-decoration: none;
      font-size: 17px;
      letter-spacing: 0;
      transition: color $duration $timing;

      &:hover{
        color: $neutral20;
      }

      &.active {
        color: $neutral20;
      }

      &:focus {
        color: $accentPrimary;
        border-color: $accentPrimary;
        outline: 0;
      }

      &.active {
        color: $neutral20;
        border-bottom: 2px solid $neutral20;

        &:focus {
          @include focusOutline;
          color: $neutral20;
          border-bottom: 2px solid $neutral20;
          outline-offset: 2px;
        }
      }
    }
  }

  // Scrollable top version of aside nav
  // Scopes and modifies panel nav
  .scrollable {
    overflow: scroll;
    background-color: $neutral80;

    @include respond($break65) {
      display: none;
    }

    .wrapper {
      white-space: nowrap;
    }

    .panel-nav {
      li {
        display: inline-block;

        + li {
          margin-top: 0; // OD
          margin-left: 20px;
        }

        &:first-child {
          padding-left: $containerPaddingResp;
        }

        &:last-child {
          padding-right: $containerPaddingResp;
        }
      }

      a {
        display: block;
        padding: 13px 0;
        font-size: 14px;
      }
    }
  }
}
