.backend-panel {
  @include clearfix;

  .container {
    @include clearfix;

    // CABS abstract rather than override the mixin
    // if used elsewhere
    &:not(.flush) {
      padding-top: 42px;
    }

    .backend-header + & {
      @include respond($break60, max) {
        padding-top: 20px;
      }
    }
  }

  .aside {
    @include panelRounded;
    display: none;
    float: left;
    width: 192px;
    margin-right: 20px;
    padding: 25px 31px 45px;

    @include respond($break65) {
      display: block;
    }

    @include respond($break110) {
      margin-right: 46px;
    }
  }

  .panel {
    width: 100%;

    @include respond($break65) {
      float: left;
      width: calc(100% - 212px);
    }

    @include respond($break110) {
      width: calc(100% - 238px);
    }
  }
}
