.backend-panel {
  @include clearfix;

  .container {
    @include clearfix;
    display: flex;
    flex-direction: column;

    @include respond($break65) {
      flex-direction: row;
    }

    // CABS abstract rather than override the mixin
    // if used elsewhere
    &:not(.flush) {
      padding-top: 42px;
    }

    .backend-header + & {
      @include respond($break60, max) {
        padding-top: 20px;
      }
    }
  }

  .aside {
    @include panelRounded;
    display: none;
    float: left;
    width: 192px;
    padding: 25px 31px 45px;
    margin-right: 20px;

    @include respond($break65) {
      display: block;
    }

    @include respond($break110) {
      margin-right: 46px;
    }
  }

  .panel {
    flex-grow: 1;

    &:only-child {
      padding-right: 5px;
      padding-left: 5px;
    }
  }
}
