// Global .project-grid class, scoped for backend
.project-list {
  .backend & {
    li {
      color: $neutral50;
      border-color: $neutral80;
    }

    a {
      &:hover, &:focus {
        .title-text, .label {
          color: $accentPrimary;
        }
      }
    }

    .name {
      .title-text {
        color: $neutral20;
      }
    }

    .relations-list {
      padding-top: 0.389em;
      font-size: 14px;
      color: $neutral40;
    }

    .label {
      @include utilityPrimary;
      padding-top: 15px;
      font-size: 14px;
      color: $neutral75;
      white-space: nowrap;
      vertical-align: top;
      transition: color $duration $timing;
    }

    // Backend grid-style list
    &.grid {
      + .list-pagination-secondary {
        margin-top: 24px;
      }

      @include respond($break75) {
        a {
          padding: 20px 24px;

          &:hover, &:focus {
            box-shadow: 0 31px 26px -13px rgba($neutralBlack, 0.33);

            // stylelint-disable max-nesting-depth
            .title-text, .label {
              color: $neutral20;
            }
            // stylelint-enable max-nesting-depth
          }
        }

        .cover {
          height: 120px;

          svg {
            max-width: 100px;
            max-height: 110px;
          }
        }

        .relations-list {
          padding-top: 0.571em;
        }

        .label {
          padding-top: 15px;
        }
      }

      @include respond($break90) {
        li {
          flex-basis: 20%;
          max-width: 20%;
        }
      }
    }
  }
}
