// Nav wrapping totals and a <ul>
.vertical-list-primary {
  padding-top: 49px;
  padding-bottom: 36px;

  &.flush {
    padding-top: 0;

    &.top-border {
      border-top: 1px solid $neutral80;
    }
  }

  .drawer-primary & {
    padding-top: 20px;
    padding-bottom: 0;

    .list-total {
      padding-bottom: 8px;
    }

    a {
      padding: 10px 0 17px;
    }
  }

  .list-total {
    @include utilityPrimary;
    padding-bottom: 15px;
    font-size: 15px;
    color: $neutral70;
    border-bottom: 1px solid $neutral80;

    span {
      color: $neutral30;
    }

    &.empty {
      padding-top: 20px;
      border-bottom: 0;
    }
  }

  .buttons-icon-horizontal {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 0;
    border-top: 1px solid $neutral80;

    .button-icon-secondary {
      width: 100%;
      margin: 0;
    }
  }

  &.tile-list ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 17px;
    margin-bottom: -28px;

    @include respond($break60) {
      margin-left: -40px;
    }
  }

  ul {
    @include listUnstyled;

    li:first-of-type {
      border-top: 0;
    }

    li {
      display: flex;
      align-items: center;
      border-top: 1px solid $neutral80;
      transition: background-color $duration ease-out,
        box-shadow $duration ease-out;

      &.active {
        background-color: $neutral100;
        border-color: $neutral100;
        box-shadow: -21px 0 0 $neutral100, 21px 0 0 $neutral100;

        a {
          color: $accentPrimary;
        }

        + li {
          border-color: transparent;
        }
      }
    }

    // Use .list-item on li if the items don't link
    a {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 20px 0 17px;
      color: $neutral30;
      text-decoration: none;
      transition: color $duration ease-out;

      &:hover {
        figure img {
          background-color: $accentPrimary;
          border-color: $accentPrimary;
        }

        figure svg .highlight {
          fill: $accentPrimary;
        }

        .project-title {
          color: $neutral20;
        }

        .subtitle {
          color: $neutral20;
        }

        .project-makers {
          color: $neutral20;
        }

        .label {
          color: $accentPrimary;

          &.secondary {
            color: $sp40Tertiary;
          }
        }
      }
    }

    header {
      display: flex;
      flex-grow: 1;
    }

    figure {
      + .meta {
        padding-left: 15px;
      }

      &.cover {
        min-width: 50px;
        max-width: 50px;

        img {
          border: 1px solid transparent;
          transition: border $duration $timing,
            background-color $duration $timing;
        }

        svg {
          width: 50px;
          max-height: 50px;
          transition: fill $duration $timing;
        }
      }

      &.avatar {
        .image {
          width: 30px;
          height: 30px;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: cover;
          border-radius: 100%;
        }

        .no-image {
          @include buttonAvatar(30);
        }
      }

      .manicon-twitter {
        font-size: 22px;
        padding-right: 12px;

        &:before {
          vertical-align: bottom;
        }
      }

      img, svg {
        width: 50px;
        height: auto;
      }
    }

    .meta {
      display: flex;
      flex-flow: column;
      flex-grow: 1;
      max-width: calc(100% - 50px);
      padding-right: 20px;
      vertical-align: top;
    }

    .title {
      display: flex;
      flex-flow: column;
      flex-grow: 1;
      padding-right: 20px;
      vertical-align: top;
    }

    .label {
      @include utilityPrimary;
      display: table-cell;
      font-size: 14px;
      color: $neutral75;
      vertical-align: top;
      padding-left: 19px;
      white-space: nowrap;
      transition: color $duration $timing;
    }

    .specifier {
      display: inline-block;
      padding-right: 19px;
      color: $accentPrimary;

      &.dull {
        color: $neutral75;
      }
    }

    .name {
      @include templateHead;
      max-width: 100%;
      margin: 0;
      font-size: 16px;
      line-height: 21px;
      letter-spacing: 0.015em;
      transition: color $duration $timing;

      @include respond($break80) {
        font-size: 18px;
      }

      &.large {
        font-size: 18px;

        @include respond($break80) {
          font-size: 22px;
        }
      }

      .truncate {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .title-text {
        margin-right: 9px;
      }

      .title-text, .subtitle {
        white-space: normal;
      }

      .block-label {
        @include blockLabel;
        position: relative;
        display: inline;
        padding: 0.333em 5px;
        font-size: 9px;
        color: $neutral85;
        vertical-align: middle;
        background-color: $neutral30;
      }
    }

    .subtitle {
      @include subtitlePrimary;
      display: block;
      padding-top: 0.389em;
      color: $neutral50;
      transition: color $duration $timing;
    }


    .relations-list {
      @include templateCopy;
      padding-top: 6px;
      font-size: 15px;
      color: $neutral50;
      transition: color $duration $timing;

      @include respond($break80) {
        font-size: 17px;
      }
    }

    // Optional items
    .checkbox-primary {
      margin-right: 18px;

      .toggle-indicator {
        width: 15px;
        height: 15px;
        padding: 3px 2px;
      }

      .manicon-check {
        font-size: 8px;
      }
    }

    .list-item {
      position: relative;
      width: 100%;

      @include respond($break60) {
        width: 100%;
        min-height: 150px;
        padding-left: 40px;
        margin-bottom: 28px;
        border-top: 0;
      }

      @include respond($break95) {
        width: 50%;
      }

      .utility {
        position: absolute;
        right: 12px;
        bottom: 8px;

        @include respond($break60) {
          font-size: 1.2em;
        }

        .manicon-trashcan {
          color: $sp40Tertiary;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    // Events list items
    .event-tile {
      height: 100%;
      color: $neutral30;
      background-color: transparent;

      @include respond($break60) {
        background-color: $neutral85;
      }

      .manicon {
        background-color: $neutral75;
      }

      .event-data {
        padding-right: 26px;

        a {
          display: inline-block;
          width: auto;
          padding: 7px 0 5px;
        }

        .event-content {
          padding-top: 0;
          line-height: 1em;
        }
      }
    }
  }
}
