.breadcrumb-list {
  @include templateHead;
  color: $neutral75;

  &__link {
    display: inline;
    font-size: 17px;
    text-decoration: none;

    @include respond($break40) {
      font-size: 20px;
    }

    &--active {
      .header-app.dark & {
        color: $neutral75;

        &:last-child {
          color: $neutral50;
        }
      }

      &:last-child {
        color: $neutral50;
      }
    }
  }

  &__icon {
    position: relative;
    top: -1px;
    margin-right: 5px;
    margin-left: 5px;
    transform: rotate(-90deg);

    .header-app.dark & {
      color: $neutral75;
    }
  }
}
