.custom-logo {
  &__image {
    position: relative;
    width: auto;
    max-width: 175px;
    height: auto;
    max-height: 26px;

    ${respond(``, 75)}
      max-width: 100%;
      max-height: 59px;
    }

    &--desktop {
      display: none;
      ${respond(``, 75)}
        display: block;
      }
    }

    &--mobile {
      display: block;
      ${respond(``, 75)}
        display: none;
      }
    }
  }
}
