.header-logo {
  grid-area: logo;
  align-self: center;
  max-width: 300px;
  color: var(--highlight-color);
  text-decoration: none;
  vertical-align: middle;

  .library-header--dark & {
    color: var(--color-neutral-ui-light);
  }

  &:hover,
  &:focus-visible {
    color: var(--hover-color);
    outline: 0;
  }

  .manicon-svg {
    ${respond(``, 40)}
      width: 32px;
      height: 32px;
    }

    ${respond(``, 75)}
      width: 38px;
      height: 38px;
    }
  }
}
