.header-logo {
  grid-area: logo;
  /* stylelint-disable property-no-vendor-prefix */
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  /* stylelint-enable property-no-vendor-prefix */
  align-self: center;
  max-width: 300px;
  color: $accentPrimary;
  text-decoration: none;
  vertical-align: middle;

  .library-header--dark & {
    color: $neutralUILight;
  }

  &:hover,
  &:focus-visible {
    color: $defaultHoverColor;
    outline: 0;
  }

  .manicon-svg {
    @include respond($break40) {
      width: 32px;
      height: 32px;
    }

    @include respond($break75) {
      width: 38px;
      height: 38px;
    }
  }
}
