.mobile-nav-toggle {
  @include buttonUnstyled;
  position: relative;
  color: $neutral50;
  transition: color $duration $timing;

  @include respond($break75) {
    display: none;
  }

  &:hover,
  &:focus {
    color: $accentPrimary;
    outline: 0;
  }
}
