.mode-button {
  @include utilityPrimary;
  display: inline-block;
  padding: 0.76em 1.7em;
  font-size: 11.18px;
  color: $neutral75;
  color: var(--button-color, $neutral75);
  text-decoration: none;
  letter-spacing: 0.134em;
  white-space: nowrap;
  border: 1px solid;
  border-radius: 4px;
  transition:
    color $duration $timing,
    background-color $duration $timing,
    border-color $duration $timing;

  &:hover,
  &:focus-visible {
    color: $neutralTextExtraDark;
    background-color: $accentInteractionLight;
    border-color: $accentInteractionLight;
    outline: 0;
  }

  .bg-neutral90 &,
  .user-links--dark &,
  .user-nav--dark & {
    &:hover,
    &:focus-visible {
      color: $neutral90;
    }
  }
}
