.collection-detail {
  &__title-and-toggle {
    display: flex;
  }

  &__collecting-toggle {
    margin-left: 12px;
    transform: translateY(2px);

    @include respond($break60) {
      transform: translateY(6px);
    }
  }

  &__utility {
    padding: 26px 0 12px;

    @include respond($break60) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__description {
    @include templateCopy;
    max-width: 840px;
    font-size: 15px;
  }

  .share-nav-primary {
    padding-top: 26px;
  }
}
