.button-switch-primary {
  border: 1px solid $accentPrimary;

  &__button {
    width: 100%;
    padding: 0;
    background: transparent;
    border: 0;
    outline: 0;

    &:focus {
      outline: thin dotted $neutral50;
      outline-offset: 2px;
    }
  }

  &__wrapper {
    display: flex;
  }

  &__side {
    @include buttonUnstyled;
    @include utilityPrimary;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 7.5px 20px 8.5px;
    font-size: 12px;
    color: $accentPrimary;
    cursor: pointer;
    transition: background-color $duration $timing,
      color $duration $timing;

    @include respond($break90) {
      padding-top: 9px;
      padding-bottom: 11px;
      font-size: 14px;
    }

    &--selected {
      color: $neutral100;
      background-color: $accentPrimary;
    }

    .manicon-svg {
      margin-right: 0.65em;

      @include respond($break90) {
        width: 36px;
        height: 36px;
      }
    }
  }

  .drawer-backend & {
    margin-bottom: 28px;
  }
}
