.dialog-primary {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-right: $containerPaddingResp;
  padding-left: $containerPaddingResp;
  visibility: visible;
  background-color: transparentize($neutralWhite, 0.4);
  opacity: 1;
  transition: opacity $duration $timing,
    visibility $duration $timing;

  @include respond($break120) {
    padding-right: $containerPaddingFull;
    padding-left: $containerPaddingFull;
  }

  &.dialog-appear {
    visibility: visible;
    opacity: 0;
  }

  .dialog-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparentize($neutralWhite, 0.4);
  }

  .dialog-box.dialog-error {
    max-width: 500px;
    background-color: $sp30Tertiary;

    header, .dialog-header-large, .dialog-header-small {
      h1, h2, h3, h4, h5, h6 {
        color: $neutralOffBlack;
      }
    }

    p {
      font-weight: $regular;
      color: $neutralOffBlack;
    }

    .close-button-primary {
      color: $neutralOffBlack;
    }
  }

  .dialog-box {
    position: relative;
    width: 100%;
    max-width: 880px;
    padding: 27px 6.818% 50px;
    margin: 0 auto;
    background-color: $neutral95;

    @include respond($break90) {
      padding: 29px 40px 50px;
    }

    // Default header, pre-abstracted with a classname
    header, .dialog-header-large {
      padding: 11px 0 45px;

      h1, h2, h3, h4, h5, h6 {
        @include headingQuaternary;
        padding: 11px 0 1.1em;
        color: $neutralWhite;
      }
    }

    .dialog-header-small {
      padding: 11px 0 22px;

      h1, h2, h3, h4, h5, h6 {
        @include templateHead;
        padding: 11px 0;
        margin: 0;
        font-size: 22px;
        color: $neutralWhite;
      }
    }

    .utility-primary {
      color: $neutralWhite;
    }

    p {
      @include utilityPrimary;
      padding-bottom: 34px;
      color: $neutral50;
      text-transform: none;
    }

    .buttons-icon-horizontal {
      margin-bottom: 0;
    }
  }

  .close-button-primary {
    position: absolute;
    top: auto;
    right: 32px;
  }

  // Special centering for form submits
  .form-input.submit {
    text-align: center;
  }
}
