// Global .project-list.grid styles scoped for frontend
.project-list {
  .browse & {
    li {
      border-color: $neutralUIDullDark;
      opacity: 1;
      transition: opacity $duration $timing;
    }

    .grid-project-exit {
      opacity: 0;
    }

    .grid-project-enter {
      opacity: 0;
    }

    .name {
      color: $neutralTextExtraDark;
    }

    .relations-list {
      padding-top: 0.4em;
      font-size: 15px;
      color: $neutralUIExtraDark;
    }

    .date {
      padding-top: 0.625em;
    }

    .alert::before {
      display: inline-block;
      width: 7px;
      height: 7px;
      margin-right: 5px;
      margin-bottom: 2px;
      color: $neutralWhite;
      content: '';
      background-color: $defaultErrorColor;
      border-radius: 50%;
    }

    + .list-pagination-primary {
      margin-top: 30px;
    }

    &.empty {
      @include panelRoundedDark;
      width: 100%;
      padding: 20px 22px;
      background-color: $neutral10;

      @include respond($break75) {
        padding: 24px 30px;
      }

      .message {
        @include templateHead;
        font-size: 16px;
        line-height: 1.313;
        color: $neutralTextExtraDark;

        @include respond($break75) {
          font-size: 18px;
        }
      }
    }

    // Frontend grid-style list
    &.grid {
      li {
        padding-left: 14px;
      }

      @include respond($break75) {
        li {
          padding-left: 0;
        }

        a {
          transition: background-color $duration ease-out,
            box-shadow $duration ease-out;
        }

        a:hover, a:focus-visible {
          background-color: $neutral05;
          box-shadow: 0 31px 44px 2px rgba($neutralBlack, 0.13);

          .title-text {
            color: $neutralTextExtraDark;
          }
        }

        .cover {
          height: 160px;

          &.cover-placeholder {
            height: auto;
          }

          > svg {
            max-width: 130px;
            max-height: 130px;
          }
        }

        .name {
          font-size: 17px;
        }

        .relations-list {
          padding-top: 0.625em;
          font-size: 16px;
        }
      }
    }
  }

  .browse .bg-neutral05 &.grid {
    a:hover, a:focus-visible {
      @include respond($break75) {
        background-color: $neutral10;
      }
    }
  }
}
