// <nav> around <ul>
.grid-project {
  margin: 0;

  @include respond($break60) {
    margin: 0 -2.105vw;
  }

  @include respond($break120) {
    margin: 0 -26px;
  }

  .select-browse + & {
    margin-top: 26px;

    @include respond($break60) {
      margin-top: 40px;
    }

    @include respond($break85) {
      margin-top: 52px;
    }
  }

  > ul {
    @include listHorizontal;
    display: flex;
    flex-flow: row wrap;
    width: 100%;

    > li {
      flex: 1 1 50%;
      max-width: 50%;
      // // Ensures flush grid elements, requires reset for any child elements
      // font-size: 0;
      // vertical-align: top;
      opacity: 1;
      transition: opacity $duration $timing;

      @include respond($break60) {
        flex-basis: 33.333%;
        max-width: 33.333%;
      }

      @include respond($break85) {
        flex-basis: 25%;
        max-width: 25%;
      }
    }

    .grid-project-leave {
      opacity: 0;
    }

    .grid-project-enter {
      opacity: 0;
    }

  }

  a {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 12px;
    text-decoration: none;

    @include respond($break60) {
      padding: 2.105vw;
    }

    @include respond($break120) {
      padding: 26px;
    }

    // Figure
    .cover {
      position: relative;
      width: 100%;
      height: 160px;
      margin-bottom: 10px;

      &.dim img, &.dim svg {
        opacity: 0.25;
      }

      img, svg {
        width: auto;
        height: 100%;
      }

      img {
        border: 4px solid transparent;
        transition: border $duration $timing;
      }

      svg {
        max-width: 130px;
        max-height: 130px;
        transition: fill $duration $timing;

        // Sub class used only by SVG
        .background {
          stroke: transparent;
          stroke-linecap: square;
          stroke-width: 5px;
        }
      }
    }

    &:hover {
      @include panelRounded;
      background-color: $neutral05;
      outline: 0;
      box-shadow: 0 31px 44px 2px rgba($neutralBlack, 0.13);

      .bg-neutral05 & {
        background-color: $neutral10;
      }
    }

    &:focus {
      outline-color: $neutral20;
      outline-radius: 8px;

      .bg-neutral05 & {
        outline-color: $neutral30;
      }
    }

    .title {
      @include gridProjectTitle;
      margin-top: 0;
      margin-bottom: 8px;
      font-size: 16px;
    }

    .makers {
      @include templateCopy;
      padding-bottom: 0.75em;
      font-size: 16px;
      color: $neutral80;
    }

    .block-label {
      @include blockLabelRound;
      margin-bottom: 5px;
    }

    .date {
      @include gridProjectDate;
    }

    .alert::before {
      display: inline-block;
      width: 7px;
      height: 7px;
      margin-right: 5px;
      margin-bottom: 2px;
      color: $neutralWhite;
      content: '';
      background-color: $sp40Tertiary;
      border-radius: 50%;
    }
  }

  + .list-pagination-primary {
    margin-top: 30px;
  }
}
