// <nav> around <ul>
.grid-project {
  margin: 0;

  @include respond($break60) {
    margin: 0 -2.105vw;
  }

  @include respond($break120) {
    margin: 0 -26px;
  }

  .select-browse + & {
    margin-top: 26px;

    @include respond($break60) {
      margin-top: 40px;
    }

    @include respond($break85) {
      margin-top: 52px;
    }
  }

  ul {
    @include listHorizontal;
    display: block;
    width: 100%;

    li {
      display: inline-block;
      width: 50%;
      // Ensures flush grid elements, requires reset for any child elements
      font-size: 0;
      vertical-align: top;
      opacity: 1;
      transition: opacity $duration $timing;

      @include respond($break60) {
        width: 33.333%;
      }

      @include respond($break85) {
        width: 25%;
      }
    }

    .grid-project-leave {
      opacity: 0;
    }

    .grid-project-enter {
      opacity: 0;
    }

  }

  a {
    display: block;
    padding: 12px;
    text-decoration: none;

    @include respond($break60) {
      padding: 2.105vw;
    }

    @include respond($break120) {
      padding: 26px;
    }

    .figure-wrapper {
      max-width: 180px;

      &.dim figure img, &.dim figure svg {
        opacity: 0.25;
      }
    }

    // Figure
    figure {
      @include projectGridFigure;
    }

    &:hover, &:focus {
      background-color: $neutral10;
      outline: 0;

      img {
        border-color: $accentPrimary;
      }

      svg .highlight {
        fill: $accentPrimary;
      }
    }

    // Meta data
    //.meta {
    //  display: none;
    //}

    .title {
      @include gridProjectTitle;
      margin-bottom: 8px;
      font-size: 16px;
    }

    .makers {
      @include templateCopy;
      padding-bottom: 0.75em;
      font-size: 16px;
      color: $neutral80;
    }

    .block-label {
      @include blockLabelRound;
      margin-bottom: 5px;
    }

    .date {
      @include gridProjectDate;
    }

    .alert::before {
      display: inline-block;
      width: 7px;
      height: 7px;
      margin-right: 5px;
      margin-bottom: 2px;
      color: $neutralWhite;
      content: '';
      background-color: $sp40Tertiary;
      border-radius: 50%;
    }
  }

  .list-pagination-primary {
    margin-top: 30px;

    ul li {
      width: auto;

      a {
        padding: 0;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}
