// <nav> wrapper around <ul>
.grid-project-covers {
  // Nested variable used only in module
  $rowPadding: 30px;

  margin-right: -1.542%;
  margin-left: -1.542%;

  ul {
    @include listHorizontal;
    display: block;
    // Pull back bottom row padding
    margin-bottom: -$rowPadding;
  }

  li {
    // Inline blocks
    width: 16.667%;
    padding: 0 1.542%;
    margin-bottom: $rowPadding;
    font-size: 0;
    vertical-align: top;

    // NB: Requires font-size reset if it contains typography
    img, svg {
      width: 100%;
      height: auto;
      border: 4px solid transparent;
    }
  }

  figure {
    position: relative;

    &:hover {
      img {
        border-color: $accentPrimary;
      }

      svg .highlight {
        fill: $accentPrimary;
      }
    }
  }
}
