// <nav> around <ul>
.grid-project-summary {
  ul {
    @include listHorizontal;
    display: block;
    width: 100%;
    margin-left: -11%;

    li {
      width: 50%;
      padding-bottom: 26px;
      padding-left: calc(11% + 15px);
      // Ensures flush grid elements, requires reset for any child elements
      font-size: 0;
      vertical-align: top;

      @include respond($break60) {
        width: 33.333%;
        padding-left: 11%;
      }
    }
  }

  a {
    display: block;
    text-decoration: none;

    &:hover {
      img {
        border-color: $accentPrimary;
      }

      svg .highlight {
        fill: $accentPrimary;
      }
    }

    .figure-wrapper {
      max-width: 195px;
    }

    // Figure
    figure {
      position: relative;
      height: 0;
      max-width: 100%;
      padding-top: 113%;
      margin-bottom: 20px;

      img, svg {
        position: absolute;
        top: 0;
        left: 0;
        // Relative z-index
        z-index: 0;
        width: auto;
        max-height: 100%;
        border: 4px solid transparent;
      }

      svg {
        border: 0;
      }

      // Follow button
      .follow-button {
        z-index: 1;
      }

      .manicon-plus-bold:hover ~ .thumbnail-follow-overlay {
        opacity: 1;
        visibility: visible;
      }
    }

    // Meta data
    .title {
      @include gridProjectTitle;
      margin-bottom: 8px;
      font-size: 16px;
    }

    .makers {
      @include templateCopy;
      // Hide until we actually show these
      //padding-bottom: 17px;
      font-size: $type70;
      color: $neutral80;
    }

    .date {
      @include gridProjectDate;
    }

    .description {
      @include templateCopy;
      font-size: $type70;
      font-style: italic;
      color: $accentPrimaryDark;
    }
  }
}
