// <nav> around <ul>
.grid-project {
  margin: 0;

  @include respond($break60) {
    margin: 0 -2.105vw;
  }

  @include respond($break100) {
    margin: 0 -26px;
  }

  .select-browse + & {
    margin-top: 26px;

    @include respond($break60) {
      margin-top: 40px;
    }

    @include respond($break85) {
      margin-top: 52px;
    }
  }

  ul {
    @include listHorizontal;
    display: block;
    width: 100%;

    li {
      display: inline-block;
      width: 50%;
      // Ensures flush grid elements, requires reset for any child elements
      font-size: 0;
      vertical-align: top;
      opacity: 1;
      transition: opacity $duration $timing;

      @include respond($break60) {
        width: 33.333%;
      }

      @include respond($break85) {
        width: 25%;
      }
    }

    .grid-project-leave {
      opacity: 0;
    }

    .grid-project-enter {
      opacity: 0;
    }

  }

  a {
    display: block;
    padding: 12px;
    text-decoration: none;

    @include respond($break60) {
      padding: 2.105vw;
    }

    @include respond($break100) {
      padding: 26px;
    }

    .figure-wrapper {
      max-width: 180px;

      &.dim figure img, &.dim figure svg {
        opacity: 0.25;
      }
    }

    // Figure
    figure {
      position: relative;
      left: -4px;
      max-width: 100%;
      height: 0;
      padding-top: 94%;
      margin-bottom: 20px;

      .figure-border {
        display: inline-block;
      }

      img, svg {
        position: absolute;
        top: 0;
        left: 0;
        // Relative z-index
        z-index: 0;
        width: auto;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
        border: 4px solid transparent;

        // Sub class used only by SVG
        .background {
          stroke: transparent;
          stroke-linecap: square;
          stroke-width: 5px;
        }
      }

      svg {
        border: 0;
      }

      // Follow button
      .follow-button {
        z-index: 1;
      }

      .manicon-plus-bold:hover ~ .thumbnail-follow-overlay {
        visibility: visible;
        opacity: 1;
      }
    }

    &:hover {
      background-color: $neutral10;

      img {
        border-color: $accentPrimary;
      }

      svg .highlight {
        fill: $accentPrimary;
      }
    }

    // Meta data
    //.meta {
    //  display: none;
    //}

    .title {
      @include gridProjectTitle;
      margin-bottom: 8px;
      font-size: 16px;
    }

    .makers {
      @include templateCopy;
      padding-bottom: 0.75em;
      font-size: 16px;
      color: $neutral80;
    }

    .block-label {
      @include blockLabel;
      margin-bottom: 5px;
    }

    .date {
      @include gridProjectDate;
    }

    .alert::before {
      display: inline-block;
      width: 7px;
      height: 7px;
      margin-right: 5px;
      margin-bottom: 2px;
      color: $neutralWhite;
      content: '';
      background-color: $sp40Tertiary;
      border-radius: 50%;
    }
  }

  .list-pagination-primary {
    margin-top: 30px;

    ul li {
      width: auto;

      a {
        padding: 0;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}
