.container {
  .project-list-placeholder {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

    .section-heading {
      margin-bottom: 20px;

      .main {
        display: block;
        text-align: center;
        width: 100%;
        padding: 0;

        .title {
          color: $neutral75;
        }
      }
    }

    svg {
      width: 205px;
    }

    .button-icon-primary {
      margin-top: 35px;
    }
  }

  .centered-message {
    @include templateCopy;
    font-size: 19px;
    line-height: 1.3;
    margin: 0 auto 35px;
    color: $neutral75;
    width: 90%;

    @include respond($break90) {
      width: 60%;
    }

    a {
      color: $accentPrimaryMedium;
      transition: color $durationFast $timing;

      &:visited {
        color: $accentPrimaryMedium;
      }

      &:hover {
        color: $accentPrimaryDark;
      }
    }
  }
}
